@use "../modals/generic";

.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {
    pointer-events: auto !important;
    will-change: unset;
}

#app-mount .layer-86YKbF~.layer-86YKbF {
    border-radius: 0 !important;
    border: 0.5px solid black;
    --text-link: hsl(197, 88%, 70%);

    a:hover {
        text-decoration: none;
        --text-link: hsl(197, 100%, 85%);
    }

    .lookFilled-1H2Jvj.colorBrand-2M3O3N {
        color: #dfe3e6;
        background: var(--btn-grey);

        &:hover {
            background: var(--btn-grey-hover);
            color: #fff;
            box-shadow: var(--btn-grey-boxshadow);
        }
    }
}

html.app-focused .layer-86YKbF~.layer-86YKbF {
    @include generic.modalTopBar;
}

#app-mount .layer-86YKbF.stop-animations:first-child::after {
    opacity: 0 !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN {
    padding: 12px 0 24px 0 !important;
}

.sidebarRegionScroller-FXiQOh {
    overflow: auto !important;
}

body #app-mount {

    .sidebar-nqHbhN:has(.socialLinks-3ywLUf),
    .layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN:has(.socialLinks-3ywLUf) {
        width: 188px !important;
    }
}

.contentRegion-3HkfJJ,
.contentRegionScroller-2_GT_N {
    background: var(--background-tertiary);
}

.sidebar-nqHbhN:has(.socialLinks-3ywLUf) .side-1lrxIh .item-2GWPIy::before {
    margin-right: 16px;
}

.sidebar-nqHbhN {

    .header-2F5_LB {
        color: var(--brand-experiment);
    }

    .header-2F5_LB,
    .header-2F5_LB:first-child {
        padding: 24px 16px 20px 24px;
    }

    .headerText-10ez_d {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        overflow: hidden;
    }

    .separator-2N511j {
        margin: 0 12px;
        background: #3D4450;
    }
}

#app-mount .sidebar-nqHbhN {

    .item-2GWPIy {
        padding: 10px 16px 10px 24px;
        border-radius: 0;
        font-size: 14px;
        margin-bottom: 0;
        --interactive-normal: var(--header-secondary);
        --interactive-hover: #3D4450;
        --background-modifier-hover: #DCDEDF;
        --background-modifier-selected: #3d4450;

        &:active {
            background: #DCDEDF;
            color: #3D4450;
        }

        &.selected-1sf9UK {
            background: #3d4450;
            color: #ffff;
        }

        &:hover,
        &:active,
        &.selected-1sf9UK {
            +.separator-2N511j {
                opacity: 0;
            }
        }
    }
}

.socialLinks-3ywLUf {
    padding: 24px 0 24px 24px;
}

.info-3pQQBb {
    padding: 0 24px 24px 24px;

    .line-18uChy {
        line-height: 16px;
    }
}

#app-mount .contentRegion-3HkfJJ {
    .contentRegionScroller-2_GT_N {
        --header-padding: 32px;
        padding-top: 6px;
        overflow-y: overlay !important;
        max-width: calc(var(--settingsmodalwidth) - 196px);

        &::-webkit-scrollbar-track {
            margin-top: calc(32px * 2 + 24px);
        }
    }
}

.contentRegion-3HkfJJ {
    flex: 1 1 calc(var(--settingsmodalwidth) - 196px);
}

.contentColumn-1C7as6,
.customColumn-2n-oKU {
    min-width: unset;
}

.customScroller-m1-jZn>div {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 100%;
    min-width: unset;
}

[aria-controls="discord-nitro-tab"] .background-Gjdjzm {
    border-radius: 0;
}

#app-mount .layer-86YKbF~.layer-86YKbF .contentColumnDefault-3eyv5o {
    padding: 0 24px 24px 24px !important;
}

@mixin settingsHeader {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 200%;
    padding: 32px 24px;
    margin-left: -24px;
    z-index: 10;
    transform: translateY(calc(var(--header-padding) * -1 + 8.5px + 18px));
    background: linear-gradient(to bottom, var(--background-tertiary) calc(100% - 24px), rgba(0, 204, 255, 0) 100%);
}

@mixin settingsHeaderText {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.contentColumn-1C7as6>div:first-child>.sectionTitle-LdcnyP,
.contentColumn-1C7as6>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle-LdcnyP,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle-LdcnyP,
#integrations-tab>.flex-2S1XBF:first-child,
#guild_templates-tab h2,
#vanity_url-tab h2.title-lXcL8p {
    @include settingsHeader;
}

.contentColumn-1C7as6>div:first-child>.sectionTitle-LdcnyP h2,
.contentColumn-1C7as6>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle-LdcnyP h2,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle-LdcnyP h2,
#integrations-tab>.flex-2S1XBF:first-child h2,
#guild_templates-tab h2,
#vanity_url-tab h2.title-lXcL8p {
    @include settingsHeaderText;
}

.divider-3nqZNm {
    border-top: thin solid #23262e;
}

.marginTop40-Q4o1tS,
.marginTop20-2T8ZJx,
.dividerDefault-wIfHHD {
    margin-top: 10px;
}

.container-31PmuA {
    margin-bottom: 10px;
}

.container-31PmuA[class*="marginTop"][class*="marginBottom"]:has(+.container-31PmuA[class*="marginTop"][class*="marginBottom"]) {
    margin-bottom: 0;
}

.title-2yADjX,
.h3-3jj15Z.title-lXcL8p.defaultColor-3Olr-9 {
    color: #dcdedf;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.h3-3jj15Z.title-lXcL8p.defaultColor-3Olr-9.defaultMarginh3-2xghED {
    margin-bottom: 10px;
}

.marginTop40-Q4o1tS .h1-3iMExa.title-lXcL8p,
.h1-3iMExa.title-lXcL8p.marginBottom20-315RVT {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.h5-2feg8J.eyebrow-2wJAoF {
    color: var(--text-muted);
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 36px;
    margin-bottom: 0;
}

.note-3SS3a9 .description-foE_WP {
    margin-bottom: 0;
}

.formNotice-1JW4h2 {
    padding: 0;
    background: none;
    border: none;
}

.sectionDescription-2ealM1,
.description-foE_WP {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
    letter-spacing: 0;
    margin-bottom: 10px;
}

.formText-2UzJT0 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
    letter-spacing: 0;
}

.modeDisabled-38SBXU.description-foE_WP {
    opacity: 1;
    color: #67707b;
}

.children-2C96Ex>.marginBottom40-fvAlAV:last-child:has(.formText-2UzJT0) {
    margin-bottom: 0;
}

.container-3jbRo5 {
    border-radius: 2px;
    padding: 10px;
    font-weight: 400;
}

.descriptionBox-SKGNgB {
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    gap: 10px;

    .descriptionSection-2uY1K5 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        flex: 1 1 calc(50% - 10px);

        .descriptionIcon-3nDZrK {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            vertical-align: middle;

            circle {
                display: none;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: var(--header-primary);
            letter-spacing: 0;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .descriptionRow-1UPN0d {
        margin-top: 10px;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: var(--header-secondary);
    }
}