@use "../modals/generic";

.layers__1c917>.layer__2efaa .animating__27211 *,
.layers__1c917>.layer__2efaa .animating__27211 {
    pointer-events: auto !important;
    will-change: unset;
}

#app-mount .layer__2efaa ~.layer__2efaa  {
    border-radius: 0 !important;
    border: 0.5px solid black;
    --text-link: var(--text-linkHi);

    a:hover {
        text-decoration: none;
        --text-link: var(--text-linkHi-hover);
    }

    .lookFilled__19298.colorBrand_b2253e {
        color: var(--text-lighter);
        background: var(--btn-grey);

        &:hover {
            background: var(--btn-grey-hover);
            color: #fff;
            box-shadow: var(--btn-grey-boxshadow);
        }
    }
}

html.app-focused .layer__2efaa ~.layer__2efaa  {
    @include generic.modalTopBar;
}

#app-mount .layer__2efaa .stop-animations:first-child::after {
    opacity: 0 !important;
}

#app-mount .layer__2efaa ~.layer__2efaa  .sidebar__9e3e2 {
    padding: 12px 0 24px 0 !important;
}

.sidebarRegionScroller__1fa7e {
    overflow: auto !important;
}

body #app-mount {

    .sidebar__9e3e2:has(.socialLinks_c1fc99),
    .layer__2efaa ~.layer__2efaa  .sidebar__9e3e2:has(.socialLinks_c1fc99) {
        width: 188px !important;
    }
}

.contentRegion__0bec1,
.contentRegionScroller__86c79 {
    background: var(--background-tertiary);
    --background-modifier-accent: var(--background-modifier-accent-dark);
}

.sidebar__9e3e2:has(.socialLinks_c1fc99) .side_b4b3f6 .item__48dda::before {
    margin-right: 16px;
}

.sidebar__9e3e2 {

    .header_f72511 {
        color: var(--brand-experiment);
    }

    .header_f72511,
    .header_f72511:first-child {
        padding: 24px 16px 20px 24px;
    }

    .headerText__94c22 {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        overflow: hidden;
    }

    .separator_fdbcfd {
        margin: 0 12px;
        background: var(--background-accent);
    }
}

#app-mount .sidebar__9e3e2 {

    .item__48dda {
        padding: 10px 16px 10px 24px;
        border-radius: 0;
        font-size: 14px;
        margin-bottom: 0;
        --interactive-normal: var(--header-secondary);
        --interactive-hover: var(--background-accent);
        --background-modifier-hover: var(--contextmenu-text);
        --background-modifier-selected: var(--background-accent);

        &:active {
            background: var(--contextmenu-text);
            color: var(--background-accent);
        }

        &.selected__5711d {
            background: var(--background-accent);
            color: #ffff;
        }

        &:hover,
        &:active,
        &.selected__5711d {
            +.separator_fdbcfd {
                opacity: 0;
            }
        }

        [data-text-variant="text-md/normal"] {
            font-size: 14px;
            line-height: 18px;
        }
    }
}

.socialLinks_c1fc99 {
    padding: 24px 0 24px 24px;
}

.info__755e1 {
    padding: 0 24px 24px 24px;

    .line__75801 {
        line-height: 16px;
    }
}

#app-mount .contentRegion__0bec1 {
    .contentRegionScroller__86c79 {
        --header-padding: 32px;
        padding-top: 6px;
        overflow-y: overlay !important;
        max-width: calc(var(--settingsmodalwidth) - 196px);

        &::-webkit-scrollbar-track {
            margin-top: calc(32px * 2 + 24px);
        }
    }
}

.contentRegion__0bec1 {
    flex: 1 1 calc(var(--settingsmodalwidth) - 196px);
}

.contentColumn_dc7d36,
.customColumn_e22a6e {
    min-width: unset;
}

.customScroller_f72801>div {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 100%;
    min-width: unset;
}

[aria-controls="discord-nitro-tab"] .background__584e7 {
    border-radius: 0;
}

#app-mount .layer__2efaa ~.layer__2efaa  .contentColumnDefault_c66386 {
    padding: 0 24px 24px 24px !important;
}

@mixin settingsHeader {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 200%;
    padding: 32px 24px;
    margin-left: -24px;
    z-index: 10;
    transform: translateY(calc(var(--header-padding) * -1 + 8.5px + 18px));
    background: linear-gradient(to bottom, var(--background-tertiary) calc(100% - 24px), transparent 100%);
}

@mixin settingsHeaderText {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.contentColumn_dc7d36>div:first-child>.sectionTitle_e32631,
.contentColumn_dc7d36>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle_e32631,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle_e32631,
#integrations-tab>.flex_f5fbb7:first-child,
#guild_templates-tab h2,
#vanity_url-tab h2.title__3e421 {
    @include settingsHeader;
}

.contentColumn_dc7d36>div:first-child>.sectionTitle_e32631 h2,
.contentColumn_dc7d36>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle_e32631 h2,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle_e32631 h2,
#integrations-tab>.flex_f5fbb7:first-child h2,
#guild_templates-tab h2,
#vanity_url-tab h2.title__3e421 {
    @include settingsHeaderText;
}

.marginTop40__2b1fe,
.marginTop20_d88ee7,
.dividerDefault__1e52f {
    margin-top: 10px;
}

.container_c52416 {
    margin-bottom: 10px;
}

.container_c52416[class*="marginTop"][class*="marginBottom"]:has(+.container_c52416[class*="marginTop"][class*="marginBottom"]) {
    margin-bottom: 0;
}

.title__28a65,
.h3_de2650.title__3e421.defaultColor_d757c2 {
    color: var(--contextmenu-text);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.h3_de2650.title__3e421.defaultColor_d757c2.defaultMarginh3__18bdb {
    margin-bottom: 10px;
}

.marginTop40__2b1fe .h1__90460.title__3e421,
.h1__90460.title__3e421.marginBottom20__64605 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.h5__884a2.eyebrow_b7df6b {
    color: var(--text-muted);
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 36px;
    margin-bottom: 0;
}

.note__24c83 .description__7af71 {
    margin-bottom: 0;
}

.formNotice__8622e {
    padding: 0;
    background: none;
    border: none;
}

.sectionDescription__93f73,
.description__7af71 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
    letter-spacing: 0;
    margin-bottom: 10px;
}

.formText_e4d957 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
    letter-spacing: 0;
}

.modeDisabled__67f00.description__7af71 {
    opacity: 1;
    color: var(--background-accent-hover);
}

.children_b15c64>.marginBottom40__9109c:last-child:has(.formText_e4d957) {
    margin-bottom: 0;
}

.container_de00a3 {
    border-radius: 2px;
    padding: 10px;
    font-weight: 400;
}

.descriptionBox_cca0c3 {
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    gap: 10px;

    .descriptionSection_d8976f {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        flex: 1 1 calc(50% - 10px);

        .descriptionIcon__2e291 {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            vertical-align: middle;

            circle {
                display: none;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: var(--header-primary);
            letter-spacing: 0;
            text-transform: capitalize;
            text-align: center;
        }
    }

    .descriptionRow__5d784 {
        margin-top: 10px;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: var(--header-secondary);
    }
}

.container__467eb {
    border-radius: 4px;
}