// My Account
#app-mount .layer-86YKbF~.layer-86YKbF .accountProfileCard-lbN7n- {
    max-width: 100% !important;
}

#app-mount .accountProfileCard-lbN7n- {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;

    .bannerSVGWrapper-2CLfzN:not(:has([style*="/banners/"])) {
        min-height: 1px !important;
        min-width: 100% !important;
    }

    .banner-1YaD3N:not([style^="background-image"]) {
        height: 1px;
        min-height: 1px;
        border-radius: 0;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
    }

    .userInfo-regn9W {
        height: calc(62px + 10px);
        align-items: center;
        padding: 10px 0 0 87px;
    }

    .avatar-3mTjvZ {
        padding: 0;
        top: unset;
        margin: auto 0;
        box-shadow: none;
        height: 60px !important;
        width: 60px !important;

        svg {
            height: 70px !important;
            width: 70px !important;
        }
    }

    .userTag-2qPxEZ {
        margin: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .overflowMenuButton-1I3Jz1 {
        margin-left: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    .profileCardUsernameRow-1bb6fi,
    .containerWithContent-2Yws8V {
        background: none;
        box-shadow: none;
        border-radius: 0;
        width: fit-content;
        padding: 0;
        position: relative;
    }

    .containerWithContent-2Yws8V {
        margin-top: 0;
    }

    .container-1gYwHN {
        min-height: unset;
    }

    .profileBadge22-3GAYRy {
        width: 18px;
        height: 18px;
    }

    .background-3d_SjE {
        background: none !important;
        box-shadow: none;
        margin: 10px 0 0 0;
        border-radius: 0;
        padding: 10px 0;
        border-top: thin solid #23262e;
    }
}

.fieldList-in8WkP {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    background: none;
}

.field-21XZwa {
    flex-direction: column;
    background: hsla(222, 10%, 26%, 0.5);
    margin: 0;
    padding: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
    transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

    .constrainedRow-3y91Xf {
        margin-right: 0;
        flex-grow: 0;

        .fieldTitle-2g5r_V+div {
            text-align: center;
        }

        .fieldTitle-2g5r_V {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 0;

            &+div {
                text-align: center;

                span {
                    font-size: 14px;
                    line-height: 20px;

                    --header-primary: #b8bcbf;


                }
            }
        }
    }

    &:has(button.lookFilled-1H2Jvj:hover) {
        background: #464d58;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }

    .fieldButtonList-28BYbB {
        position: absolute;
        inset: 0;
        align-items: end;
        justify-content: center;
    }

    button {
        margin: 0;

        &.lookFilled-1H2Jvj {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
        }

        &.lookLink-13iF2K {
            z-index: 1;
        }
    }
}

#profile-customization-tab {
    padding: 0 24px 24px 24px;

    .top-Ktfr_T {
        --btn-count: 2;
        background: #202226;
        border-radius: 2px;
        padding: 0;
        margin: 0 0 10px 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0px #000a;
        border-bottom: none;
    }

    .top-Ktfr_T .item-2GWPIy {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected-1sf9UK):hover {
            background: hsla(222, 10%, 26%, 0.5);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-Ktfr_T {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: #464d58;
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected-1sf9UK:nth-child(2)):before {
            translate: 100%;
        }
    }

    .tryItOutSection-W9qeGH {
        margin: 10px 0 0 0;
        border-radius: 2px;
        border-width: 1px;
        width: 100%;
        height: 1px;
        border-radius: 0;
        position: relative;

        .premiumBackground-34OIdE {
            padding: 10px 0 24px 0;
            position: absolute;
            top: 1px;
            left: 0;
            background: var(--background-tertiary);
        }
    }
}

#app-mount .layer-86YKbF~.layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm {

    .sectionsContainer-3BlPu4,
    .editor-328F1U,
    .preview-sMYs9f {
        min-width: unset !important;
        max-width: unset !important;
    }
}

#app-mount .layer-86YKbF~.layer-86YKbF #family-center-tab.contentColumnDefault-3eyv5o {
    padding-top: 24px !important;
}

#family-center-tab,
#activity-tab,
#requests-tab {
    [data-text-variant="heading-xl/medium"] {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    [data-text-variant="text-sm/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        --text-muted: #8b929a;
        margin-bottom: 10px;
    }

    [data-text-variant="text-xs/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        --text-muted: #8b929a;
    }

    .container-2WMFjc,
    .box-3QCU9H {
        border-radius: 0;
        box-shadow: none;
    }

    .container-jV-A82 {
        padding: 8px 16px 10px 16px;
        border-radius: 2px;
        box-shadow: none;
        display: flex;
        align-items: center;

        .circle-1ip_Nd {
            background: none;
            border-radius: 0;
            margin: 6px;
            height: 30px;
            width: 30px;

            svg {
                color: #ffc82c;
                margin: 0;
                height: 30px;
                width: 30px;
            }
        }

        .header-9j7A-h {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
        }

        [data-text-variant="text-sm/medium"] {
            text-align: center;
            --text-muted: #b8bcbf;
        }

        [data-text-variant="text-sm/medium"] {
            margin-bottom: 0;
        }
    }

    .container-1iKw09 {
        border-radius: 0;
        box-shadow: none;

        .header-1_l8EY {
            color: #8b929a;
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 36px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .groupHeader-1D298y {
            display: none;
        }

        .row-XYkFDK {
            padding: 8px 24px 10px 16px;
            background: hsla(222, 10%, 26%, 0.5);
            border-radius: 2px;
            margin-bottom: 10px;

            .iconContainer-3cz2oI {
                width: 30px;
                height: 30px;
                background: none;
                border-radius: 0;
                margin-right: 10px;
            }

            .header-2ztBq9 {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 0;
            }
        }

        .artContainer-1bqVms {
            margin: 0;
        }
    }

    .steps-1fr0h2 {
        position: relative;
        width: 100%;
    }

    .step-3WCaE1 {
        padding: 8px 24px 10px 16px;
        background: hsla(222, 10%, 26%, 0.5);
        border-radius: 2px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: left;

        [data-text-variant="heading-sm/bold"] {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
        }

        [data-text-variant="text-sm/medium"] {
            margin-bottom: 0;
            --text-muted: #b8bcbf;
        }

        .stepNumber-1OYCPJ {
            width: 30px;
            height: 30px;
            background: none;
            border-radius: 0;
            margin-right: 10px;

            h2 {
                color: var(--brand-experiment) !important;
                font-size: 20px;
            }
        }
    }

    .section-pKb2tY {
        .eyebrow-1Shfyi.marginBottom8-emkd0_ {
            text-transform: capitalize;
            color: #fff !important;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            padding-top: 8px;
            padding-left: 8px;
        }
    }
}

#app-mount #family-center-tab {

    .top-Ktfr_T {
        --btn-count: 3;
        background: #202226;
        border-radius: 2px;
        padding: 0;
        margin: 0 0 10px 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0px #000a;
        border-bottom: none;
    }

    .top-Ktfr_T .item-2GWPIy {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected-1sf9UK):hover {
            background: hsla(222, 10%, 26%, 0.5);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-Ktfr_T {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: #464d58;
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected-1sf9UK:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected-1sf9UK:nth-child(3)):before {
            translate: 200%;
        }
    }

    .container-2WMFjc,
    .box-3QCU9H {
        background: none;
        padding: 0 0 10px 0;
        border-bottom: thin solid #23262e;
    }

    .container-jV-A82 {
        background: hsla(222, 10%, 26%, 0.5);
    }

    .container-1iKw09 {
        background: none;
        padding: 10px 0 0 0;
        border-top: thin solid #23262e;
    }
}

#activity-tab,
#requests-tab {

    .container-2WMFjc,
    .box-3QCU9H {
        background: var(--background-dark-3);
        padding: 25px;
    }

    .container-jV-A82 {
        background: var(--background-dark-3);
    }

    .container-1iKw09 {
        background: var(--background-dark-3);
        padding: 25px;
    }

    .steps-1fr0h2 {
        position: relative;
        width: 100%;
    }

    .step-3WCaE1 {
        width: calc(100% - 40px);
    }
}

#authorized-apps-tab {
    .formNotice-1JW4h2 {
        padding: 0;
        margin-bottom: 10px;
        background: none;
        border: none;
    }

    .authedApp-8q3NA9 {
        padding: 6px 8px;
        margin-bottom: 10px;
        border: none;
        border-radius: 0;
        background: none;

        &:hover {
            background: #3d4450;
            transition: background .2s linear;
        }

        .marginBottom20-315RVT {
            margin-bottom: 10px;
        }

        .headerInfo-3UVPHi {

            [data-text-variant="text-sm/semibold"] {
                margin-left: 12px;
            }
        }

        .twoWayWarning-2lKQI- {
            margin-top: 10px;

            .twoWayWarningIcon-1T9ioF {
                height: 18px;
                width: 18px;
                color: #ffc82c;
                margin-right: 4px;
            }

            [data-text-variant="text-sm/medium"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                color: #8b929a !important;
            }
        }

        .permission-CbNHIg {
            margin-top: 0;

            .formText-2UzJT0 {
                margin-bottom: 0;
            }
        }
    }

    .appAvatar-2htirv {
        width: 98px;
        height: 45px;
        border-radius: 0;
        object-fit: cover;
        background: #3d4450;

        // Youtube Together
        &[src*="755600276941176913/4e"],
        // Watch Together
        &[src*="880218394199220334/ec"],
        // StreamKit Overlay
        &[src*="207646673902501888/a3"],
        // Jamspace
        &[src*="1070087967294631976/9a"] {
            object-fit: scale-down;
            background: #fff;
        }

        // Xbox
        &[src*="622174530214821906/38"] {
            object-fit: scale-down;
            background: #0F7C10;
        }

        // DiscordServers.com
        &[src*="162469056312639488/de"] {
            object-fit: scale-down;
            background: #3D4450;
        }

        // BetterDiscordWeb
        &[src*="777264613867257857/65"] {
            object-fit: scale-down;
            background: #0C0D10;
        }
    }

    :root {
        counter-reset: authappsCount;
    }

    .children-2C96Ex {
        display: flex;
        flex-flow: row wrap;

        &:before {
            content: 'Authorized Apps';

            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
            order: -2;
        }

        &:after {
            content: counter(authappsCount);
            animation: authorized-apps-tabCounter 1s linear infinite forwards;

            // Styles
            color: #8b929a;
            font-size: 16px;
            line-height: 20px;
            margin-left: 8px;
            font-weight: 600;
            order: -1;
            padding-top: 8px;
        }
    }

    .formNotice-1JW4h2 {
        order: -3;
    }

    .authedApp-8q3NA9 {
        counter-increment: authappsCount;
        flex-basis: 100%;
    }

    @keyframes authorized-apps-tabCounter {
        to {
            content: counter(authappsCount);
        }
    }
}

// Devices
.sessions-2KZ0-Q {
    margin: 10px 0;

    .otherSessions-3BQszU {
        margin-top: 10px;
    }

    +div .logOutAllButton-11uhew {
        margin-top: 0;
    }
}

.session-9khLqt {
    border-bottom: none;
    gap: 12px;
    padding: 6px 8px;
    height: 58px;

    &:hover {
        background: #3d4450;
        transition: background .2s linear;

        .sessionIcon-2fwSzb,
        .sessionMoreButton-2cApSx {
            background: #67707b;
            transition: background .2s linear;
        }
    }

    .sessionInfo-HxfESS {
        gap: 0;
    }

    .eyebrow-1Shfyi {
        color: #fff;
        font-weight: 400;
        line-height: 20px;
    }

    [data-text-variant="text-sm/medium"] {
        color: #8b929a;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            color: #67707b;
            font-weight: 700;
        }
    }

    .sessionMoreButton-2cApSx {
        background-color: #3d4450;
        border-radius: 2px;
        margin: 8px 8px 8px auto;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--status-danger);

        &:hover {
            background: var(--status-danger);
            color: #fff;
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }

    &:has(.sessionMoreButton-2cApSx:hover) {
        .sessionIcon-2fwSzb {
            background: var(--status-danger);
        }
    }
}

.sessionIcon-2fwSzb {
    width: 98px;
    height: 45px;
    border-radius: 0;
    background: #3d4450;
    color: #fff;

    svg {
        height: 18px;
        width: 18px;
    }
}

// Connections
.connectContainer-1hylYM {
    margin-bottom: 10px;
    background: none;
    border-radius: 0;
    padding: 0;

    .connectHeader-2VkFiv {
        color: #8b929a !important;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 36px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    [data-text-variant="text-xs/normal"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: #8b929a !important;
        margin-bottom: 10px;
    }

    button {
        background-color: hsla(222, 10%, 26%, 0.5);
        transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
        border-radius: 2px;
        width: fit-content;
        background-position: left;
        background-origin: content-box;
        padding: 8px 14px;
        color: #dfe3e6;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #464d58;
            color: #fff;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        }

        &[aria-label]::after {
            content: attr(aria-label);
            font-size: 14px;
            font-weight: 400;
            margin-left: 48px;
        }

        &.accountAddInner-2y9WLL {
            &[aria-label]::after {
                margin-left: 10px;
            }

            svg {
                color: var(--brand-experiment);
            }
        }
    }
}

.connectionList-11Q_X- {
    gap: 10px;
    padding-top: 10px;
    border-top: thin solid #23262e;
}

.connection-YOVI9j {
    margin-bottom: 0;
    border-radius: 0;
    background: none;
}

.connectionHeader-Ixbb1s {
    padding: 8px;
    background: rgba(59, 63, 72, .5);
    border-radius: 0;

    .connectionAccountLabelContainer-1KuLS6 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .connectionAccountLabel-28GEPk {
        --header-secondary: #8b929a;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .connectionDelete-3YgMVq {
        background: #3d4450;
        border-radius: 2px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--status-danger);
        margin-right: 0;

        &:hover {
            background: var(--status-danger);
            color: #fff;
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

.connectionOptionsWrapper-3aVWcp {
    background: #23262e;
    padding: 8px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
}

.connectionOptions-JJ1YEi {
    flex-flow: row wrap;
}

.connectionOptionSwitch-y1S-cR {
    margin-bottom: 0;
    width: 50%;
    max-width: 50%;
    flex: 1 1 50%;
    padding: 0;
    align-items: center;

    .labelRow-NnoUIp {
        width: fit-content;

        [data-text-variant="text-sm/semibold"] {
            font-size: 13px;
            font-weight: 300;
        }
    }

    .control-10qYax {
        order: -1;
        margin-right: 4px;
    }
}

// Nitro

.contentRegionScroller-2_GT_N:has(#discord-nitro-tab) {
    background: #000;
}

#app-mount .layer-86YKbF~.layer-86YKbF #discord-nitro-tab.contentColumnDefault-3eyv5o {
    padding: 0 !important;
}

.settingsHero-2Me_mE {
    width: 100%;
    border-radius: 2px;
    background: none;
    margin-bottom: 0;

    >* {
        z-index: 1;
    }

    &::after {
        content: '';
        z-index: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%) 48%, hsl(269, calc(var(--saturation-factor, 1)*52.7%), 52.7%) 55%);
        -webkit-mask: radial-gradient(circle at center, black 0%, transparent calc(45%));
    }

    [data-text-variant="text-lg/normal"] {
        font-size: 16px;
        line-height: 20px;
    }
}

.premiumTierCardsContainer-2obTQK {
    background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
    background-size: 300% 300%;
    animation: nitroGradient 20s ease infinite;
    max-width: unset;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.premiumCards-36uMGt {
    display: flex;
    justify-content: center;
}

.card-3ie2dy {
    max-width: 300px;
    background: rgba(255, 255, 255, .0588235294);
    border-radius: 3px;
    padding: 20px;
    margin: 10px;

    svg.title-Yr21jA {
        color: #1b1b1b;
        position: absolute;
        right: 20px;
    }

    .price-3oXq_a {
        margin: 8px 0 24px 0;
        line-height: 33px;
    }

    .price-6Nbraf {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }

    .item-62htNl {
        margin-left: 28px;
        margin-bottom: 5px;

        .icon-2iprHa {
            height: 18px;
            width: 18px;
        }

        [data-text-variant="text-md/normal"] {
            font-size: 12px;
        }
    }

    .wumpusImageContainer-ZGD_8q {
        position: absolute;
        width: 30%;
        top: 50px;
        right: 0;
        border-top-right-radius: 16px;
        overflow: hidden;
    }

    .shinyButton-2Q9MDB {
        color: #ffffff;
        background: #1b1b1b;
        border-radius: 50px;
        height: 36px;
        font-size: 12px;
        font-weight: 600;
        transition: background .2s ease, color .2s ease, box-shadow .2s ease;

        &:hover {
            color: #1b1b1b;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

.perksContainer-1hGJpM {
    background: #fff;
    margin: 0;
    // padding: 5em;
    max-width: 100%;

    .defaultColor-1GKx81 {
        color: #1b1b1b;
    }
}

.perksTitle-1U7C5- {
    display: none;
}

.bigPerkCardContainer-100zsH {
    display: block;
    padding-top: 4em;
}

.bigPerkCard-1uwmWV {
    background: none;
    border-radius: 0;
    flex-direction: row;
    color: red;
    padding: 0 5em;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;

    &:nth-child(2),
    &:nth-child(4) {
        flex-direction: row-reverse;
    }
    
    h2,
    img {
        width: 50%;
    }
    
    [data-text-variant="heading-xl/extrabold"] {
        text-align: left;
        font-size: 18px;
    }
}

.smallPerkCardContainer-X9-c92 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    padding: 0 5em 4em 5em;
}

.smallPerkCard-2sX_-- {
    background: none;
    border-radius: 0;
    padding: 8px 16px 10px 16px;
    justify-content: flex-start;

    img {
        margin-bottom: 10px;
        order: -1;
        object-fit: scale-down;
        height: 150px;
        width: 100%;
    }

    h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        color: #1b1b1b;
    }

    [data-text-variant="text-sm/normal"] {
        padding: 0;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: #1b1b1b;
    }
}

.bigPerkArt-2FBijV {
    margin: 0;
}

.planComparisonTable-3NX-qt {
    padding: 24px;
    max-width: unset;
    width: 100%;
    padding: 5em;
    background: linear-gradient(137.42deg, #3209d9 0%, #0b5f42 60%, #b0d909 100%);
    background-size: 300% 300%;
    animation: nitroGradient 20s ease infinite;

    .titleText-rdztw2 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 800;
        letter-spacing: 0;
        margin-bottom: 6px;
        margin-top: 8px;
        text-transform: capitalize;
        text-align: start;
    }

    .headerRow-_Ed0yk {
        h2 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
        }

        th {
            display: flex;
            align-items: start;
            justify-content: center;
        }

        .headerLabelCell-eG_2hU {
            align-items: center;
            justify-content: left;
            width: 25%;
            max-width: 25%;
        }

        .headerCell-3mJ5RH {
            width: 37.5%;
        }
    }

    .labelCell-1GC1sX {
        [data-text-variant="text-sm/normal"] {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            --text-normal: #ffffff7a;
        }
    }

    .row-32xD2c {
        height: unset;
    }

    th[scope="row"] {
        padding: 4px;
        width: 25%;
        max-width: 25%;
    }

    td {
        align-items: start;
        width: 37.5%;
    }

    .rowBottomBorder-3HkIZv {
        width: 100%;
        border-bottom: 1px solid #ffffff33;
    }

    .tier2ColumnOuter-1U2eKO {
        display: none;
    }

    .closeIcon-3aZ-RA {
        color: #ffffff33;
    }
}

@keyframes nitroGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#notifications-tab {
    .container-31PmuA:has(+.container-31PmuA.soundRow-2Vsfbg) {
        margin-bottom: 7px;
    }

    .container-31PmuA.soundRow-2Vsfbg {
        margin-bottom: 7px;

        .divider-3nqZNm {
            margin-top: 6px;
        }

        .title-2yADjX {
            overflow: visible;
        }

        .control-10qYax {
            order: -1;
            margin-right: 6px;
        }

        .soundName-3e_44f {
            margin-right: auto;
        }

        .soundIcon-1E1d9l {
            opacity: 1;
            background: hsla(222, 10%, 26%, 0.5);
            margin-right: 4px;
            height: 36px;
            width: 36px;
            border-radius: 2px;
            color: var(--brand-experiment);
            justify-content: center;
            align-items: center;
            display: flex;
            transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

            &:hover {
                background: #464d58;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
            }

            .icon-2-8HDu {
                width: 18px;
                height: 18px;
            }
        }
    }
}

#game-activity-tab {
    .children-2C96Ex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        >.marginTop40-Q4o1tS {
            flex-basis: 100%;
        }
    }

    .activeGame-1OdxzI {
        padding: 8px 24px 10px 16px;
        margin-right: 8px;
        border-radius: 2px;
        width: fit-content;
        max-width: calc(100% - 8px - 20px - 12px);

        &.notDetected-M3Ghh2 {
            background: #3d4450;
            width: fit-content;
        }

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
            -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
            background: #fff;
            margin-right: 12px;
        }

        .gameNameLastPlayed-2hWoXJ {
            max-width: calc(var(--settingsmodalwidth) - 196px - 200px);
        }

        .gameName-zbZetm,
        .lastPlayed-1jum9A {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 20px;
        }

        .lastPlayed-1jum9A {
            height: 20px;
            overflow: hidden;
        }

        .default-rFvAvS {
            transform: translateY(-107%);
        }

        .lastPlayed-1jum9A,
        .hoverRoll-2XwpoF,
        .hovered-20u3oh,
        .default-rFvAvS {
            width: fit-content;
        }

        .hovered-20u3oh {
            position: relative;
            max-width: calc(var(--settingsmodalwidth) - 196px - 200px);
        }
    }

    .nowPlayingAdd-3I4RbE {
        margin: 0;
        font-size: 0;

        button {
            padding: 0;

            .contents-3NembX {
                display: none;
            }

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                mask: url(https://maendisease.github.io/Steam/illustrations/icns/circleplus.svg);
                -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/circleplus.svg);
                background: #67707b;
                margin: 4px;
            }

            &:hover::before {
                background: #fff;
            }
        }
    }

    :root {
        counter-reset: gamesCount;
    }

    .marginTop40-Q4o1tS {
        display: flex;
        flex-flow: row wrap;
        margin-top: 24px;

        h3 {
            order: -2;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
        }

        &:before {
            content: '';
            height: 2px;
            margin: 16px 10px 0 10px;
            background: rgba(103, 112, 123, .3);
            display: flex;
            flex-grow: 1;
        }

        &:after {
            content: counter(gamesCount);
            animation: game-activity-tabCounter 1s linear infinite forwards;

            // Styles
            color: #8b929a;
            font-size: 16px;
            line-height: 20px;
            margin-left: 8px;
            font-weight: 600;
            order: -1;
            padding-top: 8px;
        }

        .game-2f2vPC {
            counter-increment: gamesCount;

            // Styles
            flex-basis: 100%;
            padding: 6px 8px;
            height: 58px;
            box-shadow: none;

            &.card-2ART2V:before {
                display: none;
            }

            &:hover {
                background: #3d4450;
                transition: background .2s linear;

                .gameNameLastPlayed-2hWoXJ::after,
                .removeGame-3V7nss {
                    background-color: #67707b;
                }

                &:has(.removeGame-3V7nss:hover) {
                    .gameNameLastPlayed-2hWoXJ::after {
                        transition: background .2s linear;
                        background-color: var(--status-danger);
                    }
                }
            }

            .gameVerifiedIcon-1YMUdQ {
                height: 14px !important;
                width: 14px !important;
                margin-left: 4px;
            }

            .gameNameLastPlayed-2hWoXJ {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 98px;
                    height: 45px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
                    -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
                    background-color: #fff;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: 18px;
                    margin-right: 12px;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 45px;
                    width: 98px;
                    background: #3d4450;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                >div {
                    margin-left: calc(98px + 16px)
                }

                .gameName-zbZetm {
                    color: #fff;
                    font-weight: 400;
                    line-height: 20px;
                }

                .lastPlayed-1jum9A {
                    color: #8b929a;
                    font-size: 12px;
                    line-height: 22px;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;

                    strong {
                        color: #67707b;
                        font-weight: 700;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                        -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                        background: #8b929a;
                        margin-right: 4px;
                    }
                }
            }

        }

        @keyframes game-activity-tabCounter {
            to {
                content: counter(gamesCount);
            }
        }
    }

    .removeGame-3V7nss {
        opacity: 1;
        position: relative;
        top: unset;
        right: unset;
        box-shadow: none;
        background-color: #3d4450;
        border-radius: 2px;
        margin: 8px;
        flex-shrink: 0;
    }
}