// My Account
#app-mount .layer-86YKbF~.layer-86YKbF .accountProfileCard-lbN7n- {
    max-width: 100% !important;
}

#app-mount .accountProfileCard-lbN7n- {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;

    .bannerSVGWrapper-2CLfzN:not(:has([style*="/banners/"])) {
        min-height: 1px !important;
        min-width: 100% !important;
    }

    .banner-1YaD3N:not([style^="background-image"]) {
        height: 1px;
        min-height: 1px;
        border-radius: 0;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
    }

    .userInfo-regn9W {
        height: calc(62px + 10px);
        align-items: center;
        padding: 10px 0 0 87px;
    }

    .avatar-3mTjvZ {
        padding: 0;
        top: unset;
        margin: auto 0;
        box-shadow: none;
        height: 60px !important;
        width: 60px !important;

        svg {
            height: 70px !important;
            width: 70px !important;
        }
    }

    .userTag-2qPxEZ {
        margin: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .overflowMenuButton-1I3Jz1 {
        margin-left: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    .profileCardUsernameRow-1bb6fi,
    .containerWithContent-2Yws8V {
        background: none;
        box-shadow: none;
        border-radius: 0;
        width: fit-content;
        padding: 0;
        position: relative;
    }

    .containerWithContent-2Yws8V {
        margin-top: 0;
    }

    .container-1gYwHN {
        min-height: unset;
    }

    .profileBadge22-3GAYRy {
        width: 18px;
        height: 18px;
    }

    .background-3d_SjE {
        background: none !important;
        box-shadow: none;
        margin: 10px 0 0 0;
        border-radius: 0;
        padding: 10px 0;
        border-top: thin solid #23262e;
    }
}

.fieldList-in8WkP {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    background: none;
}

.field-21XZwa {
    flex-direction: column;
    background: hsla(222, 10%, 26%, 0.5);
    margin: 0;
    padding: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
    transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

    .constrainedRow-3y91Xf {
        margin-right: 0;
        flex-grow: 0;

        .fieldTitle-2g5r_V+div {
            text-align: center;
        }

        .fieldTitle-2g5r_V {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 0;

            &+div {
                text-align: center;

                span {
                    font-size: 14px;
                    line-height: 20px;

                    --header-primary: #b8bcbf;


                }
            }
        }
    }

    &:has(button.lookFilled-1H2Jvj:hover) {
        background: #464d58;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }

    .fieldButtonList-28BYbB {
        position: absolute;
        inset: 0;
        align-items: end;
        justify-content: center;
    }

    button {
        margin: 0;

        &.lookFilled-1H2Jvj {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
        }

        &.lookLink-13iF2K {
            z-index: 1;
        }
    }
}

#notifications-tab {
    .container-31PmuA:has(+.container-31PmuA.soundRow-2Vsfbg) {
        margin-bottom: 7px;
    }

    .container-31PmuA.soundRow-2Vsfbg {
        margin-bottom: 7px;

        .divider-3nqZNm {
            margin-top: 6px;
        }

        .title-2yADjX {
            overflow: visible;
        }
        .control-10qYax {
            order: -1;
            margin-right: 6px;
        }

        .soundName-3e_44f {
            margin-right: auto;
        }

        .soundIcon-1E1d9l {
            opacity: 1;
            background: hsla(222, 10%, 26%, 0.5);
            margin-right: 4px;
            height: 36px;
            width: 36px;
            border-radius: 2px;
            color: var(--brand-experiment);
            justify-content: center;
            align-items: center;
            display: flex;
            transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

            &:hover {
                background: #464d58;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
            }

            .icon-2-8HDu {
                width: 18px;
                height: 18px;
            }
        }
    }
}

#game-activity-tab {
    .children-2C96Ex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        >.marginTop40-Q4o1tS {
            flex-basis: 100%;
        }
    }

    .activeGame-1OdxzI {
        padding: 8px 24px 10px 16px;
        margin-right: 8px;
        border-radius: 2px;
        width: fit-content;
        max-width: calc(100% - 8px - 20px - 12px);

        &.notDetected-M3Ghh2 {
            background: #3d4450;
            width: fit-content;
        }
        
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
            -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
            background: #fff;
            margin-right: 12px;
        }

        .gameName-zbZetm,
        .lastPlayed-1jum9A {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 20px;
        }

        .lastPlayed-1jum9A {
            height: 20px;
            overflow: hidden;
            
        }

        .default-rFvAvS {
            transform: translateY(-107%);
        }

        .lastPlayed-1jum9A,
        .hoverRoll-2XwpoF,
        .hovered-20u3oh,
        .default-rFvAvS {
            width: fit-content;
        }

        .hovered-20u3oh {
            position: relative;
            max-width: calc(var(--settingsmodalwidth) - 196px  - 8px - 20px - 120px);
        }
    }

    .nowPlayingAdd-3I4RbE {
        margin: 0;
        font-size: 0;

        button {
            padding: 0;

            .contents-3NembX {
                display: none;
            }

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                mask: url(https://maendisease.github.io/Steam/illustrations/icns/circleplus.svg);
                -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/circleplus.svg);
                background: #67707b;
                margin: 4px;
            }

            &:hover::before {
                background: #fff;
            }
        }
    }

    :root {
        counter-reset: gamesCount;
    }

    .marginTop40-Q4o1tS {
        display: flex;
        flex-flow: row wrap;
        margin-top: 24px;

        h3 {
            order: -2;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
        }

        &:before {
            content: '';
            height: 2px;
            margin: 16px 10px 0 10px;
            background: rgba(103,112,123,.3);
            display: flex;
            flex-grow: 1;
        }
        
        &:after {
            content: counter(gamesCount);
            animation: game-activity-tabCounter 1s linear infinite forwards;

            // Styles
            color: #8b929a;
            font-size: 16px;
            line-height: 20px;
            margin-left: 8px;
            font-weight: 600;
            order: -1;
            padding-top: 8px;
        }

        .game-2f2vPC {
            counter-increment: gamesCount;
            
            // Styles
            flex-basis: 100%;
            padding: 6px 8px;
            height: 58px;
            box-shadow: none;

            &.card-2ART2V:before {
                display: none;
            }

            &:hover {
                background: #3d4450;
                transition: background .2s linear;
            }

            .gameNameLastPlayed-2hWoXJ {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 98px;
                    height: 45px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
                    -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
                    background-color: #fff;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: 18px;
                    margin-right: 12px;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &::after {
                content: '';
                display: block;
                position: absolute;
                height: 45px;
                width: 98px;
                background: #3d4450;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
            >div {
                margin-left: calc(98px + 16px)
            }

            .gameName-zbZetm {
                color: #fff;
                font-weight: 400;
                line-height: 20px;
            }

            .lastPlayed-1jum9A {
                color: #8b929a;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
                display: flex;

                strong {
                    color: #67707b;
                    font-weight: 700;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                    -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                    background: #67707b;
                    margin: 4px;
                }
            }
        }
            
        }

        @keyframes game-activity-tabCounter {
            to {
                content: counter(gamesCount);
            }
        }
    }
}