.appMount-2yBXZl,
body,
.app-2CXKsg {
    background: none;
}

.bg-1QIAus {
    --baked-bg: url(https://maendisease.github.io/Steam/illustrations/colored_body_top.avif) center left/cover no-repeat;
    background: var(--bg-overlay-app-frame, var(--baked-bg));
}

.base-2jDfDU {
    display: flex;
    justify-content: center;
}

.content-1SgpWY {
    gap: var(--app-gutter);
    justify-content: center;
}