#app-mount {
    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scroller-color);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scroller-hover-color);
    }
}

.auto_a3c0bd::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
