::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6666666667);
    color: #fff;
}

[d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.40999 21.8089C5.74999 22.0569 6.20699 22.0659 6.55399 21.8329L12 18.2029L17.445 21.8329C17.613 21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.414 21.9369 18.59 21.8089C18.928 21.5619 19.076 21.1299 18.961 20.7269L17.123 14.2919L21.707 9.70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z"] {
    d: path("m12 2.001 3.18 6.686 7.332.953-5.36 5.1 1.347 7.259L12 18.479 5.5 22l1.354-7.26L1.488 9.64l7.332-.953Z");
}

.textBadge-1fdDPJ {
    border-radius: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    align-self: center;

    &[style="background-color: var(--brand-500);"] {
        background-color: hsl(calc(var(--accent-hue) + 5), 29%, 42%) !important;
        border: 1px solid hsl(calc(var(--accent-hue) + 5), 34%, 60%);
        color: hsl(calc(var(--accent-hue) + 5), 79%, 78%);
    }
}

.bogoTrialBadge-2-iWF2 {
    border-radius: 2px;
    font-weight: 400;
    padding: 4px;
    text-transform: capitalize;
}

.freeTrialPillInlineBlock-20oCo2 {
    border-radius: 2px;
    padding: 4px;
    text-transform: capitalize;
}

.markup-eYLPri code {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    font-weight: lighter;
    background: var(--code-background);
    border: none;
    -webkit-font-smoothing: antialiased;
}

.markup-eYLPri code.inline {
    background: #32363c;
    padding: 0.2em 5px;
}

.hljs {
    padding: 10px;
    border-radius: 0;
}

.markup-eYLPri h1,
.markup-eYLPri h2,
.markup-eYLPri h3,
.markup-eYLPri h4,
.markup-eYLPri h5,
.markup-eYLPri h6 {
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--header-primary);
    line-height: 1.375em;
    margin: 16px 0 4px;
}

.markup-eYLPri {
    h1,
    h2,
    h3 {
        color: #66C0F4;
        font-weight: 500;
    }
}

path[d="M12 2C6.4764 2 2 6.4764 2 12C2 17.5236 6.4764 22 12 22C17.5236 22 22 17.5236 22 12C22 6.4764 17.5236 2 12 2ZM12 5.6C12.4422 5.6 12.8 5.95781 12.8 6.4V11.5376L16.5625 13.7126C16.9453 13.9329 17.0703 14.4173 16.85 14.8001C16.6297 15.183 16.1453 15.3079 15.7625 15.0876L11.6873 12.7376C11.656 12.7251 11.6279 12.7048 11.5998 12.6876C11.3607 12.5486 11.1998 12.2954 11.1998 12.0001V6.4001C11.1998 5.9579 11.5578 5.6 12 5.6Z"] {
    d: path("M 12.06 22.11 C 17.6105 22.11 22.11 17.6105 22.11 12.06 C 22.11 6.5095 17.6105 2.01 12.06 2.01 C 6.5095 2.01 2.01 6.5095 2.01 12.06 C 2.01 17.6105 6.5095 22.11 12.06 22.11 Z M 13.5402 7.3638 H 9.9222 V 12.9372 L 14.07 17.085 L 16.6283 14.5267 L 13.5402 11.4385 V 7.3638 Z");
    fill-rule: evenodd;
    clip-rule: evenodd;
}

path[d="M20 11.1111H12.8889V4H11.1111V11.1111H4V12.8889H11.1111V20H12.8889V12.8889H20V11.1111Z"] {
    d: path("M 19 10 H 14 V 5 H 10 V 10 H 5 V 14 H 10 V 19 H 14 V 14 H 19 V 10 Z");
}