::selection {
    background: hsl(calc(var(--accent-hue) - 3), 59.8%, 58%);
    text-shadow: 1px 1px 2px rgb(0 0 0/.6666666667);
    color: #fff;
}

.textBadge-1fdDPJ {
    border-radius: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    align-self: center;

    &[style="background-color: var(--brand-500);"] {
        background-color: hsl(calc(var(--accent-hue) + 5), 29%, 42%) !important;
        border: 1px solid hsl(calc(var(--accent-hue) + 5), 34%, 60%);
        color: hsl(calc(var(--accent-hue) + 5), 79%, 78%);
    }
}

.bogoTrialBadge-2-iWF2 {
    border-radius: 2px;
    font-weight: 400;
    padding: 4px;
    text-transform: capitalize;
}

.freeTrialPillInlineBlock-20oCo2 {
    border-radius: 2px;
    padding: 4px;
    text-transform: capitalize;
}

.markup-eYLPri code {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    background: var(--code-background);
    border: none;

    &.inline {
        background: hsl(calc(var(--accent-hue) + 11) 9.1% 21.6%);
        padding: 0.2em 5px;
    }
}

.hljs {
    padding: 10px;
    border-radius: 0;
    background: var(--code-background);
}

.markup-eYLPri {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-display);
        font-weight: 700;
        color: var(--header-primary);
        line-height: 1.375em;
        margin: 16px 0 4px;
    }

    h1,
    h2,
    h3 {
        color: var(--channels-default-hover);
        font-weight: 500;
    }
}