#app-mount {
    .tooltip-33Jwqe {
        border-radius: 2px;
        font-size: 13px;
        font-weight: 400;
        color: #E0E1E6;
        box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
    }

    .tooltipPrimary-2466a2 {
        background: #696773;
    }

    .tooltipPointer-sMBQqe {
        display: none;
    }

    .tooltipContent-38tm3I {
        padding: 6px 8px;
    }

    .tooltipBlack-3X399X {
        background: #696773;
        color: #E0E1E6;
    }
}

.tooltipPremiumFooterContainer-3Z8jwf {
    border-radius: 0;

    .tooltipPremiumFooterTierSegment-24h1a0 {
        border-left-color: #696773;
        border-bottom-color: #696773;
        border-right-color: #696773;
        border-top-color: #696773;
    }
}