#app-mount {
    .tooltip-33Jwqe {
        border-radius: 2px;
        font-size: 13px;
        font-weight: 400;
        color: #E0E1E6;

        -webkit-box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
        box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
    }

    .tooltipPrimary-2466a2 {
        background: #696773;
    }

    .tooltipPointer-sMBQqe {
        display: none; 
    }

    .tooltipContent-38tm3I {
        padding: 6px 8px;
    }
}