#app-mount {
    .tooltip-33Jwqe {
        border-radius: 2px;
        font-weight: 400;
        color: #E0E1E5;

        -webkit-box-shadow: 0 3px 32px #000;
        box-shadow: 0 0 5px #000;
    }

    .tooltipPrimary-2466a2 {
        background: #696773;
    }

    .tooltipPointer-sMBQqe {
        display: none; 
    }

    .tooltipContent-38tm3I {
        padding: 8px 10px;
    }
}