.wrapper-1_HaEi {
    border: 1px solid var(--background-tertiary-border);
    border-left: 1px solid var(--background-tertiary-border-bottom);
}

#app-mount .guilds-2JjMmN {
    height: calc(100vw - 2px) !important;
}