#app-mount .wrapper__216eb.guilds__2b93a [class*=expandedFolderBackground] {
    border-radius: 2px;
}

#app-mount .folder__17546 {
    background: none;
}

.expandedFolderBackground_b1385f {
    bottom: 0;
    background-color: var(--brand-experiment-700);

    &.collapsed__98ad5 {
        background-color: var(--header-button-background);
        height: var(--server-size);

        &.hover__043de {
            background-color: var(--brand-experiment-700);
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            border-radius: 0;
            box-shadow: 0 0 0 1px var(--gpColor-Grey), inset 0 0 0 1px var(--background-tertiary);
            transition: box-shadow .15s ease;
            z-index: 1;
        }

        &:has(+.listItem__48528 .item_f9d377[style="opacity: 1; height: 40px; transform: none;"]):before {
            --gpColor-Grey: var(--brand-experiment);
        }

        &:has(+.listItem__48528 .item_f9d377):before {
            --gpColor-Grey: var(--header-primary);
        }
    }
}

[class^="folderIconWrapper"] {
    border-radius: 2px;
    background-color: transparent !important;
}

.expandedFolderIconWrapper__324c1 svg {
    color: var(--brand-experiment-300) !important;
}
