#app-mount .wrapper_a7e7a8.guilds__2b93a [class*=expandedFolderBackground] {
    border-radius: 2px;
}

#app-mount .folder__17546 {
    background: none;
}

.expandedFolderBackground__1bec6 {
    bottom: 0;
    background-color: var(--brand-experiment-700);

    &.collapsed__0a270 {
        background-color: var(--header-button-background);
        height: var(--server-size);

        &.hover__043de {
            background-color: var(--brand-experiment-700);
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;
            border-radius: 0;
            box-shadow: 0 0 0 1px var(--gpColor-Grey), inset 0 0 0 1px var(--background-tertiary);
            transition: box-shadow .15s ease;
            z-index: 1;
        }

        &:has(+.listItem_fa7b36 .item_f9d377[style="opacity: 1; height: 40px; transform: none;"]):before {
            --gpColor-Grey: var(--brand-experiment);
        }

        &:has(+.listItem_fa7b36 .item_f9d377):before {
            --gpColor-Grey: var(--header-primary);
        }
    }
}

.folderIconWrapper__72239 {
    border-radius: 2px;
    background-color: transparent !important;
}

.expandedFolderIconWrapper__458cf svg {
    color: var(--brand-experiment-300) !important;
}