.wrapper__3af0b foreignObject {
    mask: none;
}


.wrapper__3af0b,
.childWrapper__01b9c {
    border-radius: 0;
}

foreignObject {

    .tutorialContainer__890ea &,
    .tutorialContainer__890ea+.listItem_fa7b36 &,
    .tutorialContainer_dc6fde &,
    .tutorialContainer_dc6fde+.listItem_fa7b36 & {
        mask: none;
        border-radius: 2px;
    }
}

.circleIconButton_d8df29 {
    #app-mount & {
        background: none;
    }

    &.selected__5250e svg {
        background: var(--interactive-active);
    }

    svg {
        color: var(--background-tertiary);
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        border-radius: 2px;
        height: 28px;
        width: 28px;
    }

    path {
        scale: 0.8;
        transform-origin: center;
    }
}

.wrapper_d281dd {

    &.selected_f5ec8e,
    &:hover {
        .childWrapper__01b9c {
            color: var(--background-tertiary);
            background-color: transparent;
        }
    }

    &:has(.childWrapper__01b9c) {
        &:hover {
            .childWrapper__01b9c::before {
                background: var(--interactive-active);
            }
        }

        &.selected_f5ec8e:not(:hover) {
            pointer-events: none;

            .childWrapper__01b9c::before {
                background: var(--brand-experiment);
            }
        }
    }
}

.childWrapper__01b9c {
    color: var(--background-tertiary);
    background: none;

    svg {
        width: 18px;
    }

    .favoriteIcon__91c06 {
        width: 20px;
        margin-bottom: 1px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 28px;
        width: 28px;
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        z-index: -1;
        border-radius: 2px;
    }
}

.item_f9d377 {
    display: none;
}

.lowerBadge__669e7 {
    z-index: 3;
}

.baseShapeRound__95d0f,
.numberBadge__50328 {
    border-radius: 0;
}

.blobContainer__5ee50 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: 0;
        box-shadow: 0 0 0 1px var(--gpColor-Grey), inset 0 0 0 1px var(--background-tertiary);
        transition: box-shadow .15s ease;
        z-index: 1;
    }

    &.selected__98d51:before {
        --gpColor-Grey: var(--brand-experiment);
    }

    .listItem_fa7b36:has(.item_f9d377) & {
        &:not(.selected__98d51):before {
            --gpColor-Grey: var(--header-primary);
        }
    }

    &:not(.selected__98d51):has(.numberBadge__50328[style^="background-color: var(--status-danger);"]):before {
        --gpColor-Grey: var(--status-danger);
    }
}

.placeholderMask__94802 foreignObject[mask="url(#svg-mask-squircle)"] {
    mask: none;
}

.dragInner_a23293 {
    background-color: var(--header-button-background);
}