.wrapper__9916c foreignObject {
    mask: none;
}


.wrapper__9916c,
.childWrapper_a6ce15 {
    border-radius: 0;
}

foreignObject {

    .tutorialContainer_b06ae6 &,
    .tutorialContainer_b06ae6+.listItem__48528 &,
    .tutorialContainer__6835f &,
    .tutorialContainer__6835f+.listItem__48528 & {
        mask: none;
        border-radius: 2px;
    }
}

.circleIconButton__05cf2 {
    #app-mount & {
        background: none;
    }

    &.selected_aded59 svg {
        background: var(--interactive-active);
    }

    svg {
        color: var(--background-tertiary);
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        border-radius: 2px;
        height: 28px;
        width: 28px;
    }

    path {
        scale: 0.8;
        transform-origin: center;
    }
}

.wrapper__8436d {

    &.selected_ae80f7,
    &:hover {
        .childWrapper_a6ce15 {
            color: var(--background-tertiary);
            background-color: transparent;
        }
    }

    &:has(.childWrapper_a6ce15) {
        &:hover {
            .childWrapper_a6ce15::before {
                background: var(--interactive-active);
            }
        }

        &.selected_ae80f7:not(:hover) {
            pointer-events: none;

            .childWrapper_a6ce15::before {
                background: var(--brand-experiment);
            }
        }
    }
}

.childWrapper_a6ce15 {
    color: var(--background-tertiary);
    background: none;

    svg {
        width: 18px;
    }

    .favoriteIcon__91c06 {
        width: 20px;
        margin-bottom: 1px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 28px;
        width: 28px;
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        z-index: -1;
        border-radius: 2px;
    }
}

.item_f9d377 {
    display: none;
}

.lowerBadge_e89e22 {
    z-index: 3;
}

.baseShapeRound_c1de89,
.numberBadge__40d6f {
    border-radius: 0;
}

.blobContainer_c44493 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: 0;
        box-shadow: 0 0 0 1px var(--gpColor-Grey), inset 0 0 0 1px var(--background-tertiary);
        transition: box-shadow .15s ease;
        z-index: 1;
    }

    &.selected_e85eba:before {
        --gpColor-Grey: var(--brand-experiment);
    }

    .listItem__48528:has(.item_f9d377) & {
        &:not(.selected_e85eba):before {
            --gpColor-Grey: var(--header-primary);
        }
    }

    &:not(.selected_e85eba):has(.numberBadge__40d6f[style^="background-color: var(--status-danger);"]):before {
        --gpColor-Grey: var(--status-danger);
    }
}

.placeholderMask_ca6625 foreignObject[mask="url(#svg-mask-squircle)"] {
    mask: none;
}

.dragInner_d5b34c {
    background-color: var(--header-button-background);
}
