.wrapper-2PSQCG foreignObject {
    mask: none;
}


.wrapper-2PSQCG,
.childWrapper-1j_1ub {
    border-radius: 0;
}

foreignObject {

    .tutorialContainer-1pL9QS &,
    .tutorialContainer-1pL9QS+.listItem-3SmSlK &,
    .tutorialContainer-2jwoiB &,
    .tutorialContainer-2jwoiB+.listItem-3SmSlK & {
        mask: none;
        border-radius: 2px;
    }
}

.circleIconButton-1VxDrg {
    #app-mount & {
        background: none;
    }

    &.selected-2r1Hvo svg {
        background: var(--interactive-active);
    }

    svg {
        color: var(--background-tertiary);
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        border-radius: 2px;
        height: 28px;
        width: 28px;
    }

    path {
        scale: 0.8;
        transform-origin: center;
    }
}

.wrapper-3kah-n {

    &.selected-1Drb7Z,
    &:hover {
        .childWrapper-1j_1ub {
            color: var(--background-tertiary);
            background-color: transparent;
        }
    }

    &:has(.childWrapper-1j_1ub) {
        &:hover {
            .childWrapper-1j_1ub::before {
                background: var(--interactive-active);
            }
        }

        &.selected-1Drb7Z:not(:hover) {
            pointer-events: none;

            .childWrapper-1j_1ub::before {
                background: var(--brand-experiment);
            }
        }
    }
}

.childWrapper-1j_1ub {
    color: var(--background-tertiary);
    background: none;

    svg {
        width: 18px;
    }

    .favoriteIcon-2kWmTP {
        width: 20px;
        margin-bottom: 1px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 28px;
        width: 28px;
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*9%) 44%);
        z-index: -1;
        border-radius: 2px;
    }
}

.item-2LIpTv {
    display: none;
}

.lowerBadge-3j0ZAg {
    z-index: 3;
}

.baseShapeRound-3epLEv,
.numberBadge-37OJ3S {
    border-radius: 0;
}

.blobContainer-ikKyFs {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: 0;
        box-shadow: 0 0 0 1px var(--gpColor-Grey), inset 0 0 0 1px var(--background-tertiary);
        transition: box-shadow .15s ease;
        z-index: 1;
    }

    &.selected-3c78Ai:before {
        --gpColor-Grey: var(--brand-experiment);
    }

    .listItem-3SmSlK:has(.item-2LIpTv) & {
        &:not(.selected-3c78Ai):before {
            --gpColor-Grey: var(--header-primary);
        }
    }

    &:not(.selected-3c78Ai):has(.numberBadge-37OJ3S[style^="background-color: var(--status-danger);"]):before {
        --gpColor-Grey: var(--status-danger);
    }
}