.container__5c7e7,
.containerSidenav__2623a {
    background: none;
}

.container__5c7e7 {
    max-width: var(--content-width);
}

.sideNavContent_fdff7b {
    min-width: unset;
    max-width: var(--content-inner-width);
    padding: var(--content-gutter) 0 0 0;
}

.topPill__0cdf1 .item__48dda.themed_b957e8 {
    border-radius: 0;
    margin: 0;
    padding: 0 14px;
    height: 36px;
    text-shadow: 0 2px 3px rgb(0 0 0/.3);
    color: #e5e5e5;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:hover:not(.disabled__85bca) {
        background: var(--topbar-item-hover);
    }

    &.selected__5711d,
    &.selected__5711d:hover {
        background: none;
        color: var(--white-500);
    }

    &.addFriend__80542 {
        margin-top: 3px;
        height: 30px;
        background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
        padding: 0 16px;
        border-radius: 2px;
        color: #d2efa9;
        text-shadow: 1px 1px 0 rgb(0 0 0/.3);
        box-shadow: 0 0 3px rgb(0 0 0/.4);

        &:hover {
            background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
            color: var(--white-500);
        }

        &.selected__5711d {
            background: linear-gradient(to bottom, rgb(193 228 249) 5%, rgb(148 183 202) 95%);
            color: #2B5066;
            text-shadow: none;
        }
    }
}

.searchBar_ff8800 {
    background-color: rgb(0 0 0/.2);
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 var(--store-search-border);
    border-radius: 3px;
    margin: 0;
}

.searchBar_ff8800 input::placeholder {
    font-style: italic;
}

.title_dc625c {
    margin: 10px 0 0 0;
}

.peopleColumn__51df3 {
    margin-top: var(--content-gutter);
    max-width: var(--content-inner-width);

    .sectionTitle__69d2d {
        max-width: var(--content-inner-width);
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin-top: var(--content-gutter);
    }

    .title_dc625c {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #fff;
    }
}

.peopleList__2379e {
    margin-top: 0;
    padding: 0 !important;
    overflow: hidden overlay !important;

    >div:not([class], [aria-hidden="true"]) {
        padding-right: 2px;
        background: rgb(0 0 0/.4);
        padding: 20px;
    }
}

.peopleListItem_d14722 {
    border: none !important;
    margin: 0 !important;
    padding: 6px 8px !important;
    border-radius: 0 !important;
    height: 58px !important;
    font-size: unset;
    line-height: unset;

    &:hover,
    &.active__6b8ff {
        border-radius: 0;
        background: var(--background-accent);
        transition: background .2s linear;

        .actionButton__23182 {
            background-color: var(--background-accent-hover);
            transition: background .2s linear, box-shadow .2s ease-in-out;

            &.actionDeny_d304eb {
                &:hover {
                    color: #fff;
                    background: var(--status-danger);
                }
            }

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }
        }
    }

    .userInfo__18240 .wrapper_edb6e0 {
        margin-top: 0;
    }

    .username__81ee6 {
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
        color: var(--header-primary);
    }

    .discriminator_aef524 {
        font-weight: 400;
    }

    .text__1dddb {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .actionButton__23182 {
        color: var(--brand-experiment);
        border-radius: 2px;
        background: var(--btn-grey);
        transition-property: background, box-shadow, color;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &.actionDeny_d304eb {
            color: var(--status-danger);
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

#app-mount .peopleListItem_d14722 .userInfo__18240 .wrapper_edb6e0 {
    margin-top: 0;
    margin-left: 1px;
}

.userInfo__18240 {
    position: relative;
    height: 100%;
    align-items: center;
    overflow: visible;

    &:has([mask="url(#svg-mask-status-online)"]),
    &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
        .username__81ee6 {
            color: var(--rs-online-color);
        }
    }

    &:has([mask="url(#svg-mask-status-idle)"]) {
        .username__81ee6 {
            color: var(--rs-idle-color);
        }
    }

    &:has([mask="url(#svg-mask-status-dnd)"]) {
        .username__81ee6 {
            color: var(--rs-dnd-color);
        }
    }
}

.header__6113c {
    padding: 0;
    border-bottom: 0;
}

.title_c627bb {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--store-body-header);
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
}

.header__6113c form {
    background-color: rgb(0 0 0/.4);
    padding: 20px;
}

.description__7af71 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: hsl(calc(var(--accent-hue) + 3) calc(var(--saturation-factor, 1)*8.2%) 59.4%);
    letter-spacing: .02em;
}

.addFriendInputWrapper__4bf8e {
    background-color: rgb(0 0 0/.2);
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 4px 0 0;

    .addFriendInput__568d8 {
        padding: 0;
    }

    .inputDefault__80165 {
        padding: 10px;
        height: unset;
        background: none !important;
        box-shadow: none !important;
    }
}

.inputText__81d8a {
    font-size: 14px;
    font-weight: 400;
}

.nowPlayingColumn_f5023f {
    background: none;
    margin-top: var(--content-gutter);
    margin-left: var(--content-gutter);

    .container__0a6a9 {
        background: none;
    }

    .scroller__00e7e {
        background: var(--store-sidebar-background);
        height: fit-content;
        max-height: 100%;
        border-left: none;
        margin-left: 0;
    }

    .header__123bf {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .02em;
        color: var(--text-muted);
        margin: 0 0 2px 0;
    }

    .wrapper__6e669 {
        background: var(--sidebar-btn-brand);
        border: none;
        border-radius: 0;

        &:hover {
            background: var(--btn-brand-hover);
        }

        .inset__0bfb3 {
            background: rgb(0 0 0/.2);
            border-radius: 0;
        }

        .section_efc22d {
            padding: 10px;
            background: none;
            border-radius: 0;
        }
    }
}

.emptyCard_f82dde {
    background: rgb(0 0 0/.2);
    border-radius: 0;

    .emptyHeader_eeafcc {
        font-weight: 400;
    }
}

#add_friend-tab {
    .header_afb7fc {
        background-color: rgb(0 0 0/.2);
        padding: 20px 20px 0;

        .h2_f0b768 {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-transform: unset;
        }
    }

    .grid__5ef55 {
        background-color: rgb(0 0 0/.2);
        padding: 10px 20px 20px;
        width: 100%;
    }

    .container_a308ae {
        border-radius: 2px;
        border: none;
        padding: 6px 8px;
        background: var(--btn-brand);
        color: var(--btn-brand-text);

        &:hover {
            background: var(--btn-brand-hover);
            color: #fff;

            svg {
                color: #fff;
            }
        }

        .icon__28d6c {
            margin: 0 12px 0 0;
            border-radius: 2px;
        }

        .text__21b87 {
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: inherit;
        }

        svg {
            color: var(--brand-experiment);
            height: 18px;
            width: 18px;
            margin: 8px;
        }
    }
}

[data-list-id="message-requests-list"] {
    padding: 0 !important;

    .content__23cab {
        max-width: var(--content-inner-width);
        z-index: 0;

        &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 20px 0 0 0;
            z-index: -1;
            background: rgb(0 0 0/.4);
        }
    }

    .sectionTitle__3a086 {
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin: -8px 0 0 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #fff;
    }

    .sectionTitle__3a086+.messageRequestItem__3b951 {
        margin-top: 20px;
    }

    .messageRequestItem__3b951 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: none !important;
        border-radius: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 6px 8px;
        height: 46px;
        box-sizing: content-box;

        &:hover,
        &.selected_ee2dc5 {
            background: var(--background-accent);
            transition: background .2s linear;
        }
    }

    .timestampWithPreview_e9d53a {
        margin-top: 2px;
    }

    .actions__7db60 {
        gap: 4px;

        .button_dc5086:not(:last-child) {
            margin-right: 0;
        }
    }
}

.containerCompact_a8a449 {
    margin: 16px 16px 0;
}

.compactButton__0f247,
.compactButtonDisabled_f3bf7b {
    padding: 8px 14px;
    background: var(--btn-brand);
    border-radius: 2px;

    .text__1a674 {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: var(--btn-brand-text);
    }
}

.compactButton__0f247:hover {
    background: var(--btn-brand-hover);

    .text__1a674 {
        color: #fff;
    }
}