.container_bd15da,
.containerSidenav_c2b517 {
    background: none;
}

.container_bd15da {
    max-width: var(--content-width);
}

.sideNavContent_b60709 {
    min-width: unset;
    max-width: var(--content-inner-width);
    padding: var(--content-gutter) 0 0 0;
}

.topPill__63ad4 .item__48dda.themed_b957e8 {
    border-radius: 0;
    margin: 0;
    padding: 0 14px;
    height: 36px;
    text-shadow: 0 2px 3px rgb(0 0 0/.3);
    color: #e5e5e5;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:hover:not(.disabled__2717e) {
        background: var(--topbar-item-hover);
    }

    &.selected_a523ff,
    &.selected_a523ff:hover {
        background: none;
        color: var(--white-500);
    }

    &.addFriend__4c0a2 {
        margin-top: 3px;
        height: 30px;
        background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
        padding: 0 16px;
        border-radius: 2px;
        color: #d2efa9;
        text-shadow: 1px 1px 0 rgb(0 0 0/.3);
        box-shadow: 0 0 3px rgb(0 0 0/.4);

        &:hover {
            background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
            color: var(--white-500);
        }

        &.selected_a523ff {
            background: linear-gradient(to bottom, rgb(193 228 249) 5%, rgb(148 183 202) 95%);
            color: #2B5066;
            text-shadow: none;
        }
    }
}

.searchBar__310d8 {
    background-color: rgb(0 0 0/.2);
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 var(--store-search-border);
    border-radius: 3px;
    margin: 0;
}

.searchBar__310d8 input::placeholder {
    font-style: italic;
}

.title_c42cad {
    margin: 10px 0 0 0;
}

.peopleColumn__0c784 {
    margin-top: var(--content-gutter);
    max-width: var(--content-inner-width);

    .sectionTitle_b622ce {
        max-width: var(--content-inner-width);
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin-top: var(--content-gutter);
    }

    .title_c42cad {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #fff;
    }
}

.peopleList_d2f527 {
    margin-top: 0;
    padding: 0 !important;
    overflow: hidden overlay !important;

    >div:not([class], [aria-hidden="true"]) {
        padding-right: 2px;
        background: rgb(0 0 0/.4);
        padding: 20px;
    }
}

.peopleListItem_dab480 {
    border: none !important;
    margin: 0 !important;
    padding: 6px 8px !important;
    border-radius: 0 !important;
    height: 58px !important;
    font-size: unset;
    line-height: unset;

    &:hover,
    &.active__6b8ff {
        border-radius: 0;
        background: var(--background-accent);
        transition: background .2s linear;

        .actionButton__2b4bb {
            background-color: var(--background-accent-hover);
            transition: background .2s linear, box-shadow .2s ease-in-out;

            &.actionDeny__3ce98 {
                &:hover {
                    color: #fff;
                    background: var(--status-danger);
                }
            }

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }
        }
    }

    .userInfo__83819 .wrapper__3ed10 {
        margin-top: 0;
    }

    .username__267df {
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
        color: var(--header-primary);
    }

    .discriminator__463fe {
        font-weight: 400;
    }

    .text_bd79a3 {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .actionButton__2b4bb {
        color: var(--brand-experiment);
        border-radius: 2px;
        background: var(--btn-grey);
        transition-property: background, box-shadow, color;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &.actionDeny__3ce98 {
            color: var(--status-danger);
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

#app-mount .peopleListItem_dab480 .userInfo__83819 .wrapper__3ed10 {
    margin-top: 0;
    margin-left: 1px;
}

.userInfo__83819 {
    position: relative;
    height: 100%;
    align-items: center;
    overflow: visible;

    &:has([mask="url(#svg-mask-status-online)"]),
    &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
        .username__267df {
            color: var(--rs-online-color);
        }
    }

    &:has([mask="url(#svg-mask-status-idle)"]) {
        .username__267df {
            color: var(--rs-idle-color);
        }
    }

    &:has([mask="url(#svg-mask-status-dnd)"]) {
        .username__267df {
            color: var(--rs-dnd-color);
        }
    }
}

.header__6ddae {
    padding: 0;
    border-bottom: 0;
}

.title_e7b8ee {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--store-body-header);
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
}

.header__6ddae form {
    background-color: rgb(0 0 0/.4);
    padding: 20px;
}

.description_b0e07c {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: hsl(calc(var(--accent-hue) + 3) calc(var(--saturation-factor, 1)*8.2%) 59.4%);
    letter-spacing: .02em;
}

.addFriendInputWrapper__2b30b {
    background-color: rgb(0 0 0/.2);
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0 4px 0 0;

    .addFriendInput__12af4 {
        padding: 0;
    }

    .inputDefault__22335 {
        padding: 10px;
        height: unset;
        background: none !important;
        box-shadow: none !important;
    }
}

.inputText__278b7 {
    font-size: 14px;
    font-weight: 400;
}

.nowPlayingColumn_b025fe {
    background: none;
    margin-top: var(--content-gutter);
    margin-left: var(--content-gutter);

    .container__3673d {
        background: none;
    }

    .scroller__7c25e {
        background: var(--store-sidebar-background);
        height: fit-content;
        max-height: 100%;
        border-left: none;
        margin-left: 0;
    }

    .header_c56a27 {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .02em;
        color: var(--text-muted);
        margin: 0 0 2px 0;
    }

    .wrapper__3c6d5 {
        background: var(--sidebar-btn-brand);
        border: none;
        border-radius: 0;

        &:hover {
            background: var(--btn-brand-hover);
        }

        .inset__61d5b {
            background: rgb(0 0 0/.2);
            border-radius: 0;
        }

        .section__253ec {
            padding: 10px;
            background: none;
            border-radius: 0;
        }
    }
}

.emptyCard__204d9 {
    background: rgb(0 0 0/.2);
    border-radius: 0;

    .emptyHeader__2717e {
        font-weight: 400;
    }
}

#add_friend-tab {
    .header__7cf1d {
        background-color: rgb(0 0 0/.2);
        padding: 20px 20px 0;

        .h2_da4766 {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-transform: unset;
        }
    }

    .grid__8fc4b {
        background-color: rgb(0 0 0/.2);
        padding: 10px 20px 20px;
        width: 100%;
    }

    .container__048f4 {
        border-radius: 2px;
        border: none;
        padding: 6px 8px;
        background: var(--btn-brand);
        color: var(--btn-brand-text);

        &:hover {
            background: var(--btn-brand-hover);
            color: #fff;

            svg {
                color: #fff;
            }
        }

        .icon_e26761 {
            margin: 0 12px 0 0;
            border-radius: 2px;
        }

        .text__32614 {
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: inherit;
        }

        svg {
            color: var(--brand-experiment);
            height: 18px;
            width: 18px;
            margin: 8px;
        }
    }
}

[data-list-id="message-requests-list"] {
    padding: 0 !important;

    .content__690c5 {
        max-width: var(--content-inner-width);
        z-index: 0;

        &:after {
            content: '';
            display: block;
            position: absolute;
            inset: 20px 0 0 0;
            z-index: -1;
            background: rgb(0 0 0/.4);
        }
    }

    .sectionTitle__714a0 {
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin: -8px 0 0 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        color: #fff;
    }

    .sectionTitle__714a0+.messageRequestItem__9f70d {
        margin-top: 20px;
    }

    .messageRequestItem__9f70d {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: none !important;
        border-radius: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 6px 8px;
        height: 46px;
        box-sizing: content-box;

        &:hover,
        &.selected__8eaa8 {
            background: var(--background-accent);
            transition: background .2s linear;
        }
    }

    .timestampWithPreview__44a71 {
        margin-top: 2px;
    }

    .actions_d91a3f {
        gap: 4px;

        .button_b34d27:not(:last-child) {
            margin-right: 0;
        }
    }
}

.containerCompact_e951c0 {
    margin: 16px 16px 0;
}

.compactButton__00b66,
.compactButtonDisabled_c3934d {
    padding: 8px 14px;
    background: var(--btn-brand);
    border-radius: 2px;

    .text_e2812d {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: var(--btn-brand-text);
    }
}

.compactButton__00b66:hover {
    background: var(--btn-brand-hover);

    .text_e2812d {
        color: #fff;
    }
}
