.container-2cd8Mz {
    background: none;
}


.tabBar-ra-EuL .item-3mHhwr.themed-qqoYp3 {
    border-radius: 0;
    margin: 0;
    padding: 0 14px;
    height: 36px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    color: #e5e5e5;
    font-size: 14px;

    &:hover:not(.disabled-2G98Nl) {
        background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
    }

    &.selected-1sf9UK,
    &.selected-1sf9UK:hover {
        background: none;
        color: var(--white-500);
    }

    &.addFriend-emTWY1 {
        margin-top: 3px;
        height: 30px;
        background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
        padding: 0 16px;
        border-radius: 2px;
        color: #d2efa9;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

        &:hover {
            background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
            color: var(--white-500);
        }

        &.selected-1sf9UK {
            background: linear-gradient(to bottom, rgba(193, 228, 249, 1) 5%, rgba(148, 183, 202, 1) 95%);
            color: #2B5066;
            text-shadow: none;
        }
    }
}

.peopleList-2VBrVI>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
}

.searchBar-2aylmZ {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    border-radius: 3px;
    // color: #909090;
}

.peopleListItem-u6dGxF {
    margin: 0;
    padding: 0 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-top: none;
    background: rgba(0, 0, 0, 0.2);
    height: 50px !important;
    flex-basis: 292px;
}

.peopleListItem-u6dGxF .text-MPIeXO {
    font-size: 12px;
    font-weight: 400;
}

.userInfo-2WpsYG {
    position: relative;
    height: 100%;
    align-items: center;
    overflow: visible;
}

.userInfo-2WpsYG::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 64px;
    top: 0;
    left: -12px;
    filter: blur(20px);
    opacity: 0.2;
}

.userInfo-2WpsYG {

    &:has([mask="url(#svg-mask-status-online)"])::before,
    &:has([mask="url(#svg-mask-avatar-status-mobile-32)"])::before {
        background: var(--rs-online-color);
    }

    &:has([mask="url(#svg-mask-status-idle)"])::before {
        background: var(--rs-idle-color);
    }

    &:has([mask="url(#svg-mask-status-dnd)"])::before {
        background: var(--rs-dnd-color);
    }
}

.userInfo-2WpsYG {

    &:has([mask="url(#svg-mask-status-online)"]),
    &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
        .username-Qpc78p {
            color: var(--rs-online-color);
        }
    }

    &:has([mask="url(#svg-mask-status-idle)"]) {
        .username-Qpc78p {
            color: var(--rs-idle-color);
        }
    }

    &:has([mask="url(#svg-mask-status-dnd)"]) {
        .username-Qpc78p {
            color: var(--rs-dnd-color);
        }
    }
}

.peopleListItem-u6dGxF:not(:hover) .actions-YHvpIT {
    display: none;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
    background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border-color: transparent;
    margin: 0;
    padding: 0 12px;
}


.header-30YxSJ {
    padding: 0;
    margin: 16px;
    border-bottom: 0;
}

.title-3sFEQD {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;
    background-color: #015e80;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
}

.header-30YxSJ form {
    background-color: rgba(0, 0, 0, .4);
    padding: 20px 20px 20px 20px;
}

.description-foE_WP {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #8f98a0;
    letter-spacing: .02em;
}

.addFriendInputWrapper-kkoSV9 {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0;

    // color: #909090;
    // box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
}

.addFriendInput-1Ta-rO {
    padding: 0;
}


.inputDefault-Ciwd-S {
    padding: 10px;
    height: unset;
}

.inputWrapper-2K8ds1:not(:has(+.inputText-30IjXy)) .inputDefault-Ciwd-S {
    font-style: italic;
}

.inputText-30IjXy {
    font-size: 14px;
    font-weight: 400;
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N {
    color: var(--white-500);
    background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
    background-position: 0%;
    background-size: 330% 100%;
}

.nowPlayingColumn-1eCBCN {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    margin-top: 16px;
    height: fit-content;
    max-height: calc(100% - 16px);

    .container-1oAagU {
        background: none;
    }

    .scroller-hE2gWq {
        height: 100%;
        border-left: none;
    }

    .wrapper-2RrXDg {
        background: rgba( 103, 193, 245, 0.1 );
        border: none;
        border-radius: 0;

        &:hover {
            background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
        }

        .section-3G9aLW {
            padding: 12px;
            background-color: var(--background-primary);
            border-radius: 0;
        }
    }
}