.sidebar-1tnWFu:has(.discoverHeader-1vsvZ0) {
    .discoverHeader-1vsvZ0 {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--channels-category);
        padding: 16px 16px 0 8px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .categoryItem-Kc_HK_ {
        --header-secondary: var(--channels-default);

        &:hover:not(.selected-1-Z6gm) {
            --channels-default: var(--channels-default-hover);

            svg {
                color: var(--channels-default);
            }
        }

        &.selected-1-Z6gm {
            --channels-default: #fff;

            .layout-1qmrhw {
                background: var(--channel-selected);
            }
        }
    }

    .layout-1qmrhw {
        border-radius: 0;
        background: none;
        padding: 6px 8px;
    }

    .avatar-6qzftW {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }

    .name-3Vmqxm {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        color: var(--channels-default);
    }
}

#app-mount .pageWrapper-2PwDoS {
    background: none;
}

.pageWrapper-2PwDoS {
    max-width: var(--content-width);

    .scroller-3j5xK2 {
        padding: 0;
    }
}

.searchHeader-3ZIh2x {
    padding: 32px;
    margin: 0;

    .search-25t1e9 {
        .searchBox-31Zv9h {
            background: var(--btn-grey);
        }

        &:hover {
            .searchBox-31Zv9h {
                background: var(--btn-grey-hover);
            }
        }

        .searchBoxInput-3h4etz {
            color: #fff;
            font-weight: 400;

            &::placeholder {
                color: var(--text-lighter);
                font-weight: 400;
            }
        }

        .input-3O04eu {

            &:focus,
            &:focus-within {
                background: none;
                box-shadow: none;
            }
        }

        .closeIcon-BMGxx0,
        .searchIcon-3X4BYL {
            color: var(--brand-experiment);
            height: 18px;
            width: 18px;
        }

        .closeIcon-BMGxx0:hover {
            color: var(--status-danger);
        }
    }
}

.headerImage-2D5D-v {
    box-shadow: 0 0 5px 0 #000000;
}

#app-mount {

    .card-2TuZPZ {
        background: linear-gradient(-45deg, hsl(calc(var(--accent-hue) - 3) 41% 42.5%) 5%, hsl(calc(var(--accent-hue) + 9) 35.9% 25.7%) 95%);

        &:hover {
            background: linear-gradient(to right, hsl(calc(var(--accent-hue) - 4) 41.4% 37.5%) 5%, hsl(calc(var(--accent-hue) - 4) 41.1% 45.3%) 95%)
        }

        .iconMask-2fMR98 {
            background: none;
        }
    }
}

.card-2TuZPZ {
    height: 170px;
    border-radius: 0;
    border-top: 1px solid rgb(201 201 201/.06);
    border-bottom: 1px solid rgb(0 0 0/.5);
    box-shadow: 0 4px 8px 0 rgb(0 0 0/.5);
    box-sizing: content-box;
    filter: brightness(1) contrast(1);
    transition-property: filter, box-shadow, transform, background;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 300px;
    perspective-origin: 50%;

    &:hover {
        transform: rotateX(3deg) translateZ(15px);
        filter: brightness(1.1) contrast(0.95) saturate(1);
        box-shadow: 0 14px 12px 0 rgb(0 0 0/.3);

        &::before {
            opacity: .2;
            transform: rotateZ(210deg) translateX(12%) translateY(32%);
        }
    }

    &::before {
        content: '';
        display: block;
        opacity: .1;
        width: 220%;
        height: 100%;
        background: linear-gradient(to bottom,
                hsl(calc(var(--accent-hue) + 5) 100% 96.1%/0) 0%,
                hsl(calc(var(--accent-hue) + 5) 100% 96.1%/.85) 12px,
                hsl(calc(var(--accent-hue) + 5) 100% 96.1%/.75) 20%,
                rgb(210 210 210/0) 60%,
                rgb(10 10 10/0.0) 85%,
                rgb(10 10 10/.8) 100%);
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateZ(212deg) translateX(12%) translateY(59%);
        pointer-events: none;
        z-index: 10;
        transition-property: transform, opacity;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    }

    &:focus,
    &:hover {
        .splash-1VADA3 {
            -webkit-transform: none;
            transform: none;
        }
    }

    .splashImage-_KUn-T,
    .description-19gINd,
    .memberInfo-3G3E9W {
        transition-property: filter, opacity;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    }

    &:has(.title-2vVOzt:hover) {
        .splashImage-_KUn-T {
            filter: blur(16px);
        }

        .description-19gINd,
        .memberInfo-3G3E9W {
            opacity: 1;
        }
    }

    .cardHeader-1kPMOm {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }

    .splash-1VADA3 {
        position: relative;
    }

    .guildIcon-1nnIAv {
        bottom: 0;

        foreignObject {
            mask: none;
        }

        .iconMask-2fMR98 {
            padding: 0;

            .svg-lIB-lq {
                box-shadow: 0 0 5px 0 #000000;
                background: #fff;
            }
        }
    }

    .guildInfo-PdhToW {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 16px 16px 10px 16px;
    }

    .title-2vVOzt {
        order: 1;
        padding-left: calc(40px + 4px);
        height: 40px;

        .guildBadge-U9DBt_ {
            filter: drop-shadow(0 0 5px #000000);
        }

        .guildName-1sOa9v {
            text-shadow: 0 0 5px #000000;
            overflow: visible;
        }
    }

    .memberInfo-3G3E9W {
        margin-bottom: 10px;
    }

    .description-19gINd,
    .memberInfo-3G3E9W {
        opacity: 0;
        text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
        --header-secondary: #fff;
    }

    .actionButtons-3ILsbw {
        z-index: 1;
    }

    .wrapper-2vIMkT {
        overflow: visible;
    }

    .button-3bklZh {
        height: 15px;
        width: 15px;
        background: #e5e5e5;
        border-radius: 3px;
        box-shadow: 0 0 3px #000;

        &:hover {
            background: var(--btn-dark-text);
            color: #fff;
        }
    }
}

.pageWrapper-2PwDoS {

    .container-3gW0Nv {
        flex-flow: row wrap;
        display: grid;
        grid-template-areas:
            "search search"
            "found categories"
            "results categories";
    }

    .searchPage-3tt6dh {
        grid-area: search;
    }

    .searchHeader-gz2NXf {
        grid-area: found;
        background: var(--background-alpha-2);
        margin-bottom: 0;
        padding: 10px;

        .arrow-3fMmSH {
            position: absolute;
            top: calc(var(--content-gutter) + 6px);
            left: 6px;
            height: 40px;
            width: 40px;
            color: var(--brand-experiment);
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--btn-brand);
            border-radius: 2px;

            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }
        }

        .header-3lOo5J {
            font-size: 12px;
            color: var(--text-normal);
            font-weight: 500;
            margin: 0;
            line-height: 18px;
        }
    }

    .results-1Lsvf8 {
        grid-area: results;
        max-width: unset;
        width: 100%;
    }

    .categories-2LoSbA {
        grid-area: categories;
        align-items: flex-start;
        height: fit-content;
        border: 1px solid rgb(255 255 255/.1);
        border-top: none;
        border-radius: 2px;
        flex-direction: column;
        width: 238px;
        margin-left: var(--content-gutter);
        margin-bottom: 0;

        &::before {
            content: 'Categories';
            background: rgb(255 255 255/.1);
            padding: 4px 4px 4px 6px;
            width: 100%;
            box-sizing: border-box;
            font-size: 12px;
            color: hsl(calc(var(--accent-hue) + 1), 28.7%, 82.9%);
            border-top-left-radius: 1px;
            border-top-right-radius: 1px;
        }

        .categoryPill-1zjNrr {
            padding: 6px 8px;
            text-align: left;
            border-radius: 0;
            margin: 0 2px 0 4px;
            width: calc(100% - 22px);
            --text-muted: hsl(calc(var(--accent-hue) - 3), 29.7%, 71%);

            &:first-child {
                margin-top: 4px;
            }

            &:last-child {
                margin-bottom: 4px;
            }

            &:hover {
                --text-muted: #fff;
                background: rgb(255 255 255/.1);
            }

            &.selected-bLcqYK {
                background: var(--btn-brand-hover)
            }

            .categoryLabel-2m4AT- {
                font-size: 13px;
                font-weight: 500;
            }
        }
    }

    .searchPage-3tt6dh {
        background: var(--background-alpha-4);
        padding: 6px 6px 6px 52px;
        margin-top: var(--content-gutter);
        margin-bottom: var(--content-gutter);
        align-items: center;

        .search-25t1e9 {
            width: 300px;
            max-width: calc(100% - 80px - 2px);
            flex-grow: 0;
        }

        .searchBox-pyIJJj {
            background: var(--btn-brand);
            border: 1px solid #000;
            border-radius: 3px;
            box-shadow: 1px 1px 0 var(--btn-brand-border);
            padding: 5px;
            font-size: 12px;

            input {
                padding: 0;
                font-size: 12px;
                font-weight: 500;
                color: #fff;

                &:hover {
                    background: none;
                }

                &:focus,
                &:focus-within {
                    background: none;
                    box-shadow: none;
                }
            }
        }
    }

    .guildList-QjZKeK {
        max-width: unset;
        grid-gap: 5px;
    }

    .card-1rhKXq {
        background: var(--background-alpha-2);
        border: 1px solid transparent;

        &:hover {
            background: var(--background-alpha-4);
            border-color: hsl(calc(var(--accent-hue) - 2) 39% 41%);
        }

        .splashContainer-2PC_Bm {
            border-radius: 0;
            margin-right: 12px;

        }

        .svg-lIB-lq {
            position: absolute;
            top: 8px;
            margin-left: calc(calc(12px + 32px + 8px) * -1);
            border-radius: 2px;
            box-shadow: 0 0 5px 0 #000000;

            foreignObject {
                mask: none;
            }
        }

        .content-3Xrx5s {
            margin-top: 12px;
            height: calc(135px - 32px);
        }

        .headerName-1IcEWM {
            margin-top: 0;

            h2 {
                color: var(--header-primary);
                font-weight: 400;
            }
        }

        .description-1l_PNB {
            margin-top: 10px;
            margin-bottom: auto;
            color: var(--header-secondary);
        }

        .memberInfo-1LJpwT {
            --header-secondary: var(--text-muted);
            margin-top: 10px;
        }

        .dotSeparator-3MbNc4 {
            margin: 0 4px;
            background-color: var(--text-muted);
        }

        .actionButtons-1KX_dv {
            margin: 6px 6px 0 0;
        }
    }

    .separator-2t2gPa {
        display: none;
    }
}

.placeholder-2jEh13 {
    border-radius: 2px;
}

// Student Hubs
.scroller-RfJjkV {
    background: none;
    padding: 0 !important;
    max-width: var(--content-width);

    .headerContainer-1RYk-Y {
        padding: 32px;
    }

    .headerImage-1c8Lrb {
        box-shadow: 0 0 5px 0 #000000;
        margin-bottom: 0;
    }

    .guildListSection-27K5In {
        min-width: unset;
    }

    .guildList-3-B_6n {
        margin: 0;

        .container-1wv6C6 {
            background: var(--background-alpha-3);
            padding: 8px 16px 10px 16px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            height: unset;

            .iconContainer-6xlTpK {
                border-radius: 2px;
                margin: 6px 6px 16px 6px;
            }

            .header-2jY5vI {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 0;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 16px;
            }
        }
    }

    .footerDescription-3D1fe9 {
        --header-secondary: var(--text-muted);
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        padding-bottom: 24px;
    }
}