.shop_b31ed2 {
    background: none;
    min-width: unset;
    max-width: var(--content-width);
}

.shopScrollBackgroundPrimary_bb1f42,
.pageWrapperBackgroundPrimary__74f14 {
    background: none;
}

.heroBanner_d3ffc9 {
    min-width: unset;
    margin-top: 0;
}
.shop_b31ed2 {

    .pageWrapper__582b9 {
        justify-content: left;
    }
    .page_be1421 {
        max-width: var(--content-inner-width);
        padding: var(--content-gutter) 0 0 0;
        margin-top: 0;
    }
}

.shopCard_f7822b {
    border-radius: 2px;
    border: 2px solid transparent !important;
    background: rgba(0, 0, 0, 0.3) !important;
    .darkCardBackground__82a32 {
        background-color: transparent;
    }
}