.shop_b31ed2 {
    background: none;
    min-width: unset;
    max-width: var(--content-width);
}

.shopScrollBackgroundPrimary__28f1d,
.pageWrapperBackgroundPrimary__36469 {
    background: none;
}

.heroBanner_d3ffc9 {
    min-width: unset;
    margin-top: 0;
}
.shop_b31ed2 {

    .pageWrapper__18871 {
        justify-content: left;
    }
    .page__8ffff {
        max-width: var(--content-inner-width);
        padding: var(--content-gutter) 0 0 0;
        margin-top: 0;
    }
}

.shopCard__3d319 {
    border-radius: 2px;
    border: 2px solid transparent !important;
    background: rgba(0, 0, 0, 0.3) !important;
    .darkCardBackground__38c63 {
        background-color: transparent;
    }
}
