@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);
@import url(https://discordstyles.github.io/Addons/bottomhsl.css);

.folderIconWrapper__72239 {
    transform: rotate(-90deg);
}

.closedFolderIconWrapper__7321f .icon_c48348,
.expandedFolderIconWrapper__458cf svg {
    transform: rotate(90deg);
}