@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);
@import url(https://discordstyles.github.io/Addons/bottomhsl.css);

.folderIconWrapper-1oRIZr {
    transform: rotate(-90deg);
}

.closedFolderIconWrapper-3tRb2d .icon-1zKOXL,
.expandedFolderIconWrapper-3RwQpD svg {
    transform: rotate(90deg);
}

html.platform-osx #app-mount .base-2jDfDU {
    top: var(--titlebar-height) !important;
}