// @use '../container';

#updates-tab {

    .bd-setting-item:has([for="core-updater"]) {
        padding: 8px 24px 10px 16px;
        margin-right: 8px;
        margin-bottom: 0;
        border-radius: 2px;
        width: fit-content;
        background: #3d4450;
        position: relative;

        .bd-filled-checkmark {
            position: absolute;
            margin: auto 0;
            top: 0;
            bottom: 0;
            border-radius: 0;
            padding: 0;
            height: 20px;
            width: 20px;
            background: none;

            svg {
                height: 20px !important;
                width: 20px !important;
                fill: var(--status-online);
            }
        }

        .bd-setting-title,
        .bd-setting-note {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 20px;
            margin: 0 0 0 32px;
        }

        .bd-setting-divider {
            display: none;
        }
    }
}