.button_afdfd9 {
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

.sizeSmall__71a98 {
    height: 34px;
    min-height: 34px;
    padding: 8px 14px;
}

.button__66e8c.buttonColor_a6eb73,
.button__66e8c .buttonColor_a6eb73,
.button_afdfd9.lookOutlined__46d54,
.button_afdfd9.lookLink__93965.lowSaturationUnderline-Z6CW6z.colorPrimary__6ed40:not(.fieldButton_a93f59) {
    color: var(--text-lighter);
    background: var(--btn-grey);
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .root_a28985 &,
    .prompt__671aa & {
        &:not(:hover) {
            box-shadow: 2px 2px 5px rgb(0 0 0/.2);
        }
    }

    &:hover {
        background: var(--btn-grey-hover);
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }
}

.lookOutlined__46d54 {
    border: none;
}

.lookFilled__19298 {
    --button-danger-background: linear-gradient(to right, #ff4747 0%, #c21a1a 60%);
    --button-danger-background-hover: var(--button-danger-background);

    &.colorBrand_b2253e {
        background-image: linear-gradient(to right, hsl(calc(var(--accent-hue) - 4), calc(var(--saturation-factor, 1)*100%), 63.9%) 0%, hsl(calc(var(--accent-hue) + 20), calc(var(--saturation-factor, 1)*76.4%), 43.1%) 60%);

        &:hover {
            background-image: linear-gradient(to right, hsl(calc(var(--accent-hue) - 4), calc(var(--saturation-factor, 1)*100%), 63.9%) 0%, hsl(calc(var(--accent-hue) + 20), calc(var(--saturation-factor, 1)*76.4%), 43.1%) 60%);
        }
    }

    &.colorRed_d6b062 {
        background-image: var(--button-danger-background);

        &:hover {
            background-image: var(--button-danger-background);
        }
    }

    color: var(--text-lighter);
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    background-position: 25%;
    background-size: 330% 100%;

    &:hover {
        background-position: 0%;
        background-size: 330% 100%;
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }

    .root_a28985 &,
    .prompt__671aa & {
        &:not(:hover) {
            box-shadow: 2px 2px 5px rgb(0 0 0/.2);
        }
    }
}

#app-mount {
    .lookLink__93965.colorTransparent__4c280:hover .contents_fb6220 {
        --button--underline-color: none;
    }

    .lookLink__93965.colorPrimary__6ed40:hover .contents_fb6220 {
        --button--underline-color: none;
    }
}

.lookFilled__19298.colorPrimary__6ed40 {
    background: var(--btn-brand);
    color: var(--btn-brand-text);
    transition: none;

    &:hover {
        background: var(--btn-brand-hover);
        color: #fff;
    }

    &.sizeLarge__9049d {
        height: 32px;
        min-height: 32px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        min-width: unset;
    }
}

.sizeLarge__9049d {
    height: 32px;
    min-height: 32px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    min-width: unset;
}

.copyButton__25267 {
    margin-right: 2px;
}

.submitButton__1ba94 {
    margin-left: 2px;
}