.button__581d0 {
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

.sizeSmall_da7d10 {
    height: 34px;
    min-height: 34px;
    padding: 8px 14px;
}

.button_b82d53.buttonColor__7bad9,
.button_b82d53 .buttonColor__7bad9,
.button__581d0.lookOutlined__014b5,
.button__581d0.lookLink_a2da25.lowSaturationUnderline-Z6CW6z.colorPrimary_ebe632:not(.fieldButton__1edf0) {
    color: var(--text-lighter);
    background: var(--btn-grey);
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .root_a28985 &,
    .prompt__671aa & {
        &:not(:hover) {
            box-shadow: 2px 2px 5px rgb(0 0 0/.2);
        }
    }

    &:hover {
        background: var(--btn-grey-hover);
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }
}

.lookOutlined__014b5 {
    border: none;
}

.lookFilled__950dd {
    --button-danger-background: linear-gradient(to right, #ff4747 0%, #c21a1a 60%);
    --button-danger-background-hover: var(--button-danger-background);

    &.colorBrand__27d57 {
        background-image: linear-gradient(to right, hsl(calc(var(--accent-hue) - 4), calc(var(--saturation-factor, 1)*100%), 63.9%) 0%, hsl(calc(var(--accent-hue) + 20), calc(var(--saturation-factor, 1)*76.4%), 43.1%) 60%);

        &:hover {
            background-image: linear-gradient(to right, hsl(calc(var(--accent-hue) - 4), calc(var(--saturation-factor, 1)*100%), 63.9%) 0%, hsl(calc(var(--accent-hue) + 20), calc(var(--saturation-factor, 1)*76.4%), 43.1%) 60%);
        }
    }

    &.colorRed__5a617 {
        background-image: var(--button-danger-background);

        &:hover {
            background-image: var(--button-danger-background);
        }
    }

    color: var(--text-lighter);
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    background-position: 25%;
    background-size: 330% 100%;

    &:hover {
        background-position: 0%;
        background-size: 330% 100%;
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }

    .root_a28985 &,
    .prompt__671aa & {
        &:not(:hover) {
            box-shadow: 2px 2px 5px rgb(0 0 0/.2);
        }
    }
}

#app-mount {
    .lookLink_a2da25.colorTransparent__3e3c7:hover .contents__322f4 {
        --button--underline-color: none;
    }

    .lookLink_a2da25.colorPrimary_ebe632:hover .contents__322f4 {
        --button--underline-color: none;
    }
}

.lookFilled__950dd.colorPrimary_ebe632 {
    background: var(--btn-brand);
    color: var(--btn-brand-text);
    transition: none;

    &:hover {
        background: var(--btn-brand-hover);
        color: #fff;
    }

    &.sizeLarge_b395a7 {
        height: 32px;
        min-height: 32px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        min-width: unset;
    }
}

.sizeLarge_b395a7 {
    height: 32px;
    min-height: 32px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    min-width: unset;
}

.copyButton_e9283d {
    margin-right: 2px;
}

.submitButton__39857 {
    margin-left: 2px;
}
