.button-ejjZWC {
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}

.sizeSmall-3R2P2p {
    height: 34px;
    min-height: 34px;
    padding: 8px 14px;
}

.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX,
.button-ejjZWC.lookLink-13iF2K.lowSaturationUnderline-Z6CW6z.colorPrimary-2-Lusz {
    color: #dfe3e6;
    background: hsla(222, 10%, 26%, 0.5);

    &:hover {
        background: #464d58;
        color: #fff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }
}

#app-mount {
    .lookLink-13iF2K.colorTransparent-2SBJ8-:hover .contents-3NembX {
        --button--underline-color: none;
    }

    .lookLink-13iF2K.colorPrimary-2-Lusz:hover .contents-3NembX {
        --button--underline-color: none;
    }
}

.lookFilled-1H2Jvj,
.lookInverted-2GrLaB {
    transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    background: var(--btn-brand);
    color: var(--btn-brand-text);
    transition: none;

    &:hover {
        background: var(--btn-brand-hover-gradient);
        color: #fff;
    }

    &.sizeLarge-2xP3-w {
        height: 32px;
        min-height: 32px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        min-width: unset;
    }
}

.sizeLarge-2xP3-w {
    height: 32px;
    min-height: 32px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    min-width: unset;
}

// .lookFilled-1H2Jvj.colorRed-2VFhM4 {
//     transition: none;
//     color: var(--white-500);
//     background: var(--btn-danger);

//     &:hover {
//                 background: var(--btn-brand-hover-gradient);
//             }
// }