.container-1QtPKm {
    width: 38px;
    height: 22px;
    background-color: #3d4450 !important;
    margin-right: 4px;

    &.checked-16gMAN {
        background: var(--brand-experiment) !important;
    }

    .slider-HJFN2i {
        transform: scale(1.2) translateY(-1px);
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.35));

        svg {
            display: none;
        }
    }

    &:not(.checked-16gMAN) {
        svg {
            left: -4px !important;
        }
    }

    &.disabled-3_3z1m {
        opacity: 1 !important;
        background: #67707b !important;
        cursor: default;
        rect {
            fill: var(--text-muted);
        }
    }
}

.checkboxWrapper-3zdYym {
    input[type="checkbox"] {
        height: 22px !important;
        width: 22px !important;

        &:hover + .checkbox-1LuCGM {
            background: #67707b;
        }
    }
}
.checkbox-1LuCGM {
    border-radius: 2px;
    border: none;
    background: #3d4450;
    height: 22px !important;
    width: 22px !important;
}