.container__871ba {
    width: 38px;
    height: 22px;
    background-color: var(--background-accent) !important;
    margin-right: 4px;

    &.checked__6bdb0 {
        background: var(--brand-experiment) !important;
    }

    .slider__41d94 {
        transform: scale(1.2) translateY(-1px);
        filter: drop-shadow(0 0 5px rgb(0 0 0/.35));

        svg {
            display: none;
        }
    }

    &:not(.checked__6bdb0) {
        svg {
            left: -4px !important;
        }
    }

    &.disabled_eac369 {
        opacity: 1 !important;
        background: var(--background-accent-hover) !important;
        cursor: default;
        rect {
            fill: var(--text-muted);
        }
    }
}

.checkboxWrapper__02583 {
    input[type="checkbox"] {
        height: 22px !important;
        width: 22px !important;

        &:hover + .checkbox_c7f690 {
            background: var(--background-accent-hover);
        }
    }
}
.checkbox_c7f690 {
    border-radius: 2px;
    border: none;
    background: var(--background-accent);
    height: 22px !important;
    width: 22px !important;
}