.lookFilled__3dba3.select__0eb48 {
    background: var(--btn-grey);
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    &:hover {
        background: var(--btn-grey-hover);
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }

    &.open_cd27aa {
        background: var(--btn-grey);
        color: var(--text-normal);
        box-shadow: none;
        cursor: default;
    }
}

.select__0eb48 {
    padding: 8px 14px;
    border-radius: 2px;

    svg:has([d="M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z"],
        [d="M7.41 16.0001L12 11.4201L16.59 16.0001L18 14.5901L12 8.59006L6 14.5901L7.41 16.0001Z"]) {
        color: var(--brand-experiment);
    }

    &+.icons__374b3 .dropdownIcon_d3bbbc {
        color: var(--brand-experiment);
    }

    &.searchable__01c88 {
        .searchInput_e1c8d3 {
            font-size: 14px;
        }

        input {
            cursor: text;
        }
    }
}

.popout_a6e77f {
    border: none;
    background: var(--dropdown-popout-background);
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: var(--dropdown-popout-shadow);
    padding: 12px !important;
    max-height: 200px !important;
    overflow: overlay !important;

    &.searchableSelect__52dee {
        &::-webkit-scrollbar {
            width: 12px;
        }
    }
}

.option_be8b2e {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    &:hover {
        background: var(--dropdown-popout-hover);
    }
}

.quickSelect_d5838c {
    gap: 10px;
}

.quickSelect_ae48d2 {
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    padding: 4px 0;
    color: var(--text-normal);
    transition: padding .3s cubic-bezier(0.16, 0.86, 0.43, 0.99);

    &:hover {
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
        background: var(--btn-grey-hover);
        color: #fff;
        box-shadow: var(--btn-grey-boxshadow);
    }

    .quickSelectValue__3d726 {
        margin-left: 0;
    }

    .quickSelectArrow__9853b {
        background: none !important;
        height: 24px;
        width: 24px;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 10px;

        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/discordrightarrow.svg);
            background-color: var(--brand-experiment);
            mask-repeat: no-repeat;
            mask-position: center;
        }
    }
}