.slider-1mmyV6 {

    .bar-2H7Q9u {
        height: 6px;
        border-radius: 3px;
        background: var(--background-modifier-accent-dark);
    }

    .markDash-1ATsxA {
        background: var(--background-modifier-accent-dark);
    }
    
}