.slider__22e99 {

    .bar_e58961 {
        height: 6px;
        border-radius: 3px;
        background: var(--background-modifier-accent-dark);
    }

    .markDash_dc3ae9 {
        background: var(--background-modifier-accent-dark);
    }
    
}