.input-3r5zZY {
    font-size: 20px;
    border-radius: 2px;
    background: var(--btn-grey);
    
    &:hover {
        background: rgba(67, 73, 83, .6);
    }

    &:focus,
    &:focus-within {
        background: #23262e;
        box-shadow: inset 1px 1px 4px #000a;
    }
}