.input__848cd {
    font-size: 20px;
    border-radius: 2px;
    background: var(--btn-grey);
    
    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }
}