.input_f27786 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    border-radius: 2px;
    background: var(--btn-grey);
    border: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    &::placeholder {
        font-style: italic;
    }
}

.inputDefault__22335 {
    height: 42px;
}

#app-mount .bioTextArea_f46f71 {
    background: var(--btn-grey);
    border: none;
    box-shadow: none;
    border-radius: 2px;

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    .textArea_a86690,
    .markup_a7e664 {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}

.cardInput-33x7OF {
    // padding: 10px 9px;
    border-radius: 2px;
    background: var(--btn-grey);

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }
}

.phoneField__47dd1 {
    border-radius: 2px;
    padding: 2px;
    position: relative;
    background: var(--btn-grey);
    border: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    &:not(:focus, :focus-within) {
        box-shadow: none;
    }

    .inputField_c0d34f {
        background: none;
        font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    }
}

.copyInput_f549fd {
    background: var(--btn-grey);
    border: none;
    border-radius: 2px;

    input {
        font-size: 14px;
    }

    &:hover {
        background: var(--btn-grey-hover-light);
    }
}
