.input-3O04eu {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    border-radius: 2px;
    background: var(--btn-grey);
    border: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    &::placeholder {
        font-style: italic;
    }
}

.inputDefault-Ciwd-S {
    height: 42px;
}

#app-mount .bioTextArea-dDGOeC {
    background: var(--btn-grey);
    border: none;
    box-shadow: none;
    border-radius: 2px;

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    .textArea-2CLwUE,
    .markup-eYLPri {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}

.cardInput-33x7OF {
    // padding: 10px 9px;
    border-radius: 2px;
    background: var(--btn-grey);

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }
}

.phoneField-3NAPDv {
    border-radius: 2px;
    padding: 2px;
    position: relative;
    background: var(--btn-grey);
    border: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }

    &:not(:focus, :focus-within) {
        box-shadow: none;
    }

    .inputField-1iYysB {
        background: none;
        font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    }
}

.copyInput-3AbKWB {
    background: var(--btn-grey);
    border: none;
    border-radius: 2px;

    input {
        font-size: 14px;
    }

    &:hover {
        background: var(--btn-grey-hover-light);
    }
}