.root_f9a4c9:has(img[alt="characters playing a game"]) {
    .shelfTopBackground-R55ED9 {
        position: absolute;
        top: 16px;
        right: 40px;
        left: unset;
        margin: 0;
        width: 120px;
    }

    .header_f9a4c9 {
        [class*="headerTextContainer"] {
            -webkit-box-align: start;
            align-items: start;
            width: calc(100% - 140px);

            [class*="activityShelfTitle"] {
                justify-content: left;
                margin-top: 0;
            }

            h1 {
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 14px;
                line-height: 18px;
                color: var(--header-secondary);
            }
        }
    }

    [class*="modalDivider"] {
        display: none;
    }

    [class*="scrollBackgroundContainer"] {
        display: none;
    }

    .scroller_f09e45 {
        overflow: overlay !important;
    }

    .scrollSection_f09e45 {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
    }

    .shelf_f09e45 {
        display: grid;
        margin-top: 1em;
        margin-bottom: 1em;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .activityItem_d46b95 {
        width: unset;
        height: fit-content;
        border-radius: 2px;
        background: var(--btn-grey);
        padding: 6px;
        box-shadow: none;
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: var(--btn-grey-hover);
            box-shadow: var(--btn-grey-boxshadow);
        }

        .activityImageContainer_d46b95 {
            border-radius: 2px;
            margin-bottom: 10px;
        }

        .activityTextContainer_d46b95{
            padding: 0;
        }

        .activityName_d46b95 {
            width: 100%;
            justify-content: center;
        }

        .activityTitleText_d46b95 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .activitySubtitleText_d46b95{
            max-height: unset;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: var(--header-secondary);

        }

        .activityTagsContainer_d46b95 {
            width: 100%;
            justify-content: center;
        }

        .activityTag_d46b95 {
            background-color: rgb(0 0 0/.2);
            border-radius: 2px;
            height: 20px;
            padding: 0 6px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}
