.theme-dark #app-mount .theme-light {
    .root-1CAIjD {
        --text-normal: hsl(alc(var(--accent-hue) + 11), 7.7%, 87.3%);

        .header-1ffhsl {
            [data-text-variant="heading-xl/semibold"] {
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
                width: 100%;
                text-align: left;
            }

            [data-text-variant="text-md/normal"] {
                margin-top: 10px;
                text-align: left;
                width: 100%;
            }
        }

        .header-oub2Vc {
            .title-1LqMUp {
                margin: 0;
            }

            [data-text-variant="text-sm/normal"] {
                margin-top: 10px;
                text-align: left;
                width: 100%;
            }
        }

        form .input-m1-Y7Q {
            background: none;
            border-radius: 0;

            input::placeholder {
                color: var(--text-muted);
            }
        }

        .sampleLink-5BWNy9 {
            color: var(--text-muted);
        }

        .rowContainer-3t7486 {
            border-radius: 2px;
            padding: 6px 8px;
            background: var(--btn-brand);
            color: var(--btn-brand-text);
            margin-bottom: 10px;

            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }

            .rowIcon-1mRvtM {
                background: var(--green-360);
                border-radius: 2px;
            }

            h2 {
                color: inherit;
                font-weight: 400;
            }

            .rowText-3MQqQi {
                color: inherit;
                line-height: 12px;
                margin-top: 4px;
            }

            .rowArrow-TIwwIc {
                height: 18px;
                width: 18px;
                margin: 8px;
            }
        }

        .footer-IubaaS {
            position: absolute;
            bottom: 0;
            justify-content: right;
            width: 100%;
            box-sizing: border-box;
            gap: 10px;
            flex-flow: row nowrap;

            .footerTitle-3Bslxi {
                margin-bottom: 0;
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                color: var(--text-muted);
                letter-spacing: 0;
            }
        }

        .content-1OG56Q {
            margin-bottom: 102px;
        }

        .templatesList-uohY49 {
            margin-top: 0;
        }

        .optionHeader-27AHfD {
            color: var(--text-muted) !important;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: .5px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .container-x8Y1ix {
            border-radius: 2px;
            border: none;
            background: var(--btn-grey);
            margin-bottom: 10px;
            transition-property: background, box-shadow, color;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            [data-text-variant="text-md/bold"] {
                color: var(--text-lighter);
                font-weight: 400;
                transition: color .2s ease-in-out;
            }

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);

                [data-text-variant="text-md/bold"] {
                    color: #fff;
                }
            }

            &:has(.arrow-2yY1Tm) {
                &::after {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/discordrightarrow.svg);
                    background: var(--brand-experiment);
                    margin: 16px 16px 16px auto;
                }

                .arrow-2yY1Tm {
                    display: none;
                }
            }
        }

        .button-ejjZWC:not(.close-A4ZfTI) {
            height: 34px;
            min-height: 34px;
            padding: 8px 14px;

            &.lookBlank-FgPMy6 {
                color: var(--text-lighter);
                background: var(--btn-grey);
                transition-property: background, box-shadow, color;
                transition-duration: .2s;
                transition-timing-function: ease-out;
                box-shadow: 2px 2px 5px rgb(0 0 0/.2);

                &:hover {
                    background: var(--btn-grey-hover);
                    color: #fff;
                    box-shadow: var(--btn-grey-boxshadow);
                }
            }
        }


    }
}