#app-mount .message-G6O-Wv {
    background: var(--message-background-gradient-red);
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
    border-radius: 2px;

    .header-2jRmjb {
        opacity: 1;
    }
}