.uploadModal-2ie9O_ {
    .inner-rBP-MS {
        margin: 32px 32px 0 32px;
        z-index: 102;

        .file-163EuR .description-2AJi-V .filename-1r50Xu {
            padding: 0;
        }

        .comment-1kpwc5 {
            margin: 0 32px;
            
            .label-21vOgf {
                color: var(--text-muted);
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 36px;
                font-weight: 700;
            }
        }

        .channelTextAreaUpload-30SRDh {
            margin: 0 0 10px 0;
        }
    }

    .icon-HW4tZ- {
        filter: drop-shadow(0 8px 16px rgb(0 0 0 / 30%));
    }

    .footerRightAlign-3Xr2jN {
        gap: 4px;
    }
}