.uploadModal-2ie9O_ {
    .inner-rBP-MS {
        margin: 0;

        .file-163EuR.expandable-2-lrzP {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            .description-2AJi-V {
                padding: 32px 32px 32px 32px;
                margin-right: auto;
            }
        }

        .comment-1kpwc5 {
            margin: 0 32px;
            
            .label-21vOgf {
                color: var(--text-muted);
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 36px;
            }
        }

        .channelTextAreaUpload-30SRDh {
            margin: 0 0 10px 0;
        }
    }

    .icon-HW4tZ- {
        margin: 0 0 32px 0 !important;
        object-fit: scale-down;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%);
        border-radius: 2px;
        height: unset !important;
    }
}