.uploadModal__6eb75 {
    .inner__7afe9 {
        margin: 32px 32px 0 32px;
        z-index: 102;

        .file__068e1 .description__338ad .filename_da9eea {
            padding: 0;
        }

        .comment__69b32 {
            margin: 0 32px;

            .label__262a0 {
                color: var(--text-muted);
                font-size: 14px;
                letter-spacing: .5px;
                line-height: 36px;
                font-weight: 700;
            }
        }

        .channelTextAreaUpload_f0f311 {
            margin: 0 0 10px 0;
        }
    }

    .icon__4bc4d {
        filter: drop-shadow(0 8px 16px rgb(0 0 0/.3));
    }

    .footerRightAlign__8467c {
        gap: 4px;
    }
}
