@mixin modalTopBar {
    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, hsl(calc(var(--accent-hue) - 13) calc(var(--saturation-factor, 1)*100%) 50%) 0%, hsl(calc(var(--accent-hue) + 20) calc(var(--saturation-factor, 1)*100%) 60%) 100%);
        position: absolute;
        z-index: 102;
        top: 0;
    }
}

.backdrop__7e89b.withLayer__1fe9d[style="opacity: 0.85; background: var(--black-500);"] {
    opacity: 0.8 !important;
}

#app-mount {
    .root_a28985 {
        background: var(--modal-background);
        box-shadow: none;
    }
}

.root_a28985 {
    @include modalTopBar;
    border-radius: 0;

    --text-link: var(--text-linkHi);
    a:hover {
        text-decoration:none;
        --text-link: var(--text-linkHi-hover);
    }

    .close__1080c {
        position: absolute;
        top: 9px;
        right: 9px;
        height: 16px;
        width: 16px;
        margin: 0;
        padding: 0;

        .contents_fb6220 {
            height: 16px;
        }

        svg {
            height: 16px !important;
            width: 16px !important;
        }
    }

    .artContainer__56b19 {
        z-index: 102;
    }

    [class*="modalHeader"] {
        background-color: transparent;
    }

    .header__6d5ea {
        box-shadow: none;
        border-radius: 0;
        padding: 32px;

        [data-text-variant="heading-lg/semibold"] {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    .footer__89240:has(>.lookLink__93965) {
        gap: 4px;
    }

    .footer__89240,
    .footer_ceda43 {
        padding: 32px;
        border-radius: 0;
        box-shadow: none;
        background: none;
    }

    .content__764ce {
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 0;
    }

    .text-md-normal__6a4eb {
        font-size: 14px;
        line-height: 18px;
    }

    .defaultColor__77578.text-md-normal__6a4eb {
        --text-normal: hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*7.8%) 69.8%);
    }
}

.medium__408de {
    width: 500px;

    &:has([class*="overviewSidebar"],  .guildSidebar__8763f) {
        width: calc(500px + 192px);
    }
}

.largeSpacing_ac1945 {
    margin-bottom: 32px;
    margin-top: 10px;
}

.spacing_ce91c7 {
    margin: 0;
}

.overrideList__3236e {

    .flex_f5fbb7:has(>.header__995b4) {
        padding-top: 8px;
        padding-left: 8px;
    }

    .header__995b4 {
        margin-bottom: 0;
    }

    [class*="headerName"] {
        margin-left: 0;
    }

    [class*="headerOption"] {
        align-self: flex-end;
    }
}