@mixin modalTopBar {
    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, hsl(calc(var(--accent-hue) - 13) calc(var(--saturation-factor, 1)*100%) 50%) 0%, hsl(calc(var(--accent-hue) + 20) calc(var(--saturation-factor, 1)*100%) 60%) 100%);
        position: absolute;
        z-index: 102;
        top: 0;
    }
}

.backdrop__1a911.withLayer__29ace[style="opacity: 0.85; background: var(--black-500);"] {
    opacity: 0.8 !important;
}

#app-mount {
    .root_a28985 {
        background: var(--modal-background);
        box-shadow: none;
    }
}

.root_a28985 {
    @include modalTopBar;
    border-radius: 0;

    --text-link: var(--text-linkHi);
    a:hover {
        text-decoration:none;
        --text-link: var(--text-linkHi-hover);
    }

    .close__1080c {
        position: absolute;
        top: 9px;
        right: 9px;
        height: 16px;
        width: 16px;
        margin: 0;
        padding: 0;

        .contents__322f4 {
            height: 16px;
        }

        svg {
            height: 16px !important;
            width: 16px !important;
        }
    }

    .artContainer__748ff {
        z-index: 102;
    }

    [class*="modalHeader"] {
        background-color: transparent;
    }

    .header__5e5a6 {
        box-shadow: none;
        border-radius: 0;
        padding: 32px;

        [data-text-variant="heading-lg/semibold"] {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    .footer_e0b400:has(>.lookLink_a2da25) {
        gap: 4px;
    }

    .footer_e0b400,
    .footer_f06dbb {
        padding: 32px;
        border-radius: 0;
        box-shadow: none;
        background: none;
    }

    .content_b28aab {
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 0;
    }

    .text-md-normal__6a4eb {
        font-size: 14px;
        line-height: 18px;
    }

    .defaultColor__77578.text-md-normal__6a4eb {
        --text-normal: hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*7.8%) 69.8%);
    }
}

.medium_b9df4c {
    width: 500px;

    &:has([class*="overviewSidebar"],  .guildSidebar__74787) {
        width: calc(500px + 192px);
    }
}

.largeSpacing__434f1 {
    margin-bottom: 32px;
    margin-top: 10px;
}

.spacing_e3e55e {
    margin: 0;
}

.overrideList_a5ce46 {

    .flex_f18b02:has(>.header_e79f5a) {
        padding-top: 8px;
        padding-left: 8px;
    }

    .header_e79f5a {
        margin-bottom: 0;
    }

    [class*="headerName"] {
        margin-left: 0;
    }

    [class*="headerOption"] {
        align-self: flex-end;
    }
}
