@mixin modalTopBar {
    &::before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, hsl(calc(var(--accent-hue) - 13) calc(var(--saturation-factor, 1)*100%) 50%) 0%, hsl(calc(var(--accent-hue) + 20) calc(var(--saturation-factor, 1)*100%) 60%) 100%);
        position: absolute;
        z-index: 102;
        top: 0;
    }
}

.backdrop-2ByYRN.withLayer-2VVmpp[style="opacity: 0.85; background: var(--black-500);"] {
    opacity: 0.8 !important;
}

#app-mount {
    .root-1CAIjD {
        background: var(--modal-background);
        box-shadow: none;
    }
}

.root-1CAIjD {
    @include modalTopBar;
    border-radius: 0;

    --text-link: var(--text-linkHi);
    a:hover {
        text-decoration:none;
        --text-link: var(--text-linkHi-hover);
    }

    .close-A4ZfTI {
        position: absolute;
        top: 9px;
        right: 9px;
        height: 16px;
        width: 16px;
        margin: 0;
        padding: 0;

        .contents-3NembX {
            height: 16px;
        }

        svg {
            height: 16px !important;
            width: 16px !important;
        }
    }

    .artContainer-1yaXct {
        z-index: 102;
    }

    .modalHeader-3X0A4K {
        background-color: transparent;
    }

    .header-1ffhsl {
        box-shadow: none;
        border-radius: 0;
        padding: 32px;

        [data-text-variant="heading-lg/semibold"] {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    .footer-IubaaS:has(>.lookLink-13iF2K) {
        gap: 4px;
    }

    .footer-IubaaS,
    .footer-VCsJQY {
        padding: 32px;
        border-radius: 0;
        box-shadow: none;
        background: none;
    }

    .content-1OG56Q {
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 0;
    }

    .text-md-normal-2rFCH3 {
        font-size: 14px;
        line-height: 18px;
    }

    .defaultColor-1EVLSt.text-md-normal-2rFCH3 {
        --text-normal: hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*7.8%) 69.8%);
    }
}

.medium-2JV7bE {
    width: 500px;

    &:has(.overviewSidebar-3JDLaJ,  .guildSidebar-UHnQqs) {
        width: calc(500px + 192px);
    }
}

.largeSpacing-22TLsQ {
    margin-bottom: 32px;
    margin-top: 10px;
}

.spacing-YMH87Q {
    margin: 0;
}

.overrideList-1mnGiL {

    .flex-2S1XBF:has(>.header-2BMCBr) {
        padding-top: 8px;
        padding-left: 8px;
    }

    .header-2BMCBr {
        margin-bottom: 0;
    }

    .headerName-3l1jaS {
        margin-left: 0;
    }

    .headerOption-34DUW8 {
        align-self: flex-end;
    }
}