.root_a28985 {
    .contentWrapper_f9bc93 {
        background: var(--modal-background);
        border-radius: 0;

        .guildIcon__51ec2 {
            background-color: var(--background-accent);
            box-shadow: 0 0 5px 0 #000000;
            margin-bottom: 15px;

            .icon__94164 {
                border-radius: 0;
            }
        }

        .title__2c816 {
            font-size: 22px;
            font-weight: 700;
            margin-top: 10px;
        }

        .activityCount__029c6 {
            margin-top: 10px;
        }

        .pillMessage_dbb0d4 {
            font-size: 14px;
            line-height: 18px;
        }

        .noThanksButton_bf1350 {
            width: 100%;
        }

        .button__581d0 {
            height: 34px;
            min-height: 34px;
            padding: 8px 14px;

            &.lookLink_a2da25 {
                background: var(--btn-grey);
                transition-property: background, box-shadow, color;
                transition-duration: .2s;
                transition-timing-function: ease-out;

                &:hover {
                    background: var(--btn-grey-hover);
                    color: #fff;
                    box-shadow: var(--btn-grey-boxshadow);
                }
            }
        }
    }
}
