.root_a28985 {
    .contentWrapper__85d37 {
        background: var(--modal-background);
        border-radius: 0;

        .guildIcon_c65171 {
            background-color: var(--background-accent);
            box-shadow: 0 0 5px 0 #000000;
            margin-bottom: 15px;

            .icon_c48348 {
                border-radius: 0;
            }
        }

        .title__0a681 {
            font-size: 22px;
            font-weight: 700;
            margin-top: 10px;
        }

        .activityCount__4b9d0 {
            margin-top: 10px;
        }

        .pillMessage__48334 {
            font-size: 14px;
            line-height: 18px;
        }

        .noThanksButton__67b42 {
            width: 100%;
        }

        .button_afdfd9 {
            height: 34px;
            min-height: 34px;
            padding: 8px 14px;

            &.lookLink__93965 {
                background: var(--btn-grey);
                transition-property: background, box-shadow, color;
                transition-duration: .2s;
                transition-timing-function: ease-out;

                &:hover {
                    background: var(--btn-grey-hover);
                    color: #fff;
                    box-shadow: var(--btn-grey-boxshadow);
                }
            }
        }
    }
}