#app-mount {
    .keyboardShortcutsModal__44538 {
        background: var(--modal-background);
    }

    .modalSubtitle_f39977 {
        border-bottom: none;
    }
}

.keyboardShortcutsModal__44538 {
    .modalTitle__3df11 {
        margin: 0;
        padding: 32px 32px 0 32px;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
    }

    .modalSubtitle_f39977 {
        padding: 0 32px 32px 32px;
        font-size: 14px;
        line-height: 18px;
        color: var(--header-secondary);
    }

    .keyboardShortcutList_a3e292 {
        column-count: unset;
        column-gap: unset;
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap);

        --gap: 20px;
        --columns: 3;
    }

    .keyboardShortcutListGroup_aec68f {
        background: var(--btn-grey);
        border-radius: 2px;
        padding: 8px 24px 10px 16px;
        margin: 0;
        height: fit-content;
        flex-grow: 1;
        width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    }

    .keybindGroup__00ce0 {
        [data-text-variant="heading-md/semibold"] {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .keybindGroupDescription__887a3 {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: var(--text-muted);
            margin: 0;
        }
    }

    .divider_d6f39c {
        display: none;
    }
}

#app-mount .key__6a8d9 {
    background: var(--btn-brand);
    border: none;
    padding: 3px 6px 4px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 var(--brand-experiment);
}

#app-mount .combo__57290 {
    color: var(--btn-brand-text);
    font-weight: 400;

    .key__6a8d9:active {
        height: unset;
        color: #fff;
        background: var(--btn-brand-hover);
    }
}
