.override_ca20c5 {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    background: none;
    transition: none;
    padding: 6px 0 6px 8px;
    height: 46px;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;

        .checkbox_fcf2ad {
            background-color: var(--background-accent-hover);
            transition: background .2s linear;
        }
    }

    .icon_f61ea0 {
        width: 16px;
    }

    .channelNameContainer_fb9a6f {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .channelName__4e10b {
        color: #fff;
        font-weight: 400;
        line-height: 20px;
    }

    .channelNameByline_a8d00d {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .checkboxMute__47021 {
        &::before {
            display: none;
        }
    }
}

#app-mount .override_ca20c5 {
    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    .checkboxContainer_d69195:before {
        background-color: var(--background-modifier-accent-dark);
    }
}

.button_e1ac5c {
    border-radius: 2px;
}
