.override_f2098b {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    background: none;
    transition: none;
    padding: 6px 0 6px 8px;
    height: 46px;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;

        .checkbox_c7f690 {
            background-color: var(--background-accent-hover);
            transition: background .2s linear;
        }
    }

    .icon__9a542 {
        width: 16px;
    }

    .channelNameContainer__2e09f {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .channelName_a1ccf5 {
        color: #fff;
        font-weight: 400;
        line-height: 20px;
    }

    .channelNameByline__574ef {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .checkboxMute__6e269 {
        &::before {
            display: none;
        }
    }
}

#app-mount .override_f2098b {
    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    .checkboxContainer__5a761:before {
        background-color: var(--background-modifier-accent-dark);
    }
}

.button__71a0f {
    border-radius: 2px;
}