.root-1CAIjD:has(.userProfileModalOuter-2wdWjU)::before {
    display: none;
}

.userProfileModalOuter-2wdWjU {

    &.profileColors-2AgAV4 {
        --profile-gradient-secondary-color: var(--background-dark-4);
        --profile-gradient-primary-color: var(--background-dark-2);
    }

    .topSection-13QKHs {
        position: relative;
        margin-bottom: 0;
        z-index: unset;
        box-sizing: border-box;
        width: 100%;

        header {
            
        }
    }

    .header-S26rhB {
        position: absolute;
        bottom: calc(calc(120px + 24px) * -1);
        left: 0;
        padding: 0 24px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 2;

        .avatar-3QF_VA {
            position: relative;
            inset: unset;
            display: flex;
        }

        .headerTop-1PNKck {
            position: relative;
            inset: unset;
            width: 200px;
            flex-flow: column wrap;
        }
    }

    .badgeList-2aoHPw {
        display: flex;
        flex-flow: row wrap;
        background: var(--background-dark-3);
        border-radius: 3px;
        padding: 10px;
        box-shadow: none;
        width: fit-content;
        box-sizing: border-box;
        margin-right: 0;
        gap: 6px 10px;
    }

    .relationshipButtons-3ByBpj {
        width: 100%;
        gap: 4px;
        margin-top: 12px;

        button {
            box-shadow: none;
            background: var(--background-dark-3);
            color: var(--gpColor-Green);

            &:hover {
                color: #fff;
                background: var(--gpColor-Green);
            }
        }

        [role="button"] {
            background: var(--background-dark-3);
            height: 34px;
            width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            svg {
                height: 18px;
                width: 18px;
                margin: 0;
                padding: 8px;
                rotate: 90deg;
            }
        }
    }

    .body-1Ukv50 {
        padding-top: calc(120px + 48px);
        position: relative;
    }

    .container-3g15px {
        position: absolute;
        top: 24px;
        left: 0;
        padding: 0 calc(24px + 200px + 16px) 0 calc(24px + 120px + 16px);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;


        [data-text-variant="text-lg/semibold"] {
            font-size: 24px;
            line-height: 40px;
            font-weight: 200;
            color: #fff;
            margin-right: 0 !important;
            overflow: hidden;
        }
    }

    .userProfileModalInner-3dx9L9 {
        overflow: hidden overlay;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-color: transparent;
            background-color: transparent;
            border: 2px solid transparent;
            margin-top: 212px;
        }

        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            border: 2px solid transparent;
            border-radius: 4px;
            background-color: var(--scroller-color);
            min-height: 40px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .overlayBackground-2aa7wt,
    .body-1Ukv50 {
        overflow: visible;
    }

    &.userProfileOuterUnthemed-11rPfA {
        .bannerSVGWrapper-2CLfzN {
            position: absolute;
            inset: 0;
            z-index: 0;
        }

        .overlayBackground-2aa7wt {
            margin-top: 0;
        }

    }

    .top-Ktfr_T {
        &:has(.item-2GWPIy:nth-child(1):last-child) {
            --btn-count: 1;
        }

        &:has(.item-2GWPIy:nth-child(2):last-child) {
            --btn-count: 2;
        }

        &:has(.item-2GWPIy:nth-child(3):last-child) {
            --btn-count: 3;
        }

        &:has(.item-2GWPIy:nth-child(4):last-child) {
            --btn-count: 4;
        }

        &:has(.item-2GWPIy:nth-child(5):last-child) {
            --btn-count: 5;
        }

        padding: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        border-bottom: none;

        .item-2GWPIy {
            background: none;
            margin: 0;
            display: flex;
            flex: 0 1 calc(100% / var(--btn-count));
            justify-content: center;

            &:not(.selected-1sf9UK):hover {
                color: var(--interactive-hover);
            }

            border-bottom: none;
            height: unset;
            padding: 8px 14px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            position: absolute;
            height: 4px;
            bottom: 0;
            width: calc(100% / var(--btn-count));
            background: var(--profile-gradient-secondary-color);
            transition: translate .2s ease;
        }

        &:has(.selected-1sf9UK:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected-1sf9UK:nth-child(3)):before {
            translate: 200%;
        }

        &:has(.selected-1sf9UK:nth-child(4)):before {
            translate: 300%;
        }

        &:has(.selected-1sf9UK:nth-child(5)):before {
            translate: 400%;
        }
    }

    .scrollerBase-1Pkza4 {
        overflow: hidden overlay !important;
        padding: 0 !important;
        margin: 16px 12px 12px 12px;
    }

    .userInfoText-2MFCmH {
        margin-bottom: 0;
    }

    .userInfoSection-2u2hir {
        padding: 0;

        h1 {
            background: linear-gradient(90deg, var(--profile-gradient-secondary-color) 0%, var(--profile-gradient-primary-color) 90%);
            padding: 5px 10px 5px 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 200;
            line-height: 30px;
            border-radius: 3px 3px 0 0;
            margin-bottom: 0;
            user-select: text;

            +div {
                background: var(--background-dark-3);
                border-radius: 0 0 3px 3px;
                padding: 20px 10px 11px 10px;
                margin-bottom: 12px;
            }
        }
    }

    .note-3M15gE {
        margin: 0 0 12px 0;
    }

    .userInfoText-2MFCmH [data-text-variant="text-sm/normal"] {
        background: var(--background-dark-3);
        padding: 8px;
        border-radius: 5px;
    }

    .tabBarContainer-sCZC4w {
        border-bottom: 0;
        margin: 0 12px;
    }

    &:has(.connectedAccountsColumn-1zdyyx) {
        .infoScroller-1QMpon {
            flex-flow: row wrap;
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-gap: 12px;
            grid-template-areas:
                "info accounts"
                "hidden hidden"
        }
    }

    .userInfoSection-2u2hir+.userInfoSection-2u2hir {
        border-top: none;
    }

    .memberSinceContainer-2CBD23 {

        .userInfoText-2MFCmH {
            font-size: 34px;
            line-height: 38px;
            font-weight: 200;
            color: #fff;
            background: var(--background-dark-3);
            padding: 8px;
            border-radius: 5px;
            width: 100%;
            user-select: text;
        }
    }

    .infoScroller-1QMpon {

        .userInfoSection-2u2hir:not(.connectedAccounts-2R5M4w) {
            grid-area: info;
        }

        .connectedAccounts-2R5M4w {
            grid-area: accounts;
            flex-direction: column;
            background: var(--background-dark-3);
            border-radius: 3px;
            padding: 10px;
            height: fit-content;
            box-sizing: border-box;
        }

        >[aria-hidden="true"] {
            grid-area: hidden;
        }
    }

    .connectedAccountsColumn-1zdyyx {
        width: 100%;

        +.connectedAccountsColumn-1zdyyx {
            margin-left: 0;
        }
    }

    .connectedAccountContainer-3aLMHJ {
        margin: 0 0 4px 0;
        padding: 4px 0 4px 4px;
        border-radius: 0;
        border: none;
        min-height: 36px;
        position: relative;
    }

    .connectedAccount-1oLIrm {
        gap: 7px;
    }

    .connectedAccountIcon-3FdW8x {
        height: 34px;
        width: 34px;
    }

    .connectedAccountNameText-tCbPXH {
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }

    .connectedAccountChildren-29Qmfl {
        margin-left: calc(34px + 7px);
    }

    .connectedAccountVerifiedIcon-3EPFPC {
        display: none;
    }

    .anchor-1X4H4q:has(.connectedAccountOpenIcon-3i81Tz) {
        &:hover {
            background: var(--btn-brand-hover-gradient);
            border-radius: 2px;

            svg {
                color: #fff;
            }
        }

        svg {
            color: var(--btn-brand-text);
            height: 18px;
            width: 18px;
        }
    }

    .listScroller-entkMk {
        display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 7px;
        background: var(--background-dark-3);
        border-radius: 3px;
        padding: 20px 10px 11px 10px !important;
        width: calc(100% - 12px - 10px);
    }

    .listRow-2nO1T6 {
        background: var(--background-dark-3);
        padding: 8px;
        border-radius: 5px;
        margin: 0;
        height: fit-content;
    }

    .listName-PwbeHL {
        font-size: 14px;
        line-height: 18px;
    }

    .guildNick-fe8oPN {
        font-size: 13px;
        line-height: 17px;
    }

    .userProfileActivity-sal5no {
        grid-column: span 2;
        background: var(--background-dark-3);
        padding: 8px;
        border-radius: 5px;
    }

    .empty-2zcusz {
        grid-column: span 2;
    }
}

.assetsLargeImage-8U5dlz,
.iconActiveMedium-27_R5B {
    border-radius: 0;
}