.quickswitcher_a3d29a {
    border-radius: 0;
    padding: 32px;
    box-shadow: none;
    background: var(--modal-background);

    .content_ad5076:has(.header_a2a437) {
        padding: 0;
        height: unset;
        line-height: unset;
    }

    .header_a2a437 {
        color: var(--text-muted);
        font-size: 14px;
        letter-spacing: .5px;
        line-height: 36px;
        margin: 0;
    }

    .scroller__52ae7 {
        z-index: 0;
        margin-top: 24px;
        background: none;
        --background-secondary-alt: transparent;

        &:-webkit-scrollbar {
            background: none;
        }
    }

    .result__25f11 {
        font-size: 14px;
        font-weight: 400;

        &[aria-selected=true] {
            background: var(--btn-grey-hover);
            border-radius: 2px;

            .contentDefault_f2e62d {
                color: #fff;
            }
        }
    }
}