.messagePreviewContainer-1oR1Oc {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
}

.childButton-3o_dlg {
    border-radius: 2px;
    background: var(--btn-grey);
    margin-bottom: 10px;
    transition-property: background, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    --text-normal: #dfe3e6;

    &:hover {
        background: var(--btn-grey-hover);
        box-shadow: var(--btn-grey-boxshadow);
        --text-normal: #fff;
    }

    .text-md-semibold-2VMhBr {
        font-weight: 400;
    }

    svg {
        color: var(--brand-experiment);
    }
}