.art-1TvEXv {
    margin: 0;
    width: 140px;
    position: absolute;
    top: 32px;
    right: 32px;
}

.header-1ffhsl {
    .header-12ZEIU {
        display: flex;
        align-items: flex-start;

        .headerText-27nUQU {
            margin-bottom: 0;
        }

        .headerDescription-yFPU-Q {
            padding: 0 140px 0 0;
            text-align: left;
            font-size: 14px;
        line-height: 18px;
        --text-normal: var(--header-secondary);
        }
    }
}

.segmentContainer-358IfE {
    padding: 0 32px;
}

.segmentControl-3edJKN {
    --btn-count: 2;
    background: #202226;
    border-radius: 2px;
    padding: 0;
    gap: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: inset 0 1px 1px 0px #000a;
    border-bottom: none;
}

.segmentControl-3edJKN .segmentControlOption-3MnJdT {
    background: none;
    margin: 0;
    display: flex;
    flex: 0 1 calc(100% / var(--btn-count));
    justify-content: center;
    z-index: 1;

    &:not(.tabItemSelected-Z0xl-W):hover {
        background: hsla(222, 10%, 26%, 0.5);
    }

    border-bottom: none;
    padding: 8px 14px;

    [data-text-variant="text-sm/medium"] {
        font-weight: 400;
    }
}

.segmentControl-3edJKN {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% / var(--btn-count));
        background: #464d58;
        transition: translate .2s ease;
        border-radius: 2px;
    }

    &:has(.tabItemSelected-Z0xl-W:nth-child(2)):before {
        translate: 100%;
    }
}

.sourceContainer-1uqUbz {
    padding: 0 calc(32px - 8px) 0 32px;
    gap: 10px;
}

.tile-3POX2m {
    background: hsla(222, 10%, 26%, 0.5);
    padding: 6px;
    flex: 0 1 calc(50% - 5px) !important;
}