.art-1TvEXv {
    margin: 0;
    width: 140px;
    position: absolute;
    top: 32px;
    right: 32px;
}

.header-1ffhsl {
    .header-12ZEIU {
        display: flex;
        align-items: flex-start;

        .headerText-27nUQU {
            margin-bottom: 0;
        }

        .headerDescription-yFPU-Q {
            padding: 0 140px 0 0;
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            --text-normal: var(--header-secondary);
        }
    }
}

.segmentContainer-358IfE {
    padding: 0 32px;
}

.segmentControl-3edJKN {
    --btn-count: 2;
    background: #202226;
    border-radius: 2px;
    padding: 0;
    gap: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: inset 0 1px 1px 0px #000a;
    border-bottom: none;
}

.segmentControl-3edJKN .segmentControlOption-3MnJdT {
    background: none;
    margin: 0;
    display: flex;
    flex: 0 1 calc(100% / var(--btn-count));
    justify-content: center;
    z-index: 1;

    &:not(.tabItemSelected-Z0xl-W):hover {
        background: var(--btn-grey);
    }

    border-bottom: none;
    padding: 8px 14px;

    [data-text-variant="text-sm/medium"] {
        font-weight: 400;
    }
}

.segmentControl-3edJKN {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% / var(--btn-count));
        background: var(--btn-grey-hover);
        transition: translate .2s ease;
        border-radius: 2px;
    }

    &:has(.tabItemSelected-Z0xl-W:nth-child(2)):before {
        translate: 100%;
    }
}

.sourceContainer-1uqUbz {
    padding: 10px calc(32px - 8px) 0 32px;
    gap: 10px;
}

.tile-3POX2m {
    background: var(--btn-grey);
    padding: 6px;
    border-radius: 2px;
    flex: 0 1 calc(50% - 5px) !important;
    max-width: calc(50% - 5px);
    transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:hover {
        background: var(--btn-grey-hover);
        box-shadow: var(--btn-grey-boxshadow);
    }

    .sourceThumbnail-ERDcZE {
        border-radius: 2px;
        box-shadow: inset 0 0 0 1px transparent;
    }

    .sourceName-3Wf8QG {
        margin-top: 10px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: var(--header-secondary);
    }
}

.modalSize-3WSXDU:has(.modalContent-2y3sGW) {
    form {
        height: 100%;

        >[style^="position: relative;"] {
            height: calc(100% - 94px - 98px) !important;

            >[style^="position: absolute;"] {
                position: relative !important;
                top: unset !important;
                left: unset !important;
                right: unset !important;
                transform: none !important;
                width: 100% !important;
                height: 100%;
            }

            .modalSize-3WSXDU {
                width: 100%;
                height: 100%;
                overflow: hidden overlay;
                padding: 0 32px;
                box-sizing: border-box;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    border-color: transparent;
                    background-color: transparent;
                    border: 2px solid transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-clip: padding-box;
                    border: 2px solid transparent;
                    border-radius: 4px;
                    background-color: var(--scroller-color);
                    min-height: 40px;
                }

                &::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
            }
        }
    }
}

.modalContent-2y3sGW {
    padding: 0 0;
}

.warning-1ALdC6 {
    padding: 10px 0 0 0;
}

.warningIcon-3vNf04 {
    color: #ffc82c;
}

.qualitySettingsContainer-2LjkfM {
    border: none;
    border-radius: 0;
    padding: 0;

    .settingsGroup-VNJxZ8:nth-child(1) {
        --btn-count: 4;
    }

    .settingsGroup-VNJxZ8:nth-child(2) {
        --btn-count: 3;
    }
    .settingsGroup-VNJxZ8 {
        [role="group"].group-1_ptLP {
            background: #202226;
            border-radius: 2px;
            padding: 0;
            gap: 0;
            display: flex;
            flex-direction: row;
            position: relative;
            box-shadow: inset 0 1px 1px 0px #000a;
            border-bottom: none;

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: calc(100% / var(--btn-count));
                background: var(--btn-grey-hover);
                transition: translate .2s ease;
                border-radius: 2px;
            }
        
            &:has(.selectorButtonSelected-3cQUnj:nth-child(2)):before {
                translate: 100%;
            }

            &:has(.selectorButtonSelected-3cQUnj:nth-child(3)):before {
                translate: 100%;
            }

            .item-2OyinQ {
                background: none;
                margin: 0;
                display: flex;
                flex: 0 1 calc(100% / var(--btn-count));
                justify-content: center;
                z-index: 1;
            
                &:not(.selectorButtonSelected-3cQUnj):hover {
                    background: var(--btn-grey);
                }
            
                border-bottom: none;
                padding: 8px 14px;
            
                [data-text-variant="text-sm/medium"] {
                    font-weight: 400;
                }
            }
        }
    }
}

#app-mount .qualitySettingsContainer-2LjkfM {
    .item-2OyinQ {
        border: none;
    }
}

.upsellBanner-1tVKtW {
    margin-top: 10px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}