@use "../modals/generic";

.paymentModalContent {
    .scroller-2M3eAB {
        height: 100%;
        padding: 0 32px 16px 32px !important;
        overflow: hidden overlay !important;
    }
}
.perks-2IIbWQ {
    background: none;
    border-radius: 0;

    .perkRow-10K6XE {
        padding: 8px 24px 10px 16px;
        margin: 0;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .perkDescription-3e1T_w {
        font-weight: 400;
    }
}

#app-mount .root__6d24f {
    background: var(--modal-background) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 0.5px solid black;

    @include generic.modalTopBar;

    .innerWrapper__8cde3 {
        background-image: linear-gradient(45deg, var(--guild-boosting-blue), var(--guild-boosting-purple));
        border-radius: 4px;
        box-shadow: var(--banner-shadow);
        margin-bottom: 12px;
        padding: 16px;
        width: unset;
        max-width: 438px;

        &::before {
            display: none;
        }

        .iconSizeLarger__57b8e {
            height: 48px;
            width: 48px;
            border-radius: 2px;
        }
    }

    .headerWave_e4fdee {
        display: none;
    }

    .display-lg__30a2f {
        font-size: 34px;
        line-height: 38px;
    }

    .headerContentWrapper__30c3e {
        padding: 4em 5em;
    }

    .tierCards__109a2 {
        gap: 20px;

        .tierCard_f6953a {
            width: calc(100% / 3 - 20px);
            border-radius: 3px;
            padding: 20px;

            &:has(.tierCardCurrentTier_df8c32) {
                --guild-boosting-blue-hsl: 85 calc(var(--saturation-factor, 1)*45%) 45.5%;
                --guild-boosting-purple-hsl: 87 calc(var(--saturation-factor, 1)*45%) 32.5%;
                --guild-boosting-blue: hsl(var(--guild-boosting-blue-hsl)/1);
                --guild-boosting-purple: hsl(var(--guild-boosting-purple-hsl)/1);
                background-image: linear-gradient(45deg, var(--guild-boosting-blue), var(--guild-boosting-purple));
            }

            .tierCardCurrentTier_df8c32 {
                border-radius: 2px;
            }

            .tierCardHeading_aa6988 {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 20px;
                line-height: 24px;
            }

            .tierCardBoostRequirement__2ae47 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
            }

            .tierCardListIcon_c601ae {
                height: 18px;
                width: 18px;
            }

            .tierCardListItem_c78d02 {
                font-size: 12px;
                line-height: 16px;
            }

            .tierCardSparkle3__36e56 {
                display: none;
            }

            .tierCardBorderHighlight__9ca79 {
                border-radius: 3px;
            }
        }
    }

    .scroller__439a2 {
        overflow-y: overlay !important;
        background: #000;
    }

    .middleBodyContentWrapper_fdfda8 {
        padding: 4em 0;
        background: #fff;
        --header-primary: #1b1b1b;
        --header-secondary: #1b1b1b;
    }

    .topPerksCards_aa1faf {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
    }

    .topPerksCard__9fc01 {
        background: none;
        border-radius: 0;
        margin-bottom: 20px;
        min-width: 100%;
        max-width: 100%;
        padding: 0;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "image heading heading"
            "image empty empty";

        &:nth-child(2) {
            grid-template-areas:
                "heading heading image"
                "empty empty image";

            img {
                margin: 0 auto 0 0;
            }

            .topPerksCardHeading__27bed,
            .topPerksCardDescription_d09380 {
                text-align: right;
            }
        }

        img {
            object-fit: scale-down;
            margin: 0 0 0 auto;
            grid-area: image;
        }

        .topPerksCardHeading__27bed {
            grid-area: heading;
            text-align: left;
            align-self: end;
            font-size: 18px;
            line-height: 22px;
            font-weight: 900;
        }

        .topPerksCardDescription_d09380 {
            grid-area: empty;
            text-align: left;
            font-weight: 600;
        }
    }

    .tierComparisonTable_b4d962 {
        padding: 4em 32px;
        max-width: calc(100% - 64px);
    }

    .lowerBodyContentWrapper__3be85 {
        padding: 0;
    }
}