.root_a28985 {

    .guildSidebar__74787 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: var(--background-tertiary);
        padding: 32px;

        .guildIcon__3cd2e {
            border-radius: 2px;
        }
    }

    .modal_b38209 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: var(--modal-background);
    }
}

.root_a28985:has(.modal_b38209 .requirementContainer__84d8e) {
    .content__9b52d {
        padding-left: 0;
        padding-right: 0;
    }

    .animationAndSparklesContainer_d2a9ed {
        position: absolute;
        right: 0;
        top: 16px;
    }

    .header_c78725 {
        margin: 0 100px 0 0;
        text-align: left;
        font-size: 22px;
            font-weight: 700;
            line-height: 24px;
    }

    .subheader__4e007 {
        margin: 0 100px 32px 0;
        text-align: left;
    }
    
    .divider_e4bcab {
        margin: 10px 0;
    }

    .requirementContainer__84d8e {
        margin-top: 0;
        border: none;
        padding: 8px 14px;
        background: var(--btn-grey);
        border-radius: 2px;

        .sizeSmall_da7d10 {
            padding: 0;
        }
    }
}

.termsRow__8e6aa {
    
    [style="color: var(--text-muted);"] {
        --text-muted: var(--brand-experiment);
        font-weight: 700;
        font-size: 18px;
    }
}

.termsRowContent__605ae[data-text-variant="text-md/normal"] {
    font-size: 14px;
    font-weight: 400;
}

.fieldBackground__4007e,
.fieldBackground__4007e:hover:not(:focus) {
    background: var(--btn-grey);
    border: none;
    border-radius: 2px;
}

.fieldBackground__4007e {
    padding: 8px 14px;
}
