.root_a28985 {
    .content_b28aab.modalContent__09b12 {
        padding-left: 0;
    }

    .sidebarContainer__6f8e5 {
        width: 256px;
        padding: 32px;
        background: var(--background-tertiary);

        .iconContainer__00402 {
            border-radius: 2px;
        }
    }
    
    .contentContainer_cb98b1 {
        background: var(--modal-background);
        align-items: start;

        .header__815d5 {
            margin-right: 140px;
            margin-bottom: 0;
            text-align: left;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
        }

        .descriptionWidth_f3d169 {
            width: 100%;
            box-sizing: border-box;
            padding: 0 140px 32px 0;
            margin: 0;

            .centerText__719bd {
                text-align: left;
            }
        }

        .container__7a111 {
            padding: 32px;
        }
    
        .topImage_d2f2ec {
            position: absolute;
            top: 0;
            right: 32px;
            width: 140px;
        }
    }
}
