.root_a28985:has(.linkCalloutContainer-1CixBe) {
    .title-1xObkH {
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: left;
    }

    .warningText-26ASyQ {
        text-align: left;
        margin-bottom: 10px;
    }

    .linkCalloutContainer-1CixBe {
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .checkbox-1O3Aey {
        margin-bottom: 0;
    }
}