.root_f9a4c9:has([class*="linkCalloutContainer"]) {
    [class*="title"] {
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: left;
    }

    [class*="warningText"] {
        text-align: left;
        margin-bottom: 10px;
    }

    [class*="linkCalloutContainer"] {
        margin-bottom: 10px;
        border-radius: 3px;
    }

    [class*="checkbox"] {
        margin-bottom: 0;
    }
}