.root_a28985:has(.userProfileModalOuter__3fe6b)::before {
    display: none;
}

.userProfileModalOuter__3fe6b {
    
    &.profileColors__2e2f0 {
        --profile-gradient-secondary-color: rgb(0 0 0/.4);
        --profile-gradient-primary-color: rgb(0 0 0/.2);
    }

    .topSection_dfb73b {
        position: relative;
        margin-bottom: 0;
        z-index: unset;
        box-sizing: border-box;
        width: 100%;
    }

    .header__7da4f {
        position: absolute;
        bottom: calc(calc(120px + 24px) * -1);
        left: 0;
        padding: 0 24px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 2;

        .avatar__445f3 {
            position: relative;
            inset: unset;
            display: flex;
        }

        .headerTop__6628b {
            position: relative;
            inset: unset;
            width: 200px;
            flex-flow: column wrap;
        }
    }

    .badgeList_c193e3 {
        display: flex;
        flex-flow: row wrap;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 10px;
        box-shadow: none;
        width: fit-content;
        box-sizing: border-box;
        margin-right: 0;
        gap: 6px 10px;
    }

    .relationshipButtons__5efdd {
        width: 100%;
        gap: 4px;
        margin-top: 12px;

        button {
            box-shadow: none;
            background: rgb(0 0 0/.3);
            color: var(--gpColor-Green);

            &:hover {
                color: #fff;
                background: var(--gpColor-Green);
            }
        }

        [role="button"] {
            background: rgb(0 0 0/.3);
            height: 34px;
            width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            svg {
                height: 18px;
                width: 18px;
                margin: 0;
                padding: 8px;
                rotate: 90deg;
            }
        }
    }

    .body_ea740e {
        padding-top: calc(120px + 48px);
        position: relative;
    }

    .container_b6b15b {
        position: absolute;
        top: 24px;
        left: 0;
        padding: 0 calc(24px + 200px + 16px) 0 calc(24px + 120px + 16px);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;


        [data-text-variant="text-lg/semibold"] {
            font-size: 24px;
            line-height: 40px;
            font-weight: 200;
            color: #fff;
            margin-right: 0 !important;
            overflow: hidden;
        }
    }

    .userProfileModalInner__7c87d {
        overflow: hidden overlay;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-color: transparent;
            background-color: transparent;
            border: 2px solid transparent;
            margin-top: 212px;
        }

        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            border: 2px solid transparent;
            border-radius: 4px;
            background-color: var(--scroller-color);
            min-height: 40px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .overlayBackground__86b78,
    .body_ea740e {
        overflow: visible;
    }

    &.userProfileOuterUnthemed__48723 {
        .bannerSVGWrapper__3e7b0 {
            position: absolute;
            inset: 0;
        }

        .pencilContainer_d4ce8d {
            display: none;
        }

        .overlayBackground__86b78 {
            margin-top: 0;
        }

    }

    .top__592a7 {
        &:has(.item__48dda:nth-child(1):last-child) {
            --btn-count: 1;
        }

        &:has(.item__48dda:nth-child(2):last-child) {
            --btn-count: 2;
        }

        &:has(.item__48dda:nth-child(3):last-child) {
            --btn-count: 3;
        }

        &:has(.item__48dda:nth-child(4):last-child) {
            --btn-count: 4;
        }

        &:has(.item__48dda:nth-child(5):last-child) {
            --btn-count: 5;
        }

        padding: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        border-bottom: none;

        .item__48dda {
            background: none;
            margin: 0;
            display: flex;
            flex: 0 1 calc(100% / var(--btn-count));
            justify-content: center;

            &:not(.selected__5711d):hover {
                color: var(--interactive-hover);
            }

            border-bottom: none;
            height: unset;
            padding: 8px 14px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            position: absolute;
            height: 4px;
            bottom: 0;
            width: calc(100% / var(--btn-count));
            background: var(--profile-gradient-secondary-color);
            transition: translate .2s ease;
        }

        &:has(.selected__5711d:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected__5711d:nth-child(3)):before {
            translate: 200%;
        }

        &:has(.selected__5711d:nth-child(4)):before {
            translate: 300%;
        }

        &:has(.selected__5711d:nth-child(5)):before {
            translate: 400%;
        }
    }

    .scrollerBase_dc3aa9 {
        overflow: hidden overlay !important;
        padding: 0 !important;
        margin: 16px 12px 12px 12px;
    }

    .userInfoText__5f822 {
        margin-bottom: 0;

        .lineClamp2Plus_d4306b {
            -webkit-line-clamp: 20 !important;
        }
    }

    .userInfoSection__1daf8 {
        padding: 0;

        h1 {
            background: linear-gradient(90deg, var(--profile-gradient-secondary-color) 0%, var(--profile-gradient-primary-color) 90%);
            padding: 5px 10px 5px 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 200;
            line-height: 30px;
            border-radius: 3px 3px 0 0;
            margin-bottom: 0;
            user-select: text;

            +div {
                background: rgb(0 0 0/.3);
                border-radius: 0 0 3px 3px;
                padding: 20px 10px 11px 10px;
                margin-bottom: 12px;
            }
        }
    }

    .note__7a4f4 {
        margin: 0 0 12px 0;
    }

    .userInfoText__5f822 [data-text-variant="text-sm/normal"] {
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
    }

    .tabBarContainer__63f55 {
        border-bottom: 0;
        margin: 0 12px;
    }

    &:has(.connectedAccountsColumn_fd2c41) {
        .infoScroller__6ec79 {
            flex-flow: row wrap;
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-gap: 12px;
            grid-template-areas:
                "info accounts"
                "hidden hidden"
        }
    }

    .userInfoSection__1daf8+.userInfoSection__1daf8 {
        border-top: none;
    }

    .memberSinceContainer__0a28b {

        .userInfoText__5f822 {
            font-size: 34px;
            line-height: 38px;
            font-weight: 200;
            color: #fff;
            background: rgb(0 0 0/.3);
            padding: 8px;
            border-radius: 5px;
            width: 100%;
            user-select: text;
        }
    }

    .infoScroller__6ec79 {

        .userInfoSection__1daf8:not(.connectedAccounts_dc0a56) {
            grid-area: info;
        }

        .connectedAccounts_dc0a56 {
            grid-area: accounts;
            flex-direction: column;
            background: rgb(0 0 0/.3);
            border-radius: 3px;
            padding: 10px;
            height: fit-content;
            box-sizing: border-box;
        }

        >[aria-hidden="true"] {
            grid-area: hidden;
        }
    }

    .connectedAccountsColumn_fd2c41 {
        width: 100%;

        +.connectedAccountsColumn_fd2c41 {
            margin-left: 0;
        }
    }

    .connectedAccountContainer__23f00 {
        margin: 0 0 4px 0;
        padding: 4px 0 4px 4px;
        border-radius: 0;
        border: none;
        min-height: 36px;
        position: relative;
    }

    .connectedAccount__28fb0 {
        gap: 7px;
    }

    .connectedAccountIcon__6bc30 {
        height: 34px;
        width: 34px;
    }

    .connectedAccountNameText__00810 {
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }

    .connectedAccountChildren__21b60 {
        margin-left: calc(34px + 7px);
    }

    .connectedAccountVerifiedIcon_db6dbd {
        display: none;
    }

    .anchor_c8ddc0:has(.connectedAccountOpenIcon_df549d) {
        &:hover {
            background: var(--btn-brand-hover);
            border-radius: 2px;

            svg {
                color: #fff;
            }
        }

        svg {
            color: var(--btn-brand-text);
            height: 18px;
            width: 18px;
        }
    }

    .listScroller__92e1a {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 7px;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 20px 10px 11px 10px !important;
        width: calc(100% - 12px - 10px);
    }

    .listRow__60937 {
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
        margin: 0;
        height: fit-content;
    }

    .listName_dbd44a {
        font-size: 14px;
        line-height: 18px;
    }

    .guildNick__01069 {
        font-size: 13px;
        line-height: 17px;
    }

    .userProfileActivity__68b33 {
        grid-column: span 2;
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
    }

    .empty__18e40 {
        grid-column: span 2;
    }
}

.assetsLargeImage_b88a59,
.iconActiveMedium_d5475f {
    border-radius: 0;
}