.root_f9a4c9:has(.userProfileModalOuter_c69a7b)::before {
    display: none;
}

.userProfileModalOuter_c69a7b {
    
    &.profileColors_ac6ab4 {
        --profile-gradient-secondary-color: rgb(0 0 0/.4);
        --profile-gradient-primary-color: rgb(0 0 0/.2);
    }

    .topSection_b9fccc {
        position: relative;
        margin-bottom: 0;
        z-index: unset;
        box-sizing: border-box;
        width: 100%;
    }

    .header_ec3b75 {
        position: absolute;
        bottom: calc(calc(120px + 24px) * -1);
        left: 0;
        padding: 0 24px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 2;

        .avatar_ec3b75 {
            position: relative;
            inset: unset;
            display: flex;
        }

        .headerTop_ec3b75 {
            position: relative;
            inset: unset;
            width: 200px;
            flex-flow: column wrap;
        }
    }

    .badgeList_ec3b75 {
        display: flex;
        flex-flow: row wrap;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 10px;
        box-shadow: none;
        width: fit-content;
        box-sizing: border-box;
        margin-right: 0;
        gap: 6px 10px;
    }

    .relationshipButtons_ec3b75 {
        width: 100%;
        gap: 4px;
        margin-top: 12px;

        button {
            box-shadow: none;
            background: rgb(0 0 0/.3);
            color: var(--gpColor-Green);

            &:hover {
                color: #fff;
                background: var(--gpColor-Green);
            }
        }

        [role="button"] {
            background: rgb(0 0 0/.3);
            height: 34px;
            width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            svg {
                height: 18px;
                width: 18px;
                margin: 0;
                padding: 8px;
                rotate: 90deg;
            }
        }
    }

    .body_b9fccc {
        padding-top: calc(120px + 48px);
        position: relative;
    }

    .container_afed89 {
        position: absolute;
        top: 24px;
        left: 0;
        padding: 0 calc(24px + 200px + 16px) 0 calc(24px + 120px + 16px);
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;


        [data-text-variant="text-lg/semibold"] {
            font-size: 24px;
            line-height: 40px;
            font-weight: 200;
            color: #fff;
            margin-right: 0 !important;
            overflow: hidden;
        }
    }

    .userProfileModalInner_c69a7b {
        overflow: hidden overlay;
        box-sizing: border-box;
        max-height: calc(100vh - 84px);

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-color: transparent;
            background-color: transparent;
            border: 2px solid transparent;
            margin-top: 212px;
        }

        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            border: 2px solid transparent;
            border-radius: 4px;
            background-color: var(--scroller-color);
            min-height: 40px;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .overlayBackground_c69a7b,
    .body_b9fccc {
        overflow: visible;
    }

    &.userProfileOuterUnthemed_c69a7b {
        .bannerSVGWrapper_b32cc2 {
            position: absolute;
            inset: 0;
        }

        .pencilContainer_c3e427 {
            display: none;
        }

        .overlayBackground_c69a7b {
            margin-top: 0;
        }

    }

    .top_a0 {
        &:has(.item_a0:nth-child(1):last-child) {
            --btn-count: 1;
        }

        &:has(.item_a0:nth-child(2):last-child) {
            --btn-count: 2;
        }

        &:has(.item_a0:nth-child(3):last-child) {
            --btn-count: 3;
        }

        &:has(.item_a0:nth-child(4):last-child) {
            --btn-count: 4;
        }

        &:has(.item_a0:nth-child(5):last-child) {
            --btn-count: 5;
        }

        padding: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        border-bottom: none;

        .item_a0 {
            background: none;
            margin: 0;
            display: flex;
            flex: 0 1 calc(100% / var(--btn-count));
            justify-content: center;

            &:not(.selected_a0):hover {
                color: var(--interactive-hover);
            }

            border-bottom: none;
            height: unset;
            padding: 8px 14px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            position: absolute;
            height: 4px;
            bottom: 0;
            width: calc(100% / var(--btn-count));
            background: var(--profile-gradient-secondary-color);
            transition: translate .2s ease;
        }

        &:has(.selected_a0:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected_a0:nth-child(3)):before {
            translate: 200%;
        }

        &:has(.selected_a0:nth-child(4)):before {
            translate: 300%;
        }

        &:has(.selected_a0:nth-child(5)):before {
            translate: 400%;
        }
    }

    .scrollerBase_eed6a8 {
        overflow: hidden overlay !important;
        padding: 0 !important;
        margin: 16px 12px 12px 12px;
    }

    .userInfoText_a24910 {
        margin-bottom: 0;

        .lineClamp2Plus_d4306b {
            -webkit-line-clamp: 20 !important;
        }
    }

    .userInfoSection_a24910 {
        padding: 0;

        h1 {
            background: linear-gradient(90deg, var(--profile-gradient-secondary-color) 0%, var(--profile-gradient-primary-color) 90%);
            padding: 5px 10px 5px 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 200;
            line-height: 30px;
            border-radius: 3px 3px 0 0;
            margin-bottom: 0;
            user-select: text;

            +div {
                background: rgb(0 0 0/.3);
                border-radius: 0 0 3px 3px;
                padding: 20px 10px 11px 10px;
                margin-bottom: 12px;
            }
        }
    }

    .note_a24910 {
        margin: 0 0 12px 0;
    }

    .userInfoText_a24910 [data-text-variant="text-sm/normal"] {
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
    }

    .tabBarContainer_b9fccc {
        border-bottom: 0;
        margin: 0 12px;
    }

    &:has(.connectedAccountsColumn_f3eb60) {
        .infoScroller_a24910 {
            flex-flow: row wrap;
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-gap: 12px;
            grid-template-areas:
                "info accounts"
                "hidden hidden"
        }
    }

    .userInfoSection_a24910+.userInfoSection_a24910 {
        border-top: none;
    }

    .memberSinceContainer__16630 {

        .userInfoText_a24910 {
            font-size: 34px;
            line-height: 38px;
            font-weight: 200;
            color: #fff;
            background: rgb(0 0 0/.3);
            padding: 8px;
            border-radius: 5px;
            width: 100%;
            user-select: text;
        }
    }

    .infoScroller_a24910 {

        .userInfoSection_a24910:not(.connectedAccounts_f3eb60) {
            grid-area: info;
        }

        .connectedAccounts_f3eb60 {
            grid-area: accounts;
            flex-direction: column;
            background: rgb(0 0 0/.3);
            border-radius: 3px;
            padding: 10px;
            height: fit-content;
            box-sizing: border-box;
        }

        >[aria-hidden="true"] {
            grid-area: hidden;
        }
    }

    .connectedAccountsColumn_f3eb60 {
        width: 100%;

        +.connectedAccountsColumn_f3eb60 {
            margin-left: 0;
        }
    }

    .connectedAccountContainer_f3eb60 {
        margin: 0 0 4px 0;
        padding: 4px 0 4px 4px;
        border-radius: 0;
        border: none;
        min-height: 36px;
        position: relative;
    }

    .connectedAccount_f3eb60 {
        gap: 7px;
    }

    .connectedAccountIcon_f3eb60 {
        height: 34px;
        width: 34px;
    }

    .connectedAccountNameText_f3eb60 {
        font-size: 13px;
        line-height: 17px;
        font-weight: 400;
    }

    .connectedAccountChildren_f3eb60 {
        margin-left: calc(34px + 7px);
    }

    .connectedAccountVerifiedIcon_f3eb60 {
        display: none;
    }

    .anchor_af404b:has(.connectedAccountOpenIcon_f3eb60) {
        &:hover {
            background: var(--btn-brand-hover);
            border-radius: 2px;

            svg {
                color: #fff;
            }
        }

        svg {
            color: var(--btn-brand-text);
            height: 18px;
            width: 18px;
        }
    }

    .listScroller_e4be58 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 7px;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 20px 10px 11px 10px !important;
        width: calc(100% - 12px - 10px);
    }

    .listRow_e4be58 {
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
        margin: 0;
        height: fit-content;
    }

    .listName_e4be58 {
        font-size: 14px;
        line-height: 18px;
    }

    .guildNick_b26403 {
        font-size: 13px;
        line-height: 17px;
    }

    .userProfileActivity_fc39e7 {
        grid-column: span 2;
        background: rgb(0 0 0/.3);
        padding: 8px;
        border-radius: 5px;
    }

    .empty_e4be58 {
        grid-column: span 2;
    }
}

.assetsLargeImage_c1d9fd,
.iconActiveMedium_f11207 {
    border-radius: 0;
}
