.animatedContainer__341f6 {
    scale: 0.86;
    border-radius: 4px;
    z-index: 2;
    margin-bottom: 30px;

    &[style*="opacity: 0;"] {
        pointer-events: none;
    }
}

.bannerImage__39c51 {
    width: 210px;
}

.bannerImg_c85b7f {
    width: 210px !important;
}

.content__23cab>div[style="height: 84px;"]~.container__4f639 {

    .progressBarContainer__9b571 {
        position: absolute;
        top: -90px;
        left: 11px;
        width: 188px;
        height: 124px;
        margin: 0;
    }

    .progressBar_db0972 {
        height: 100%;
    }

    .textArea_f2029c {
        margin-top: 32px;
    }
}

.link__95dc0 {
    border-radius: 0;
}

.modeSelected__487d6 {

    &:hover .link__95dc0,
    .link__95dc0 {
        background: var(--channel-selected);
    }
}

.wrapper__7bcde:not(.modeSelected__487d6):hover .link__95dc0 {
    background: none;
}

.container-q97qHp {
    font-size: 14px;
    font-weight: 700;
    color: var(--channels-category);
}

.wrapper__9c483 {
    &:hover {
        .icon_ef4486 {
            color: var(--channels-category);
        }

        .name__590d6 {
            color: var(--channels-default-hover);
        }
    }

    &.muted_de6e6e:hover {
        .icon_ef4486 {
            color: var(--channels-category);
        }

        .name__590d6 {
            color: var(--channels-default-hover);
        }
    }
}

.name__8d1ec {
    font-size: 12px;
    font-weight: 700;
}

.modeMuted__0aeea:hover .name__8d1ec,
.wrapper__7bcde:not(.modeSelected__487d6):hover .name__8d1ec {
    color: var(--channels-default-hover);
}

.modeConnected__1c02e .name__8d1ec,
.modeConnected__1c02e:hover .name__8d1ec,
.modeSelected__487d6 .name__8d1ec,
.modeSelected__487d6:hover .name__8d1ec,
.modeUnread_f74c03 .name__8d1ec,
.modeUnread_f74c03:hover .name__8d1ec,
.notInteractive_a7d9fb.modeConnected__1c02e .name__8d1ec,
.notInteractive_a7d9fb.modeSelected__487d6 .name__8d1ec {
    font-weight: 700;
}

.icon_eff5d4 {
    width: 16px;
    height: 16px;
}

.iconContainer__3f9b0 {
    display: flex;
    align-self: center;
}

.wrapper__9c483:not(:hover) .arrow_cb03b8 {
    opacity: 0;
}

.spineBorder_bdec8b {
    background: var(--channels-category);
}

.spine__88e6d {
    color: var(--channels-category);
}

.unread__48cf4 {
    position: absolute;
    height: 16px;
    width: 2px;
    border-radius: 0;
    top: 50%;
    left: 2px;
    margin-top: -8px;
}

.listDefault__205d0 .clickable__137bc {
    &:hover {

        .content_b60865 {
            background: none;
        }

        .username__73ce9 {
            color: var(--channels-default-hover);
        }
    }

    &.selected__471ca .content_b60865 {
        background: var(--channel-selected);
    }
}


.content_b60865 {
    border-radius: 0;
}

.wrapper__5848b {
    line-height: 16px;
    font-weight: 700;
    height: 16px;
    border-radius: 2px;
    overflow: hidden;
    color: var(--channels-default);

    .users__65981 {
        width: 28px;
        background-color: var(--btn-brand);
    }
}