.animatedContainer-2laTjx {
    scale: 0.86;
    border-radius: 4px;
    z-index: 2;
    margin-bottom: 30px;

    &[style*="opacity: 0;"] {
        pointer-events: none;
    }
}

.bannerImage-ubW8K- {
    width: 210px;
}

.bannerImg-2PzH6z {
    width: 210px !important;
}

.content-yjf30S>div[style="height: 84px;"] ~ .container-2giAcK {

    .progressBarContainer-1efroK {
        position: absolute;
        top: -90px;
        left: 11px;
        width: 188px;
        height: 124px;
        margin: 0;
    }

    .progressBar-2yl2pi {
        height: 100%;
    }

    .textArea-7J7xQx {
        margin-top: 32px;
    }
}

.link-1_kTxV {
    border-radius: 0;
}

.modeSelected-3DmyhH {

    &:hover .link-1_kTxV,
    .link-1_kTxV {
        background: radial-gradient(circle at 0%, hsla(var(--accent-hue), 24%, 43%, 0) 20%, hsla(var(--accent-hue), 24%, 43%, 0.251) 100%);
    }
}

.wrapper-NhbLHG:not(.modeSelected-3DmyhH):hover .link-1_kTxV {
    background: none;
}

.container-q97qHp {
    font-size: 14px;
    font-weight: 700;
    color: var(--channels-category);
}

.wrapper-1S43wv {
    &:hover {
        .icon-3zI3d2 {
            color: var(--channels-category);
        }

        .name-3BUDLf {
            color: var(--brand-experiment-260);
        }
    }
    
    &.muted-19J0ih:hover {
        .icon-3zI3d2 {
            color: var(--channels-category);
        }

        .name-3BUDLf {
            color: var(--brand-experiment-260);
        }
    }
}

.name-28HaxV {
    font-size: 12px;
    font-weight: 700;
}

.modeMuted-2T4MDZ:hover .name-28HaxV,
.wrapper-NhbLHG:not(.modeSelected-3DmyhH):hover .name-28HaxV {
    color: var(--brand-experiment-260);
}

.modeConnected-NrO4cP .name-28HaxV,
.modeConnected-NrO4cP:hover .name-28HaxV,
.modeSelected-3DmyhH .name-28HaxV,
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeUnread-3Cxepe .name-28HaxV,
.modeUnread-3Cxepe:hover .name-28HaxV,
.notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV,
.notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
    font-weight: 700;
}

.icon-2W8DHg {
    width: 16px;
    height: 16px;
}

.iconContainer-21RCa3 {
    display: flex;
    align-self: center;
}

.wrapper-1S43wv:not(:hover) .arrow-2HswgU {
    opacity: 0;
}

.spineBorder-1-F4s1 {
    background: var(--channels-category);
}

.spine-29OFwR {
    color: var(--channels-category);
}

.unread-36eUEm {
    position: absolute;
    height: 16px;
    width: 2px;
    border-radius: 0;
    top: 50%;
    left: 2px;
    margin-top: -8px;
}