.sidebar-1tnWFu,
#app-mount .container-1NXEtd {
    background: none;
}

.sidebar-1tnWFu {
    width: 210px;
    margin-right: var(--app-gutter);
}

.bar-wDIGjg {
    background: #e5e5e5;
    box-shadow: 0 0 3px #000;
    padding: 0 6px;
    border-radius: 3px;
    opacity: 1;

    &:hover {
        background: var(--btn-dark-text);
        --interactive-normal: #fff;
    }
}

.mentionsBar-DpLHCy {
    --status-danger-text: #fff;
    background: var(--status-danger);

    &:hover {
        background: var(--status-danger);
    }
}

.barText-1eIsLx {
    text-transform: capitalize;
}

.numberBadge-37OJ3S {
    border-radius: 2px;
    min-width: unset;
    width: unset !important;
    padding-left: 4px;
    padding-right: 4px !important;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;

    .listItem-3SmSlK & {
        border-radius: 0;
    }
}