.sidebar_ded4b5,
#app-mount .container__590e2 {
    background: none;
}

.sidebar_ded4b5 {
    width: 210px;
    margin-right: var(--app-gutter);
}

.bar__004d9 {
    background: #e5e5e5;
    box-shadow: 0 0 3px #000;
    padding: 0 6px;
    border-radius: 3px;
    opacity: 1;

    &:hover {
        background: var(--btn-dark-text);
        --interactive-normal: #fff;
    }
}

.mentionsBar__4b47a {
    --status-danger-text: #fff;
    background: var(--status-danger);

    &:hover {
        background: var(--status-danger);
    }
}

.barText__1a44f {
    text-transform: capitalize;
}

.numberBadge__50328 {
    border-radius: 2px;
    min-width: unset;
    width: unset !important;
    padding-left: 4px;
    padding-right: 4px !important;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;

    .listItem_fa7b36 & {
        border-radius: 0;
    }
}