.sidebar_a4d4d9,
#app-mount .container_ee69e0 {
    background: none;
}

.sidebar_a4d4d9 {
    width: 210px;
    margin-right: var(--app-gutter);
}

.bar_eba0ba {
    background: #e5e5e5;
    box-shadow: 0 0 3px #000;
    padding: 0 6px;
    border-radius: 3px;
    opacity: 1;

    &:hover {
        background: var(--btn-dark-text);
        --interactive-normal: #fff;
    }
}

.mentionsBar_eba0ba {
    --status-danger-text: #fff;
    background: var(--status-danger);

    &:hover {
        background: var(--status-danger);
    }
}

.barText_eba0ba {
    text-transform: capitalize;
}

.numberBadge_df8943 {
    border-radius: 2px;
    min-width: unset;
    width: unset !important;
    padding-left: 4px;
    padding-right: 4px !important;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;

    .listItem_c96c45 & {
        border-radius: 0;
    }
}
