.privateChannels__93473 {
    background: none;
    padding-top: 16px;

    .searchBar_e4ea2a {
        height: unset;
        box-shadow: none;
    
        .searchBarComponent__22760 {
            height: unset;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: var(--btn-brand-text);
            background: var(--btn-brand);
    
            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }
        }
    }
    
    .scroller__4b984 {
        background: none;
    }
}

.channel_c21703 {
    border-radius: 0;
}

.interactive__776ee {

    &:focus-within,
    &:hover {
        color: var(--channels-default-hover);
        background: none;
    }

    &.selected_d94cf9 {
        color: var(--interactive-active);
        background: var(--channel-selected);
    }

    .highlighted__7bba7:hover {
        color: var(--channels-default-hover);
    }
}

#app-mount .name__02dbd {
    font-size: 12px;
    font-weight: 700;
}