.privateChannels-oVe7HL {
    background: none;
    padding-top: 16px;

    .searchBar-3TnChZ {
        height: unset;
        box-shadow: none;
    
        .searchBarComponent-3N7dCG {
            height: unset;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: var(--btn-brand-text);
            background: var(--btn-brand);
    
            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }
        }
    }
    
    .scroller-WSmht3 {
        background: none;
    }
}

.channel-1Shao0 {
    border-radius: 0;
}

.interactive-26HRN_ {

    &:focus-within,
    &:hover {
        color: var(--channels-default-hover);
        background: none;
    }

    &.selected-26oxtA {
        color: var(--interactive-active);
        background: var(--channel-selected);
    }

    .highlighted-Q8Nll-:hover {
        color: var(--channels-default-hover);
    }
}

#app-mount .name-2m3Cms {
    font-size: 12px;
    font-weight: 700;
}