.header-3OsQeK {
    position: fixed;
    top: 0;
    left: 76px;
    -webkit-app-region: drag;
    padding: 6px 4px 6px 10px;
    box-shadow: none;
    width: 189px;

    .platform-linux & {
        left: 9px;
    }

    .headerContent-2SNbie {
        -webkit-app-region: no-drag;
        width: fit-content;
    }

    .name-3Uvkvr {
        font-family: var(--font-display);
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .dropdownButton-1-5aBs {
        display: none;
    }
}

.clickable-vvKY2q .header-3OsQeK:hover,
.selected-1GtAC5 .header-3OsQeK {
    background-color: transparent;
}

#app-mount .clickable-vvKY2q .header-3OsQeK:hover .headerContent-2SNbie,
#app-mount .selected-1GtAC5 .header-3OsQeK .headerContent-2SNbie {
    color: var(--interactive-active);
}

#app-mount .headerContent-2SNbie {
    color: var(--interactive-normal);
    transition: color .15s ease;
    filter: none;
}

.guildIconV2Container-2H8IRS {
    margin-right: 4px;
}