.header__104ca {
    position: fixed;
    top: 0;
    left: 76px;
    -webkit-app-region: drag;
    padding: 6px 4px 6px 10px;
    box-shadow: none;
    width: 189px;

    .platform-linux &,
    .platform-web & {
        left: 9px;
    }

    .headerContent_ee8727 {
        -webkit-app-region: no-drag;
        width: fit-content;
    }

    .name_c08dbc {
        font-family: var(--font-display);
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .dropdownButton__3f3df {
        display: none;
    }
}

.clickable__2d589 .header__104ca:hover,
.selected__0b1ad .header__104ca {
    background-color: transparent;
}

#app-mount .clickable__2d589 .header__104ca:hover .headerContent_ee8727,
#app-mount .selected__0b1ad .header__104ca .headerContent_ee8727 {
    color: var(--interactive-active);
}

#app-mount .headerContent_ee8727 {
    color: var(--interactive-normal);
    transition: color .15s ease;
    filter: none;
}

.guildIconV2Container__53cdb {
    margin-right: 4px;
}