.header__77c95 {
    position: fixed;
    top: 0;
    left: 76px;
    -webkit-app-region: drag;
    padding: 6px 4px 6px 10px;
    box-shadow: none;
    width: 189px;

    .platform-linux &,
    .platform-web & {
        left: 9px;
    }

    .headerContent__6fcc7 {
        -webkit-app-region: no-drag;
        width: fit-content;
    }

    .name_e8e549 {
        font-family: var(--font-display);
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .dropdownButton_a246fc {
        display: none;
    }
}

.clickable__1383f .header__77c95:hover,
.selected__987e6 .header__77c95 {
    background-color: transparent;
}

#app-mount .clickable__1383f .header__77c95:hover .headerContent__6fcc7,
#app-mount .selected__987e6 .header__77c95 .headerContent__6fcc7 {
    color: var(--interactive-active);
}

#app-mount .headerContent__6fcc7 {
    color: var(--interactive-normal);
    transition: color .15s ease;
    filter: none;
}

.guildIconV2Container_ddc448 {
    margin-right: 4px;
}
