.panels__58331 {
    background: none;

    &:not(:has(.wrapper_e832ee:empty + .container_debb33:nth-child(2))) {
        position: relative;
        padding: 15px 0 15px 0;
        background: radial-gradient(50% 16px at top, hsla(var(--rtc-hsl, 207, 34%, 43%), 0.25) 0%, hsla(var(--rtc-hsl, 207, 24%, 43%), 0) 100%);

        &:has([class*="rtcConnectionStatus"]) {
            --rtc-opacity: 1;
        }

        &:has(.rtcConnectionStatusConnected__9db4a) {
            --rtc-hsl: 93, 50%, 50%;
        }

        &:has(.rtcConnectionStatusConnecting__057df) {
            --rtc-hsl: 58, 70%, 47%;
        }

        &:has(.rtcConnectionStatusError__77afa) {
            --rtc-hsl: 0, 85%, 57%;
        }

        &::before {
            content: '';
            display: block;
            height: .5px;
            width: 100%;
            background: linear-gradient(to right, hsla(var(--rtc-hsl, 225, 100%, 60%), 0) 0%, hsla(var(--rtc-hsl, 192, 100%, 50%), var(--rtc-opacity, .4)) 50%, hsla(var(--rtc-hsl, 225, 100%, 60%), 0) 100%);
            position: absolute;
            top: 0;
        }
    }

    >div:not(.container_debb33) button.enabled__214db {
        background: rgb(0 0 0/.2);

        &:hover {
            background: var(--btn-dark-hover);
        }
    }

    .connection__38593 {
        .flex_f18b02 {
            margin-left: 6px;
            &:has(>button) {
                gap: 4px;
            }
        }

        button.enabled__214db:has([d*="M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839"]) {
            &:hover {
                background: var(--status-danger);
                color: #fff;
            }
        }
    }

    .rtcConnectionStatusLabel_c2abfa {
        font-size: 12px;
    }

    .actionButtons__85e3c {
        grid-gap: 4px;

        .button_b82d53.buttonColor__7bad9 {
            color: var(--btn-brand-text);
            background: var(--btn-brand);
            box-shadow: none;
            transition: none;

            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }
        }
    }
}

#app-mount .panel_bd8c76 {
    background: none;
}

.activityPanel_b73e7a:has(+.wrapper_e832ee:empty) {
    border-bottom: none;
}

.container_e1958d {
    background: none;
    border: none;
}

.container_debb33 {
    position: fixed;
    top: 0;
    right: 96px;
    height: var(--titlebar-height);
    width: calc(100% - 96px - 265px);
    padding: 0 6px 0 0;
    justify-content: right;
    -webkit-app-region: drag;
    box-sizing: border-box;

    #app-mount & {
        background: var(--background-tertiary);
    }

    .platform-osx & {
        right: 0;
        width: 100%;

        &::before {
            left: 0;
        }
    }

    .platform-linux &,
    .platform-web & {
        right: 0;
        width: 100%;

        &::before {
            left: 0;
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -265px;
        height: 100%;
        width: 100vw;
        pointer-events: none;
        z-index: -1;
        background: var(--background-tertiary);
        box-shadow: inset hsl(calc(var(--accent-hue) + 13) calc(var(--saturation-factor, 1)*13.5%) 27.6%/.75) 1px 1px 1px 0,
            inset hsl(calc(var(--accent-hue) + 13) calc(var(--saturation-factor, 1)*13.5%) 27.6%/.25) -1px -1px 0 0;
    }

    >* {
        -webkit-app-region: no-drag;
    }

    >.flex_f18b02 {
        gap: 8px;

        &>button {
            height: var(--titlebar-height);
            height: 24px;
            min-width: 48px;
            border-radius: 2px;
            background: var(--header-button-background);
            transition: background .15s ease-out, color .15s ease-out;

            &:hover {
                background: var(--background-accent);
                color: var(--interactive-active);
            }

            .lottieIcon_c7076c {
                height: 16px !important;
                width: 16px !important;
            }
        }
    }
}

#app-mount .disabledButtonWrapper_b04230 {
    padding: 0;
    background: none;
}

.withTagAsButton_e22174:hover,
.withTagless__058f8:hover {
    background-color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*100%) 64.9%/.2);
    border-radius: 2px;
}

.avatarWrapper__500a6 {
    order: 1;
    height: 24px;
    margin-left: 8px;
    margin-right: 0;
    padding-left: 3px;
    justify-content: center;
    background: var(--header-button-background);
    border-radius: 2px;
    transition: background .15s ease-out;
    overflow: hidden;

    .avatar_f8541f {
        height: 23px !important;
        width: 23px !important;
    }

    svg {
        height: 27px;
        width: 27px;
    }
}

.nameTag__77ab2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;

    &>div {
        display: flex;
    }

    .withTagAsButton_e22174 &,
    .withTagless__058f8 & {
        padding-left: 5px;
    }

    .subtext_ce73b4 {
        line-height: 13px;
    }
}

.title__4a7a9 {
    color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*100%) 64.9%);
    font-weight: 400;
    font-size: 12px;
}

.hoverRoll__3ea9e {
    cursor: unset;
}

.hovered__5a165 {
    margin-top: 2px;
}
