.panels_a4d4d9 {
    background: none;

    &:not(:has(.wrapper_adcaac:empty + .container_b2ca13:nth-child(2))) {
        position: relative;
        padding: 15px 0 15px 0;
        background: radial-gradient(50% 16px at top, hsla(var(--rtc-hsl, 207, 34%, 43%), 0.25) 0%, hsla(var(--rtc-hsl, 207, 24%, 43%), 0) 100%);

        &:has([class*="rtcConnectionStatus"]) {
            --rtc-opacity: 1;
        }

        &:has(.rtcConnectionStatusConnected_c0cb95) {
            --rtc-hsl: 93, 50%, 50%;
        }

        &:has(.rtcConnectionStatusConnecting_c0cb95) {
            --rtc-hsl: 58, 70%, 47%;
        }

        &:has(.rtcConnectionStatusError_c0cb95) {
            --rtc-hsl: 0, 85%, 57%;
        }

        &::before {
            content: '';
            display: block;
            height: .5px;
            width: 100%;
            background: linear-gradient(to right, hsla(var(--rtc-hsl, 225, 100%, 60%), 0) 0%, hsla(var(--rtc-hsl, 192, 100%, 50%), var(--rtc-opacity, .4)) 50%, hsla(var(--rtc-hsl, 225, 100%, 60%), 0) 100%);
            position: absolute;
            top: 0;
        }
    }

    >div:not(.container_b2ca13) button.enabled_f67531 {
        background: rgb(0 0 0/.2);

        &:hover {
            background: var(--btn-dark-hover);
        }
    }

    .connection_adcaac {
        .flex_bba380 {
            margin-left: 6px;
            &:has(>button) {
                gap: 4px;
            }
        }

        button.enabled_f67531:has([d*="M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839"]) {
            &:hover {
                background: var(--status-danger);
                color: #fff;
            }
        }
    }

    .rtcConnectionStatusLabel_c0cb95 {
        font-size: 12px;
    }

    .actionButtons_adcaac {
        grid-gap: 4px;

        .button_adcaac.buttonColor_adcaac {
            color: var(--btn-brand-text);
            background: var(--btn-brand);
            box-shadow: none;
            transition: none;

            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;
            }
        }
    }
}

#app-mount .panel_bf1a22 {
    background: none;
}

.activityPanel_a4d4d9:has(+.wrapper_adcaac:empty) {
    border-bottom: none;
}

.container_adcaac {
    background: none;
    border: none;
}

.container_b2ca13 {
    position: fixed;
    top: 0;
    right: 96px;
    height: var(--titlebar-height);
    width: calc(100% - 96px - 265px);
    padding: 0 6px 0 0;
    justify-content: right;
    -webkit-app-region: drag;
    box-sizing: border-box;

    #app-mount & {
        background: var(--background-tertiary);
    }

    .platform-osx & {
        right: 0;
        width: 100%;

        &::before {
            left: 0;
        }
    }

    .platform-linux &,
    .platform-web & {
        right: 0;
        width: 100%;

        &::before {
            left: 0;
        }
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -265px;
        height: 100%;
        width: 100vw;
        pointer-events: none;
        z-index: -1;
        background: var(--background-tertiary);
        box-shadow: inset hsl(calc(var(--accent-hue) + 13) calc(var(--saturation-factor, 1)*13.5%) 27.6%/.75) 1px 1px 1px 0,
            inset hsl(calc(var(--accent-hue) + 13) calc(var(--saturation-factor, 1)*13.5%) 27.6%/.25) -1px -1px 0 0;
    }

    >* {
        -webkit-app-region: no-drag;
    }

    >.flex_bba380 {
        gap: 8px;

        &>button {
            height: var(--titlebar-height);
            height: 24px;
            min-width: 48px;
            border-radius: 2px;
            background: var(--header-button-background);
            transition: background .15s ease-out, color .15s ease-out;

            &:hover {
                background: var(--background-accent);
                color: var(--interactive-active);
            }

            .lottieIcon_f73ef7 {
                height: 16px !important;
                width: 16px !important;
            }
        }
    }
}

#app-mount .disabledButtonWrapper_dd4f85 {
    padding: 0;
    background: none;
}

.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
    background-color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*100%) 64.9%/.2);
    border-radius: 2px;
}

.avatarWrapper_b2ca13 {
    order: 1;
    height: 24px;
    margin-left: 8px;
    margin-right: 0;
    padding-left: 3px;
    justify-content: center;
    background: var(--header-button-background);
    border-radius: 2px;
    transition: background .15s ease-out;
    overflow: hidden;

    .avatar_b2ca13 {
        height: 23px !important;
        width: 23px !important;
    }

    svg {
        height: 27px;
        width: 27px;
    }
}

.nameTag_b2ca13 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;

    &>div {
        display: flex;
    }

    .withTagAsButton_b2ca13 &,
    .withTagless_b2ca13 & {
        padding-left: 5px;
    }

    .subtext_e06aad {
        line-height: 13px;
    }
}

.title_d1da5f {
    color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*100%) 64.9%);
    font-weight: 400;
    font-size: 12px;
}

.hoverRoll_c0d6c6 {
    cursor: unset;
}

.hovered_c0d6c6 {
    margin-top: 2px;
}
