// The CSS to be included in your .theme.css file.
// Addon @imports should be placed here.

@import url(https://maendisease.github.io/Steam/addons/horizontalserverlist.css);

:root {
    --hue-shift: 0; /* 0-360 */

    /* 100% = Full Width */
    --content-width: 940px;
    --messages-max-width: 640px;

    --custom-font-primary: "gg sans";
    --custom-font-display: "gg sans";
    --custom-font-code: monospace;
}