#app-mount {

    .emptyPage__3e15d,
    .scrollerContainer_bf5dbd {
        background: none;
    }
}

.chat__52833 .container__10dc7 {
    .tabBar_d4764b {
        padding: 0;
        margin: 10px 0 10px 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: 3px;
        background: rgb(0 0 0/.2);
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 var(--store-search-border);

        $tabCount: 2;

        @for $i from 1 through $tabCount {

            &:has(.item__48dda:nth-child(#{$i}):last-child) {
                --btn-count: #{$i};
            }

            $i: #{$i+1};
        }

        @for $i from 2 through $tabCount {

            &:has([aria-selected="true"]:nth-child(#{$i})):before {
                translate: #{($i - 1) + "00%"};
            }

            $i: #{$i+1};
        }

        .item__48dda {
            background: none;
            margin: 0;
            display: flex;
            flex: 0 1 calc(100% / var(--btn-count));
            justify-content: center;

            &:not([aria-selected="true"]):hover {
                background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*40%) 23%/.4);
            }

            border-bottom: none;
            padding: 0;

            height: 34px;
            padding: 8px 14px;
            font-size: 14px;
            font-weight: 400;
            box-sizing: border-box;
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: var(--store-tablist-btn);
            transition: translate .2s ease;
            border-radius: 3px;
        }
    }
}

.chat__52833.scrollerContainer_bf5dbd {
    .scroller__81266 {
        padding: 0 !important;
        box-sizing: content-box;

        .pageBody_bfae74 {
            padding-right: 0;
            gap: 0;

            >div:first-child:not([class]) {
                background: rgb(0 0 0/.4);
                padding: 20px;

                h2 {
                    font-weight: 400;
                }
            }
        }
    }

    .profile_b28ef9 {

        >h2,
        >[data-text-variant="text-xs/normal"] {
            background: var(--store-sidebar-background);
            background-color: rgb(0 0 0/.2);
            padding-left: 18px;
            padding-right: 18px;
        }

        >h2 {
            padding-top: 10px;
            font-weight: 400;
        }

        >[data-text-variant="text-xs/normal"] {
            padding-bottom: 10px;
        }

    }

    .profileCard_bd55ee {
        margin-top: 0;
        width: 308px;
        background: var(--store-sidebar-background);
        border-radius: 0;
        box-sizing: border-box;

        .role__65ab8 {
            background: rgb(0 0 0/.3);
            border-radius: 3px;
        }
    }
}

.prompt__1b100 {
    gap: 0;
    padding: 0;
    border-radius: 0;
    background: none;
    margin-top: var(--content-gutter);

    .promptTitle__514bc {
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
    }

    .promptOptions__8e373 {
        background: rgb(0 0 0/.4);
        padding: 20px;
    }
}