#app-mount {

    .container-2IKOsH,
    .container-1um7CU {
        background: none;
    }
}

.pageBody-23bo4p {
    padding: var(--content-gutter) 0 0 0;

    .header-2e2w0L {
        margin: 0;
    }

    .search-kg4MrS {
        background: var(--background-dark-2);
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 rgba(91, 132, 181, 0.2);
        border-radius: 3px;

        input::placeholder {
            font-style: italic;
        }
    }
}

.browser-2ea0yq {
    .separator-3vTHjS {
        display: none;
    }

    .categoryRow-2VIZ6m {
        max-width: var(--content-inner-width);
        background-color: #015e80;
        padding: 10px 20px 10px 20px;
        margin-top: var(--content-gutter);

        .selectAll-1ZP46u {
            [data-text-variant="text-xs/medium"] {
                display: flex;
                align-items: center;
                --text-muted: #fff;
            }
        }
    }

    .categoryText-35ACGA {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        --text-muted: #fff;
    }

    .channelRow-4X_3fi {
        max-width: calc(var(--content-inner-width) - 16px);
        background: var(--background-dark-4);
        position: relative;
        padding: 6px calc(20px + 8px);
        height: 46px;

        &.firstChannel-3vAGDY {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: calc(20px + 6px);

            .iconContainer-21RCa3 {
                top: 20px;
            }

            &:before {
                top: 20px;
            }
        }

        &.lastChannel-21yyBC {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: calc(20px + 6px);

            .iconContainer-21RCa3 {
                bottom: 20px;
            }

            &:before {
                bottom: 20px;
            }
        }

        &:hover {
            &:not(.disabled-3cfocy) {
                background: var(--background-dark-4);

                &:before {
                    background: #3d4450;
                    transition: background .2s linear;
                }

                .viewChannelButton-59XD70 {
                    background-color: #67707b;
                    transition: background .2s linear, box-shadow 200ms ease-in-out;
                }

            }

            &:not(:has(.checked-22NTbO)) {
                .iconContainer-21RCa3 {
                    background-color: #67707b;
                    transition: background .2s linear;
                }
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            inset: 0 0 0 20px;
            height: 58px;
            width: calc(100% - 40px);
            z-index: 0;
        }

        .channelInfo-4IC4dY {
            z-index: 1;
        }

        .iconContainer-21RCa3 {
            width: 98px;
            height: 45px;
            background: #3d4450;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;

            svg {
                color: #fff;
                height: 18px;
                width: 18px;
            }
        }

        &:has(.checked-22NTbO) {
            .iconContainer-21RCa3 {
                background: var(--brand-experiment);
            }
        }

        .channelName-2TeYVY .overflow-1wOqNV,
        .channelSubtitles-11R-z- {
            margin-left: calc(98px + 12px);
        }

        .channelText-30KI3D {
            color: #fff;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
        }

        .channelSubtitles-11R-z- {
            .channelSubtitle-2k6z5J {
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .subtitleSeparator-276LUA~.channelSubtitle-2k6z5J {
                color: #67707b;
            }

            .topic-3svq3- {
                font-size: 12px;
                line-height: 22px;
                color: #67707b;
            }
        }

        .subtitleSeparator-276LUA {
            opacity: 0;
            width: 4px;
            margin: 0;
        }

        .viewChannelButton-59XD70 {
            margin-right: 0;
            border: none;
            color: #dfe3e6;
            background: var(--btn-grey);

            &:hover {
                background: var(--btn-grey-hover);
                color: #fff;
                box-shadow: var(--btn-grey-boxshadow);
            }
        }

        .checkboxWrapper-3zdYym {
            display: none;
        }
    }
}