#app-mount {

    .container__03ec9,
    .container__6b2e5 {
        background: none;
    }
}

.pageBody_c0e5dd {
    padding: var(--content-gutter) 0 0 0;

    .header__20544 {
        margin: 0;
        max-width: var(--content-inner-width);
    }

    .search__4a09e {
        background: rgb(0 0 0/.2);
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 var(--store-search-border);
        border-radius: 3px;
    }
}

.browser__428d5 {
    .scrollerInner__6de5c {
        padding: 0;
    }

    .separator__68570 {
        display: none;
    }

    .categoryRow__8a080 {
        max-width: calc(var(--content-inner-width) - 40px);
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin-top: var(--content-gutter);

        .selectAll_fe1469 {
            [data-text-variant="text-xs/medium"] {
                display: flex;
                align-items: center;
                --text-muted: #fff;
            }
        }
    }

    .categoryText_b2688c {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        --text-muted: #fff;
    }

    .channelRow__538ef {
        max-width: calc(var(--content-inner-width) - 16px - 40px);
        background: rgb(0 0 0/.4);
        position: relative;
        padding: 6px calc(20px + 8px);
        height: 46px;

        &.firstChannel_c06b53 {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: calc(20px + 6px);

            .iconContainer__6a580 {
                top: 20px;
            }

            &:before {
                top: 20px;
            }
        }

        &.lastChannel__0a967 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: calc(20px + 6px);

            .iconContainer__6a580 {
                bottom: 20px;
            }

            &:before {
                bottom: 20px;
            }
        }

        &:hover {
            &:not(.disabled__556e5) {
                background: rgb(0 0 0/.4);

                &:before {
                    background: var(--background-accent);
                    transition: background .2s linear;
                }

                .viewChannelButton_d2fdbe {
                    background-color: var(--background-accent-hover);
                    transition: background .2s linear, box-shadow .2s ease-in-out;
                }

            }

            &:not(:has(.checked__16f88)) {
                .iconContainer__6a580 {
                    background-color: var(--background-accent-hover);
                    transition: background .2s linear;
                }
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            inset: 0 0 0 20px;
            height: 58px;
            width: calc(100% - 40px);
            z-index: 0;
        }

        .channelInfo__95a22 {
            z-index: 1;
        }

        .iconContainer__6a580 {
            width: 98px;
            height: 45px;
            background: var(--background-accent);
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;

            svg {
                color: #fff;
                height: 18px;
                width: 18px;
            }
        }

        &:has(.checked__16f88) {
            .iconContainer__6a580 {
                background: var(--brand-experiment);
            }
        }

        .channelName__3b23f .overflow__993fa,
        .channelSubtitles__6798e {
            margin-left: calc(98px + 12px);
        }

        .channelText__3a877 {
            color: #fff;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
        }

        .channelSubtitles__6798e {
            .channelSubtitle__298a0 {
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .subtitleSeparator_b8c5c1~.channelSubtitle__298a0 {
                color: var(--background-accent-hover);
            }

            .topic__42290 {
                font-size: 12px;
                line-height: 22px;
                color: var(--background-accent-hover);
            }
        }

        .subtitleSeparator_b8c5c1 {
            opacity: 0;
            width: 4px;
            margin: 0;
        }

        .viewChannelButton_d2fdbe {
            margin-right: 0;
            border: none;
            color: var(--text-lighter);
            background: var(--btn-grey);

            &:hover {
                background: var(--btn-grey-hover);
                color: #fff;
                box-shadow: var(--btn-grey-boxshadow);
            }
        }

        .checkboxWrapper_a2bcc8 {
            display: none;
        }
    }
}
