#app-mount {

    .container_f1fd9c,
    .container_c2efea {
        background: none;
    }
}

.pageBody_c2efea {
    padding: var(--content-gutter) 0 0 0;

    .header_c2efea {
        margin: 0;
        max-width: var(--content-inner-width);
    }

    .search_c2efea {
        background: rgb(0 0 0/.2);
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 var(--store-search-border);
        border-radius: 3px;
    }
}

.browser_c2efea {
    .scrollerInner_f04d06 {
        padding: 0;
    }

    .separator_f04d06 {
        display: none;
    }

    .categoryRow_f04d06 {
        max-width: calc(var(--content-inner-width) - 40px);
        background-color: var(--store-body-header);
        padding: 10px 20px 10px 20px;
        margin-top: var(--content-gutter);

        .selectAll_f04d06 {
            [data-text-variant="text-xs/medium"] {
                display: flex;
                align-items: center;
                --text-muted: #fff;
            }
        }
    }

    .categoryText_f04d06 {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        text-transform: uppercase;
        --text-muted: #fff;
    }

    .channelRow_f04d06 {
        max-width: calc(var(--content-inner-width) - 16px - 40px);
        background: rgb(0 0 0/.4);
        position: relative;
        padding: 6px calc(20px + 8px);
        height: 46px;

        &.firstChannel_f04d06 {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: calc(20px + 6px);

            .iconContainer_d8bfb3 {
                top: 20px;
            }

            &:before {
                top: 20px;
            }
        }

        &.lastChannel_f04d06 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: calc(20px + 6px);

            .iconContainer_d8bfb3 {
                bottom: 20px;
            }

            &:before {
                bottom: 20px;
            }
        }

        &:hover {
            &:not(.disabled_f04d06) {
                background: rgb(0 0 0/.4);

                &:before {
                    background: var(--background-accent);
                    transition: background .2s linear;
                }

                .viewChannelButton_f04d06 {
                    background-color: var(--background-accent-hover);
                    transition: background .2s linear, box-shadow .2s ease-in-out;
                }

            }

            &:not(:has(.checked_f6cde8)) {
                .iconContainer_d8bfb3 {
                    background-color: var(--background-accent-hover);
                    transition: background .2s linear;
                }
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            inset: 0 0 0 20px;
            height: 58px;
            width: calc(100% - 40px);
            z-index: 0;
        }

        .channelInfo_f04d06 {
            z-index: 1;
        }

        .iconContainer_d8bfb3 {
            width: 98px;
            height: 45px;
            background: var(--background-accent);
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;

            svg {
                color: #fff;
                height: 18px;
                width: 18px;
            }
        }

        &:has(.checked_f6cde8) {
            .iconContainer_d8bfb3 {
                background: var(--brand-experiment);
            }
        }

        .channelName_f04d06 .overflow_c74e70,
        .channelSubtitles_f04d06 {
            margin-left: calc(98px + 12px);
        }

        .channelText_f04d06 {
            color: #fff;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
        }

        .channelSubtitles_f04d06 {
            .channelSubtitle_f04d06 {
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
            }

            .subtitleSeparator_f04d06~.channelSubtitle_f04d06 {
                color: var(--background-accent-hover);
            }

            .topic_f04d06 {
                font-size: 12px;
                line-height: 22px;
                color: var(--background-accent-hover);
            }
        }

        .subtitleSeparator_f04d06 {
            opacity: 0;
            width: 4px;
            margin: 0;
        }

        .viewChannelButton_f04d06 {
            margin-right: 0;
            border: none;
            color: var(--text-lighter);
            background: var(--btn-grey);

            &:hover {
                background: var(--btn-grey-hover);
                color: #fff;
                box-shadow: var(--btn-grey-boxshadow);
            }
        }

        .checkboxWrapper_f6cde8 {
            display: none;
        }
    }
}
