.wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45 {
    border-radius: 0;
}

.wrapper_bd2abe {
    background: #000;
}

.chat__52833:has(.wrapper_bd2abe.video__85ac2) {
    max-width: 100%;
}

#app-mount:-webkit-full-screen {
    --app-gutter: 0;
    --content-gutter: 0;
}

.root__649bb {
    background: var(--background-tertiary);
}

.tile_a411a4 {
    border-radius: 4px;
}

.overlayTitle_a9f7c6 {
    border-radius: 4px;
}

.container-3a5mk- {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);

    .emojiPickerHeader-2mWh2T {
        background: none;
    }

    .animatedPicker-IdiG5I {
        background: none;
    }

    .dropDown-3dfe_z {
        color: var(--brand-experiment);
    }

    .label__8e2ef {
        border-radius: 3px;
    }
}

.container_c344de {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);

    .titleRight_dca5f0[role="button"] {
        border-radius: 2px;
        height: 34px;
        padding: 8px 14px;
        box-sizing: border-box;
        background: var(--btn-brand);
        --text-normal: var(--btn-brand-text);
        --interactive-active: var(--brand-experiment);

        &:hover {
            background: var(--btn-brand-hover);
            --text-normal: #fff;
            --interactive-active: #fff;
        }

        .defaultColor__77578 {
            font-weight: 400;
        }
    }
}

.activityItem_a6e176 {
    border-radius: 3px;
}