.wrapper__6bf2d.chatSidebarOpen_f2e544 .callContainer__1477d {
    border-radius: 0;
}

.wrapper__6bf2d {
    background: #000;
}

.chat__52833:has(.wrapper__6bf2d.video__004a2) {
    max-width: 100%;
}

#app-mount:-webkit-full-screen {
    --app-gutter: 0;
    --content-gutter: 0;
}

.root__649bb {
    background: var(--background-tertiary);
}

.tile_a411a4 {
    border-radius: 4px;
}

.overlayTitle_de9b41 {
    border-radius: 4px;
}

.container-3a5mk- {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);

    .emojiPickerHeader-2mWh2T {
        background: none;
    }

    .animatedPicker-IdiG5I {
        background: none;
    }

    .dropDown-3dfe_z {
        color: var(--brand-experiment);
    }

    .label__73b15 {
        border-radius: 3px;
    }
}

.container__79284 {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);

    .titleRight__9a9b1[role="button"] {
        border-radius: 2px;
        height: 34px;
        padding: 8px 14px;
        box-sizing: border-box;
        background: var(--btn-brand);
        --text-normal: var(--btn-brand-text);
        --interactive-active: var(--brand-experiment);

        &:hover {
            background: var(--btn-brand-hover);
            --text-normal: #fff;
            --interactive-active: #fff;
        }

        .defaultColor__77578 {
            font-weight: 400;
        }
    }
}

.activityItem_da8d98 {
    border-radius: 3px;
}
