.content__01e65:before {
    display: none;
}

.container__26baa.themed_b152d4 {
    background: linear-gradient(90deg, hsl(calc(var(--accent-hue) + 7) calc(var(--saturation-factor, 1)*41.5%) 41.6%/.919) 11.38%, hsl(calc(var(--accent-hue) + 4) calc(var(--saturation-factor, 1)*51%) 46%/.8) 25.23%, hsl(calc(var(--accent-hue) + 24) calc(var(--saturation-factor, 1)*76%) 24.5%) 100%);
    box-shadow: 0 0 3px rgb(0 0 0/.4);
    min-height: 36px;
    margin-top: var(--content-gutter);
    padding: 0 5px 0 4px;
    overflow: hidden;

    .children_cde9af:after {
        display: none;
    }

    .divider_bdb894 {
        display: none;
    }

    .title__84e16 {
        text-shadow: 0 2px 3px rgb(0 0 0/.3);
        font-size: 14px;
        text-transform: capitalize;
    }

    .icon_ae0b42 {
        color: var(--header-primary);
        width: 16px;
        height: 16px;
        filter: drop-shadow(0px 2px 3px rgb(0 0 0/.3));
    }

    .count__03d4d {
        color: var(--header-primary) !important;
        font-size: 14px;
    }

    .iconWrapper_de6cd1 {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 36px;
    }

    .toolbar__62fb5 {
        .returnButton__38238 {
            background: var(--btn-brand);
            color: var(--btn-brand-text);
            transition: none;
            min-height: 24px;
            height: 24px;

            &:hover {
                background: var(--btn-brand-hover);
                color: #fff;

                svg {
                    color: #fff;
                }
            }

            svg {
                color: var(--btn-brand-text);
            }
        }
    }

    .toolbar__62fb5 .iconWrapper_de6cd1[aria-label] {
        margin: 0;
        padding: 0 14px;
    }

    .toolbar__62fb5 .iconWrapper_de6cd1:where(:hover, [aria-expanded="true"]) {
        background: var(--topbar-item-hover);
    }

    .iconWrapper_de6cd1[aria-label]:has(.iconBadge__20a6b) {

        .svg_bb7847 {
            height: 16px !important;
            width: 16px !important;
        }

        .icon_ae0b42 {
            height: 24px;
            width: 24px;
            color: var(--status-danger);
        }
    }

    .iconBadge__20a6b {
        display: none;
    }

    .topic__16ae3 {
        text-shadow: 0 1px 2px rgb(0 0 0/.3);
    }

    .search__07df0 {
        order: 1;
        margin: 0;
    }

    .searchBar__5a20a {
        min-width: 200px;
        height: 28px;
        border-radius: 3px;
        border: 1px solid rgb(0 0 0/.3);
        box-shadow: 1px 1px 0 rgb(255 255 255/.2);
        padding: 1px 1px 1px 4px;
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*45%) 35%);
    }

    .search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
        color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*45%) 10%);
        font-size: 14px;
        font-style: italic;
        text-shadow: 1px 1px 0 rgb(255 255 255/.1);
    }

    .search_ac353c .DraftEditor-root .DraftEditor-editorContainer {
        padding: 0 2px;
    }

    .icon__53a5c {
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*73%) 65%);
        border-radius: 2px;
    }

    .icon__53a5c:not(:hover) {
        opacity: 0.76;
    }

    .icon__5c8c7,
    .clear__70411.iconLayout__9d9a4:hover .icon__5c8c7 {
        color: var(--background-accent);
    }
}
