.chat_a7d72e.threadSidebarOpen_a7d72eL:not(.threadSidebarFloating_a7d72e) {
    max-width: calc(var(--content-width) - 400px);
}

.resizeHandle_d1c246 {
    width: var(--app-gutter);
    background: none;
    position: relative;
}

.container_d1c246 {
    border-radius: unset;
    background: none;
    max-width: var(--content-width);

    &.floating_d1c246 {
        border-left: 1px solid #000;
        top: 16px;
        background: var(--app-background);

        .container_e44302.themed_e44302 {
            margin-top: 0;
        }
    }
}

.box_af45f8 {
    background: var(--banner-blue);
    border-radius: 4px;
    box-shadow: var(--banner-shadow);
    margin: 12px 16px 12px 16px;
    padding: 16px 24px;
    width: fit-content;
    max-width: 448px;

    h3 {
        font-size: 14px;
        font-weight: 400;
    }

    [data-text-variant="text-sm/normal"] {
        font-size: 12px;
    }
}

.box_af45f8:after, .box_af45f8:before {
    display: none;
}

.iconWrapper_ec583a {
    margin-top: 0;
    border-radius: 0;
    background: none;
}
