.chat-2ZfjoI {
    background: none;
    overflow: visible;
    max-width: var(--content-width);
}

.chatContent-3KubbW {
    background: none;
}

.scrollerContent-2SW0kQ {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wrapper-3HVHpV,
.wrapper-15CKyy {
    background: none;
}

.emptyChannelIcon-1YdEz2 {
    display: none;
}

.attachment-16cAbS,
.avatar-l9Txm5,
.blob-1uHjdp {
    border-radius: 2px;
}

.memberGroupsPlaceholder-9tqX9V,
.mulitplePlaceholderUsername-2T3DCI,
.placeholderAvatar-1qAcRZ,
.placeholderUsername-3iQi_D {
    border-radius: 2px;
    background: var(--text-normal);
    opacity: 0.08;
}

.popoutLoadingForeground-3xnRkg {
    background: var(--text-normal);
    opacity: 0.08;
}

@keyframes loading_LoadAmin_2z54o {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.spinningCircleInner-YCEeSc.inner-MGEKwh {
    -webkit-transform: none;
    transform: none;

    svg {
        display: none;
    }
}

.inner-MGEKwh.wanderingCubes-2A046F {
    span {
        display: none;
    }
}

.spinningCircleInner-YCEeSc.inner-MGEKwh,
.inner-MGEKwh.wanderingCubes-2A046F {
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        height: calc(100% - 8px);
        width: calc(100% - 8px);
        border-top: 4px solid rgb(255 255 255/.2);
        border-right: 4px solid rgb(255 255 255/.2);
        border-bottom: 4px solid rgb(255 255 255/.2);
        border-left: 4px solid #fff;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: loading_LoadAmin_2z54o 1.1s infinite linear;
        animation: loading_LoadAmin_2z54o 1.1s infinite linear;
    }
}

.inner-MGEKwh {
    min-width: 32px;
    min-height: 32px;
    align-items: center;
}

.scroller-29cQFV {
    .inner-MGEKwh {
        height: 60px;
        width: 60px;
    }
}

.loadingPopout-1tyQMM {
    box-shadow: 3px 3px 5px -3px #000;
    background: var(--background-accent);
}

.wrapper-2R36Wv:has(>.gatedContent-31-gID) {
    align-items: center;
    display: flex;
}

.gatedContent-31-gID {
    border: 1px solid rgb(255 255 255/.2);
    border-radius: 5px;
    padding: 0;
    height: fit-content;
    margin-left: 24px;
    margin-right: 24px;
    max-width: var(--content-width);

    .image-3HC6rC {
        margin: -45px 0 15px 0;
        padding: 0;
        height: 129px;
        width: 275px;
        background-color: var(--background-accent);
        box-shadow: 0 0 5px 0 #000000;
    }

    .title-FyH9jw {
        font-size: 14px;
        line-height: 18px;
        font-weight: 200;
        max-width: 640px;
        padding: 2px 0 0 0;
        text-align: center;
        margin: 0 0 10px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .description-fPkcPm {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 200;
        color: hsl(calc(var(--accent-hue) + 3) calc(var(--saturation-factor, 1)*29.4%) 90%);

        +.flex-2S1XBF:has(>button) {
            margin-bottom: 35px;
            gap: 3px;
        }
    }

    .action-3eQ5Or {
        margin: 0;
    }
}

.wrapper-2SplAX {
    border-radius: 4px;
    margin-bottom: var(--content-gutter);
    padding: 4px;
    box-sizing: content-box;
    height: unset;
    background: #000;
    box-shadow: var(--banner-shadow);

    h3 {
        font-size: 14px;
        font-weight: 400;
        --header-primary: var(--text-muted);
    }

    .buttonContainer-KMz3Ex {
        margin-right: 0;
    }
}