.chat-2ZfjoI {
    background: none;
}

.chatContent-3KubbW {
    background: none;
}

.scrollerContent-2SW0kQ {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}