.container-3wLKDe {
    background: none;
}

.list-3FIpnh.scrollerBase-1Pkza4 {
    overflow: hidden overlay !important;

    &>div:first-child {
        box-sizing: border-box;
        padding-left: 0;
    }
}

.grid-21dB-S>div:first-child,
.headerRow-1MKoR-,
.list-3FIpnh>div:first-child {
    min-width: unset;
}

.loadingCard-3pIp9h {
    background: rgb(0 0 0/.2);
    border-radius: 2px;
}

.container-3wLKDe .list-3FIpnh>div:first-child {
    padding-right: 48px;
}

#app-mount .mainCard-3KBsBI.header-1Uy0p6 {
    background: var(--banner-lightblue);

    .container-JhuCwn {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .formContainer-1zrOWf,
    .horizontalPadding-3WQsQ9 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .formContainer-1zrOWf .form-25Aujy {
        border: 1px solid hsl(calc(var(--accent-hue) + 2), 39.7%, 22.7%);
        background-color: var(--banner-lightblue-input);
        border-radius: 3px;
        padding: 10px 11px;
        box-shadow: inset 0 0 7px rgb(0 0 0/.5);
    }

    textarea {
        color: var(--channels-default-hover);
        font-weight: 400;
        background: none;
        box-shadow: none;
        font-size: 20px;
    }

    textarea::placeholder {
        font-weight: 400;
        font-style: italic;
    }

    .contentContainer-2xwoXK {
        padding-left: 0;
    }

    .scrollableContainer-15eg7h {
        border: none;
        box-shadow: none;
        margin-top: 6px;
        padding-top: 6px;
        border-top: 1px solid rgb(255 255 255/.2);
        border-radius: 0;
    }

    .container-3Om6RL {
        margin: 2px 2px 0 16px;
        width: 92px;
        height: 92px;
        box-shadow: 0 0 0 1px hsl(0 0% 29%), 0 0 0 2px hsl(0 0% 36%);

        .uploadInput-3fblkw {
            width: 92px;
            height: 92px;
            border-radius: 0;
            background-color: hsl(calc(var(--accent-hue) + 7), 21.8%, 17.1%);
            box-shadow: inset 0 0 7px rgb(0 0 0/.5);
        }

        .imageSmall-308hjB {
            height: 92px;
            border-radius: 0;
        }

        .popoutContainer-26yHc8 {
            position: absolute;
            padding: 0;
            top: 0;
            right: 0;
        }

        .popout-2vZMlk {
            padding: 0;
            border-radius: 0;
            background-color: var(--banner-lightblue-input);
            box-shadow: inset 0 0 7px rgb(0 0 0/.5), 0 0 0 1px hsl(0 0% 29%), 0 0 0 2px hsl(0 0% 36%);
        }

        .uploads-1mYJLm {
            padding-right: 0;
            gap: 2px;
        }

        .spoilerContainer-1Dl06W {
            border-radius: 0;
            background-color: transparent;
        }

        .attachmentItemSmall-3_nKTP {
            min-width: 92px;
            min-height: 92px;
            max-width: 92px;
            max-height: 92px;
        }
    }

    .tagsContainer-3rSFH5 {
        background-color: rgb(0 0 0/.2);
        padding: 8px;
        margin: 6px 110px 6px 0;

        .tagList-2APRrt {
            height: unset;
        }

        .tagListInner-1mCauI {
            gap: 2px;
        }

        .tagsButton-2EKn70 {
            position: relative;
            left: unset !important;
            min-width: unset;
            min-height: unset;
            width: 20px;
            height: 20px;
            margin-left: 0;
            font-size: 0;
            justify-content: center;
            border-radius: 2px;
            background-color: var(--btn-brand);
            --text-brand: var(--btn-brand-text);

            &:hover {
                background: var(--btn-brand-hover);
                --text-brand: var(--white-500);
            }

            .tagsButtonInner-QgpYNg {
                gap: 0;

                &::before {
                    content: '+';
                    font-size: 11px;
                }
            }

            svg {
                display: none;
            }
        }
    }

    .tagsDivider-3LhkLA {
        height: 1px;
        width: 100%;
        position: relative;
        left: 0;
        background-color: hsl(calc(var(--accent-hue) + 11) 29.8% 18.4%);
    }

    .form-25Aujy .submitButton-3B-dZd {
        color: hsl(var(--accent-hue) 41% 28%);
        background: linear-gradient(to bottom, hsl(var(--accent-hue) 82% 87%) 5%, hsl(var(--accent-hue) 34% 69%) 95%);
        border-radius: 4px;
        border: 2px solid hsl(var(--accent-hue) 34% 14%);
        transition: none;

        &:hover {
            color: var(--white-500);
            background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) - 3) 86.6% 67.8%) 5%, hsl(calc(var(--accent-hue) - 3) 60.0% 46.1%) 95%);
        }

        .text-md-semibold-2VMhBr {
            font-weight: 500;
        }
    }

}

.matchingPostsRow-2IiEQ1 {
    background: linear-gradient(to right, hsl(40 49.1% 54.5%/.6) 0%, transparent 60%);
    height: unset;
    border-radius: 0;
    padding: 6px;
    --text-normal: #ffcc6a;
}

.text-xs-normal-3O7EaX {
    line-height: unset;
    align-self: center;
}

.combo-3PNrpQ,
.key-RP8gj3 {
    height: unset;
}

.combo-3PNrpQ {
    text-transform: capitalize;
    font-weight: 500;
}

#app-mount .matchingPostsRow-2IiEQ1 {
    .key-RP8gj3 {
        background: none;
        border: none;
        padding: 0 2px;
        box-shadow: none;
        min-height: unset;
    }
}

.tagsSpacer-38ovAE:first-child {
    order: 1;
    margin-left: auto;
    margin-right: 0;
}

.container-3arpDl {
    background: linear-gradient(135deg, rgb(130 114 81/.5) 0%, rgb(226 197 139/.5) 100%);
    border: none;
    border-radius: 0;
    padding: 16px;
    margin-top: 1px;

    .descriptionContainer-2ylKGk {
        margin-top: 0;
        background: none;
        padding: 16px;
        border-radius: 0;

        &:has(.showMore-orAmWF) {
            mask-image: linear-gradient(180deg, rgb(0 0 0 / 1) calc(100% - 53px - 21px), transparent calc(100% - 21px), rgb(0 0 0 / 1) calc(100% - 21px));
        }

        .guidelines-jQLwyH {
            color: #e1c48a !important;
        }
    }

    .showMore-orAmWF {
        height: 20px;
        border-top: 1px solid hsl(40 59% 71%/.5);

        .gradient-1SYq38 {
            display: none;
        }

        .linkContainer-2xEQjX {
            background: none;
        }

        .showMoreLink-v8clx5 {
            padding: 0;
        }

        .showMoreText-1jKd_4 {
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
        }

        svg {
            margin-left: 4px;
            height: 10px;
            width: 10px;
        }
    }
}

.tagsContainer-2bBw1x {
    background: hsl(calc(var(--accent-hue) + 8) 36% 19%);
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 0;
    flex-wrap: wrap;
    --taglist-bg: hsl(calc(var(--accent-hue) + 2) 38% 27%);

    .tagList-1CiR0h {
        height: unset;
        order: -1;
        width: 100%;
        flex-basis: 100%;
        padding: 10px;
        background: var(--taglist-bg);
        box-shadow: 0 0 5px #000;

        .pill-3pRQlO {
            height: 20px;
            padding: 0 6px;
        }

        [data-text-variant="text-sm/semibold"] {
            font-size: 12px;
            line-height: 16px;
        }
    }

    >button {
        border-left: 1px solid var(--taglist-bg);
        box-shadow: none !important;
    }

    .divider-2bkesd {
        width: 0;
        height: 26px;
        border-radius: 0;
        background: none;
        margin: 0 4px 0 0;
        border-left: 1px solid var(--taglist-bg);
    }

    .sortDropdown-hY93nR {
        margin-bottom: 0;
        height: unset;
        background: none;
        border-radius: 0;


        .sortDropdownText-3smleu {
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
            margin-left: 0;
            --interactive-normal: hsl(calc(var(--accent-hue) - 3), 41%, 45.9%);
        }

        svg {
            height: 16px;
            width: 16px;
            color: var(--btn-brand-text);

            &:has([d^="M12.1803 4.66659L12.1803"]) {
                display: none;
            }
        }
    }

    .tagsButton-4pwOKH {
        display: none;
    }
}

.tagListInner-35MqcW {
    gap: 4px;
}

.card-2JNtco {
    padding-bottom: 6px;
}

#app-mount .mainCard-3KBsBI {
    transform: none;
    transition: none;
    box-shadow: none;
}

.mainCard-3KBsBI {
    border: none;
    border-radius: 0;
    background: rgb(0 0 0/.2);

    &:has(.notice-2tOLuo) {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        height: fit-content;

        .inline-1Al0JA {
            gap: 0;

            .author-2kHvde {

                [data-text-variant="text-sm/semibold"],
                [data-text-variant="text-sm/normal"] {
                    font-size: 12px;
                }
            }
        }

        .separator-3PdcLL {
            display: none;
        }

        .title-Kuc4iQ {
            font-size: 16px;
            font-weight: 400;
            line-height: unset;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0;
        }

        img {
            border-radius: 2px;
            right: 0;
            top: 0;
            background: #5765F2;
        }
    }
}

.container-q2_DnH {
    height: 72px;
    padding: 0;
    z-index: 0;
}

.container-q2_DnH .left-3Nlcn5 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
}

.mainCard-3KBsBI:not(.header-1Uy0p6) {
    --title-text: hsl(calc(var(--accent-hue) + 1) 29% 83%);
    --body-text: hsl(var(--accent-hue) 23% 28%);

    --text-normal: var(--body-text);
    --text-muted: var(--body-text);
    --header-secondary: var(--body-text);
    --background-modifier-accent: var(--body-text);
}

.mainCard-3KBsBI h3 {
    --text-muted: var(--title-text);
    --header-primary: var(--title-text);
}

// card.onHover
.mainCard-3KBsBI:hover {
    background: rgb(0 0 0/.4);
}

#app-mount .mainCard-3KBsBI:not(.isOpen-2Gyel_, .header-1Uy0p6):hover {
    outline: 1px solid hsl(calc(var(--accent-hue) - 2) 39% 41%);
    outline-offset: -1px;
}

.container-q2_DnH:not(.isOpen-2Gyel_):hover {
    .bodyMedia-35rZ5t {
        clip-path: inset(1px 1px 1px 0);
    }
}

// card.onNewMessage
#app-mount .mainCard-3KBsBI:has(.newMessageCount-MJLPvW),
#app-mount .mainCard-3KBsBI:has([class*="newBadge"]),
#app-mount .mainCard-3KBsBI:has(.hasUnreads-1b492d) {
    background: linear-gradient(-45deg, hsl(var(--accent-hue) 41% 43%) 5%, hsl(var(--accent-hue) 36% 26%) 95%);

    --title-text: var(--white-500);
    --body-text: hsl(30 1% 55%);
}

// card.onPinned
#app-mount .mainCard-3KBsBI:has(.pinIcon-3I5-gm) {
    background: hsl(var(--accent-hue) 35% 8%);

    --title-text: var(--white-500);
    --body-text: hsl(30 1% 55%);

    .left-3Nlcn5,
    .header-AZ_4Uz {
        z-index: 1;
    }
}

.mainCard-3KBsBI:has(.pinIcon-3I5-gm):not([class*="isOpen"])::before {
    content: '';
    display: block;
    width: 305px;
    height: 101px;
    position: absolute;
    top: 0;
    left: -1px;
    background-image: url(https://maendisease.github.io/Steam/illustrations/bg_announcement.avif);
    background-repeat: no-repeat;
    z-index: 0;
    clip-path: inset(1px 0 0 2px);
    filter: blur(1px);
}

.mainCard-3KBsBI:has(.pinIcon-3I5-gm):not([class*="isOpen"]):hover::before {
    clip-path: inset(0);
}

.mainCard-3KBsBI {

    .pinIcon-3I5-gm,
    .newBadgeWrapper-2KsCk4 {
        display: none;
    }

    &:has(.pinIcon-3I5-gm, [class*="newBadge"]) {

        .postTitleText-3gRCnO,
        .title-2qfNnd {
            &::before {
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
                overflow: hidden;
                font-weight: 700;
                margin-right: 4px;
            }
        }
    }

    &:has(.pinIcon-3I5-gm) {

        h3 {
            &::before {
                content: "PINNED:";
            }
        }
    }

    &:has([class*="newBadge"]) {

        h3 {
            &::before {
                content: "NEW:";
            }
        }
    }

    &:not(.isOpen-2Gyel_) {

        h3 {
            &::before {
                color: #AEDD08;
            }
        }
    }
}

// card.onSelected
#app-mount .mainCard-3KBsBI[class*="isOpen"] {
    background: linear-gradient(to right, hsl(var(--accent-hue) 78% 87%) 5%, hsl(var(--accent-hue) 41% 71%) 95%);
    overflow: visible;

    --title-text: hsl(var(--accent-hue) 26% 8%);
    --body-text: hsl(var(--accent-hue) 23% 28%);
}

.container-q2_DnH.isOpen-2Gyel_:after {
    content: ' ';
    display: block;
    width: 50px;
    height: 50px;
    top: 11px;
    right: -25px;
    position: absolute;
    transform: rotate(45deg) scale(1.0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(45deg, transparent 50%, hsl(var(--accent-hue) 42% 71%) 50%, hsl(var(--accent-hue) 41% 70%) 95%);
    background: linear-gradient(45deg, hsl(var(--accent-hue) 42% 71%) 50%, hsl(var(--accent-hue) 41% 70%) 95%);
    z-index: -1;
}

.container-q2_DnH.isOpen-2Gyel_ {
    .bodyMedia-35rZ5t {
        clip-path: inset(2px);
    }
}

.container-q2_DnH .header-ErMa2_ {
    padding-bottom: 4px;
}

.mainCard-3KBsBI h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: unset;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.container-q2_DnH .body-391oJl {
    padding-bottom: 3px;
}

.mainCard-3KBsBI .tags-2UGy2I {
    gap: 2px;
}

.container-q2_DnH .tags-2UGy2I {
    position: absolute;
    bottom: 6px;
    left: 14px;
    gap: 0;
    height: unset;
    margin-bottom: 0;
}

.container-q2_DnH .pill-3pRQlO.small-1j51ag {
    background: none;
    padding: 0 4px 0 0;
    height: unset;
}

.container-q2_DnH .pill-3pRQlO .emoji-Z6vF9e {
    margin-right: 2px;
    display: none;
}

.container-q2_DnH .pill-3pRQlO:not(:last-child)::after {
    content: ',';
    font-size: 12px;
    color: var(--text-muted);
}

.tags-2UGy2I,
.footer-3UjAHx {
    overflow: hidden;
}

.container-q2_DnH .pill-3pRQlO {
    translate: 0 24px;
    transition: translate .15s ease;
}

.container-q2_DnH:hover .pill-3pRQlO {
    translate: 0;
}

.container-q2_DnH .footer-3UjAHx>* {
    transition: translate .15s ease;
}

.container-q2_DnH:has(.pill-3pRQlO):hover .footer-3UjAHx>* {
    translate: 0 -24px;
}

.footer-3UjAHx {
    height: unset;
    font-size: 12px;
}

.footer-3UjAHx .messageCountText-2q9uMy,
.footer-3UjAHx .text-sm-normal-AEQz4v,
.footer-3UjAHx .newMessageCount-MJLPv {
    font-size: 12px;
}

.messageCountBox-U8MTKq {
    height: unset;
    padding-top: 0;
}

.messageCountIcon-32-p8d {
    height: unset;
    margin-top: 0;
}

.footer-3UjAHx .typing-21jJZA {
    .avatarContainer-gPrCzX {
        clip-path: inset(0 4px 0 0);

        .clickableAvatar-igrb2Y,
        .avatar-3TrM7c {
            border-radius: 0;
        }
    }

    .base-3bcbY3 {
        height: unset;
        font-size: 12px;
        line-height: unset;
    }

    .dots-3b0kDm {
        background-color: rgb(0 0 0/.2);
        border: none;
        border-radius: 0;
        height: 16px;
        margin-left: -3px;
        margin-right: 0;
        width: 24px;
    }
}

.reactionInner-1po5__ {
    padding: 0 6px;
}

.updateReactionButton-13dIN9>div {
    padding-bottom: 0;
    padding-top: 0;
}

.bodyMedia-35rZ5t {
    height: 72px;
    margin-left: 0;
    border-radius: 0;

    .thumbnailContainer-dzG9JU {
        max-height: 100%;
    }

    .imageWrapper-oMkQl4 {
        border-radius: 0;
    }
}

.pill-3pRQlO {
    border-radius: 2px;
    border: none;
    background-color: hsl(0 0% 100%/.2);

    .text-xs-semibold-GgBYxI,
    .text-sm-semibold-S5fJwz {
        font-weight: 400;
    }

    &.small-1j51ag {
        height: 20px;
        padding: 0 6px;
    }

    &.clickable-3YTfAq {
        background-color: var(--btn-brand);
        --text-normal: var(--btn-brand-text);

        &:not(.disabled-3Rezaw) {

            &:hover,
            &.selected-24z1Ou {
                background: var(--btn-brand-hover);
                --text-normal: #fff;
            }
        }
    }
}

.messagesWrapper-RpOMA3 .scrollerInner-2PPAp2[data-list-id="chat-messages"]:not(:has(.wrapper-3HVHpV)) {
    display: grid;
    position: relative;
    grid-template-columns: minmax(0, 1fr);
}

.messagesWrapper-RpOMA3 .scrollerInner-2PPAp2[data-list-id="chat-messages"]:not(:has(.wrapper-3HVHpV)):before {
    content: "";
    grid-row: 1 / 3;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 2px;
    z-index: -1;
    max-width: calc(640px + 118px);
    background: linear-gradient(170deg, hsl(calc(var(--accent-hue) + 11) 34% 34%) 0%, hsl(calc(var(--accent-hue) + 10) 37% 19%) 300px);
    border: 1px solid hsl(var(--accent-hue) 35% 23%);
    box-shadow: 0 0 5px #000;
}

.container-27JV1h.container-1yy5xN .iconWrapper-3FqQ75 {
    display: none;
}

.container-1yy5xN h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 7px;
    margin-bottom: 12px;
}

.container-27JV1h.container-1yy5xN:not(:has(.text-md-normal-2rFCH3))+.divider-IqmEqJ {
    display: none;
}

.container-1yy5xN {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    max-width: 640px;
    padding: 12px 16px 20px 16px;
}

#app-mount .container-27JV1h+div+li .message-2CShn3 {
    background: none;
    box-shadow: none;
    border: none;

    .header-2jRmjb {
        opacity: 1;
    }
}

.container-3YcgdM {
    background: var(--banner-lightblue);
    border-top: unset;
    margin-top: unset;
    padding: 8px;
    margin: 0 16px;
    max-width: calc(760px - 16px);

    &:has(.buttonInner-3aRbcx.active-OdlCV-) {
        background: linear-gradient(to right, rgb(163 207 6/.6) 0%, rgb(75 106 33/.6) 100%);
    }

    &+.divider-AZrXIA {
        opacity: 0;
    }
}

.reaction-102jx9 {
    border-radius: 2px;
    border: unset;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
    text-align: center;
    background-color: var(--btn-brand);

    &:hover,
    &.reactionMe-2zhiyZ {
        background: var(--btn-brand-hover);

        .reactionCount-SWXh9W {
            color: #fff;
        }
    }

    .reactionCount-SWXh9W {
        font-size: 12px;
        font-weight: 500;
        color: var(--btn-brand-text);
    }
}

.addReactButton-3bSQb6 {
    gap: 2px;
    background: none;
    height: 20px;
    border-radius: 2px;
    border: none;
    color: var(--interactive-hover);

    &:hover {
        background: var(--btn-brand-hover);

        .icon-fX2J7U {
            color: #fff;
        }
    }
}

.buttons-BK5gED {
    background-color: #000000;
    padding: 3px 5px;
    border-radius: 2px;
    height: 32px;

    button {
        padding: 0;

        &:first-child {
            order: 1;

            .buttonInner-3aRbcx {
                background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
                padding: 0 16px;
                height: 32px;
                border-radius: 2px;
                border: 0;
                color: #d2efa9;
                text-shadow: 1px 1px 0 rgb(0 0 0/.3);

                &:hover {
                    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
                    color: #fff;
                }

                &.active-OdlCV- {
                    background: linear-gradient(to bottom, rgb(193 228 249/1) 5%, rgb(148 183 202/1) 95%);
                    color: #2B5066;
                    text-shadow: none;

                    &:hover {
                        background: linear-gradient(to bottom, rgb(102 192 244/1) 5%, rgb(47 137 188/1) 95%);
                        color: #fff;
                    }
                }
            }
        }

        &:last-child .buttonInner-3aRbcx {
            background: none;
            border: none;
            height: 100%;
        }

    }
}