.container_b92032 {
    background: none;
}

.list-3FIpnh.scrollerBase_f742b2 {
    overflow: hidden overlay !important;

    &>div:first-child {
        box-sizing: border-box;
        padding-left: 0;
    }
}

.grid-21dB-S>div:first-child,
.headerRow-1MKoR-,
.list-3FIpnh>div:first-child {
    min-width: unset;
}

.loadingCard-3pIp9h {
    background: rgb(0 0 0/.2);
    border-radius: 2px;
}

.container_b92032 .list-3FIpnh>div:first-child {
    padding-right: 48px;
}

#app-mount .mainCard__0ec2c.header_b2c494 {
    background: var(--banner-lightblue);

    .container-JhuCwn {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .formContainer__87e79,
    .horizontalPadding-3WQsQ9 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .formContainer__87e79 .form__97f5c {
        border: 1px solid hsl(calc(var(--accent-hue) + 2) calc(var(--saturation-factor, 1)*39.7%) 22.7%);
        background-color: var(--banner-lightblue-input);
        border-radius: 3px;
        padding: 10px 11px;
        box-shadow: inset 0 0 7px rgb(0 0 0/.5);
    }

    textarea {
        color: var(--channels-default-hover);
        font-weight: 400;
        background: none;
        box-shadow: none;
        font-size: 20px;
    }

    textarea::placeholder {
        font-weight: 400;
        font-style: italic;
    }

    .contentContainer-2xwoXK {
        padding-left: 0;
    }

    .scrollableContainer_ff917f {
        border: none;
        box-shadow: none;
        margin-top: 6px;
        padding-top: 6px;
        border-top: 1px solid rgb(255 255 255/.2);
        border-radius: 0;
    }

    .container__9dc79 {
        margin: 2px 2px 0 16px;
        width: 92px;
        height: 92px;
        box-shadow: 0 0 0 1px hsl(0 0% 29%), 0 0 0 2px hsl(0 0% 36%);

        .uploadInput_a6cb60 {
            width: 92px;
            height: 92px;
            border-radius: 0;
            background-color: hsl(calc(var(--accent-hue) + 7) calc(var(--saturation-factor, 1)*21.8%) 17.1%);
            box-shadow: inset 0 0 7px rgb(0 0 0/.5);
        }

        .imageSmall__16e1d {
            height: 92px;
            border-radius: 0;
        }

        .popoutContainer_dbffea {
            position: absolute;
            padding: 0;
            top: 0;
            right: 0;
        }

        .popout__6ba23 {
            padding: 0;
            border-radius: 0;
            background-color: var(--banner-lightblue-input);
            box-shadow: inset 0 0 7px rgb(0 0 0/.5), 0 0 0 1px hsl(0 0% 29%), 0 0 0 2px hsl(0 0% 36%);
        }

        .uploads_e9d63d {
            padding-right: 0;
            gap: 2px;
        }

        .spoilerContainer__89762 {
            border-radius: 0;
            background-color: transparent;
        }

        .attachmentItemSmall__76cf8 {
            min-width: 92px;
            min-height: 92px;
            max-width: 92px;
            max-height: 92px;
        }
    }

    .tagsContainer__58760 {
        background-color: rgb(0 0 0/.2);
        padding: 8px;
        margin: 6px 110px 6px 0;

        .tagList_d00c9d {
            height: unset;
        }

        .tagListInner__05bff {
            gap: 2px;
        }

        .tagsButton__34537 {
            position: relative;
            left: unset !important;
            min-width: unset;
            min-height: unset;
            width: 20px;
            height: 20px;
            margin-left: 0;
            font-size: 0;
            justify-content: center;
            border-radius: 2px;
            background-color: var(--btn-brand);
            --text-brand: var(--btn-brand-text);

            &:hover {
                background: var(--btn-brand-hover);
                --text-brand: var(--white-500);
            }

            .tagsButtonInner_c1ff90 {
                gap: 0;

                &::before {
                    content: '+';
                    font-size: 11px;
                }
            }

            svg {
                display: none;
            }
        }
    }

    .tagsDivider__0c01e {
        height: 1px;
        width: 100%;
        position: relative;
        left: 0;
        background-color: hsl(calc(var(--accent-hue) + 11) calc(var(--saturation-factor, 1)*29.8%) 18.4%);
    }

    .form__97f5c .submitButton__57214 {
        color: hsl(var(--accent-hue) 41% 28%);
        background: linear-gradient(to bottom, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*82%) 87%) 5%, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*34%) 69%) 95%);
        border-radius: 4px;
        border: 2px solid hsl(var(--accent-hue) 34% 14%);
        transition: none;

        &:hover {
            color: var(--white-500);
            background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) - 3) calc(var(--saturation-factor, 1)*86.6%) 67.8%) 5%, hsl(calc(var(--accent-hue) - 3) calc(var(--saturation-factor, 1)*60%) 46.1%) 95%);
        }

        [data-text-variant="text-md/semibold"] {
            font-weight: 500;
        }
    }

}

.matchingPostsRow__6cdb0 {
    background: linear-gradient(to right, hsl(40 49.1% 54.5%/.6) 0%, transparent 60%);
    height: unset;
    border-radius: 0;
    padding: 6px;
    --text-normal: #ffcc6a;
}

.text-xs-normal_ccc5fb {
    line-height: unset;
    align-self: center;
}

.combo__57290,
.key__6a8d9 {
    height: unset;
}

.combo__57290 {
    text-transform: capitalize;
    font-weight: 500;
}

#app-mount .matchingPostsRow__6cdb0 {
    .key__6a8d9 {
        background: none;
        border: none;
        padding: 0 2px;
        box-shadow: none;
        min-height: unset;
    }
}

.tagsSpacer-38ovAE:first-child {
    order: 1;
    margin-left: auto;
    margin-right: 0;
}

.container__852f7 {
    background: var(--banner-yellow);
    border: none;
    border-radius: 0;
    padding: 16px;
    margin-top: 1px;

    [class*="descriptionContainer"] {
        margin-top: 0;
        background: none;
        padding: 16px;
        border-radius: 0;

        &:has(.showMore-orAmWF) {
            mask-image: linear-gradient(180deg, rgb(0 0 0 / 1) calc(100% - 53px - 21px), transparent calc(100% - 21px), rgb(0 0 0 / 1) calc(100% - 21px));
        }

        .guidelines-jQLwyH {
            color: #e1c48a !important;
        }
    }

    [class*="showMore"] {
        height: 20px;
        border-top: 1px solid hsl(40 59% 71%/.5);

        [class*="gradient"] {
            display: none;
        }

        [class*="linkContainer"] {
            background: none;
        }

        [class*="showMoreLink"] {
            padding: 0;
        }

        [class*="showMoreText"] {
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
        }

        svg {
            margin-left: 4px;
            height: 10px;
            width: 10px;
        }
    }
}

.tagsContainer__58760 {
    background: hsl(calc(var(--accent-hue) + 8) calc(var(--saturation-factor, 1)*36%) 19%);
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 0;
    flex-wrap: wrap;
    --taglist-bg: hsl(calc(var(--accent-hue) + 2) calc(var(--saturation-factor, 1)*38%) 27%);

    >[class*="tagList"] {
        height: unset;
        order: -1;
        width: 100%;
        flex-basis: 100%;
        padding: 10px;
        background: var(--taglist-bg);
        box-shadow: 0 0 5px #000;

        [class*="pill"] {
            height: 20px;
            padding: 0 6px;
        }

        [data-text-variant="text-sm/semibold"] {
            font-size: 12px;
            line-height: 16px;
        }
    }

    >button {
        border-left: 1px solid var(--taglist-bg);
        box-shadow: none !important;
    }

    [class*="divider"] {
        width: 0;
        height: 26px;
        border-radius: 0;
        background: none;
        margin: 0 4px 0 0;
        border-left: 1px solid var(--taglist-bg);
    }

    [class*="sortDropdown"] {
        margin-bottom: 0;
        height: unset;
        background: none;
        border-radius: 0;


        [class*="sortDropdownText"] {
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
            margin-left: 0;
            --interactive-normal: hsl(calc(var(--accent-hue) - 3) calc(var(--saturation-factor, 1)*41%) 45.9%);
        }

        svg {
            height: 16px;
            width: 16px;
            color: var(--btn-brand-text);

            &:has([d^="M16.3 21.7a1 1 0 0 0 1.4 0l4-4a1 1 0 0 0-1.4-1.4L18 18.58V3a1 1 0 1 0-2 0v15.59l-2.3-2.3a1 1 0 0 0-1.4 1.42l4 4ZM6.3 2.3a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1-1.4 1.4L8 5.42V21a1 1 0 1 1-2 0V5.41l-2.3 2.3a1 1 0 0 1-1.4-1.42l4-4Z"]) {
                display: none;
            }
        }
    }

    [class*="tagsButton"] {
        display: none;
    }
}

.tagListInner-35MqcW {
    gap: 4px;
}

.card-2JNtco {
    padding-bottom: 6px;
}

#app-mount .mainCard__0ec2c {
    transform: none;
    transition: none;
    box-shadow: none;
}

.mainCard__0ec2c {
    border: none;
    border-radius: 0;
    background: rgb(0 0 0/.2);

    &:has(.notice-2tOLuo) {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        height: fit-content;

        .inline-1Al0JA {
            gap: 0;

            .author-2kHvde {

                [data-text-variant="text-sm/semibold"],
                [data-text-variant="text-sm/normal"] {
                    font-size: 12px;
                }
            }
        }

        .separator-3PdcLL {
            display: none;
        }

        .title-Kuc4iQ {
            font-size: 16px;
            font-weight: 400;
            line-height: unset;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0;
        }

        img {
            border-radius: 2px;
            right: 0;
            top: 0;
            background: #5765F2;
        }
    }
}

.container_de2a56 {
    height: 72px;
    padding: 0;
    z-index: 0;
}

.container_de2a56 .left__7aeb3 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
}

.mainCard__0ec2c:not(.header_b2c494) {
    --title-text: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*29%) 83%);
    --body-text: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*23%) 28%);

    --text-normal: var(--body-text);
    --text-muted: var(--body-text);
    --header-secondary: var(--body-text);
    --background-modifier-accent: var(--body-text);
}

.mainCard__0ec2c h3 {
    --text-muted: var(--title-text);
    --header-primary: var(--title-text);
}

// card.onHover
.mainCard__0ec2c:hover {
    background: rgb(0 0 0/.4);
}

#app-mount .mainCard__0ec2c:not(.isOpen__8593d, .header_b2c494):hover {
    outline: 1px solid hsl(calc(var(--accent-hue) - 2) calc(var(--saturation-factor, 1)*39%) 41%);
    outline-offset: -1px;
}

.container_de2a56:not(.isOpen__8593d):hover {
    .bodyMedia__07c4c {
        clip-path: inset(1px 1px 1px 0);
    }
}

// card.onNewMessage
#app-mount .mainCard__0ec2c:has(.newMessageCount__7c713),
#app-mount .mainCard__0ec2c:has([class*="newBadge"]),
#app-mount .mainCard__0ec2c:has(.hasUnreads__1827c) {
    background: linear-gradient(-45deg, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*41%) 43%) 5%, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*36%) 26%) 95%);

    --title-text: var(--white-500);
    --body-text: hsl(30 1% 55%);
}

// card.onPinned
#app-mount .mainCard__0ec2c:has(.pinIcon__054d8) {
    background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*35%) 8%);

    --title-text: var(--white-500);
    --body-text: hsl(30 1% 55%);

    .left__7aeb3,
    .header-AZ_4Uz {
        z-index: 1;
    }
}

.mainCard__0ec2c:has(.pinIcon__054d8):not([class*="isOpen"])::before {
    content: '';
    display: block;
    width: 305px;
    height: 101px;
    position: absolute;
    top: 0;
    left: -1px;
    background-image: url(https://maendisease.github.io/Steam/illustrations/bg_announcement.avif);
    background-repeat: no-repeat;
    z-index: 0;
    clip-path: inset(1px 0 0 2px);
    filter: hue-rotate(calc(var(--hue-shift) * 1deg)) saturate(var(--saturation-factor, 1));
}

.mainCard__0ec2c:has(.pinIcon__054d8):not([class*="isOpen"]):hover::before {
    clip-path: inset(0);
}

.mainCard__0ec2c {

    .pinIcon__054d8,
    .newBadgeWrapper__1c330 {
        display: none;
    }

    &:has(.pinIcon__054d8, [class*="newBadge"]) {

        .postTitleText__39597,
        .title-2qfNnd {
            &::before {
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
                overflow: hidden;
                font-weight: 700;
                margin-right: 4px;
            }
        }
    }

    &:has(.pinIcon__054d8) {

        h3 {
            &::before {
                content: "PINNED:";
            }
        }
    }

    &:has([class*="newBadge"]) {

        h3 {
            &::before {
                content: "NEW:";
            }
        }
    }

    &:not(.isOpen__8593d) {

        h3 {
            &::before {
                color: #AEDD08;
            }
        }
    }
}

// card.onSelected
#app-mount .mainCard__0ec2c[class*="isOpen"] {
    background: linear-gradient(to right, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*78%) 87%) 5%, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*41%) 71%) 95%);
    overflow: visible;

    --title-text: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*26%) 8%);
    --body-text: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*23%) 28%);
}

.container_de2a56.isOpen__8593d:after {
    content: ' ';
    display: block;
    width: 50px;
    height: 50px;
    top: 11px;
    right: -25px;
    position: absolute;
    transform: rotate(45deg) scale(1.0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: linear-gradient(45deg, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*42%) 71%) 50%, hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*41%) 70%) 95%);
    z-index: -1;
}

.container_de2a56.isOpen__8593d {
    .bodyMedia__07c4c {
        clip-path: inset(2px);
    }
}

.container_de2a56 .header_ff52a5 {
    padding-bottom: 4px;
}

.mainCard__0ec2c h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: unset;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.container_de2a56 .body_dd9e3d {
    padding-bottom: 3px;
}

.mainCard__0ec2c .tags_e6c42a {
    gap: 2px;
}

.container_de2a56 .tags_e6c42a {
    position: absolute;
    bottom: 6px;
    left: 14px;
    gap: 0;
    height: unset;
    margin-bottom: 0;
}

.container_de2a56 .pill_f055c3.small_b35a0f {
    background: none;
    padding: 0 4px 0 0;
    height: unset;
}

.container_de2a56 .pill_f055c3 .emoji_e375ce {
    margin-right: 2px;
    display: none;
}

.container_de2a56 .pill_f055c3:not(:last-child)::after {
    content: ',';
    font-size: 12px;
    color: var(--text-muted);
}

.tags_e6c42a,
.footer_feccc4 {
    overflow: hidden;
}

.container_de2a56 .pill_f055c3 {
    translate: 0 24px;
    transition: translate .15s ease;
}

.container_de2a56:hover .pill_f055c3 {
    translate: 0;
}

.container_de2a56 .footer_feccc4>* {
    transition: translate .15s ease;
}

.container_de2a56:has(.pill_f055c3):hover .footer_feccc4>* {
    translate: 0 -24px;
}

.footer_feccc4 {
    height: unset;
    font-size: 12px;

    .messageCountText__0393e,
    .text-sm-normal__95a78,
    .newMessageCount-MJLPv {
        font-size: 12px;
    }

    .reaction_ef7e09 {
        border-radius: 2px;
        margin-right: 0;
        margin-bottom: 0;

        .reactionInner_d6d30f {
            height: 20px;
            padding: 0 6px;
        }

        .emoji {
            height: 14px;
            width: 14px;
        }
    }

    .reactionCount_b780c8 {
        font-size: 12px;
    }
}

.messageCountBox__8885c {
    height: unset;
    padding-top: 0;
}

.messageCountIcon__8c6fd {
    height: unset;
    margin-top: 0;
}

.footer_feccc4 .typing__68fbe {
    .avatarContainer__37747 {
        clip-path: inset(0 4px 0 0);

        .clickableAvatar_b78cbb,
        .avatar__777a6 {
            border-radius: 0;
        }
    }

    .base__06abc {
        height: unset;
        font-size: 12px;
        line-height: unset;
    }

    .dots__44c48 {
        background-color: rgb(0 0 0/.2);
        border: none;
        border-radius: 0;
        height: 16px;
        margin-left: -3px;
        margin-right: 0;
        width: 24px;
    }
}

.reactionInner_bd636d {
    padding: 0 6px;
}

.updateReactionButton__6b22d>div {
    padding-bottom: 0;
    padding-top: 0;
}

.bodyMedia__07c4c {
    height: 72px;
    margin-left: 0;
    border-radius: 0;

    .thumbnailContainer__6c4d3 {
        max-height: 100%;
    }

    .imageWrapper__178ee {
        border-radius: 0;
    }
}

.pill_f055c3 {
    border-radius: 2px;
    border: none;
    background-color: hsl(0 0% 100%/.2);

    .text-xs-semibold__2181c,
    .text-sm-semibold_a5824d {
        font-weight: 400;
    }

    &.small_b35a0f {
        height: 20px;
        padding: 0 6px;
    }

    &.clickable_daf171 {
        background-color: var(--btn-brand);
        --text-normal: var(--btn-brand-text);

        &:not(.disabled_fbfabf) {

            &:hover,
            &.selected__50db4 {
                background: var(--btn-brand-hover);
                --text-normal: #fff;
            }
        }
    }
}

.messagesWrapper_add28b .scrollerInner__37fee[data-list-id="chat-messages"]:not(:has(.wrapper__11501)) {
    display: grid;
    position: relative;
    grid-template-columns: minmax(0, 1fr);
}

.messagesWrapper_add28b .scrollerInner__37fee[data-list-id="chat-messages"]:not(:has(.wrapper__11501)):before {
    content: "";
    grid-row: 1 / 3;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 2px;
    z-index: -1;
    max-width: calc(640px + 118px);
    background: linear-gradient(170deg, hsl(calc(var(--accent-hue) + 11) calc(var(--saturation-factor, 1)*34%) 34%) 0%, hsl(calc(var(--accent-hue) + 10) calc(var(--saturation-factor, 1)*37%) 19%) 300px);
    border: 1px solid hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*35%) 23%);
    box-shadow: 0 0 5px #000;
}

.container__38f29.container_cd7d9c .iconWrapper_a8f659 {
    display: none;
}

.container_cd7d9c h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 7px;
    margin-bottom: 12px;
}

.container__38f29.container_cd7d9c:not(:has(.text-md-normal__6a4eb))+.divider__01aed {
    display: none;
}

.container_cd7d9c {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    max-width: 640px;
    padding: 12px 16px 20px 16px;
}

#app-mount .container__38f29+div+li .message_ccca67 {
    background: none;
    box-shadow: none;
    border: none;

    .header__6a14d {
        opacity: 1;
    }
}

.container__68e43 {
    background: var(--banner-lightblue);
    border-top: unset;
    margin-top: unset;
    padding: 8px;
    margin: 0 16px;
    max-width: calc(760px - 16px);

    &:has(.buttonInner__865de.active_f1266e) {
        background: var(--banner-green);
    }

    &+.divider__4df9f {
        opacity: 0;
    }
}

.reaction__4a43f {
    border-radius: 2px;
    border: unset;
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
    text-align: center;
    background-color: var(--btn-brand);

    &:hover,
    &.reactionMe__0fffc {
        background: var(--btn-brand-hover);

        .reactionCount__2c34d {
            color: #fff;
        }
    }

    .reactionCount__2c34d {
        font-size: 12px;
        font-weight: 500;
        color: var(--btn-brand-text);
    }
}

.addReactButton__4342f {
    gap: 2px;
    background: none;
    height: 20px;
    border-radius: 2px;
    border: none;
    color: var(--interactive-hover);

    &:hover {
        background: var(--btn-brand-hover);

        .icon__0f1ac {
            color: #fff;
        }
    }
}

.buttons_ef8915 {
    background-color: #000000;
    padding: 3px;
    border-radius: 2px;
    height: 32px;

    button {
        padding: 0;

        &:first-child {
            order: 1;

            .buttonInner__865de {
                background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
                padding: 0 16px;
                height: 32px;
                border-radius: 2px;
                border: 0;
                color: #d2efa9;
                text-shadow: 1px 1px 0 rgb(0 0 0/.3);

                &:hover {
                    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
                    color: #fff;
                }

                &.active_f1266e {
                    background: linear-gradient(to bottom, rgb(193 228 249/1) 5%, rgb(148 183 202/1) 95%);
                    color: #2B5066;
                    text-shadow: none;

                    &:hover {
                        background: linear-gradient(to bottom, rgb(102 192 244/1) 5%, rgb(47 137 188/1) 95%);
                        color: #fff;
                    }
                }
            }
        }

        &:last-child .buttonInner__865de {
            background: none;
            border: none;
            height: 100%;
        }

    }
}
