.profilePanel__12596 {
    margin-left: var(--content-gutter);

    .bannerSVGWrapper__3e7b0:not(:has([style*=image])) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: unset;
    }

    &:not(:has(svg div[style*=image])) .overlayBackground__86b78 {
        --header-height: 112px;
        margin-top: var(--header-height);
    }

    .avatarPositionPanel__87e08 {
        top: 16px;
    }

    .userPanelInner_eddf4c:before {
        height: 100%;
        width: 100%;
    }

    .badgelistGroup__53eaa {
        position: absolute;
        top: calc(var(--banner-height, 108px) + 2px + 16px);
        left: 0;
        width: 100%;
        min-height: unset;
        margin: 0;
    }

    .badgeList_ef4131 {
        width: 100%;
        padding: 0;
        gap: 4px;
        z-index: 2;
        background: none;
        box-shadow: none;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: unset;
        margin: 0;
    }

    .overlayBackground__86b78~.overlayBackground__86b78:not(:empty, :has(.activity__20c1e)) {
        margin: 12px;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 20px 10px 11px 10px;
    }

    .profilePanelConnections__3c232 {
        gap: 7px;

        >div {
            box-sizing: border-box;
            background: rgb(0 0 0/.3);
            border-radius: 5px;
        }

        button svg {
            color: var(--brand-experiment);
        }
    }

    .mutualFriendsDivider_c21dfe {
        border-top: none;
    }

    &:has(.containerWithContent__7e98f) .overlayBackground__86b78:has(.memberSinceContainer__0a28b) {
        padding-top: calc(22px + 16px);

        &:not(:has(.customStatusSection_ce6c27)) {
            padding-top: calc(22px + 16px + 16px);
        }
    }

    .divider_ed0c1d {
        display: none;
    }

    .section__6f61e:has(.activity__20c1e) {
        background: rgb(0 0 0/.2);
        margin: 0 -12px -12px;
        padding: 12px;
    }
}

.container_b2ce9c,
.member_b44d5d,
.members__9f47b {
    background: none;
}

.container_b2ce9c {
    .scrollerBase_dc3aa9 {
        overflow: hidden overlay !important;
    }
}

.members__9f47b[style^="overflow: hidden scroll"] {
    overflow: hidden overlay !important;
}

.members__9f47b {
    width: 308px;
    padding-bottom: var(--content-gutter);
}

.membersWrap__90226 {
    margin-left: var(--content-gutter);
    height: fit-content;
    max-height: 100%;

    .content__23cab {
        margin-top: var(--content-gutter);
        padding-bottom: 16px;
        background: var(--store-sidebar-background);
    }
}

.layout_bb8e67 {
    border-radius: 1px;
    padding: 0 8px;
    background: var(--sidebar-btn-brand);
}

.clickable__17ccb:hover,
.clickable__17ccb:active,
.selected__9800b {

    .layout_bb8e67 {
        background: var(--btn-brand-hover);

        &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
            --rs-online-color: #fff;
        }
    }

    .username_d272d6 {
        color: #fff !important;
    }

    .activity__3cbac {
        color: #fff;
    }

    .layout_bb8e67 {
        &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
            --rs-online-color: #fff;
        }
    }
}

.membersGroup__85843.container-q97qHp {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-muted);
    text-transform: capitalize;
    padding-top: 16px;
}

.member_aa4760 {
    margin-left: 16px;
    margin-right: 16px;
    max-width: unset;
}

.avatar__6337f {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.name__16feb {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.layout_bb8e67:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
    .username__11d8c {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        span {
            max-width: calc(100% - 2px - 16px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="none"><path d="m23.9557 3H12.0343C10.6158 3 9.47 4.1458 9.47 5.5643v24.8657c0 1.4186 1.1458 2.5643 2.5643 2.5643h11.9077c1.4186 0 2.5643-1.1458 2.5643-2.5643V5.5643c0-1.4186-1.1458-2.5643-2.5643-2.5643Zm-8.8933 1.2003h5.8788c.3819 0 .682.3001.682.682s-.3001.682-.682.682h-5.8788c-.3819 0-.682-.3001-.682-.682s.3001-.682.682-.682Zm2.9462 26.5844c-.7502 0-1.364-.6138-1.364-1.364s.6138-1.364 1.364-1.364 1.364.6138 1.364 1.364-.6138 1.364-1.364 1.364Zm6.7927-4.433H11.2568V7.2693h13.5172v19.096Z" fill="currentColor"></path></svg>') center/contain no-repeat;
            background: var(--rs-online-color);
            margin-left: 2px;
        }
    }
}

.interactive:hover {
    color: #fff;
    background: var(--btn-brand-hover);
}

.wrapper__2d9b1 {
    border-radius: 2px;
    font-weight: 400;
}