.profilePanel_e2cafe {
    margin-left: var(--content-gutter);

    .bannerSVGWrapper__8a38c:not(:has([style*=image])) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: unset;
    }

    &:not(:has(svg div[style*=image])) .overlayBackground__345c9 {
        --header-height: 112px;
        margin-top: var(--header-height);
    }

    .avatarPositionPanel__2d765 {
        top: 16px;
    }

    .userPanelInner__3184c:before {
        height: 100%;
        width: 100%;
    }

    .badgelistGroup__8f7c7 {
        position: absolute;
        top: calc(var(--banner-height, 108px) + 2px + 16px);
        left: 0;
        width: 100%;
        min-height: unset;
        margin: 0;
    }

    .badgeList__76720 {
        width: 100%;
        padding: 0;
        gap: 4px;
        z-index: 2;
        background: none;
        box-shadow: none;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: unset;
        margin: 0;
    }

    .overlayBackground__345c9~.overlayBackground__345c9:not(:empty, :has(.activity__20c1e)) {
        margin: 12px;
        background: rgb(0 0 0/.3);
        border-radius: 3px;
        padding: 20px 10px 11px 10px;
    }

    .profilePanelConnections__34438 {
        gap: 7px;

        >div {
            box-sizing: border-box;
            background: rgb(0 0 0/.3);
            border-radius: 5px;
        }

        button svg {
            color: var(--brand-experiment);
        }
    }

    .mutualFriendsDivider__2c616 {
        border-top: none;
    }

    &:has(.containerWithContent_a67357) .overlayBackground__345c9:has(.memberSinceContainer__16630) {
        padding-top: calc(22px + 16px);

        &:not(:has(.customStatusSection_c9f9ba)) {
            padding-top: calc(22px + 16px + 16px);
        }
    }

    .divider_e6f9ab {
        display: none;
    }

    .section__62b44:has(.activity__20c1e) {
        background: rgb(0 0 0/.2);
        margin: 0 -12px -12px;
        padding: 12px;
    }
}

.container_f79ab4,
.member_b44d5d,
.members__573eb {
    background: none;
}

.container_f79ab4 {
    .scrollerBase_f742b2 {
        overflow: hidden overlay !important;
    }
}

.members__573eb[style^="overflow: hidden scroll"] {
    overflow: hidden overlay !important;
}

.members__573eb {
    width: 308px;
    padding-bottom: var(--content-gutter);
}

.membersWrap__5ca6b {
    margin-left: var(--content-gutter);
    height: fit-content;
    max-height: 100%;

    .content__690c5 {
        margin-top: var(--content-gutter);
        padding-bottom: 16px;
        background: var(--store-sidebar-background);
    }
}

.layout_bb8e67 {
    border-radius: 1px;
    padding: 0 8px;
    background: var(--sidebar-btn-brand);
}

.clickable__03a29:hover,
.clickable__03a29:active,
.selected__7f4cb {

    .layout_bb8e67 {
        background: var(--btn-brand-hover);

        &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
            --rs-online-color: #fff;
        }
    }

    .username_d272d6 {
        color: #fff !important;
    }

    .activity_bafb94 {
        color: #fff;
    }

    .layout_bb8e67 {
        &:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
            --rs-online-color: #fff;
        }
    }
}

.membersGroup_cad095.container-q97qHp {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-muted);
    text-transform: capitalize;
    padding-top: 16px;
}

.member_aa4760 {
    margin-left: 16px;
    margin-right: 16px;
    max-width: unset;
}

.avatar__6337f {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.name__7afe8 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.layout_bb8e67:has([mask="url(#svg-mask-avatar-status-mobile-32)"]) {
    .username_ab1e31 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        span {
            max-width: calc(100% - 2px - 16px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" fill="none"><path d="m23.9557 3H12.0343C10.6158 3 9.47 4.1458 9.47 5.5643v24.8657c0 1.4186 1.1458 2.5643 2.5643 2.5643h11.9077c1.4186 0 2.5643-1.1458 2.5643-2.5643V5.5643c0-1.4186-1.1458-2.5643-2.5643-2.5643Zm-8.8933 1.2003h5.8788c.3819 0 .682.3001.682.682s-.3001.682-.682.682h-5.8788c-.3819 0-.682-.3001-.682-.682s.3001-.682.682-.682Zm2.9462 26.5844c-.7502 0-1.364-.6138-1.364-1.364s.6138-1.364 1.364-1.364 1.364.6138 1.364 1.364-.6138 1.364-1.364 1.364Zm6.7927-4.433H11.2568V7.2693h13.5172v19.096Z" fill="currentColor"></path></svg>') center/contain no-repeat;
            background: var(--rs-online-color);
            margin-left: 2px;
        }
    }
}

.interactive:hover {
    color: #fff;
    background: var(--btn-brand-hover);
}

.wrapper__4ef2e {
    border-radius: 2px;
    font-weight: 400;
}
