.avatar-2e8lTP {
    position: absolute;
    left: 14px;
    border-radius: 0;
    box-shadow:
        0 0 0 1px hsl(0, 0%, 29%),
        0 0 0 2px hsl(0, 0%, 36%);
}

.header-2jRmjb {
    opacity: 0.25;
}

.username-h_Y3Us {
    font-weight: 600;
}

#app-mount .message-2CShn3 {
    background: hsla(calc(var(--accent-hue) + 9), 35%, 19%, 0.8);
    border: 1px solid hsl(var(--accent-hue), 35%, 23%);
    box-shadow: 0 0 5px #000;
    margin: 0 16px;
    margin-bottom: 2px;
    max-width: var(--messages-max-width);

    &.mentioned-Tre-dv {
        background: linear-gradient(135deg, hsla(40, 23%, 41%, 0.5) 0%, hsla(40, 60%, 72%, 0.502) 100%);
    }

    &.replying-eZ7p5z {
        background: linear-gradient(135deg, hsla(var(--accent-hue), 23%, 41%, 0.5) 0%, hsla(var(--accent-hue), 60%, 72%, 0.502) 100%);
    }

    &:has(.communicationDisabled-2KRN2p) {
        background: linear-gradient(135deg, hsla(0, 53%, 41%, 0.5) 0%, hsla(0, 90%, 72%, 0.502) 100%);
    }

    &:hover .header-2jRmjb {
        opacity: 1;
    }
}

.mentioned-Tre-dv:before,
.replying-eZ7p5z:before {
    display: none;
}

#app-mount .groupStart-3Mlgv1 {
    margin-top: 0;
}

.compact-2Nkcau.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 70px;
}

#app-mount .repliedMessage-3Z6XBG {
    position: absolute;
    top: 56px;
    left: 86px;
    border: 1px solid hsl(var(--accent-hue), 19%, 42%);
    margin-left: -5px;
    padding: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: calc(100% - 97px);

    &>div {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: none;
    }

    &+.contents-2MsGLg .header-2jRmjb {
        margin-bottom: 92px;
    }

    img.emoji {
        display: inline;
    }

    .username-h_Y3Us {
        margin-right: 5px;
    }
}

.container-2gUZhU {
    top: 14px;
}

.container-2gUZhU {
    padding-right: 8px;
}

.wrapper-2vIMkT {
    background: none;
    height: 28px;
    border-radius: unset;
    box-shadow: unset;
    transition: unset;
}

.full-motion .wrapper-2vIMkT:hover {
    box-shadow: none;
}

.button-3bklZh {
    height: 28px;
    padding: 0;
    min-width: 34px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    &:hover {
        background-color: hsla(var(--accent-hue), 87%, 68%, 0.4);
    }

    &:active {
        padding: 0;
    }

    &.selected-69H4ua {
        background-color: hsla(var(--accent-hue), 87%, 68%, 0.4);
    }
}

// Embeds
.embedFull-1HGV2S {
    overflow: hidden;
    border-left: none;
    z-index: 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        border-right: 100vw solid transparent;
        border-color: inherit;
        opacity: 0.4;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient( -45deg, transparent,rgba(0,0,0,0.6) 95%);
        opacity: 0.6;
        z-index: -1;
    }

    .embedSuppressButton-1rZHq6 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px 4px 0 0;
        height: 20px;
        width: 20px;
        right: 0;
        z-index: 2;
    }
    
    .embedSuppressButton-1rZHq6:hover {
        background: var(--button-danger-background);
        color: var(--white-500);
    }
}

// Message dividers
#app-mount .divider-IqmEqJ.beforeGroup-1BvJAt {
    top: 0;
}

#app-mount .divider-2rZFJK {
    border-top: none;
    justify-content:flex-start;
    height: 1px;
    max-width: calc(var(--messages-max-width) + 120px);
    background: linear-gradient( to right, hsl(201, 41%, 39%) 0%, transparent 60%);
    margin-top: 2rem;
    margin-bottom: -1px;
        
    &#---new-messages-bar {
        background: linear-gradient( to right, var(--status-danger) 0%, transparent 60%);
    }
}

.content-3spvdd {
    padding: 0;
    color: hsl(var(--accent-hue), 19%, 42%);
    background: none;
    line-height: auto;
    font-size: 14px;
    margin-top: -30px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
}

.unreadPill-3nEWYM {
    top: unset;
    right: unset;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    height: unset;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    padding-bottom: 11px;
    letter-spacing: 2px;
    background: none;
}

.unreadPillCap-2-iI4h {
    display: none;
}

.content-3spvdd + .unreadPill-3nEWYM {
    right: 0;
}

// Message reactions
.reaction-3vwAF2 {
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-transition: none;
    transition: none;
    background: rgba(0, 0, 0, 0.2);
    border: none;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        border-color: unset;
    }

    .reactionInner-YJjOtT {
        padding: 5px 8px;

        .reactionCount-26U4As {
            color: hsl(var(--accent-hue), 87%, 68%);
        }
    }

    &.reactionMe-1PwQAc {
        background: hsla(var(--accent-hue), 88%, 68%, 0.4);

        .reactionCount-26U4As {
            color: var(--white-500);
        }
    }
}