.avatar-2e8lTP {
    position: absolute;
    left: 14px;
    border-radius: 0;
    box-shadow:
        0 0 0 1px hsl(0 0% 29%),
        0 0 0 2px hsl(0 0% 36%);
}

.header-2jRmjb {
    opacity: 0.25;
}

.username-h_Y3Us {
    font-weight: 600;
}

.automodMessage-265YwJ:before,
.ephemeral-2nDdnn:before,
.highlighted-1TaRLI:before,
.mentioned-Tre-dv:before,
.replying-eZ7p5z:before {
    display: none;
}

#app-mount .botTagRegular-kpctgU {
    background-color: hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*28.7%) 42.4%);
    border: 1px solid hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*34%) 60.2%);
    color: hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*78.8%) 77.8%);
    border-radius: 0;
}

#app-mount .message-2CShn3 {
    background: hsl(calc(var(--accent-hue) + 9) calc(var(--saturation-factor, 1)*35.4%) 19.4%/.8);
    border: 1px solid hsl(calc(var(--accent-hue) + 9) calc(var(--saturation-factor, 1)*35%) 22.9%);
    box-shadow: 0 0 5px #000;
    margin: 0 16px;
    margin-bottom: 2px;
    max-width: var(--message-width);

    &.mentioned-Tre-dv {
        background: var(--banner-yellow);
    }

    &.replying-eZ7p5z {
        background: var(--message-background-gradient-blue);
    }

    &.automodMessage-265YwJ,
    &:has(.communicationDisabled-2KRN2p) {
        background: var(--banner-red);
    }

    &:has(.button-3bklZh.dangerous-Y36ifs:hover),
    &:has(.button-3bklZh.dangerous-Y36ifs:active) {
        background: var(--banner-red);
    }

    &:hover .header-2jRmjb {
        opacity: 1;
    }

    .mediaAttachmentsContainer-1WGRWy,
    .messageAttachmentMediaMosaic-2ic1yt,
    .oneByOneGridSingle-2ss-Zx,
    .imageWrapper-oMkQl4,
    .video-2HW4jD,
    .wrapper-1FP9YQ {
        border-radius: 4px;
    }
}

#app-mount .messageListItem-ZZ7v6g:has(.communicationDisabled-2KRN2p)+.messageListItem-ZZ7v6g .message-2CShn3:not(.groupStart-3Mlgv1) {
    background: var(--banner-red);
}

.hoverButtonGroup-2yZIzC {
    border-radius: 3px;
}

#app-mount .groupStart-3Mlgv1 {
    margin-top: 0;
}

.compact-2Nkcau.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 70px;
}

#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG {
    top: 12px;
}

.compact-2Nkcau .repliedMessage-3Z6XBG+.contents-2MsGLg {
    margin-top: 58px;
}

#app-mount .repliedMessage-3Z6XBG {
    position: absolute;
    top: 56px;
    left: 86px;
    border: 1px solid var(--quote-color);
    margin-left: -5px;
    padding: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: calc(100% - 97px);

    &>div {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: none;
    }

    &+.contents-2MsGLg .header-2jRmjb {
        margin-bottom: 92px;
    }

    img.emoji {
        display: inline;
    }

    .username-h_Y3Us {
        margin-right: 5px;
    }
}

.blockquoteDivider-363utW {
    background-color: var(--quote-color);
}

.container-2gUZhU {
    top: 14px;
    padding-right: 8px;
}

.wrapper-2vIMkT {
    background: none;
    height: 28px;
    border-radius: unset;
    box-shadow: unset;
    transition: unset;
}

.full-motion .wrapper-2vIMkT:hover {
    box-shadow: none;
}

.button-3bklZh {
    height: 28px;
    padding: 0;
    min-width: 34px;
    margin-left: 2px;
    background-color: var(--btn-dark);
    border-radius: 3px;

    &:hover {
        background-color: var(--btn-dark-hover);
    }

    &:active {
        padding: 0;
    }

    &.selected-69H4ua {
        background-color: var(--btn-dark-hover);
    }

    &.dangerous-Y36ifs:hover {
        background: var(--status-danger);
        color: #fff;
    }
}

// Embeds
.embedFull-1HGV2S {
    overflow: hidden;
    border-left: none;
    z-index: 0;
    box-shadow: 2px 2px 10px rgb(0 0 0/.4);

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        border-right: 100vw solid transparent;
        border-color: inherit;
        opacity: 0.4;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(-45deg, transparent, rgb(0 0 0/.6) 95%);
        opacity: 0.6;
        z-index: -1;
    }

    .embedSuppressButton-1rZHq6 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px 4px 0 0;
        height: 20px;
        width: 20px;
        right: 0;
        z-index: 2;
    }

    .embedSuppressButton-1rZHq6:hover {
        background: var(--button-danger-background);
        color: var(--white-500);
    }

    .embedAuthorIcon-3pnkS4 {
        border-radius: 4px;
    }
}

.newMosaicStyle-2jdUaP {

    .codeView-12LUIl {
        margin: 2px 2px 0;
        border-radius: 4px;
        font-size: 0.8125rem;
        line-height: 1.0625rem;
        font-weight: lighter;
        -webkit-font-smoothing: antialiased;
    }

    .textContainer-36wgKK {
        background: linear-gradient(-90deg, hsl(calc(var(--accent-hue) - 2) calc(var(--saturation-factor, 1)*100%) 94.3%/.3) 5%, hsl(calc(var(--accent-hue) - 10) calc(var(--saturation-factor, 1)*15.6%) 39.0%/.3) 95%);
        border: none;
        border-radius: 4px 4px 0 0;
        min-height: 116px;
    }

    .footer-GXWBBp {
        background: linear-gradient(-60deg, hsl(calc(var(--accent-hue) - 2) calc(var(--saturation-factor, 1)*100%) 94.3%/.3) 5%, hsl(calc(var(--accent-hue) - 10) calc(var(--saturation-factor, 1)*15.6%) 39.0%/.3) 95%);
        border: none;
        border-radius: 0 0 4px 4px;
        gap: 4px;

        .attachmentName-vgRpzs {
            color: var(--header-secondary);
        }

        .formattedSize-1YbZww {
            color: var(--text-muted);
        }

        .downloadSection-20OayS+a {
            align-items: center;
            display: flex;
        }

        svg {
            color: var(--brand-experiment);
        }

        .codeIcon-Ni8XUA {
            padding-bottom: 0;
        }
    }
}

.tile-2mmK5T {
    #app-mount & {
        background: var(--banner-lightblue);
    }

    transform: none;
    transition: none;
    min-height: unset;
    position: relative;
    border-radius: 4px;

    .invalidPoop--w1123 {
        background-color: transparent;
        background-size: 64%;
    }

    .title-oJa_A6 {
        font-size: 21px;
        font-weight: 400;
    }

    .tagline-3DhQWg {
        font-size: 14px;
        line-height: 18px;
        color: var(--header-secondary);
        margin-top: 0;
    }

    .actions-3Gkxv6 {
        margin-top: 10px;
        display: flex;
        margin-left: auto;
        align-items: center;
        width: fit-content;
        background: #000;
        padding: 3px;
        border-radius: 2px;
    }
}

.wrapperAudio-1Bzv_Z {
    border: none;

    #app-mount & {
        background: var(--banner-lightblue);
    }

    .volumeButtonSlider-2OrZ9e {
        position: absolute;
        bottom: 10px;
        left: -54px;
        right: 0;
    }
}

.audioControls-3fmemK {
    border-radius: 2px;
}

.videoControls-2NzHnF {
    background: linear-gradient(to top, rgb(0 0 0/.95) 0%, rgb(0 0 0/.6) 60%, hsl(calc(var(--accent-hue) + 25) calc(var(--saturation-factor, 1)*9.4%) 12.5%/0) 100%);

    .mediaBarWrapper-33h1oY {
        background: hsl(calc(var(--accent-hue) - 13) calc(var(--saturation-factor, 1)*15.8%) 29.8%);
    }
}

.fakeEdges-18N907 {

    &::before,
    &::after {
        display: none;
    }
}

.durationTimeDisplay-QwCeRr,
.durationTimeSeparator-1Cqi9N {
    font-weight: 400;
    font-family: var(--font-primary);
}

.controlIcon-1grhw_ {
    opacity: .4;
}

.videoButton-3NM9Tc svg {
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 2px;

    &:not(:hover) {
        opacity: .4;
    }
}

.volumeButton-3IDSX- {

    // Full
    &:has([d^="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293"]) {
        mask: url(https://maendisease.github.io/Steam/illustrations/icns/volume.svg) center/contain no-repeat;
        mask-size: 20px;
    }

    // Half
    &:has([d^="M10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383"]) {
        mask: url(https://maendisease.github.io/Steam/illustrations/icns/volumehalf.svg) center/contain no-repeat;
        mask-size: 20px;
    }

    // Mute
    &:has([d^="M19.73 9L21 10.27l-2.23 2.23L21"]) {
        mask: url(https://maendisease.github.io/Steam/illustrations/icns/volumemuted.svg) center/contain no-repeat;
        mask-size: 20px;
    }

    svg {
        background: #fff;
    }

    path {
        display: none;
    }
}

.mediaBarInteractionVolume-zGrOSh {
    border-radius: 0;
    padding: 0;
}

.mediaBarGrabber-FvJKJg {
    width: 6px;
    height: 24px;
    border-radius: 50px;
    margin-top: -16px;
    transition: none;
    box-shadow: 0 0 1px 1px #000;

    .mediaBarInteraction-tUE5dq:hover & {
        background-color: var(--brand-experiment);

        &:hover {
            background-color: #fff;
        }
    }
}

.bubble-3XikHF {
    top: -34px;
    border-radius: 2px;
    height: unset;
    line-height: 17px;
    font-size: 13px;
    font-weight: 400;
    color: var(--tooltip-text);
    background: var(--tooltip-background);
    box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;

    &::before {
        display: none;
    }
}

.bumpBox-1Pp4td {
    background: rgb(0 0 0/.2);
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 4px;
}

.wrapper-1HIH0j {
    background: var(--background-tertiary);
    border-radius: 0;
    padding: 0;
    max-width: 432px;
    min-width: 160px;
    width: 100%;

    box-sizing: content-box;
    position: relative;
    border-top: 1px solid rgb(201 201 201/.06);
    border-bottom: 1px solid rgb(0 0 0/.5);
    box-shadow: 0 4px 8px 0 rgb(0 0 0/.5);
    transform-style: preserve-3d;
    perspective: 300px;
    perspective-origin: 50%;
    overflow: hidden;

    &:has(.inviteSplash-2nkLRX) {
        height: 222px;
    }

    &:hover {

        .inviteSplash-2nkLRX {
            transform: scale(1.06);
            filter: brightness(1.1) contrast(0.95) saturate(1);

            &::before {
                opacity: .2;
                transform: rotateZ(210deg) translateX(12%) translateY(32%);
            }
        }
    }

    .inviteSplash-2nkLRX {
        position: absolute;
        inset: 0;
        background-color: var(--background-modifier-accent);
        border-radius: 0;
        height: 100%;
        margin: 0;
        z-index: -1;
        transition-property: transform;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);

        &::before {
            content: '';
            display: block;
            opacity: .1;
            width: 220%;
            height: 100%;
            background: linear-gradient(to bottom,
                    hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*100%) 96.1%/0) 0%,
                    hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*100%) 96.1%/.85) 12px,
                    hsl(calc(var(--accent-hue) + 5) calc(var(--saturation-factor, 1)*100%) 96.1%/.75) 20%,
                    rgb(210 210 210/0) 60%,
                    rgb(10 10 10/0.0) 85%,
                    rgb(10 10 10/.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateZ(212deg) translateX(12%) translateY(59%);
            pointer-events: none;
            z-index: 10;
            transition-property: transform, opacity;
            transition-duration: .6s;
            transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
        }
    }

    .h5-2feg8J.eyebrow-2wJAoF {
        display: none;
    }

    .content-1r-J1r {
        min-height: 76px;
        padding: 8px;
        margin-top: auto;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            box-shadow: inset 0 0 16px 16px #686868;
            filter: blur(16px);
            backdrop-filter: blur(16px);
            overflow: hidden;
            z-index: -1;
        }
    }

    .headerLine-2AIsUj {
        gap: 12px;
    }

    .inviteDestination-1rM5rX {
        font-weight: 400;
        text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    }

    .guildDetail-3EJhW_ {
        font-size: 12px;
        line-height: 16px;
    }

    .count-62gVQ0 {
        color: var(--header-secondary);
        text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    }

    button {
        #app-mount & {
            padding: 2px;
            background-image: radial-gradient(ellipse farthest-corner at 50% 40%, #75b022 0%, #588a1b 100%);
            box-shadow: 1px 1px 4px 1px rgb(0 0 0/.5);
            transition-property: background;
            transition-duration: .21s;
            transition-timing-function: ease-in-out;

            &:hover {
                background-image: radial-gradient(ellipse farthest-corner at 50% 40%, #8ed629 0%, #6aa621 100%);
            }

            &:active {
                background-image: radial-gradient(ellipse farthest-corner at 50% 40%, rgb(193 228 249/1) 0%, rgb(148 183 202/1) 100%);
            }

            &.buttonSize-3QlBTl {
                height: 60px;
                width: 60px;
            }
        }
    }

    &:has(.inviteDestinationJoined-dZrdzT) {
        button {
            #app-mount & {
                background-image: radial-gradient(ellipse farthest-corner at 50% 40%, #35b2ec 0%, #11668a 100%);
            }
        }
    }
}

.iconActiveLarge-ac-EDu {
    border-radius: 3px;
}

#app-mount .guildIconImage-74OdmM {
    background-color: transparent;
}

.status-JIDx3x {
    height: 6px;
    width: 6px;
    margin-right: 8px;
}

.statusOffline-2R-ArP {
    background: var(--gpColor-Grey);
}

.statusOnline-Iw3r2o {
    background: var(--gpColor-GreenHi);
    filter: drop-shadow(0 0 4px hsl(var(--gpColor-GreenHi-hsl)/.8));
}

// Message dividers
#app-mount .divider-IqmEqJ.beforeGroup-1BvJAt {
    top: 0;
}

#app-mount .divider-2rZFJK[role="separator"] {
    border-top: none;
    justify-content: flex-start;
    height: 1px;
    max-width: calc(var(--message-width) - 70px);
    background: var(--store-divider);
    margin-top: 2rem;
    margin-bottom: -1px;

    &#---new-messages-bar {
        background: linear-gradient(to right, var(--status-danger) 0%, transparent 100%);
    }
}

.content-3spvdd {
    padding: 0;
    color: var(--quote-color);
    background: none;
    line-height: auto;
    font-size: 14px;
    margin-top: -30px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
}

.unreadPill-3nEWYM {
    top: unset;
    right: unset;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    height: unset;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    padding-bottom: 11px;
    letter-spacing: 2px;
    background: none;
}

.unreadPillCap-2-iI4h {
    display: none;
}

.content-3spvdd+.unreadPill-3nEWYM {
    right: 0;
}

// Message reactions
.reaction-3vwAF2 {
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-transition: none;
    transition: none;
    background: var(--btn-dark);
    border: none;

    &:hover {
        background: rgb(255 255 255/.2);
        border-color: unset;
    }

    .reactionInner-YJjOtT {
        padding: 5px 8px;

        .reactionCount-26U4As {
            color: var(--btn-dark-text);
        }
    }

    &.reactionMe-1PwQAc {
        background: var(--btn-dark-hover);

        .reactionCount-26U4As {
            color: #fff;
        }
    }
}

.wrapper-30-Nkg:has(.blockedMessageText-3Zeg3y) {
    padding: 0 0 0 16px;

    &.compact-2Nkcau {
        padding: 0 0 0 108px;
    }
}

#app-mount .groupStart-3Mlgv1:has(.blockedMessageText-3Zeg3y) {
    margin: 0;

    &.expanded-3lghlw {
        background: none;
    }

    .messageListItem-ZZ7v6g {
        opacity: .5
    }

    .message-2CShn3 {
        background: var(--info-danger-background);
        border: 1px solid var(--info-danger-foreground);
    }
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted);

    &:hover {
        text-decoration: underline;
        color: var(--info-danger-foreground);
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 14px;
        pointer-events: none;
        background-color: currentColor;
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat;
    }
}

.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground);
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.spamBanner-1auiob {
    background: var(--banner-red);
    box-shadow: var(--banner-shadow);
    border-radius: 4px;
}

.attachment-1PZZB2 {
    border-color: transparent;
    background: rgb(0 0 0/.2);
}

.container-3i3IzO {
    background: var(--btn-brand);
    border-radius: 2px;

    .cta-1XhfrG,
    .name-13vPlv {
        font-weight: 400;
    }
}

.executedCommandAvatar-3oOnb1,
.replyAvatar-sHd2sU,
.replyBadge-LMm_Ic,
.threadMessageAccessoryAvatar-17qE_g {
    border-radius: 3px;
}