.avatar-2e8lTP {
    position: absolute;
    left: 14px;
    border-radius: 0;
    box-shadow:
        0 0 0 1px hsl(0, 0%, 29%),
        0 0 0 2px hsl(0, 0%, 36%);
}

.header-2jRmjb {
    opacity: 0.25;
}

.username-h_Y3Us {
    font-weight: 600;
}

.automodMessage-265YwJ:before,
.ephemeral-2nDdnn:before,
.highlighted-1TaRLI:before,
.mentioned-Tre-dv:before,
.replying-eZ7p5z:before {
    display: none;
}

#app-mount .botTagRegular-kpctgU {
    background-color: hsl(calc(var(--accent-hue) + 5), 29%, 42%);
    border: 1px solid hsl(calc(var(--accent-hue) + 5), 34%, 60%);
    color: hsl(calc(var(--accent-hue) + 5), 79%, 78%);
    border-radius: 0;
}

#app-mount .message-2CShn3 {
    background: hsla(calc(var(--accent-hue) + 9), 35%, 19%, 0.8);
    border: 1px solid hsl(var(--accent-hue), 35%, 23%);
    box-shadow: 0 0 5px #000;
    margin: 0 16px;
    margin-bottom: 2px;
    max-width: var(--messages-max-width);

    &.mentioned-Tre-dv {
        background: var(--message-background-gradient-yellow);
    }

    &.replying-eZ7p5z {
        background: var(--message-background-gradient-blue);
    }

    &.automodMessage-265YwJ,
    &:has(.communicationDisabled-2KRN2p) {
        background: var(--message-background-gradient-red);
    }

    &:has(.button-3bklZh.dangerous-Y36ifs:hover),
    &:has(.button-3bklZh.dangerous-Y36ifs:active) {
        background: var(--message-background-gradient-red);
    }

    &:hover .header-2jRmjb {
        opacity: 1;
    }

    .mediaAttachmentsContainer-1WGRWy,
    .messageAttachmentMediaMosaic-2ic1yt,
    .oneByOneGridSingle-2ss-Zx,
    .imageWrapper-oMkQl4,
    .video-2HW4jD,
    .wrapper-1FP9YQ {
        border-radius: 4px;
    }
}

#app-mount .messageListItem-ZZ7v6g:has(.communicationDisabled-2KRN2p)+.messageListItem-ZZ7v6g .message-2CShn3:not(.groupStart-3Mlgv1) {
    background: var(--message-background-gradient-red);
}

.hoverButtonGroup-2yZIzC {
    border-radius: 3px;
}

#app-mount .groupStart-3Mlgv1 {
    margin-top: 0;
}

.compact-2Nkcau.wrapper-30-Nkg,
.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 70px;
}

#app-mount .repliedMessage-3Z6XBG {
    position: absolute;
    top: 56px;
    left: 86px;
    border: 1px solid hsl(var(--accent-hue), 19%, 42%);
    margin-left: -5px;
    padding: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: calc(100% - 97px);

    &>div {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: none;
    }

    &+.contents-2MsGLg .header-2jRmjb {
        margin-bottom: 92px;
    }

    img.emoji {
        display: inline;
    }

    .username-h_Y3Us {
        margin-right: 5px;
    }
}

.container-2gUZhU {
    top: 14px;
    padding-right: 8px;
}

.wrapper-2vIMkT {
    background: none;
    height: 28px;
    border-radius: unset;
    box-shadow: unset;
    transition: unset;
}

.full-motion .wrapper-2vIMkT:hover {
    box-shadow: none;
}

.button-3bklZh {
    height: 28px;
    padding: 0;
    min-width: 34px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    &:hover {
        background-color: hsla(var(--accent-hue), 87%, 68%, 0.4);
    }

    &:active {
        padding: 0;
    }

    &.selected-69H4ua {
        background-color: hsla(var(--accent-hue), 87%, 68%, 0.4);
    }

    &.dangerous-Y36ifs:hover {
        background: var(--status-danger);
        color: #fff;
    }
}

// Embeds
.embedFull-1HGV2S {
    overflow: hidden;
    border-left: none;
    z-index: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);

    &::before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        border-right: 100vw solid transparent;
        border-color: inherit;
        opacity: 0.4;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(-45deg, transparent, rgba(0, 0, 0, 0.6) 95%);
        opacity: 0.6;
        z-index: -1;
    }

    .embedSuppressButton-1rZHq6 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px 4px 0 0;
        height: 20px;
        width: 20px;
        right: 0;
        z-index: 2;
    }

    .embedSuppressButton-1rZHq6:hover {
        background: var(--button-danger-background);
        color: var(--white-500);
    }

    .embedAuthorIcon-3pnkS4 {
        border-radius: 4px;
    }
}

.videoControls-2NzHnF {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(29, 30, 35, 0) 100%);

    .mediaBarWrapper-33h1oY {
        background: #405358;
    }

    .fakeEdges-18N907 {

        &::before,
        &::after {
            display: none;
        }
    }
}

.durationTimeDisplay-QwCeRr,
.durationTimeSeparator-1Cqi9N {
    font-weight: 400;
    font-family: var(--font-primary);
}

.controlIcon-1grhw_ {
    opacity: .4;
}

.controlIcon-10O-4h {
    color: #fff;

    &:not(:hover) {
        opacity: .4;
    }
}

.volumeButton-3IDSX- {
    &:has([d^="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293"]) {
        -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/volume.svg) center/contain no-repeat;
        mask: url(https://maendisease.github.io/Steam/illustrations/icns/volume.svg) center/contain no-repeat;
        mask-size: 18px;
    }

    &:has([d^="M19.73 9L21 10.27l-2.23 2.23L21"]) {
        -webkit-mask: url(https://maendisease.github.io/Steam/illustrations/icns/volumemuted.svg) center/contain no-repeat;
        mask: url(https://maendisease.github.io/Steam/illustrations/icns/volumemuted.svg) center/contain no-repeat;
        mask-size: 18px;
    }

    svg {
        background: #fff;
    }

    path {
        display: none;
    }
}

.bumpBox-1Pp4td {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 4px;
}

.wrapper-1HIH0j {
    background: var(--background-tertiary);
    border-radius: 0;
    padding: 0;
    max-width: 432px;
    min-width: 160px;
    width: 100%;

    box-sizing: content-box;
    position: relative;
    border-top: 1px solid rgba(201, 201, 201, .06);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    transform-style: preserve-3d;
    perspective: 300px;
    perspective-origin: 50%;
    overflow: hidden;

    &:has(.inviteSplash-2nkLRX) {
        height: 222px;
    }

    &:hover {

        .inviteSplash-2nkLRX {
            transform: scale(1.06);
            filter: brightness(1.1) contrast(0.95) saturate(1);

            &::before {
                opacity: .2;
                transform: rotateZ(210deg) translateX(12%) translateY(32%);
            }
        }
    }

    .inviteSplash-2nkLRX {
        position: absolute;
        inset: 0;
        background-color: var(--background-modifier-accent);
        border-radius: 0;
        height: 100%;
        margin: 0;
        z-index: -1;
        transition-property: transform;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);

        &::before {
            content: '';
            display: block;
            opacity: .1;
            width: 220%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(235, 245, 255, 0) 0%, rgba(235, 245, 255, 0.85) 12px, rgba(235, 245, 255, 0.75) 20%, rgba(210, 210, 210, 0) 60%, rgba(10, 10, 10, 0) 85%, rgba(10, 10, 10, 0.8) 100%);
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateZ(212deg) translateX(12%) translateY(59%);
            pointer-events: none;
            z-index: 10;
            transition-property: transform, opacity;
            transition-duration: .6s;
            transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
        }
    }

    .h5-2feg8J.eyebrow-2wJAoF {
        padding: 0 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        text-transform: unset;
        position: absolute;
        bottom: 76px;
        left: 0;
        text-align: center;
    }

    .content-1r-J1r {
        height: 76px;
        padding: 0 8px;
        margin-top: auto;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            box-shadow: inset 0 0 16px 16px #686868;
            filter: blur(16px);
            backdrop-filter: blur(16px);
            overflow: hidden;
            z-index: -1;
        }
    }

    .headerLine-2AIsUj {
        gap: 12px;
    }

    .inviteDestination-1rM5rX {
        font-weight: 400;
    }

    .guildDetail-3EJhW_ {
        font-size: 12px;
        line-height: 16px;
    }

    .count-62gVQ0 {
        color: var(--header-secondary);
    }

    button {
        padding: 2px;
        background: radial-gradient(ellipse farthest-corner at 50% 40%, #75b022 0%, #588a1b 100%);
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .5);
        transition-property: background;
        transition-duration: .21s;
        transition-timing-function: ease-in-out;

        &:hover {
            background: radial-gradient(ellipse farthest-corner at 50% 40%, #8ed629 0%, #6aa621 100%);
        }

        &:active {
            background: radial-gradient(ellipse farthest-corner at 50% 40%, rgba(193, 228, 249, 1) 0%, rgba(148, 183, 202, 1) 100%);
        }

        &.buttonSize-3QlBTl {
            height: 60px;
            width: 60px;
        }
    }

    &:has(.inviteDestinationJoined-dZrdzT) {
        button {
            background: radial-gradient(ellipse farthest-corner at 50% 40%, #35b2ec 0%, #11668a 100%);
        }
    }
}

.iconActiveLarge-ac-EDu {
    border-radius: 3px;
}

.status-JIDx3x {
    height: 6px;
    width: 6px;
    margin-right: 8px;
}

.statusOffline-2R-ArP {
    background: var(--gpColor-Grey);
}

.statusOnline-Iw3r2o {
    background: var(--gpColor-GreenHi);
    filter: drop-shadow(0 0 4px hsla(var(--gpColor-GreenHi-hsl), 0.8));
}



// Message dividers
#app-mount .divider-IqmEqJ.beforeGroup-1BvJAt {
    top: 0;
}

#app-mount .divider-2rZFJK[role="separator"] {
    border-top: none;
    justify-content: flex-start;
    height: 1px;
    max-width: calc(var(--messages-max-width) + 120px);
    background: linear-gradient(to right, hsl(201, 41%, 39%) 0%, transparent 60%);
    margin-top: 2rem;
    margin-bottom: -1px;

    &#---new-messages-bar {
        background: linear-gradient(to right, var(--status-danger) 0%, transparent 60%);
    }
}

.content-3spvdd {
    padding: 0;
    color: hsl(var(--accent-hue), 19%, 42%);
    background: none;
    line-height: auto;
    font-size: 14px;
    margin-top: -30px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
}

.unreadPill-3nEWYM {
    top: unset;
    right: unset;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    height: unset;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    padding-bottom: 11px;
    letter-spacing: 2px;
    background: none;
}

.unreadPillCap-2-iI4h {
    display: none;
}

.content-3spvdd+.unreadPill-3nEWYM {
    right: 0;
}

// Message reactions
.reaction-3vwAF2 {
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-transition: none;
    transition: none;
    background: rgba(0, 0, 0, 0.2);
    border: none;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        border-color: unset;
    }

    .reactionInner-YJjOtT {
        padding: 5px 8px;

        .reactionCount-26U4As {
            color: hsl(var(--accent-hue), 87%, 68%);
        }
    }

    &.reactionMe-1PwQAc {
        background: hsla(var(--accent-hue), 88%, 68%, 0.4);

        .reactionCount-26U4As {
            color: var(--white-500);
        }
    }
}

.wrapper-30-Nkg:has(.blockedMessageText-3Zeg3y) {
    padding: 0 0 0 16px;

    &.compact-2Nkcau {
        padding: 0 0 0 108px;
    }
}

#app-mount .groupStart-3Mlgv1:has(.blockedMessageText-3Zeg3y) {
    margin: 0;

    &.expanded-3lghlw {
        background: none;
    }

    .messageListItem-ZZ7v6g {
        opacity: .5
    }

    .message-2CShn3 {
        background: var(--info-danger-background);
        border: 1px solid var(--info-danger-foreground);
    }
}

.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
    display: none
}

.blockedMessageText-3Zeg3y {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--interactive-muted);

    &:hover {
        text-decoration: underline;
        color: var(--info-danger-foreground);
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 14px;
        pointer-events: none;
        background-color: currentColor;
        -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat;
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat;
    }
}

.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {
    color: var(--info-danger-foreground);
}

.blockedAction-2cPk2G {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0
}

.spamBanner-1auiob {
    background: var(--message-background-gradient-red);
    -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}