.searchResultsWrap_c2b47d {
    background: var(--store-sidebar-background);
    margin-top: 16px;
    margin-left: 16px;
    max-height: calc(100% - 16px);
}

.searchHeader_b7c924 {
    background-color: rgb(0 0 0/.2);
    height: 56px;
    padding: 16px;
}

.searchResult_ddc613 {
    background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*88%) 68%/.1);
    border-radius: 0;
}

.container_ddc613:hover .header_f9f2ca {
    opacity: 1;
}

.highlight {
    color: hsl(86 100% 79%);
    background-color: hsl(86 52% 38%);
}

.totalResults_b7c924 {
    flex-grow: 0;
    margin-right: 16px;
}

.searchHeaderTabList_b7c924 {
    --btn-count: 3;
    background: rgb(0 0 0/.2);
    border-radius: 3px;
    margin-left: auto;
    max-width: 250px;
    gap: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

#app-mount .searchHeaderTabList_b7c924 .item_a0 {
    background: none;
    margin: 0;
    display: flex;
    flex: 0 1 calc(100% / var(--btn-count));
    justify-content: center;

    &:not(.selected_a0):hover {
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*40%) 23%/.4);
    }
}


.searchHeaderTabList_b7c924 {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% / var(--btn-count));
        background: var(--store-tablist-btn);
        transition: translate .2s ease;
        border-radius: 3px;
    }

    &:has(.selected_a0:nth-child(2)):before {
        translate: 100%;
    }

    &:has(.selected_a0:nth-child(3)):before {
        translate: 200%;
    }
}

// Bottom nav buttons
.pageButton_b48941 {
    min-height: 32px;
}

.pageButton_b48941.button_dd4f85:disabled,
.pageButton_b48941.button_dd4f85[aria-disabled=true] {
    opacity: 0.2;
    pointer-events: none;
}

.pageButton_b48941.button_dd4f85 {
    background-color: var(--btn-brand);
    color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*87%) 68%);
    font-weight: 400;

    &:hover {
        background-color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*87%) 68%);
        color: #fff;
    }
}

.roundButton_b48941.pageButton_b48941 {
    background: none;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }

    &.activeButton_b48941 {
        color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*19%) 42%);
        cursor: default;
        background: none;
    }

    &.gap_b48941 {
        cursor: text;
    }
}

.pageControlContainer_b48941 {
    margin: 0 0 4px 0;
}
