.searchResultsWrap-5RVOkx {
    background: var(--store-sidebar-background);
    margin-top: 16px;
    margin-left: 16px;
    max-height: calc(100% - 16px);
}

.searchHeader-1r_ZSh {
    background-color: rgb(0 0 0/.2);
    height: 56px;
    padding: 16px;
}

.searchResult-O9NDji {
    background: hsl(var(--accent-hue) 88% 68%/.1);
    border-radius: 0;
}

.container-rZM65Y:hover .header-2jRmjb {
    opacity: 1;
}

.highlight {
    color: hsl(86 100% 79%);
    background-color: hsl(86 52% 38%);
}

.totalResults-2On644 {
    flex-grow: 0;
    margin-right: 16px;
}

.searchHeaderTabList-3CZMQB {
    --btn-count: 3;
    background: rgb(0 0 0/.2);
    border-radius: 3px;
    margin-left: auto;
    max-width: 250px;
    gap: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

#app-mount .searchHeaderTabList-3CZMQB .item-2GWPIy {
    background: none;
    margin: 0;
    display: flex;
    flex: 0 1 calc(100% / var(--btn-count));
    justify-content: center;

    &:not(.selected-1sf9UK):hover {
        background: hsl(var(--accent-hue) 40% 23%/.4);
    }
}


.searchHeaderTabList-3CZMQB {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% / var(--btn-count));
        background: var(--store-tablist-btn);
        transition: translate .2s ease;
        border-radius: 3px;
    }

    &:has(.selected-1sf9UK:nth-child(2)):before {
        translate: 100%;
    }

    &:has(.selected-1sf9UK:nth-child(3)):before {
        translate: 200%;
    }
}

// Bottom nav buttons
.pageButton-uta6J3 {
    min-height: 32px;
}

.pageButton-uta6J3.button-ejjZWC:disabled,
.pageButton-uta6J3.button-ejjZWC[aria-disabled=true] {
    opacity: 0.2;
    pointer-events: none;
}

.pageButton-uta6J3.button-ejjZWC {
    background-color: var(--btn-brand);
    color: hsl(var(--accent-hue) 87% 68%);
    font-weight: 400;

    &:hover {
        background-color: hsl(var(--accent-hue) 87% 68%);
        color: #fff;
    }
}

.roundButton-2mKRqM.pageButton-uta6J3 {
    background: none;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
        color: inherit;
    }

    &.activeButton-2K2Fwx {
        color: hsl(var(--accent-hue) 19% 42%);
        cursor: default;
        background: none;
    }

    &.gap-3Q-U2O {
        cursor: text;
    }
}

.pageControlContainer-1Mbe6M {
    margin: 0 0 4px 0;
}