.searchResultsWrap__9f374 {
    background: var(--store-sidebar-background);
    margin-top: 16px;
    margin-left: 16px;
    max-height: calc(100% - 16px);
}

.searchHeader__19d87 {
    background-color: rgb(0 0 0/.2);
    height: 56px;
    padding: 16px;
}

.searchResult_dcd237 {
    background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*88%) 68%/.1);
    border-radius: 0;
}

.container__7db35:hover .header__39b23 {
    opacity: 1;
}

.highlight {
    color: hsl(86 100% 79%);
    background-color: hsl(86 52% 38%);
}

.totalResults__695d3 {
    flex-grow: 0;
    margin-right: 16px;
}

.searchHeaderTabList__78b98 {
    --btn-count: 3;
    background: rgb(0 0 0/.2);
    border-radius: 3px;
    margin-left: auto;
    max-width: 250px;
    gap: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

#app-mount .searchHeaderTabList__78b98 .item__48dda {
    background: none;
    margin: 0;
    display: flex;
    flex: 0 1 calc(100% / var(--btn-count));
    justify-content: center;

    &:not(.selected__5711d):hover {
        background: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*40%) 23%/.4);
    }
}


.searchHeaderTabList__78b98 {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% / var(--btn-count));
        background: var(--store-tablist-btn);
        transition: translate .2s ease;
        border-radius: 3px;
    }

    &:has(.selected__5711d:nth-child(2)):before {
        translate: 100%;
    }

    &:has(.selected__5711d:nth-child(3)):before {
        translate: 200%;
    }
}

// Bottom nav buttons
.pageButton_bcd673 {
    min-height: 32px;
}

.pageButton_bcd673.button_afdfd9:disabled,
.pageButton_bcd673.button_afdfd9[aria-disabled=true] {
    opacity: 0.2;
    pointer-events: none;
}

.pageButton_bcd673.button_afdfd9 {
    background-color: var(--btn-brand);
    color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*87%) 68%);
    font-weight: 400;

    &:hover {
        background-color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*87%) 68%);
        color: #fff;
    }
}

.roundButton__9e83c.pageButton_bcd673 {
    background: none;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }

    &.activeButton__7a550 {
        color: hsl(var(--accent-hue) calc(var(--saturation-factor, 1)*19%) 42%);
        cursor: default;
        background: none;
    }

    &.gap__94f25 {
        cursor: text;
    }
}

.pageControlContainer_b111b0 {
    margin: 0 0 4px 0;
}