.homeContainer_c36871 {
    margin-top: var(--content-gutter);
    padding: 0 0 32px 0;
    position: relative;

    .maxWidthWrapper__64962 {
        max-width: unset;
    }

    .header__09049 {
        margin-top: 52px;
        padding-bottom: 12px;
        background: linear-gradient(to right, transparent 50%, rgb(0 0 0/.4) 100%);
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 16px;
    }

    .headerArtWrapper__31b51 {
        margin-left: unset;
        margin-right: unset;
        border-radius: 0;
        width: 100%;
    }

    .headerArt__1cd19 {
        border-radius: 0;
        background-position: center;
    }

    .headerIcon_f56272 {
        margin: 16px 16px 16px 0;
        border: none;
        background-color: transparent;
    }

    div.headerName_b10e0f {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        h3 {
            display: block;
            font-size: 26px;
            line-height: 32px;
            font-weight: 400;
            max-width: calc(100% - 324px - 16px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }


    .container__541ec,
    .container__9f322 {
        padding-top: 30px;
        gap: 2px;

        h2 {
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            font-weight: 400;
            padding-top: 2px;
            margin-bottom: 6px;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: var(--store-divider);
            }
        }
    }

    .container__541ec {

        .action__94060 {
            padding: 4px 8px;
            background: var(--banner-lightblue);
            transition: none;
            border-radius: 0;

            &:hover {
                background-color: var(--banner-lightblue-hover);

                .checkCircle__5103d {
                    color: #fff;
                }
            }

            &:hover,
            &:has(.checkCircleCompleted__90309) {

                .channelIconContainer__67756,
                .rulesIconContainer__0c984 {
                    svg {
                        color: #fff;
                    }
                }
            }

            &:has(.checkCircleCompleted__90309) {
                background: linear-gradient(60deg, rgb(117 176 34/.7) 5%, rgb(88 138 27/.6) 95%);
            }

            .large_cbd54d {
                width: 16px;
                height: 16px;
            }

            .channelIconContainer__67756,
            .rulesIconContainer__0c984 {
                width: 18px;
                height: 18px;
                border-radius: 0;
                background: none;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .checkCircle__5103d {
                height: 18px;
                width: 18px;
            }

            .checkCircleCompleted__90309 {
                height: 18px;
                width: 18px;
                color: #fff;

                circle {
                    fill: none;
                }
            }

            &:not(:hover, :has(.checkCircleCompleted__90309)) {
                --header-primary: hsl(calc(var(--accent-hue) + 2) calc(var(--saturation-factor, 1)*11.5%) 69.4%);
            }

            &:hover:not(:has(.checkCircleCompleted__90309)) {
                --text-muted: #fff;
            }

            .actionInfo__1ac38 {
                display: flex;
                flex-direction: row;
            }

            [data-text-variant="text-md/semibold"] {
                font-size: 12px;
                line-height: unset;
                font-weight: 400;
            }
        }
    }

    .container__9f322 {
        margin-top: 0;

        .row__4f559 {
            padding: 8px;
            background: var(--banner-lightblue);
            transition: none;
            border-radius: 0;

            &:hover {
                background-color: var(--banner-lightblue-hover);
            }

            .title__0ba32 {
                margin-bottom: 0;
                font-size: 12px;
                line-height: unset;
                font-weight: 400;
            }

            [data-text-variant="text-sm/normal"] {
                margin-top: 4px;
                font-size: 12px;
                line-height: unset;
                font-weight: 400;
            }

            .media_a5d930 {
                border-radius: 3px;
            }
        }
    }
}

@media (min-width: 1300px) {
    .homeContainer_c36871 {
        .headerArt__1cd19 {
            height: 338px;
            padding-top: 0;
        }

        .header__09049 {
            grid-template-columns: 1fr 324px;
        }
    }
}

.iconActiveXLarge_e200c8 {
    border-radius: 3px;
}

.homeContent_e458e8 {
    margin-top: 0;
    gap: var(--content-gutter);

}

@media (max-width: 1300px) {
    .homeContent_e458e8 {
        max-width: var(--content-inner-width);
        margin-left: 0;
    }
}

.sidebarCardWrapper__98124:has(.guildDescription_e1a241) {
    position: absolute;
    top: calc(52px + 16px + 100px + 8px);
    width: 324px;
    right: 0;
    box-sizing: border-box;
    padding: 0 16px 0 0;
    background: none;
    border-radius: 0;
    height: calc(338px - 16px - 100px - 8px);

    h2 {
        display: none;
    }

    .guildDescription_e1a241 {
        --text-normal: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*28.1%) 82.5%);
        font-size: 14px;
        line-height: 18px;
    }

    .guildInfoText_db8170 {
        line-height: 20px;
    }
}

.sidebar_fa53ea {
    width: 308px;
    min-width: 308px;
}

.sidebarCardWrapper__98124:not(:has(.guildDescription_e1a241)) {
    background: var(--store-sidebar-background);
    border-radius: 0;

    h2 {
        font-size: 12px;
        line-height: unset;
        font-weight: 400;
        margin-bottom: 2px;
        --header-primary: hsl(calc(var(--accent-hue) + 3) calc(var(--saturation-factor, 1)*8.2%) 59.4%);
    }
}

.resourceChannelsList__45019 {
    margin: 0;
    gap: 2px;
}

.resourceChannel__12be0 {
    color: var(--btn-brand-text);
    border-radius: 1px;
    padding: 4px 0 4px 8px;
    background: var(--sidebar-btn-brand);

    &:hover {
        background: var(--btn-brand-hover);
        color: #fff;
    }

    .resourceImageBase_b39084 {
        border-radius: 2px;
    }

    [data-text-variant="text-sm/semibold"] {
        font-size: 12px;
        font-weight: 400;
    }
}

.welcomeMessageContainer__3f43b {

    .welcomeMessageContent__26562 {
        padding: 4px 16px 16px;
        z-index: 1;
    }

    .userProfileOuter__35e59,
    .userProfileInner__8ff35 {
        border-radius: 4px;
    }

    .userCardInner_e36852 {
        border-radius: 4px;
        background: none;
    }

    .wrapper__3ed10 {
        #app-mount & {
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .avatarBackground_c0a21e,
    .avatarBorder_d374d6 {
        border-radius: 4px;
    }

    [data-text-variant="text-md/medium"] {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
}

.messagesWrapper_add28b .scrollerInner__37fee[data-list-id=chat-messages]:not(:has(.wrapper__11501)) {
    .navigationDescription__4e2ab:first-child+.divider__01aed+.messageListItem__050f9 {
        .message_ccca67 {
            #app-mount & {
                background: none;
                border: none;
                box-shadow: none;
            }
        }
    }

    &:has(.navigationDescription__4e2ab:first-child+.divider__01aed+.messageListItem__050f9) {
        &::before {
            top: 32px;
        }
    }
}
