.container__42489 {
    max-width: var(--content-width);

    .scroller__5e182 {
        background: none;
    }

    .container__7beb8 {
        margin-top: var(--content-gutter);
        padding-bottom: 12px;
        background: linear-gradient(to right, transparent 50%, rgb(0 0 0/.4) 100%);
        display: grid;
        grid-template-areas:
            "banner icon"
            "banner title"
            "banner sub";
        column-gap: 16px;
        align-items: start;
        grid-template-columns: 1fr 324px;
        position: relative;
    }

    .coverImageContainer__814bf {
        grid-area: banner;
        padding-bottom: 0;
        height: 100%;
        max-height: 338px;
    }

    .guildIconContainer__88c9b {
        grid-area: icon;
        padding: 0;
        background: none;
        border-radius: 3px;
        margin-top: 16px;
        margin-bottom: 8px;
        box-shadow: 0 0 3px #000000;
        width: 100px;
    }

    .iconInactive__90d40 {
        border-radius: 3px;
    }

    .ctaTitle__7b351 {
        grid-area: title;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: left;
        margin: 0 0 10px 0;
        padding-right: 16px;
        color: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*28.1%) 82.5%);
    }

    .ctaSubtitle_e20642 {
        grid-area: sub;
        --header-secondary: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*28.1%) 82.5%);
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        margin: 0;
        padding-right: 16px;
    }

    .container_e2a91b {
        flex: 1 1 320px;
        border-radius: 4px 4px 0 0;
    }

    .roleMessagePreview__8088a {
        padding: 0;
        background: none;
        border-radius: 0;
        border: none;
    }

    .benefitsList_a5c11d {
        gap: 10px;
    }

    .container_e337ba {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
    }
}

.tierPreviewsContainer__7683f {
    padding: 0;
}

.cardContainerWithoutTopIndicator_d7edfe {
    border-radius: 4px 4px 0 0;
    
    .tierInfoContainer__80b01 {
        background: var(--banner-lightblue);
        padding: 32px 16px 16px;
    }
}

.subscriptionPerks__2f4e5 {
    background: rgb(0 0 0/.4);
}

.infoContainer_f82778 {
    .name_b4c1cb {
        font-weight: 400;
    }
}