.container__2b28c {
    max-width: var(--content-width);

    .scroller__12676 {
        background: none;
    }

    .container__01da0 {
        margin-top: var(--content-gutter);
        padding-bottom: 12px;
        background: linear-gradient(to right, transparent 50%, rgb(0 0 0/.4) 100%);
        display: grid;
        grid-template-areas:
            "banner icon"
            "banner title"
            "banner sub";
        column-gap: 16px;
        align-items: start;
        grid-template-columns: 1fr 324px;
        position: relative;
    }

    .coverImageContainer__29476 {
        grid-area: banner;
        padding-bottom: 0;
        height: 100%;
        max-height: 338px;
    }

    .guildIconContainer__5fbec {
        grid-area: icon;
        padding: 0;
        background: none;
        border-radius: 3px;
        margin-top: 16px;
        margin-bottom: 8px;
        box-shadow: 0 0 3px #000000;
        width: 100px;
    }

    .iconInactive__8c603 {
        border-radius: 3px;
    }

    .ctaTitle__65abd {
        grid-area: title;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: left;
        margin: 0 0 10px 0;
        padding-right: 16px;
        color: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*28.1%) 82.5%);
    }

    .ctaSubtitle__5c2e0 {
        grid-area: sub;
        --header-secondary: hsl(calc(var(--accent-hue) + 1) calc(var(--saturation-factor, 1)*28.1%) 82.5%);
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        margin: 0;
        padding-right: 16px;
    }

    .container__93a40 {
        flex: 1 1 320px;
        border-radius: 4px 4px 0 0;
    }

    .roleMessagePreview__242dc {
        padding: 0;
        background: none;
        border-radius: 0;
        border: none;
    }

    .benefitsList_a60ccd {
        gap: 10px;
    }

    .container__1897b {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
    }
}

.tierPreviewsContainer__3e3d4 {
    padding: 0;
}

.cardContainerWithoutTopIndicator_a60d34 {
    border-radius: 4px 4px 0 0;
    
    .tierInfoContainer_dd1f1c {
        background: var(--banner-lightblue);
        padding: 32px 16px 16px;
    }
}

.subscriptionPerks__47df3 {
    background: rgb(0 0 0/.4);
}

.infoContainer__2420e {
    .name__5e438 {
        font-weight: 400;
    }
}
