.popout__24e32 {
    background: var(--contextmenu-gradient);
    padding: 8px 5px 8px 5px;
    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;

    .row__9e25f {
        margin: 0 -5px;
        border-radius: 0;
        padding: 6px 15px;
        font-size: 12px;
        min-height: 21px;
        color: var(--contextmenu-text);

        &:hover {
            background: var(--contextmenu-text);
            color: var(--contextmenu-text-hover);

            .timestamp__8f948 {
                color: var(--contextmenu-text-hover);
            }
        }
    }
}
