#app-mount .addGamePopout-2SKNIV {
    background: var(--modal-background);
    box-shadow: var(--modal-shadow);
    border-radius: 0;
}

.addGamePopout-2SKNIV {
    padding: 16px;

    .divider-3nqZNm {
        margin: 10px 0 16px 0;
    }

    .actions-3c4xJH {
        gap: 4px;
    }
}