#app-mount .addGamePopout_e4ca8f {
    background: var(--modal-background);
    box-shadow: var(--modal-shadow);
    border-radius: 0;
}

.addGamePopout_e4ca8f {
    padding: 16px;

    .divider__2bbbc {
        margin: 10px 0 16px 0;
    }

    .actions__0d917 {
        gap: 4px;
    }
}