#app-mount .addGamePopout__61649 {
    background: var(--modal-background);
    box-shadow: var(--modal-shadow);
    border-radius: 0;
}

.addGamePopout__61649 {
    padding: 16px;

    .divider_d6f39c {
        margin: 10px 0 16px 0;
    }

    .actions__1012d {
        gap: 4px;
    }
}
