#app-mount .contentWarningPopout-WKdbDG {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: var(--modal-shadow);

    .body-2rDNbs {
        background: none;
    }

    .footer-2aeMle {
        background: none;
    }
}