#app-mount .contentWarningPopout__84e38 {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: var(--modal-shadow);

    .body__86f4c {
        background: none;
    }

    .footer__068c0 {
        background: none;
    }
}
