#app-mount .contentWarningPopout__7d8c2 {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: var(--modal-shadow);

    .body_fa303f {
        background: none;
    }

    .footer__36118 {
        background: none;
    }
}