#app-mount .autocomplete__743a5 {
    background: var(--modal-background);
}

.autocomplete__743a5 {
    .section__4da0b {
        border-radius: 3px;
    }

    .wrapper__35c78 {
        border-radius: 3px;
        transition: none;
    }

    .wrapper_eb6fe5 {
        border-radius: 3px;

        svg {
            border-radius: 3px;
        }

        foreignObject {
            mask: none;
        }
    }

    .rail_ad1aea {

        .wrapper_eb6fe5,
        .wrapper__35c78 {
            transition: none;
            height: 32px;
            width: 32px;

            &:hover {
                box-shadow: 0 0 0 1px var(--header-primary);

                svg {
                    clip-path: inset(1px round 3px);
                }
            }
        }
    }


    .selected__46356,
    .selected__46356:hover {
        background: none;
    }

    .clickable__0b25f[aria-disabled=false]>.base__87e58:hover {
        background-color: var(--background-accent);
    }

    .base__87e58 {
        border-radius: 0;
    }

    [data-text-variant="text-md/normal"] {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
}

.outerWrapper__99794,
.autocomplete__2e602 {
    border-radius: 0;
    box-shadow: var(--modal-shadow);
}

.autocomplete__743a5 {
    .wrapper__35c78 {
        background: none;
    }

    .autocompleteInner_ad9e21:has(.list__0870a) {
        &::before {
            content: '';
            position: absolute;
            top: 16px;
            right: 16px;
            height: calc(100% - 32px);
            width: calc(100% - 56px - 16px);
            box-shadow: inset 1px 1px 4px #000a;
            z-index: 2;
            pointer-events: none;
            border-radius: 2px;
        }
    }

    .list__0870a {
        background: var(--background-modifier-accent-dark);
        margin: 16px 16px 0 0;
        height: calc(100% - 32px);
        border-radius: 2px;
    }

    .categoryHeader__70c8e {
        background: var(--background-modifier-accent-dark);

        .headerLabel_febbb2 {
            text-transform: capitalize;
        }
    }
}
