#app-mount .autocomplete_df266d {
    background: var(--modal-background);
}

.autocomplete_df266d {
    .section_e983c1 {
        border-radius: 3px;
    }

    .wrapper__19c60 {
        border-radius: 3px;
        transition: none;
    }

    .wrapper__9ae30 {
        border-radius: 3px;

        svg {
            border-radius: 3px;
        }

        foreignObject {
            mask: none;
        }
    }

    .rail_ad1aea {

        .wrapper__9ae30,
        .wrapper__19c60 {
            transition: none;
            height: 32px;
            width: 32px;

            &:hover {
                box-shadow: 0 0 0 1px var(--header-primary);

                svg {
                    clip-path: inset(1px round 3px);
                }
            }
        }
    }


    .selected__608f1,
    .selected__608f1:hover {
        background: none;
    }

    .clickable_f8437d[aria-disabled=false]>.base__76a71:hover {
        background-color: var(--background-accent);
    }

    .base__76a71 {
        border-radius: 0;
    }

    [data-text-variant="text-md/normal"] {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }
}

.outerWrapper__08924,
.autocomplete__0c75a {
    border-radius: 0;
    box-shadow: var(--modal-shadow);
}

.autocomplete_df266d {
    .wrapper__4e8f1 {
        background: none;
    }

    .autocompleteInner_a0e6a1:has(.list__0870a) {
        &::before {
            content: '';
            position: absolute;
            top: 16px;
            right: 16px;
            height: calc(100% - 32px);
            width: calc(100% - 56px - 16px);
            box-shadow: inset 1px 1px 4px #000a;
            z-index: 2;
            pointer-events: none;
            border-radius: 2px;
        }
    }

    .list__0870a {
        background: var(--background-modifier-accent-dark);
        margin: 16px 16px 0 0;
        height: calc(100% - 32px);
        border-radius: 2px;
    }

    .categoryHeader_f97a5f {
        background: var(--background-modifier-accent-dark);

        .headerLabel_e9f74f {
            text-transform: capitalize;
        }
    }
}