#app-mount {
    .customColorPicker-C_jddW {
        background: var(--contextmenu-background);
    }
}

.customColorPicker-C_jddW {
    padding: 16px;
    gap: 10px;
    border: none;
    border-radius: 0;
    box-shadow: var(--contextmenu-shadow);

    .customColorPickerEyeDropper-2pZZo9 {
        height: 34px;
        width: 34px;
        border-radius: 2px;
        background: rgb(0 0 0/.2);
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: rgb(0 0 0/.3);
            box-shadow: var(--btn-grey-boxshadow);

            svg {
                color: var(--brand-experiment);
            }
        }

        svg {
            color: var(--brand-experiment);
            height: 18px;
            width: 18px;
        }
    }

    .input-3O04eu {
        background: rgb(0 0 0/.2);
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 var(--store-search-border);

        &:hover:not(:focus, :focus-within) {
            background: rgb(0 0 0/.3);
        }
    }

    .suggestedColor-2q1U7c {
        width: 34px;
        height: 34px;
        border-radius: 2px;
        border: none;
        transition-property:box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            box-shadow: var(--btn-grey-boxshadow);
        }
    }
}

.hue-2nWTuO {
    height: 8px;
    margin: 10px 0;

    >div>div {
        border-radius: 50px;
    }
}