.menu__088f7 {
    box-shadow: var(--contextmenu-shadow);
    background: var(--contextmenu-background);
    border-radius: 0;

    .button_bfb8e1 {
        width: 30px;
        height: 30px;
        padding: unset;
        border-radius: 2px;
        background:none;

        &.focused__53c23 {
            background: var(--contextmenu-text);
        }
    }

    .scroller__8f066 {
        padding: 0;
        overflow-y: auto !important;
    }
}

.submenuPaddingContainer__5a97c {
    margin: 0 -4px;
}

.item__183e8.colorDefault_e361cf {
    border-radius: 0;
    margin: 0;
    padding: 6px 15px;
    font-size: 12px;
    min-height: 21px;

    &:not(.colorDanger__08c25) {
        color: var(--contextmenu-text);
        
        &.focused_dcafb9,
        &:active {
            background: var(--contextmenu-text);
            color: var(--contextmenu-text-hover);

            .subtext__694e2,
            .caret_ce50ce,
            .radioSelection__41d1e,
            .checkbox__378d3 {
                color: var(--contextmenu-text-hover);
            }

            .check__8d1bd {
                color: var(--contextmenu-text);
            }
        }
    }
}

.item__183e8 {

    .iconContainer__5d61c {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .icon__0bfbf {
        width: 16px;
    }
}

.focused_a7ad64 .userMenuUsername_d2fe10 .userMenuDiscriminator__2334c, .focused_a7ad64 .userMenuUsername_d2fe10 .userMenuText_b1842d {
    color: var(--contextmenu-text-hover);
}
