.menu_dc52c6 {
    box-shadow: var(--contextmenu-shadow);
    background: var(--contextmenu-background);
    border-radius: 0;

    .button__3ecb4 {
        width: 30px;
        height: 30px;
        padding: unset;
        border-radius: 2px;
        background:none;

        &.focused__47631 {
            background: var(--contextmenu-text);
        }
    }

    .scroller__750f5 {
        padding: 0;
        overflow-y: auto !important;
    }
}

.submenuPaddingContainer__12a9d {
    margin: 0 -4px;
}

.item__183e8.colorDefault__0b482 {
    border-radius: 0;
    margin: 0;
    padding: 6px 15px;
    font-size: 12px;
    min-height: 21px;

    &:not(.colorDanger_eec36d) {
        color: var(--contextmenu-text);
        
        &.focused__27621,
        &:active {
            background: var(--contextmenu-text);
            color: var(--contextmenu-text-hover);

            .subtext__8a015,
            .caret_ce50ce,
            .radioSelection__5ed39,
            .checkbox__45366 {
                color: var(--contextmenu-text-hover);
            }

            .check__8d1bd {
                color: var(--contextmenu-text);
            }
        }
    }
}

.item__183e8 {

    .iconContainer__829e7 {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .icon_f09dde {
        width: 16px;
    }
}

.focused_f6efd9 .userMenuUsername_f6de35 .userMenuDiscriminator_b70e1b, .focused_f6efd9 .userMenuUsername_f6de35 .userMenuText_a180af {
    color: var(--contextmenu-text-hover);
}