.popoutContainer_cf58b5 {
    border: 2px solid #3A3A3A;
    padding: 16px;
    background-color: #1d1d1d;
    box-shadow: 0 0 12px #000000;
    border-radius: 0;

    .emojiSection_e58351 {
        padding: 0;
    }

    [data-text-variant="text-md/semibold"] {
        color: #b4b4b4;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    [data-text-variant="text-sm/normal"] {
        color: #767676;
        font-weight: 500;
    }

    button {
        width: fit-content;
    }

    .guildSection_e58351 {
        padding: 0;
        background: none;
        position: relative;
        margin-top: 24px;
        padding-top: 24px;

        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, transparent, #3A3A3A, transparent);
            position: absolute;
            top: 0;
        }

        .guildTitle_e58351 {
            display: none;
        }

        svg {
            border-radius: 3px;
            foreignObject {
                mask: none;
            }
        }

        .guildName_e58351 {
            font-weight: 500;
            color: #767676;
        }

        [data-text-variant="text-xs/normal"] {
            --header-secondary: #767676;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;
        }
    }
}
