.contentWrapper-3vHNP2 {
    background: var(--modal-background);
    border-radius: 0;
    -webkit-box-shadow: v1px 3px 14px rgba(0, 0, 0, .65);
    box-shadow: 1px 3px 14px rgba(0, 0, 0, .65);
}

.theme-dark .theme-light .contentWrapper-3vHNP2 {
    background: var(--modal-background);
}

.wrapper-22rqw6 {
    border-radius: 0;
    background: none;
}

.bodyWrapper-1eSOtW {
    background: var(--background-tertiary);
}

.inspector-DFKXwB {
    background: none;
}