#slate-toolbar {
    background: var(--contextmenu-background);
    border-radius: 0;
    box-shadow: var(--contextmenu-shadow);
}

.toolbar_c7b525:before {
    display: none;
}

.buttons_bee06d {
    border-radius: 0;

    .button_afdfd9 {
        border-radius: 0;
        font-size: 12px;
        transition: none;

        .buttonInner__1dbe5 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        svg {
            color: var(--contextmenu-text);
            height: 18px;
            width: 18px;
        }

        &.hover_d0ebf2:hover {
            background: var(--contextmenu-text);
            svg {
                color: var(--contextmenu-text-hover);
            }
        }
    }
}