/*
.GreenEnvelopeMenu {
    box-shadow: inset rgba(61,68,80,.75) 1px 1px 1px 0px, inset rgba(61,68,80,.25) -1px -1px 1px 0px;
    border: 1px solid #000;
    padding: 1px;
}
.GreenEnvelopeMenu, .contextmenu_contextMenu_LQkrb {
    position: absolute;
    opacity: 1;
    background: radial-gradient(ellipse farthest-corner at 50% 0%, rgb(60, 64, 71) 0%, rgb(60, 64, 71) 50%, rgb(51, 54, 61) 100%);
    transition: opacity 200ms;
    box-shadow: 0 10px 32px 0px rgba(0,0,0,.6705882353);
    z-index: 1600;
    user-select: none;
    padding: 4px;
}
*/