#app-mount [id^="popout"]>[aria-modal="true"]>div:only-child:not(.spinner_b6db20) {
    background: var(--modal-background);
    box-shadow: inset var(--background-accent-75) 1px 1px 1px 0, inset var(--background-accent-25) -1px -1px 1px 0;
    border-radius: 0;
    border: 1px solid #000;
    padding: 1px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 78vh !important;

    >[class*="header"] {
        position: relative;
        padding: 5px 15px 10px 15px;
        background: none;
        box-shadow: none;
        height: unset;
        min-height: unset;

        h1 {
            font-size: 16px;
            font-weight: 700;
        }

        .size32_eadcb9 {
            width: 30px;
            min-width: 30px;
            height: 30px;
            min-height: 30px;
            transition: none;
            background: var(--btn-grey-hover);
            border-radius: 2px;

            &.secondary__45d4f:hover:not(.disabled__4d064) {
                background: var(--background-accent-hover);
            }
        }
    }

    .scrollerBase_eed6a8 {

        padding: 4px 0 0 4px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        .wrapper_ec86aa {
            padding: 10px 10px 10px 14px;
        }

        .avatar_ec86aa {
            left: 16px;
        }

        .header_ec86aa {
            opacity: 1;
            display: flex;
            flex-direction: column-reverse;
            padding-left: calc(40px + 4px + 2px + 12px);
            margin-bottom: 10px;
        }

        .username_ec86aa {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }

        .timestamp_ec86aa {
            font-size: 0.6875rem;
        }

        .timestampInline_ec86aa {
            margin-left: 0;
        }

        .markup_d6076c {
            font-size: 0.875rem;
            line-height: 1.25rem;

            pre {
                max-width: 100%;
            }

            code {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }

        .repliedMessage_ec86aa {
            top: 64px;
            left: calc(9px + 10px);
            padding: 4px;
            font-size: 0.8125rem;
            line-height: 1.0625rem;

            +.contents_ec86aa .header_ec86aa {
                margin-bottom: calc(35px + 10px);
            }
        }
    }
}
