.recentMentionsPopout-2bI1ZN {
    max-width: 300px;
    min-width: 300px;

    .messagesPopout-eVzQcI {
        padding: 4px;
    }

    .container-iA3Qrz,
    .channel-3NJZ1V {
        background-color: #323640;
        border-radius: 0;
    }
    
    .container-iA3Qrz {
        margin-bottom: 4px;
    }

    .channelHeader-DFRX8q {
        background: #323640;
        padding: 10px;
        border-bottom: none;
    }
}

#app-mount .recentMentionsPopout-2bI1ZN {
    .tab-TRrPC8 {
        border-radius: 2px;
        padding: 5px 10px;
        font-size: 12px;
        height: 30px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 2px;
        
        &:hover {
            background: hsla(223, 9%, 30%, 0.4);
        }
                
        &.active-1grPyy {
            background: #454953;
        }
    }
}
.header-145e10 {
    height: unset;
}



// .greenenvelope_NotificationHeader_2CF6o .greenenvelope_AllNotificationsButton__Oohj {
//     background-color: #454953;
//     color: #fff;
//     border-style: none;
//     padding: 5px 10px;
//     font-size: 12px;
//     border-radius: 2px;
//     cursor: pointer;
// }