.recentMentionsPopout__826a9 {

    .container__56e52,
    .channel_d48f2d {
        background-color: var(--modal-popout-message);
        border-radius: 0;
    }

    .container__56e52 {
        margin-bottom: 4px;
    }

    .channelHeader__5d30c {
        background: var(--modal-popout-message);
        padding: 10px 10px 0 10px;
        border-bottom: none;
    }

    .messageContainer_aa7d14 {
        padding: 0;
    }
}

#app-mount .recentMentionsPopout__826a9 {
    .tab_a8a066 {
        border-radius: 2px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 400;
        height: 30px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 2px;

        &:hover {
            background: var(--background-modifier-accent);
        }

        &.active__7e7af {
            background: var(--background-accent-hover);
        }
    }
}

.recentMentionsPopout__826a9 {

    .channel_d48f2d {
        margin: 0 0 4px 0;

        .messages_f7999e {
            padding: 0;
        }
    }

    .iconActiveMedium_d5475f {
        border-radius: 0;
    }
}

#app-mount .channelHeader__5d30c+[class^="message"] {
    .wrapper__09ecc {
        padding: 10px !important;
    }

    .repliedMessage_e2bf4a {
        left: 15px !important;
        max-width: calc(100% - 20px);

        .repliedTextContent__75526 {
            display: flex;
            align-items: center;
        }
    }

    .avatar__08316 {
        left: 12px !important;
    }

    .header__39b23 {
        padding-left: 54px !important;
    }

    .jumpButton__24ca6 {
        right: 10px;
    }
}

.recentMentionsPopout__826a9 .channelHeader__5d30c {
    background: none;

    .channelNameHeader_bfaee3 {
        font-size: 12px;
    }

    .closeButton_ba6c7d {
        margin-left: 0;
    }
}

.container__56e52:has([class^="jumpButton"]:hover),
.channel_d48f2d:has([class^="jumpButton"]:hover) {
    background: var(--background-accent);
}

.container__56e52,
.channel_d48f2d {
    [class^="jumpButton"] {
        margin: 0;
        border-radius: 0;
        background: var(--btn-grey-hover);
        height: 14px;
        padding: 2px 8px;
        display: flex;
        top: 10px;
        right: 10px;

        .text__6b9e7 {
            line-height: 14px;
            font-size: 11px;
        }

        &:hover {
            background: var(--background-accent-hover);
        }
    }
}