.recentMentionsPopout-2bI1ZN {
    max-width: 300px;
    min-width: 300px;

    .messagesPopout-eVzQcI {
        padding: 4px;
    }

    .container-iA3Qrz,
    .channel-3NJZ1V {
        background-color: #323640;
        border-radius: 0;
    }
    
    .container-iA3Qrz {
        margin-bottom: 4px;
    }

    .channelHeader-DFRX8q {
        background: #323640;
        padding: 10px;
        border-bottom: none;
    }
}