.noiseCancellationPopout-2-e5Xz {
    padding: 16px;
    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
}