.messageGroupWrapper-1jf_7C {
    background: #323640;
    border-radius: 0;
    border: none;
    margin: 0 0 4px;
}

.jumpButton-1ZwI_j {
    margin: 0;
    border-radius: 0;
    background: #454953;
}

.jumpButton-1ZwI_j:hover {
    background: #67707b;
}

.messageGroupWrapper-1jf_7C:has(.jumpButton-1ZwI_j:hover) {
    background: #3d4450;
}

.body-GBnhET {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
}

.footer-5ji8u1 {
    background: none;
}