.messageGroupWrapper_f8c6e9 {
    background: var(--modal-popout-message);
    border-radius: 0;
    border: none;
    margin: 0 0 4px;
}

.jumpButton__0329d {
    margin: 0;
    border-radius: 0;
    background: var(--btn-grey-hover);
}

.jumpButton__0329d:hover {
    background: var(--background-accent-hover);
}

.messageGroupWrapper_f8c6e9:has(.jumpButton__0329d:hover) {
    background: var(--background-accent);
}

.body__13cde {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-muted);
}

.footer_a3029c {
    background: none;
}