.picker__6dca7 {
    background: var(--modal-background);
    border-radius: 0;
    box-shadow: var(--modal-shadow);

    [class*='header-'] {
        box-shadow: none;
        border-radius: 0;

        [class*='container-']:has(input) {
            border-radius: 2px;
            background: var(--btn-grey);

            input::placeholder {
                font-style: italic;
            }

            &:hover {
                background: var(--btn-grey-hover-light);
            }

            &:focus,
            &:focus-within {
                background: var(--background-modifier-accent-dark);
                box-shadow: inset 1px 1px 4px #000a;
            }

            .iconContainer__8fa9c {
                height: 18px;
                width: 18px;
            }

            svg {
                color: var(--brand-experiment);
            }
        }
    }

    .category_f1b389 {
        border-radius: 3px;
        transition: none;

        &:hover {
            box-shadow: 0 0 0 1px var(--header-primary);

            svg {
                clip-path: inset(1px round 3px);
            }
        }

        &.categoryItemDefaultCategorySelected__8245a {
            background: none;
        }

        svg {
            border-radius: 3px;
        }

        foreignObject {
            mask: none;
        }
    }

    .sectionHeader_c664ae {
        width: 100%;
        display: flex;
        align-items: center;

        .sectionTitle__8df35 {
            margin-left: 4px;
            margin-right: 0;
            text-transform: capitalize;
        }

        &::after {
            content: '';
            height: 2px;
            margin: 0 10px 0 10px;
            background: var(--background-modifier-accent-compat);
            display: flex;
            flex-grow: 1;
            width: 20px;
        }

        >svg:last-of-type {
            order: 1;
            color: var(--brand-experiment);
        }
    }

    .soundButton__5ad7b {
        border-radius: 2px;
        background: var(--btn-grey);
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        [data-text-variant="text-xs/medium"] {
            font-weight: 400;
            --header-primary: var(--text-lighter);
        }

        &:hover {
            background: var(--btn-grey-hover);
            box-shadow: var(--btn-grey-boxshadow);

            [data-text-variant="text-xs/medium"] {
                --header-primary: #fff;
            }
        }

        .buttonOverlay__76d7d {
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }

        .buttonOverlayBackground_ec646a {
            display: none;
        }

        .playIcon__68d2d {
            display: none;
        }
    }
}