.accountProfilePopoutWrapper_af829a {
    .overlayBackground__86b78 {

        .divider__06972 {
            display: none;
        }

        .scroller__83262 {
            max-height: 200px;
            padding-bottom: 16px;
        }

        >.menu_dc52c6 {
            box-shadow: none;
            background: rgb(0 0 0/.3);
                padding: 8px;
                border-radius: 5px;
                width: calc(100% - 24px - 16px);
                max-width: unset;
                min-width: unset;
                margin-left: 12px;
                margin-bottom: 12px;
                box-sizing:content-box;
        }

        .section__6f61e:has(.memberSinceContainer__0a28b) {
            padding-bottom: 12px;
        }
    }

    [aria-activedescendant*="account-status-picker"] {
        max-width: 200px;
    }

    .statusItem__72404 {
        padding: 0;
        min-height: unset;

        .description_ea6680 {
            margin-bottom: 0;
            color: var(--text-muted);
        }
    }
}