.browser_fa9cea {
    .title__8c726 {
        margin-right: 8px;
    }

    .divider__622af {
        display: none;
    }

    .sectionHeader__0f7c3 {
        color: var(--text-muted) !important;
        letter-spacing: .5px;
        line-height: 36px;
        margin-bottom: 0;
    }

    .searchBox__9423b {
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 2px;
        background: none;
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: var(--btn-grey-hover);
            box-shadow: var(--btn-grey-boxshadow);
        }

        svg {
            color: var(--brand-experiment);
        }
    }

    .createButton_f595af {
        margin-right: 0;
        height: 30px;
    }

    .closeIcon_ab1a00 {
        display: none;
    }
}

.container__9922f {
    background: var(--modal-popout-message);
    border-radius: 0;
    border: none;
    margin: 0 0 4px;
    padding: 10px;
    height: unset;

    &:hover {
        background: var(--background-accent);
    }

    .avatar_eb9431,
    .noAvatarIcon__9480d {
        margin-right: 4px;
    }

    .threadNameLine__43c45 {
        font-size: 12px;
        font-weight: 600;
    }

    .subtext__01913 {
        font-size: 11px;
        font-weight: 500;
    }

    .messageContentIcon__4312a {
        height: 18px;
        width: 18px;
    }
}
