.browser_fece63 {
    .title__47111 {
        margin-right: 8px;
    }

    .divider_dec9ac {
        display: none;
    }

    .sectionHeader_a94dc1 {
        color: var(--text-muted) !important;
        letter-spacing: .5px;
        line-height: 36px;
        margin-bottom: 0;
    }

    .searchBox_ff53b2 {
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 2px;
        background: none;
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: var(--btn-grey-hover);
            box-shadow: var(--btn-grey-boxshadow);
        }

        svg {
            color: var(--brand-experiment);
        }
    }

    .createButton_c8864c {
        margin-right: 0;
        height: 30px;
    }

    .closeIcon__15ae7 {
        display: none;
    }
}

.container__6604b {
    background: var(--modal-popout-message);
    border-radius: 0;
    border: none;
    margin: 0 0 4px;
    padding: 10px;
    height: unset;

    &:hover {
        background: var(--background-accent);
    }

    .avatar_eb9431,
    .noAvatarIcon__92d39 {
        margin-right: 4px;
    }

    .threadNameLine__5046f {
        font-size: 12px;
        font-weight: 600;
    }

    .subtext_f83288 {
        font-size: 11px;
        font-weight: 500;
    }

    .messageContentIcon__09152 {
        height: 18px;
        width: 18px;
    }
}