/*
userProfileOuter-2tQwNf: popout, modal
userPopoutOuter-1OHwPL: popout
userProfileModalOuter-2wdWjU: modal
*/

// Popout
.userProfileOuter-2tQwNf {
    border-radius: 0;

    &.userProfileOuterThemed-2BgJCM {
        padding: 2px;
    }

    .userProfileInnerThemedWithBanner-25XGmz {
        .wrapper-3Un6-K {
            backdrop-filter: blur(8px);
        }
    }
}

.userPopoutOuter-1OHwPL {
    box-shadow: 0 10px 32px 0 #000000ab;
}

.userProfileInner-1ngKnf {
    border-radius: 0;

    &:before {
        border-radius: 0;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
    }
}

// Avatar
.avatarWrapper-eenWra {
    border-radius: 0;
    left: 16px;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);
    z-index: 2;
}

.avatarPositionPremiumBanner-2EAbSH,
.avatarPositionPremiumNoBanner-2u3xDC {
    top: 16px;
}

#app-mount {

    .avatarHoverTarget-1zzfRL,
    .avatarHint-k7pYop,
    .avatar-3QF_VA {
        padding: 0;
    }
}

.avatarHoverTarget-1zzfRL {
    border-radius: 0;
}

.avatarHint-k7pYop {
    foreignObject {
        mask: none;
    }
}

// Banner
.bannerSVGWrapper-2CLfzN {
    foreignObject {
        mask: none;
    }
}

.roundedBanner-uNt2w- {
    border-radius: 0;
}

.pencilContainer-18TrEJ {
    border-radius: 2px;
    transition: none;

    &:hover {
        background: rgb(0 0 0 / .6);
    }

    svg {
        height: 18px;
        width: 18px;
    }
}

// Username section
.overlayBackground-2aa7wt:has(.userText-1_v2Cq) {
    overflow: visible;
}

.section-28YDOf:has(.userText-1_v2Cq) {
    position: absolute;
    top: calc((var(--header-height) * -1) + 16px);
    left: 0;
    padding: 0 0 0 calc(16px + 82px + 16px);
    height: 82px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 4px #000;
    width: 100%;
    box-sizing: border-box;
    --header-primary: #fff;
    --text-normal: #bbb;
    pointer-events: none;

    [data-text-variant="heading-lg/semibold"] {
        font-weight: 300;
        letter-spacing: 1px;
        pointer-events: auto;
        width: fit-content;
    }

    .userTagUsernameBase-267ALn {
        pointer-events: auto;
    }

    .userTag-3A4Fw4 {
        font-weight: 300;
        width: 100%;
    }

    .nameTag-H6kSJ0 {
        overflow: unset;
        pointer-events: auto;
    }

    .info-3ddo6z {
        overflow: unset;
    }

    .pronouns-17_QV6 {
        font-size: 12px;
        pointer-events: auto;
    }

    +.divider-2dDziJ {
        display: none;
    }
}

.profileBadges-2pItdR {
    position: absolute;
    top: calc(var(--header-height) + 16px);
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    padding: 0;
    gap: 4px;
    z-index: 2;
    background: none;
    box-shadow: none;
    -webkit-box-pack: center;
    justify-content: center;
}

.profileBadge22-3GAYRy {
    filter: drop-shadow(1px 1px 2px #000);
}

// Body

.profileColors-2AgAV4 {
    --header-height: 112px;

    &:has(svg[viewBox$="60"]) {
        --banner-height: 60px;
    }

    &:has(svg[viewBox$="90"]) {
        --banner-height: 90px;
    }

    &:has(svg[viewBox$="120"]) {
        --banner-height: 120px;
        --header-height: 120px;
    }
}

.overlayBackground-2aa7wt {
    margin-top: calc((var(--banner-height) * -1) + var(--header-height));
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.userPopoutOuter-1OHwPL:has(.containerWithContent-2Yws8V) .overlayBackground-2aa7wt {
    padding-top: calc(22px + 16px);

    &:not(:has(.customStatusSection-2_fKRl)) {
        padding-top: calc(22px + 16px + 16px);
    }
}

.theme-light .overlayBackground-2aa7wt {
    background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 39%/.7) 5%, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 89%/.4) 95%);
}

.profileColors-2AgAV4 .overlayBackground-2aa7wt {
    box-shadow: none;
}

.customStatus-19KW6v {
    display: flex;
    justify-content: center;
}

.overlayBackground-2aa7wt {
    border-radius: 0;
    background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 10.6%/.7) 5%, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 10.6%/.4) 95%);

    .customStatusSection-2_fKRl {
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .scroller-15bIdk {
        padding: 0 16px !important;
        overflow: hidden overlay !important;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 200px);
    }

    .title-3CjiSS {
        letter-spacing: .5px;
    }

    .text-sm-medium-2-Xzsi,
    .text-sm-normal-AEQz4v,
    .text-sm-bold-2BCfqW,
    .text-sm-semibold-S5fJwz,
    .textRow-1sENuL {
        font-size: 13px;
        line-height: 17px;
    }

    .note-1NN2aP {
        textarea {
            height: fit-content !important;
            max-height: fit-content;
            background: none;

            &:focus,
            &:focus-within {
                background: var(--background-modifier-accent-dark);
                box-shadow: inset 1px 1px 4px rgb(0 0 0/.67);
            }
        }
    }

    .lastSection-q3HCfo {
        padding-bottom: 16px;
    }

    &:has(.activity-3uaYny) {
        .divider-2dDziJ {
            opacity: 0;
        }
    }
}

.section-28YDOf:has(.activity-3uaYny) {
    background: rgb(0 0 0/.2);
    margin: 0 -16px;
    padding: 16px;
    order: -1;
}

.role-2TIOKu {
    background: rgb(0 0 0/.3);
    border-radius: 3px;
}