/*
userProfileOuter_c69a7b: popout, modal
userPopoutOuter_c69a7b: popout
userProfileModalOuter_c69a7b: modal
*/

// Popout
.userProfileOuter_c69a7b {
    border-radius: 0;

    &.userProfileOuterThemed_c69a7b {
        padding: 2px;
    }

    .userProfileInnerThemedWithBanner_c69a7b {
        .wrapper_c51b4e {
            backdrop-filter: blur(8px);
        }
    }
}

.userPopoutOuter_c69a7b {
    box-shadow: 0 10px 32px 0 #000000ab;
}

.userProfileInner_c69a7b {
    border-radius: 0;

    &:before {
        border-radius: 0;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
    }
}

// Avatar
.avatarWrapper_f89da9 {
    border-radius: 0;
    left: 16px;
    box-shadow: 1px 3px 14px rgb(0 0 0/.65);
    z-index: 2;
}

.avatarPositionPremiumBanner_f89da9,
.avatarPositionPremiumNoBanner_f89da9 {
    top: 16px;
}

#app-mount {

    .avatarHoverTarget_f89da9,
    .avatarHint_f89da9,
    .avatar_ec3b75 {
        padding: 0;
    }
}

.avatarHoverTarget_f89da9 {
    border-radius: 0;
}

.avatarHint_f89da9 {
    foreignObject {
        mask: none;
    }
}

// Banner
.bannerSVGWrapper_b32cc2 {
    foreignObject {
        mask: none;
    }
}

.roundedBanner_c3e427 {
    border-radius: 0;
}

.pencilContainer_c3e427 {
    border-radius: 2px;
    transition: none;

    &:hover {
        background: rgb(0 0 0 / .6);
    }

    svg {
        height: 18px;
        width: 18px;
    }
}

// Username section
.overlayBackground_c69a7b:has(.userText_c9ccf6) {
    overflow: visible;
}

.section_d7a21f:has(.userText_c9ccf6) {
    position: absolute;
    top: calc((var(--header-height) * -1) + 16px);
    left: 0;
    padding: 0 0 0 calc(16px + 82px + 16px);
    height: 82px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 4px #000;
    width: 100%;
    box-sizing: border-box;
    --header-primary: #fff;
    --text-normal: #bbb;
    pointer-events: none;

    [data-text-variant="heading-lg/semibold"] {
        font-weight: 300;
        letter-spacing: 1px;
        pointer-events: auto;
        width: fit-content;
    }

    .userTagUsernameBase_c9ccf6 {
        pointer-events: auto;
    }

    .userTag_c9ccf6 {
        font-weight: 300;
        width: 100%;
    }

    .nameTag_be84f0 {
        overflow: unset;
        pointer-events: auto;
    }

    .info_e86508 {
        overflow: unset;
    }

    .pronouns_c9ccf6 {
        font-size: 12px;
        pointer-events: auto;
    }

    +.divider_e6f9ab {
        display: none;
    }
}

.profileBadges_f89da9 {
    position: absolute;
    top: calc(var(--header-height) + 16px);
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    padding: 0;
    gap: 4px;
    z-index: 2;
    background: none;
    box-shadow: none;
    -webkit-box-pack: center;
    justify-content: center;
}

.profileBadge22_b64375 {
    filter: drop-shadow(1px 1px 2px #000);
}

// Body

.profileColors_ac6ab4 {
    --header-height: 112px;

    &:has(svg[viewBox$="60"]) {
        --banner-height: 60px;
    }

    &:has(svg[viewBox$="90"]) {
        --banner-height: 90px;
    }

    &:has(svg[viewBox$="120"]) {
        --banner-height: 120px;
        --header-height: 120px;
    }
}

.overlayBackground_c69a7b {
    margin-top: calc((var(--banner-height) * -1) + var(--header-height));
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.userPopoutOuter_c69a7b:has(.containerWithContent_b64375) .overlayBackground_c69a7b {
    padding-top: calc(22px + 16px);

    &:not(:has(.customStatusSection_d2b491)) {
        padding-top: calc(22px + 16px + 16px);
    }
}

.theme-light .overlayBackground_c69a7b {
    background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 39%/.7) 5%, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 89%/.4) 95%);
}

.profileColors_ac6ab4 .overlayBackground_c69a7b {
    box-shadow: none;
}

.customStatus__3aa7f {
    display: flex;
    justify-content: center;
}

.overlayBackground_c69a7b {
    border-radius: 0;
    background: linear-gradient(to bottom, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 10.6%/.7) 5%, hsl(calc(var(--accent-hue) + 15) calc(var(--saturation-factor, 1)*11.1%) 10.6%/.4) 95%);

    .customStatusSection_d2b491 {
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .scroller_d2b491 {
        padding: 0 16px !important;
        overflow: hidden overlay !important;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 200px);
    }

    .title_c4a579 {
        letter-spacing: .5px;
    }

    .text-sm-medium_bc6ffc,
    .text-sm-normal__95a78,
    .text-sm-bold_ad6d44,
    .text-sm-semibold_a5824d,
    .textRow_d5089b {
        font-size: 13px;
        line-height: 17px;
    }

    .note_c90ad7 {
        textarea {
            height: fit-content !important;
            max-height: fit-content;
            background: none;

            &:focus,
            &:focus-within {
                background: var(--background-modifier-accent-dark);
                box-shadow: inset 1px 1px 4px rgb(0 0 0/.67);
            }
        }
    }

    .lastSection_d7a21f {
        padding-bottom: 16px;
    }

    &:has(.activity__20c1e) {
        .divider_e6f9ab {
            opacity: 0;
        }
    }
}

.section_d7a21f:has(.activity__20c1e) {
    background: rgb(0 0 0/.2);
    margin: 0 -16px;
    padding: 16px;
    order: -1;
}

.role_f9575e {
    background: rgb(0 0 0/.3);
    border-radius: 3px;
}
