.container-8Futzw {
    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
    background: var(--contextmenu-gradient);

    .channelName-3lwMH6 {
        --interactive-normal: var(--header-primary);
    }

    .avatar-3jcVeZ {
        border-radius: 3px;
    }
}

.container-3MQTjc {
    border-radius: 0;
    background: none;
}

.streamPreview-I7itZ6 {
    #app-mount & {
        background: var(--contextmenu-gradient);

        .previewContainer-35LFgt {
            background: none;
        }
    }

    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
}