.container__56cd1 {
    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
    background: var(--contextmenu-gradient);

    .channelName__41380 {
        --interactive-normal: var(--header-primary);
    }

    .avatar_b95265 {
        border-radius: 3px;
    }
}

.container__03b79 {
    border-radius: 0;
    background: none;
}

.streamPreview__965fa {
    #app-mount & {
        background: var(--contextmenu-gradient);

        .previewContainer__1e0bb {
            background: none;
        }
    }

    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
}
