#accessibility-tab {
    .preview-3k9WhO {
        padding: 0;
        border-radius: 0;
        border: none;
    }

    .previewMessage-2g_aBv {
        padding: 8px;
        border-radius: 0;
        margin-top: 16px;
        background: none;
    }

    .children-2C96Ex {
        >.divider-3nqZNm.marginBottom20-315RVT:nth-last-child(2) {
            margin-bottom: 0;
        }
        
        >[data-text-variant="text-md/normal"]:last-child {
            padding: 0;
            background: none;
            border: none;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: var(--text-muted);
            letter-spacing: 0;
            margin-top: 40px;
        }
    }
}