#accessibility-tab {
    .preview__22e05 {
        padding: 0;
        border-radius: 0;
        border: none;
    }

    .previewMessage__4d747 {
        padding: 8px;
        border-radius: 0;
        margin-top: 16px;
        background: none;
    }

    .children_aba8cb {
        >.divider_d6f39c.marginBottom20__9fcf3:nth-last-child(2) {
            margin-bottom: 0;
        }
        
        >[data-text-variant="text-md/normal"]:last-child {
            padding: 0;
            background: none;
            border: none;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: var(--text-muted);
            letter-spacing: 0;
            margin-top: 40px;
        }
    }
}
