#appearance-tab {
    .children-2C96Ex>[data-text-variant="text-md/normal"]:last-child {
        padding: 0;
        background: none;
        border: none;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
        margin-top: 40px;
    }
}

.presets-2zm9Ir.basicThemeSelectors-2wNKs6 {
    padding: 6px;
    background: var(--darker-grey);
    box-shadow: inset 0 1px 1px 0 #000a;
    border-radius: 2px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 6px;

    .themeSelectionContainer-3nGXK9 {
        height: fit-content;
        width: 100%;

        .selectionCircle-3s5Uex,
        .iconWrapper-1EIGUS {
            display: none;
        }

        .themeSelection-2u4ce0 {
            padding: 6px;
            box-shadow: none;
            background: none;
            justify-content: center;
            display: flex;
            transition: background 0.18s ease-in-out;

            &[aria-label]::after {
                content: attr(aria-label);
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: var(--text-lighter);
            }

            &:hover {
                background: hsl(calc(var(--accent-hue) + 19) calc(var(--saturation-factor, 1)*9.7%) 22.2%);
            }

            &.selected-2FbEJt {
                background: var(--topbar-item-selected);

                &[aria-label]::after {
                    color: #fff;
                }
            }
        }
    }
}

.featureBorder-2Jl8g4 {
    border-radius: 0;
    margin: 0;

    .background-yH6t2p {
        padding: 10px 0 0 0;
        margin: 0 -2px -2px -2px;
        background: var(--background-tertiary);

        .header-LaudvZ {

            .headings-1UkJbq {
                gap: 0;
            }

            [data-text-variant="text-md/medium"] {
                color: var(--text-muted);
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.5px;
                line-height: 36px;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
                color: var(--text-muted);
                letter-spacing: 0;
            }
        }
    }
}

.presets-2zm9Ir {
    margin-top: 10px;
    gap: 10px;
}

.themeSelection-2u4ce0 {
    border-radius: 2px;
}