#billing-tab {
    h2.title__3e421+.footer_bfb4b9 {
        margin-top: 0;
    }

    .subText__70c8d {
        margin-top: 10px;
    }

    .paymentHistory__889da {
        margin-top: 24px;

        h2.title__3e421 {
            margin-bottom: 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                height: 2px;
                margin: 0 10px 0 10px;
                background: var(--background-modifier-accent-compat);
                display: flex;
                flex-grow: 1;
            }
        }

        .paymentRowHeader__930f3 {
            display: none;
        }

        .paymentPane__9cf01 {
            background: none;
            border-radius: 0;
        }

        .paymentRow__1bb7a {
            border: none;
        }

        .paginator_e620d3 {
            background: none;
        }

        .scrollerBase_dc3aa9 {
            overflow: auto !important;
            border: none;
        }

        .payment__7d702 {
            background: none;
            border: none;
            padding: 6px 8px;
            min-height: 58px;

            &.hoverablePayment__3ea24:hover,
            &:has(.expandedInfo__47bad) {
                background: var(--background-accent);
                transition: background .2s linear;
            }

            .summaryInfo_b57acb {
                padding: 0;
            }

            .date_ad0cb9 {
                position: absolute;
                left: 122px;
                margin-top: 20px;
                display: flex;
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                    background: var(--text-muted);
                    margin-right: 4px;
                }
            }
        }

        .gameIcon__90c32 {
            border-radius: 0;
            margin-right: 16px;
        }

        .xsmall_b118ce {
            height: 45px;
            width: 98px;
        }

        .description_be3171 {
            color: #fff;
            font-weight: 400;
            line-height: 20px;

            >div:not(.gameIcon__90c32),
            >svg {
                margin-top: -19px;
            }
        }

        .giftIcon__9d0ce {
            height: 14px;
            width: 14px;
            color: var(--gpColor-Yellow);
            opacity: 1;
            margin-left: 4px;
        }

        svg.expand__12c96 {
            margin: 8px;
            color: var(--brand-experiment);
        }
    }

    .codeRedemptionRedirect_bc7f36 {
        padding: 0;
        background: none;
        border: none;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
    }

    .expandedInfo__47bad {
        background: var(--background-tertiary);
        padding: 24px;
        margin: 6px 0 0 0;
        padding-top: 24px;
        border-radius: 0;
    }

    .paymentText_deeaf4 {
        color: #fff;
    }

    .paymentDetail_c96709 {
        margin: 0;
        padding: 10px 0;
        border-bottom: thin solid var(--background-modifier-accent-dark);

        &:first-child {
            margin-top: 10px;
            border-top: thin solid var(--background-modifier-accent-dark);
        }

        >div {
            gap: 10px;
            justify-content: left;

            div:first-child {
                font-size: 14px;
                line-height: 18px;
                color: var(--contextmenu-text);
            }

            div:last-child {
                font-size: 12px;
                line-height: 19px;
                font-weight: 400;
                color: var(--text-muted);
            }
        }
    }

    .paymentHeader__50c05 {
        border: none;
        padding: 0;
        margin: 0;
        color: var(--text-muted);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 36px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .paymentText_deeaf4>div:not([class]) {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
        margin-bottom: 10px;
    }

    .refundSubHeader__3623a {
        color: var(--text-muted);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 36px;
        margin: 0;
        text-transform: uppercase;
    }

    .refundIconContainer__28442 {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
    }

    .refundActions_bdaec5 {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0;
    }
}