#billing-tab {
    h2.title__1b7e8+.footer__86f19 {
        margin-top: 0;
    }

    .subText__3b709 {
        margin-top: 10px;
    }

    .paymentHistory_adb833 {
        margin-top: 24px;

        h2.title__1b7e8 {
            margin-bottom: 0;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                height: 2px;
                margin: 0 10px 0 10px;
                background: var(--background-modifier-accent-compat);
                display: flex;
                flex-grow: 1;
            }
        }

        .paymentRowHeader__36e9a {
            display: none;
        }

        .paymentPane__541d7 {
            background: none;
            border-radius: 0;
        }

        .paymentRow__7568c {
            border: none;
        }

        .paginator__28ba5 {
            background: none;
        }

        .scrollerBase_f742b2 {
            overflow: auto !important;
            border: none;
        }

        .payment_f27ac6 {
            background: none;
            border: none;
            padding: 6px 8px;
            min-height: 58px;

            &.hoverablePayment__4ff3b:hover,
            &:has(.expandedInfo_efc786) {
                background: var(--background-accent);
                transition: background .2s linear;
            }

            .summaryInfo__3df8a {
                padding: 0;
            }

            .date_ad0cb9 {
                position: absolute;
                left: 122px;
                margin-top: 20px;
                display: flex;
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                    background: var(--text-muted);
                    margin-right: 4px;
                }
            }
        }

        .gameIcon_fc710a {
            border-radius: 0;
            margin-right: 16px;
        }

        .xsmall_b118ce {
            height: 45px;
            width: 98px;
        }

        .description__3e625 {
            color: #fff;
            font-weight: 400;
            line-height: 20px;

            >div:not(.gameIcon_fc710a),
            >svg {
                margin-top: -19px;
            }
        }

        .giftIcon__75cfe {
            height: 14px;
            width: 14px;
            color: var(--gpColor-Yellow);
            opacity: 1;
            margin-left: 4px;
        }

        svg.expand__12c96 {
            margin: 8px;
            color: var(--brand-experiment);
        }
    }

    .codeRedemptionRedirect_b3eca7 {
        padding: 0;
        background: none;
        border: none;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
    }

    .expandedInfo_efc786 {
        background: var(--background-tertiary);
        padding: 24px;
        margin: 6px 0 0 0;
        padding-top: 24px;
        border-radius: 0;
    }

    .paymentText__55e50 {
        color: #fff;
    }

    .paymentDetail_be84ed {
        margin: 0;
        padding: 10px 0;
        border-bottom: thin solid var(--background-modifier-accent-dark);

        &:first-child {
            margin-top: 10px;
            border-top: thin solid var(--background-modifier-accent-dark);
        }

        >div {
            gap: 10px;
            justify-content: left;

            div:first-child {
                font-size: 14px;
                line-height: 18px;
                color: var(--contextmenu-text);
            }

            div:last-child {
                font-size: 12px;
                line-height: 19px;
                font-weight: 400;
                color: var(--text-muted);
            }
        }
    }

    .paymentHeader__27aff {
        border: none;
        padding: 0;
        margin: 0;
        color: var(--text-muted);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 36px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .paymentText__55e50>div:not([class]) {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
        margin-bottom: 10px;
    }

    .refundSubHeader__70b6e {
        color: var(--text-muted);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 36px;
        margin: 0;
        text-transform: uppercase;
    }

    .refundIconContainer_e75cbd {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-muted);
        letter-spacing: 0;
    }

    .refundActions_e1131d {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0;
    }
}
