.sessions__7b95a {
    margin: 10px 0;

    .otherSessions_bb9ad2 {
        margin-top: 10px;
    }
}

.logOutAllButton_f6af90 {
    margin-top: 0;
}

.session__201cb {
    border-bottom: none;
    gap: 12px;
    padding: 6px 8px;
    height: 58px;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;

        .sessionIcon_df2e9c,
        .sessionMoreButton_f38a79 {
            background: var(--background-accent-hover);
            transition: background .2s linear;
        }
    }

    .sessionInfo_e3ad35 {
        gap: 0;
    }

    .eyebrow_e5a66c {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: unset;
    }

    [data-text-variant="text-sm/medium"] {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            color: var(--background-accent-hover);
            font-weight: 700;
        }
    }

    &:has(.sessionMoreButton_f38a79:hover) {
        .sessionIcon_df2e9c {
            background: var(--status-danger);
        }
    }
}

.sessionMoreButton_f38a79 {
    background-color: var(--background-accent);
    border-radius: 2px;
    margin: 8px 8px 8px auto;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--status-danger);

    &:hover {
        background: var(--status-danger);
        color: #fff;
    }

    svg {
        height: 18px;
        width: 18px;
    }
}

.sessionIcon_df2e9c {
    width: 98px;
    height: 45px;
    border-radius: 0;
    background: var(--background-accent);
    color: #fff;

    svg {
        height: 18px;
        width: 18px;
    }
}
