#app-mount .layer_f7d46a ~.layer_f7d46a  #family-center-tab.contentColumnDefault__78de3 {
    padding-top: 24px !important;
}

#family-center-tab,
#activity-tab,
#requests-tab {
    [data-text-variant="heading-xl/medium"] {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    [data-text-variant="text-sm/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    [data-text-variant="text-xs/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

    .container_d5dec4,
    .box__6431e {
        border-radius: 0;
        box-shadow: none;
    }

    .container_db1b74 {
        padding: 8px 16px 10px 16px;
        border-radius: 2px;
        box-shadow: none;
        display: flex;
        align-items: center;

        .circle_cbbd13 {
            background: none;
            border-radius: 0;
            margin: 6px;
            height: 30px;
            width: 30px;

            svg {
                color: var(--gpColor-Yellow);
                margin: 0;
                height: 30px;
                width: 30px;
            }
        }

        .header_a3f08c {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
        }

        [data-text-variant="text-sm/medium"] {
            text-align: center;
            --text-muted: var(--header-secondary);
        }

        [data-text-variant="text-sm/medium"] {
            margin-bottom: 0;
        }
    }

    .container__5a2c3 {
        border-radius: 0;
        box-shadow: none;

        .header_c08502 {
            color: var(--text-muted);
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 36px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .groupHeader_f579ed {
            display: none;
        }

        .row__9455d {
            padding: 8px 24px 10px 16px;
            background: var(--btn-grey);
            border-radius: 2px;
            margin-bottom: 10px;

            .iconContainer_fe08af {
                width: 30px;
                height: 30px;
                background: none;
                border-radius: 0;
                margin-right: 10px;
            }

            .header_af678b {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 0;
            }
        }

        .artContainer_d3a8bb {
            margin: 0;
        }
    }

    .steps__9693e {
        position: relative;
        width: 100%;
    }

    .step_bd5604 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: left;

        [data-text-variant="heading-sm/bold"] {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
        }

        [data-text-variant="text-sm/medium"] {
            margin-bottom: 0;
            --text-muted: var(--header-secondary);
        }

        .stepNumber__2f0cb {
            width: 30px;
            height: 30px;
            background: none;
            border-radius: 0;
            margin-right: 10px;

            h2 {
                color: var(--brand-experiment) !important;
                font-size: 20px;
            }
        }
    }

    .section_a49195 {
        .eyebrow_e5a66c.marginBottom8_ce1fb9 {
            text-transform: capitalize;
            color: #fff !important;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            padding-top: 8px;
            padding-left: 8px;
        }
    }
}

#app-mount #family-center-tab {

    .top_fae1fa {
        --btn-count: 3;
        background: var(--darker-grey);
        border-radius: 2px;
        padding: 0;
        margin: 0 0 10px 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0 #000a;
        border-bottom: none;
    }

    .top_fae1fa .item__48dda {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected_a523ff):hover {
            background: var(--btn-grey);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top_fae1fa {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: var(--btn-grey-hover);
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected_a523ff:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected_a523ff:nth-child(3)):before {
            translate: 200%;
        }
    }

    .container_d5dec4,
    .box__6431e {
        background: none;
        padding: 0 0 10px 0;
        border-bottom: thin solid var(--background-modifier-accent-dark);
    }

    .container_db1b74 {
        background: var(--btn-grey);
    }

    .container__5a2c3 {
        background: none;
        padding: 10px 0 0 0;
        border-top: thin solid var(--background-modifier-accent-dark);
    }

    .card__4dc22 {
        border-radius: 0;
        padding: 0;
        border: none;
        background: none;

        [data-text-variant="text-sm/semibold"] {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            --text-normal: var(--text-muted);
            letter-spacing: 0;
        }

        a {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
        }

        .iconBadge__0c126 {
            height: 18px;
            width: 18px;
            margin-left: 4px;
            color: var(--brand-experiment);
        }
    }
}

#activity-tab,
#requests-tab {

    .container_d5dec4,
    .box__6431e {
        background: rgb(0 0 0/.3);
        padding: 25px;
    }

    .container_db1b74 {
        background: rgb(0 0 0/.3);
    }

    .container__5a2c3 {
        background: rgb(0 0 0/.3);
        padding: 25px;
    }

    .steps__9693e {
        position: relative;
        width: 100%;
    }

    .step_bd5604 {
        width: calc(100% - 40px);
    }
}
