#library-inventory-tab {
    form {
        .flex_bba380 {
            align-items: center;
        }
    }

    .inputWrapper_f8bc55 {
        margin-right: 10px;
    }

    .divider_b03b7f {
        margin: 10px 0;
    }

    [data-text-variant="heading-md/semibold"] {
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0;
        padding-left: 8px;
    }

    .emptyStateImage_e8af36 {
        margin-top: 0;
    }
}
