#library-inventory-tab {
    form {
        .flex_f5fbb7 {
            align-items: center;
        }
    }

    .inputWrapper__934f5 {
        margin-right: 10px;
    }

    .divider_a2339a {
        margin: 10px 0;
    }

    [data-text-variant="heading-md/semibold"] {
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0;
        padding-left: 8px;
    }

    .emptyStateImage__3e0a5 {
        margin-top: 0;
    }
}