#library-inventory-tab {
    form {
        .flex-2S1XBF {
            align-items: center;
        }
    }

    .inputWrapper-2K8ds1 {
        margin-right: 10px;
    }

    .divider-5YGcJb {
        margin: 10px 0;
    }

    [data-text-variant="heading-md/semibold"] {
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0;
        padding-left: 8px;
    }

    .emptyStateImage-1kilCd {
        margin-top: 0;
    }
}