#keybinds-tab {

    .keybindGroup-kQU7d5 {
        .switch-1c5UrR {
            margin-top: 46px;
            margin-left: 0;
            padding-top: 0;
        }
    }

    .removeKeybind-3J8M42 {
        opacity: 1;
        top: 10px;
        right: 4px;
        border-radius: 2px;
    }
}