#app-mount .layer_f7d46a ~.layer_f7d46a  .accountProfileCard__744d8 {
    max-width: 100% !important;
}

#app-mount .accountProfileCard__744d8 {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;

    .bannerSVGWrapper__8a38c:not(:has([style*="/banners/"])) {
        min-height: 1px !important;
        min-width: 100% !important;
    }

    .banner__6d414:not([style^="background-image"]) {
        height: 1px;
        min-height: 1px;
        border-radius: 0;
        mask-image: linear-gradient(to right, rgb(0 0 0/1), transparent 75%);
    }

    .userInfo_fb7651 {
        height: calc(62px + 10px);
        align-items: center;
        padding: 10px 0 0 87px;
    }

    .avatar__6c108 {
        padding: 0;
        top: unset;
        margin: auto 0;
        box-shadow: none;
        height: 60px !important;
        width: 60px !important;

        svg {
            height: 70px !important;
            width: 70px !important;
        }
    }

    .userTag__28f9c {
        margin: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .overflowMenuButton__38716 {
        margin-left: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    .profileCardUsernameRow_f8853e,
    .containerWithContent_a67357 {
        background: none;
        box-shadow: none;
        border-radius: 0;
        width: fit-content;
        padding: 0;
        position: relative;
    }

    .containerWithContent_a67357 {
        margin-top: 0;
    }

    .container_ed2af4 {
        min-height: unset;
    }

    .profileBadge22_e4866d {
        width: 18px;
        height: 18px;
    }

    .background__4e802 {
        background: none !important;
        box-shadow: none;
        margin: 10px 0 0 0;
        border-radius: 0;
        padding: 10px 0;
        border-top: thin solid var(--background-modifier-accent-dark);
    }
}

.fieldList__4e6dd {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    background: none;
}

.field__69fa0 {
    flex-direction: column;
    background: var(--btn-grey);
    margin: 0;
    padding: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
    transition-property: background, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .constrainedRow__72f7a {
        margin-right: 0;
        flex-grow: 0;

        .fieldTitle_f182ed+div {
            text-align: center;
        }

        .fieldTitle_f182ed {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 0;

            &+div {
                text-align: center;

                span {
                    font-size: 14px;
                    line-height: 20px;

                    --header-primary: var(--header-secondary);


                }
            }
        }
    }

    &:has(button.lookFilled__950dd:hover) {
        background: var(--btn-grey-hover);
        box-shadow: var(--btn-grey-boxshadow);
    }

    .fieldButtonList_fd9518 {
        position: absolute;
        inset: 0;
        align-items: end;
        justify-content: center;
    }

    button {
        margin: 0;

        &.lookFilled__950dd {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
        }

        &.lookLink_a2da25 {
            z-index: 1;
        }
    }
}

#my-account-tab {
    .flex_f18b02:has(>button) {
        gap: 4px;
    }
}

.horizontal__4848b>.flexChild__3da10 {
    margin-left: 2px;
    margin-right: 2px;
}

.disableButton__09342 {
    margin-right: 4px;
}
