#app-mount .layer__2efaa ~.layer__2efaa  .accountProfileCard__22589 {
    max-width: 100% !important;
}

#app-mount .accountProfileCard__22589 {
    box-shadow: none;
    border-radius: 0;
    overflow: visible;

    .bannerSVGWrapper__3e7b0:not(:has([style*="/banners/"])) {
        min-height: 1px !important;
        min-width: 100% !important;
    }

    .banner__6d414:not([style^="background-image"]) {
        height: 1px;
        min-height: 1px;
        border-radius: 0;
        mask-image: linear-gradient(to right, rgb(0 0 0/1), transparent 75%);
    }

    .userInfo__8f826 {
        height: calc(62px + 10px);
        align-items: center;
        padding: 10px 0 0 87px;
    }

    .avatar__6c108 {
        padding: 0;
        top: unset;
        margin: auto 0;
        box-shadow: none;
        height: 60px !important;
        width: 60px !important;

        svg {
            height: 70px !important;
            width: 70px !important;
        }
    }

    .userTag__4ca14 {
        margin: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    .overflowMenuButton__70c20 {
        margin-left: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    .profileCardUsernameRow__4cbd8,
    .containerWithContent__7e98f {
        background: none;
        box-shadow: none;
        border-radius: 0;
        width: fit-content;
        padding: 0;
        position: relative;
    }

    .containerWithContent__7e98f {
        margin-top: 0;
    }

    .container__5bda1 {
        min-height: unset;
    }

    .profileBadge22__3c451 {
        width: 18px;
        height: 18px;
    }

    .background_b61fcc {
        background: none !important;
        box-shadow: none;
        margin: 10px 0 0 0;
        border-radius: 0;
        padding: 10px 0;
        border-top: thin solid var(--background-modifier-accent-dark);
    }
}

.fieldList_aab0de {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    background: none;
}

.field__9e8e2 {
    flex-direction: column;
    background: var(--btn-grey);
    margin: 0;
    padding: 6px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: relative;
    transition-property: background, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .constrainedRow_b9e8cf {
        margin-right: 0;
        flex-grow: 0;

        .fieldTitle__47b24+div {
            text-align: center;
        }

        .fieldTitle__47b24 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 0;

            &+div {
                text-align: center;

                span {
                    font-size: 14px;
                    line-height: 20px;

                    --header-primary: var(--header-secondary);


                }
            }
        }
    }

    &:has(button.lookFilled__19298:hover) {
        background: var(--btn-grey-hover);
        box-shadow: var(--btn-grey-boxshadow);
    }

    .fieldButtonList__7db82 {
        position: absolute;
        inset: 0;
        align-items: end;
        justify-content: center;
    }

    button {
        margin: 0;

        &.lookFilled__19298 {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
        }

        &.lookLink__93965 {
            z-index: 1;
        }
    }
}

#my-account-tab {
    .flex_f5fbb7:has(>button) {
        gap: 4px;
    }
}

.horizontal__992f6>.flexChild__6e093 {
    margin-left: 2px;
    margin-right: 2px;
}

.disableButton__61514 {
    margin-right: 4px;
}