@keyframes nitroGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contentRegionScroller__86c79:has(#discord-nitro-tab) {
    background: #000;
}

#app-mount .layer__2efaa ~.layer__2efaa  .contentColumnDefault_c66386 {

    &#discord-nitro-tab,
    &#nitro-server-boost-tab {
        padding: 0 !important;
    }
}

.premiumContainer__2ebd0 {
    .root__3594f {
        display: none;
    }
}
[data-testid="v2-marketing-page-hero-header"] {
    width: 100%;
    border-radius: 0;
    background: none;
    margin-bottom: 0;

    >* {
        z-index: 1;
    }

    &::after {
        content: '';
        z-index: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%) 48%, hsl(269, calc(var(--saturation-factor, 1)*52.7%), 52.7%) 55%);
        mask: radial-gradient(circle at center, black 0%, transparent 45%);
    }

    [data-text-variant="text-lg/normal"] {
        font-size: 16px;
        line-height: 20px;
    }
}

.premiumTierCardsContainer_e3c13b {
    background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
    background-size: 300% 300%;
    animation: nitroGradient 20s ease infinite;
    max-width: unset;
    margin-bottom:0;
    padding-bottom: 4em;
    padding-top: 4em;

    &:has(.banner__4cbda) {
        padding-top: 0;
    }
}

.banner__4cbda {
    border-radius: 0;
    max-width: unset;
}

.premiumCards__1b3a9 {
    display: flex;
    justify-content: center;
}

.card__48184 {
    max-width: 300px;
    background: rgb(255 255 255/.0588235294);
    border-radius: 3px;
    padding: 20px;
    margin: 10px;

    svg.title__223b8 {
        color: #1b1b1b;
        position: absolute;
        right: 20px;
    }

    .price__12d41 {
        margin: 8px 0 24px 0;
        line-height: 33px;
    }

    .price__300d9 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }

    .item__4b324 {
        margin-left: 28px;
        margin-bottom: 5px;

        .icon_c4178d {
            height: 18px;
            width: 18px;
        }

        [data-text-variant="text-md/normal"] {
            font-size: 12px;
        }
    }

    .wumpusImageContainer__5990c {
        position: absolute;
        width: 30%;
        top: 50px;
        right: 0;
        border-top-right-radius: 16px;
        overflow: hidden;
    }

    .shinyButton_fc8363 {
        color: #fff;
        background: #1b1b1b;
        border-radius: 50px;
        height: 36px;
        font-size: 12px;
        font-weight: 600;
        border: none;
        transition: background .2s ease, color .2s ease, box-shadow .2s ease;

        &:hover {
            color: #1b1b1b;
            background: #fff;
            box-shadow: 0 4px 8px 0 rgb(0 0 0/.2);
        }
    }
}

.whatsNewSection_e83a8d {
    position: relative;
    gap: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 0;
    background-image: var(--custom-premium-colors-premium-gradient-tier-2-transparent);
    border-radius: 0;
}

#app-mount .card_e97590 {
    transform: none;
    transition: filter 0.2s ease;
    border-radius: 3px;
    padding: 20px;
    background: linear-gradient(137.42deg, #163bba 0%, #ae4d4d 100%);
    overflow: hidden;

    &:hover .cardImage__9da5b {
        margin: 50px;
        width: calc(100% - 100px);
        border-radius: 0;
    }
}

#app-mount .cardContainer__912d9 .noFlipCardContainer_e2d2c1:nth-child(2n) {
    .card_e97590 {
        background: linear-gradient(137.42deg, #ce158b 0%, #e36d23 100%);

        .cardDescription__46c9d {
            background: linear-gradient(137.42deg, #ce158b 0%, #e36d23 100%);
        }
    }
}

.cardDescription__46c9d {
    padding: 20px;
    border-radius: 3px;
    background: linear-gradient(137.42deg, #163bba 0%, #ae4d4d 100%);
    filter: hue-rotate(30deg);
}

#app-mount .cardImage__9da5b {
    z-index: 21;
    border-radius: 0;
}

.perksContainer_e3fd5b {
    background: #fff;
    margin: 0;
    max-width: 100%;
    display: block;
    padding-top: 4em;

    .defaultColor__87d87 {
        color: #1b1b1b;
    }
}

.perkCard__6fe60 {
    background: none;
    border-radius: 0;
    padding: 8px 16px 10px 16px;
    justify-content: flex-start;

    img {
        margin-bottom: 10px;
        order: -1;
        object-fit: scale-down;
        height: 150px;
        width: 100%;
    }

    h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        color: #1b1b1b;
    }

    [data-text-variant="text-sm/normal"] {
        padding: 0;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        color: #1b1b1b;
    }
}

.planComparisonTableContainer__5e152 {
    padding: 24px;
    max-width: unset;
    width: 100%;
    padding: 5em;
    background: linear-gradient(137.42deg, #3209d9 0%, #0b5f42 60%, #b0d909 100%);
    background-size: 300% 300%;
    animation: nitroGradient 20s ease infinite;

    [class*="titleText"] {
        font-size: 30px;
        line-height: 34px;
        font-weight: 800;
        letter-spacing: 0;
        margin-bottom: 6px;
        margin-top: 8px;
        text-transform: capitalize;
        text-align: start;
    }

    [class*="headerRow"] {
        h2 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
        }

        th {
            display: flex;
            align-items: start;
            justify-content: center;
        }

        [class*="headerLabelCell"] {
            align-items: center;
            justify-content: left;
            width: 25%;
            max-width: 25%;
        }

        [class*="headerCell"] {
            width: 37.5%;
        }
    }

    [class*="labelCell"] {
        [data-text-variant="text-sm/normal"] {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            --text-normal: #ffffff7a;
        }
    }

    [class^="row"] {
        height: unset;
        min-height: 48px;
    }

    th[scope="row"] {
        padding: 4px;
        width: 25%;
        max-width: 25%;
    }

    td {
        align-items: start;
        width: 37.5%;
    }

    [class*="rowBottomBorder"] {
        width: 100%;
        border-bottom: 1px solid #ffffff33;
    }

    [class*="tier2ColumnOuter"] {
        display: none;
    }

    [class*="closeIcon"] {
        color: #ffffff33;
    }
}

.innerWrapper_c80bad {
    background-image: linear-gradient(45deg, var(--guild-boosting-blue), var(--guild-boosting-purple));
    border-radius: 4px;
    box-shadow: var(--banner-shadow);
    padding: 16px;
    width: unset;
    max-width: 438px;
}