#notifications-tab {
    [role=radiogroup]:has(.item_b7fb7e)[aria-orientation=vertical] {
        flex-direction: row;
    }

    [role=radiogroup]:has(.item_b7fb7e) .item_b7fb7e {
        width: 100%;

        [data-text-variant="text-md/medium"] {
            text-align: center;
        }
    }

    .container_c52416:has(+.container_c52416.soundRow__20a10) {
        margin-bottom: 7px;
    }

    .container_c52416.soundRow__20a10 {
        margin-bottom: 7px;

        .divider__2bbbc {
            margin-top: 6px;
        }

        .title__28a65 {
            overflow: visible;
        }

        .control_f6cce7 {
            order: -1;
            margin-right: 6px;
        }

        .soundName__48bd4 {
            margin-right: auto;
        }

        .soundIcon_ab332f {
            opacity: 1;
            background: var(--btn-grey);
            margin-right: 4px;
            height: 36px;
            width: 36px;
            border-radius: 2px;
            color: var(--brand-experiment);
            justify-content: center;
            align-items: center;
            display: flex;
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }

            .icon_dfe65c {
                width: 18px;
                height: 18px;
            }
        }
    }
}