#notifications-tab {
    [role=radiogroup]:has(.item_b7fb7e)[aria-orientation=vertical] {
        flex-direction: row;
    }

    [role=radiogroup]:has(.item_b7fb7e) .item_b7fb7e {
        width: 100%;

        [data-text-variant="text-md/medium"] {
            text-align: center;
        }
    }

    .container__7ad1e:has(+.container__7ad1e.soundRow_afb019) {
        margin-bottom: 7px;
    }

    .container__7ad1e.soundRow_afb019 {
        margin-bottom: 7px;

        .divider_d6f39c {
            margin-top: 6px;
        }

        .title__8b9e4 {
            overflow: visible;
        }

        .control__6a084 {
            order: -1;
            margin-right: 6px;
        }

        .soundName__9daf8 {
            margin-right: auto;
        }

        .soundIcon__85115 {
            opacity: 1;
            background: var(--btn-grey);
            margin-right: 4px;
            height: 36px;
            width: 36px;
            border-radius: 2px;
            color: var(--brand-experiment);
            justify-content: center;
            align-items: center;
            display: flex;
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }

            .icon__46d48 {
                width: 18px;
                height: 18px;
            }
        }
    }
}
