#notifications-tab {
    .container-31PmuA:has(+.container-31PmuA.soundRow-2Vsfbg) {
        margin-bottom: 7px;
    }

    .container-31PmuA.soundRow-2Vsfbg {
        margin-bottom: 7px;

        .divider-3nqZNm {
            margin-top: 6px;
        }

        .title-2yADjX {
            overflow: visible;
        }

        .control-10qYax {
            order: -1;
            margin-right: 6px;
        }

        .soundName-3e_44f {
            margin-right: auto;
        }

        .soundIcon-1E1d9l {
            opacity: 1;
            background: hsla(222, 10%, 26%, 0.5);
            margin-right: 4px;
            height: 36px;
            width: 36px;
            border-radius: 2px;
            color: var(--brand-experiment);
            justify-content: center;
            align-items: center;
            display: flex;
            transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;

            &:hover {
                background: #464d58;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
            }

            .icon-2-8HDu {
                width: 18px;
                height: 18px;
            }
        }
    }
}