#app-mount .layer-86YKbF~.layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm .preview-sMYs9f .userPopoutOuter-1OHwPL,
#app-mount .layer-86YKbF~.layer-86YKbF .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .preview-sMYs9f .userPopoutOuter-1OHwPL {
    min-width: unset !important;
    width: 340px !important;
    max-width: 340px !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF .baseLayout-1_9QRm.tryItOutLayout-2ypO8Z .preview-sMYs9f .userPopoutOuter-1OHwPL {
    width: 340px !important;
}

@keyframes spinningAvatarHue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#profile-customization-tab {
    padding: 0 24px 24px 24px;

    .top-Ktfr_T {
        --btn-count: 2;
        background: #202226;
        border-radius: 2px;
        padding: 0;
        margin: 0 0 10px 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0px #000a;
        border-bottom: none;
    }

    .top-Ktfr_T .item-2GWPIy {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected-1sf9UK):hover {
            background: var(--btn-grey);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-Ktfr_T {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: var(--btn-grey-hover);
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected-1sf9UK:nth-child(2)):before {
            translate: 100%;
        }
    }

    .imageUploaderIconWrapper-14sdnH {
        padding: 0;
        border-radius: 0;
        box-shadow: 1px 3px 14px rgba(0, 0, 0, .65);
    }

    .avatarUploader-qEFQS2 {
        z-index: 2;
    }

    .imageUploaderIcon-2OHmFu {
        pointer-events: none;
    }

    .section-28YDOf:has(.customStatus-19KW6v) {
        order: -2;
        padding-top: 0;
        padding-bottom: 16px;
    }

    .section-28YDOf:has(.fakeActivityTitle-3-_pB_) {
        background: var(--background-alpha-2);
        margin: 0 -16px;
        padding: 16px;
        order: -1;

        .button-1d_47w {
            max-width: unset;
        }
    }

    .body-3lbupa {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }

    .divider-2dDziJ {
        display: none;
    }

    .avatarUploaderPremium-2urJVq {
        top: 16px;

        +.profileBadges-2pItdR {
            padding-top: 16px;
        }
    }

    .spinningAvatar-3RLDX3 {
        overflow: hidden;
        animation: spinningAvatarHue 5s ease infinite;
    }

    .tryItOutSection-W9qeGH {
        margin: 10px 0 0 0;
        border-radius: 2px;
        border-width: 1px;
        width: 100%;
        height: 1px;
        border-radius: 0;
        position: relative;

        .premiumBackground-34OIdE {
            padding: 10px 0 24px 0;
            position: absolute;
            top: 1px;
            left: 0;
            background: var(--background-tertiary);
        }
    }
}

#app-mount .layer-86YKbF~.layer-86YKbF .profileCustomizationSection-53kreU .baseLayout-1_9QRm {

    .sectionsContainer-3BlPu4,
    .editor-328F1U,
    .preview-sMYs9f {
        min-width: unset !important;
        max-width: unset !important;
    }
}

.swatch-efj8wq {
    border-radius: 2px;
}