#game-activity-tab {
    .children-2C96Ex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        >.marginTop40-Q4o1tS {
            flex-basis: 100%;
        }
    }

    .activeGame-1OdxzI {
        padding: 8px 24px 10px 16px;
        margin-right: 8px;
        border-radius: 2px;
        width: fit-content;
        max-width: calc(100% - 8px - 20px - 12px);

        &.notDetected-M3Ghh2 {
            background: #3d4450;
            width: fit-content;
        }

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
            background: #fff;
            margin-right: 12px;
        }

        .gameNameLastPlayed-2hWoXJ {
            max-width: calc(var(--settingsmodalwidth) - 196px - 200px);
        }

        .gameName-zbZetm,
        .lastPlayed-1jum9A {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 20px;
        }

        .lastPlayed-1jum9A {
            height: 20px;
            overflow: hidden;
        }

        .default-rFvAvS {
            transform: translateY(-107%);
        }

        .lastPlayed-1jum9A,
        .hoverRoll-2XwpoF,
        .hovered-20u3oh,
        .default-rFvAvS {
            width: fit-content;
        }

        .hovered-20u3oh {
            position: relative;
            max-width: calc(var(--settingsmodalwidth) - 196px - 200px);
        }
    }

    .nowPlayingAdd-3I4RbE {
        margin: 0;
        font-size: 0;

        button {
            padding: 0;

            .contents-3NembX {
                display: none;
            }

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                mask: url(https://maendisease.github.io/Steam/illustrations/icns/circleplus.svg);
                background: #67707b;
                margin: 4px;
            }

            &:hover::before {
                background: #fff;
            }
        }
    }

    :root {
        counter-reset: gamesCount;
    }

    .marginTop40-Q4o1tS {
        display: flex;
        flex-flow: row wrap;
        margin-top: 24px;

        h3 {
            order: -2;
            text-transform: capitalize;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;
            padding-top: 8px;
            padding-left: 8px;
        }

        &:before {
            content: '';
            height: 2px;
            margin: 16px 10px 0 10px;
            background: rgba(103, 112, 123, .3);
            display: flex;
            flex-grow: 1;
        }

        &:after {
            content: counter(gamesCount);
            animation: game-activity-tabCounter 1s linear infinite forwards;

            // Styles
            color: var(--text-muted);
            font-size: 16px;
            line-height: 20px;
            margin-left: 8px;
            font-weight: 600;
            order: -1;
            padding-top: 8px;
        }

        .game-2f2vPC {
            counter-increment: gamesCount;

            // Styles
            flex-basis: 100%;
            padding: 6px 8px;
            height: 58px;
            box-shadow: none;

            &.card-2ART2V:before {
                display: none;
            }

            &:hover {
                background: #3d4450;
                transition: background .2s linear;

                .gameNameLastPlayed-2hWoXJ::after,
                .removeGame-3V7nss {
                    background-color: #67707b;
                    transition: background .2s linear;
                }

                &:has(.removeGame-3V7nss:hover) {
                    .gameNameLastPlayed-2hWoXJ::after {
                        transition: background .2s linear;
                        background-color: var(--status-danger);
                    }
                }
            }

            .gameVerifiedIcon-1YMUdQ {
                height: 14px !important;
                width: 14px !important;
                margin-left: 4px;
            }

            .gameNameLastPlayed-2hWoXJ {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 98px;
                    height: 45px;
                    mask: url(https://maendisease.github.io/Steam/illustrations/icns/storage.svg);
                    background-color: #fff;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: 18px;
                    margin-right: 12px;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 45px;
                    width: 98px;
                    background: #3d4450;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                >div {
                    margin-left: calc(98px + 16px);
                }

                .gameNameInput-2wbDJ9 {
                    margin-left: calc(98px + 16px - 4px);
                    border: none;
                    border-radius: 2px;

                    &:hover {
                        background: #67707b;
                    }
                
                    &:focus,
                    &:focus-within {
                        background: #23262e;
                        box-shadow: inset 1px 1px 4px #000a;
                    }
                }

                .gameName-zbZetm {
                    color: #fff;
                    font-weight: 400;
                    line-height: 20px;
                }

                .lastPlayed-1jum9A {
                    color: var(--text-muted);
                    font-size: 12px;
                    line-height: 22px;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;

                    strong {
                        color: #67707b;
                        font-weight: 700;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
                        background: var(--text-muted);
                        margin-right: 4px;
                    }
                }
            }

        }

        @keyframes game-activity-tabCounter {
            to {
                content: counter(gamesCount);
            }
        }
    }

    .removeGame-3V7nss {
        opacity: 1;
        position: relative;
        top: unset;
        right: unset;
        box-shadow: none;
        background-color: #3d4450;
        border-radius: 2px;
        margin: 8px;
        flex-shrink: 0;
    }
}