#app-mount .contentRegion__08eba .contentRegionScroller__9ae20:has(#nitro-server-boost-tab) {
    padding-top: 0;
    background: #000;
}

#nitro-server-boost-tab {
    .background__7fedb {
        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            inset: 0 0 0 0;
            margin: 0 auto;
            width: 500px;
            height: 250px;
            background: linear-gradient(135deg, hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%) 48%, hsl(269, calc(var(--saturation-factor, 1)*52.7%), 52.7%) 55%);
            mask: radial-gradient(circle at center, black 0%, transparent 45%);
        }
    }

    .guildBoostGemWrapper__8ebc3 {
        display: none;
    }

    .gradient__79da8 {
        border-radius: 0;
        background: none;

        .guildBoostGemWrapper__8ebc3,
        svg {
            display: none;
        }
    }

    .wrapper_ba972d:has(.guildContainer_fef06f) {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-bottom: 0;
        padding: 5em;
    }

    .guildContainer_fef06f {
        background: rgb(255 255 255/.0588235294);
        border-radius: 3px;
        padding: 20px;

        &::before,
        &::after {
            display: none;
        }

        .iconInactive__8c603 {
            border-radius: 3px;
        }

        [data-text-variant="text-lg/bold"] {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
        }

        [data-text-variant="text-sm/bold"] {
            font-size: 12px;
            font-weight: 400;
            --text-muted: #fff;
        }

        .separator__699b6 {
            --text-muted: #fff;
        }

        .shinyButton_d5e126 {
            color: #fff;
            background: #1b1b1b;
            border-radius: 50px;
            height: 36px;
            font-size: 12px;
            font-weight: 600;
            border: none;
            transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

            &:hover {
                background: #fff;
                color: #1b1b1b;
                box-shadow: 0 4px 8px 0 rgb(0 0 0/.2);
            }
        }

        +.wrapper__6b347 {
            background: none;
            border: none;
            justify-content: center;

            [data-text-variant="text-sm/medium"] {
                font-style: italic;
                font-size: 12px;
                font-weight: 500;
                color: #ffffff87;
            }
        }
    }
}

.tierComparisonTable__28219,
.tierComparisonTable__25d64 {
    padding: 24px;
    margin-bottom: 0;
    max-width: unset;
    width: 100%;
    padding: 5em;
    background: linear-gradient(137.42deg, #3209d9 0%, #0b5f42 60%, #b0d909 100%);
    background-size: 300% 300%;
    animation: nitroGradient 20s ease infinite;

    .columnHeading_d35d98 {
        padding-bottom: 0;
    }

    thead {
        .tableRowHeading_dbe97f {
            h2 {
                translate: 0 8px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
            }
        }

        th {
            justify-content: center;
            text-align: left;
        }
    }

    tbody {
        th {
            padding: 4px;
        }
    }

    .tableCellInner__8fe64 {
        min-height: 48px;
    }

    th {

        .defaultColor__77578 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #ffffff7a;
        }
    }

    td.tableCell__23b95 {
        text-align: left;
        padding: 4px;
    }

    .tableCell__23b95 {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
    }

    .booleanValueIcon__88ae5 {
        margin-left: 0;

        &:has([d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"]) {
            color: #ffffff7a;
        }
    }
}

.wrapper_d3adb0 {
    border-radius: 0;
    margin-bottom: 0;
    padding: 4em 5em;
}

.card__67edb {
    background: rgb(255 255 255/.0588235294);
    border-radius: 3px;
    padding: 20px;
    --text-normal: #fff;
}

.wrapper__4308f {
    border-radius: 0;
    background: none;
    padding: 4em 5em;
}

.list__80e1b {
    border-top: none;
}

.listItem_b7467d {
    border-bottom: thin solid var(--background-modifier-accent-dark);
}

.question_eb9def {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.answer_a88bb8 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    --text-normal: var(--text-muted);
}

.perkPreviewImage__34031 {
    background: var(--contextmenu-gradient);
    padding: 8px 5px 8px 5px;
    border-radius: 0;
    box-shadow: 3px 3px 5px -3px #000;
}
