#voice-\&-video-tab {
    .micTest_e75a73 {
        margin-top: 0;
        gap: 10px;

        button {
            order: 1;
            margin: 0;
        }

        .wrapper_e5cdf3 {
            border-radius: 50px;
            overflow: hidden;
            height: 8px;
        }

        .progress_e5cdf3 {
            background: var(--background-modifier-accent-dark);
        }

        .notches_e5cdf3 {
            display: none;
        }

        .micTestCaption_e75a73 {
            left: 0;
        }
    }

    [role=radiogroup]:has(.item_eb92a8)[aria-orientation=vertical] {
        flex-direction: row;
    }

    [role=radiogroup]:has(.item_eb92a8) .item_eb92a8 {
        width: 100%;

        [data-text-variant="text-md/medium"] {
            text-align: center;
        }
    }
}

.newTextBadge_ad7d79 {
    border: 3px solid var(--background-tertiary);
}
