#voice-\&-video-tab {
    .micTest__208c7 {
        margin-top: 0;
        gap: 10px;

        button {
            order: 1;
            margin: 0;
        }

        .wrapper_e5073f {
            border-radius: 50px;
            overflow: hidden;
            height: 8px;
        }

        .progress_bcbb99 {
            background: var(--background-modifier-accent-dark);
        }

        .notches__5406c {
            display: none;
        }

        .micTestCaption__7ec1b {
            left: 0;
        }
    }

    [role=radiogroup]:has(.item_b7fb7e)[aria-orientation=vertical] {
        flex-direction: row;
    }

    [role=radiogroup]:has(.item_b7fb7e) .item_b7fb7e {
        width: 100%;

        [data-text-variant="text-md/medium"] {
            text-align: center;
        }
    }
}

.newTextBadge__9d678 {
    border: 3px solid var(--background-tertiary);
}
