@use '../container';

.sidebarRegion__36437:has(.selected_a523ff[aria-controls="audit_log-tab"])+.contentRegion__08eba {
    overflow: hidden overlay !important;

    .scroller_ca9f10 {
        overflow: hidden overlay !important;
    }

    .customHeader_c68a90 {
        @include container.settingsHeader;
        justify-content: left;

        h2 {
            @include container.settingsHeaderText;
            flex-grow: 0;
            white-space: nowrap;
            margin-right: 10px;
        }
    }

    .divider__8d236 {
        display: none;
    }
}

.auditLog__9228d {
    border: none;
    border-radius: 0;

    &:hover,
    &:has(.headerExpanded__05a35) {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    &:has(.typeDelete__5f7ca) {
        .title__9a147 {
            color: var(--status-danger);
        }
    }

    &:has(.typeUpdate__4b21b) {
        .title__9a147 {
            color: var(--info-warning-foreground);
        }
    }

    &:has(.typeCreate__01e59) {
        .title__9a147 {
            color: var(--status-online);
        }
    }

    .header__8cacc {
        padding: 6px 8px;
        height: 58px;
        background: none;
    }

    .headerClickable__334f7 {
        color: var(--text-muted);
    }

    .timeWrap__6885f {
        margin: 0 0 0 12px;
    }

    .userHook__0708a {
        .defaultColor__77578 {
            color: var(--header-primary);
        }
    }

    .timestamp__33912 {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
                    align-items: center;

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
            background: var(--text-muted);
            margin-right: 4px;
        }
    }

    .expand__7369a {
        margin: 8px;

        .expandForeground__0d39b {
            stroke: var(--brand-experiment) !important;
        }

    }

    .divider__1ee1f {
        display: none;
    }
}

#app-mount {
    .headerExpanded__05a35 {
        color: var(--header-secondary);
    }

    .changeDetails_c0aa16 {
        background: var(--background-tertiary);
        margin: 0 8px 6px 8px;
        padding: 24px;

        .detail__8b8e8:first-child {
            margin-top: 0;
        }

        .detail__8b8e8 {
            margin: 10px 0 0 0;
        }

        .change_e04e1b {
            font-size: 14px;
            line-height: 18px;
            color: var(--header-secondary);
        }

        .subListItem__6fcc6 {
            margin: 0;
            color: var(--header-primary);
        }
    }

}
