@use '../container';

.sidebarRegion__60457:has(.selected__5711d[aria-controls="audit_log-tab"])+.contentRegion__0bec1 {
    overflow: hidden overlay !important;

    .scroller__502b1 {
        overflow: hidden overlay !important;
    }

    .customHeader__11c0b {
        @include container.settingsHeader;
        justify-content: left;

        h2 {
            @include container.settingsHeaderText;
            flex-grow: 0;
            white-space: nowrap;
            margin-right: 10px;
        }
    }

    .divider_a26031 {
        display: none;
    }
}

.auditLog__6c805 {
    border: none;
    border-radius: 0;

    &:hover,
    &:has(.headerExpanded__03c29) {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    &:has(.typeDelete__1e939) {
        .title_cbda04 {
            color: var(--status-danger);
        }
    }

    &:has(.typeUpdate__7c320) {
        .title_cbda04 {
            color: var(--info-warning-foreground);
        }
    }

    &:has(.typeCreate__18a1f) {
        .title_cbda04 {
            color: var(--status-online);
        }
    }

    .header_e08fd2 {
        padding: 6px 8px;
        height: 58px;
        background: none;
    }

    .headerClickable_c4d7a9 {
        color: var(--text-muted);
    }

    .timeWrap__554d7 {
        margin: 0 0 0 12px;
    }

    .userHook_b1bf70 {
        .defaultColor__77578 {
            color: var(--header-primary);
        }
    }

    .timestamp__2f935 {
        color: var(--text-muted);
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
                    align-items: center;

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            mask: url(https://maendisease.github.io/Steam/illustrations/icns/clock.svg);
            background: var(--text-muted);
            margin-right: 4px;
        }
    }

    .expand__7369a {
        margin: 8px;

        .expandForeground_c53c75 {
            stroke: var(--brand-experiment) !important;
        }

    }

    .divider__1505d {
        display: none;
    }
}

#app-mount {
    .headerExpanded__03c29 {
        color: var(--header-secondary);
    }

    .changeDetails_ecd760 {
        background: var(--background-tertiary);
        margin: 0 8px 6px 8px;
        padding: 24px;

        .detail__8b8e8:first-child {
            margin-top: 0;
        }

        .detail__8b8e8 {
            margin: 10px 0 0 0;
        }

        .change_e04e1b {
            font-size: 14px;
            line-height: 18px;
            color: var(--header-secondary);
        }

        .subListItem__6cf39 {
            margin: 0;
            color: var(--header-primary);
        }
    }

}