#community-tab {
    .upsellContainer__978df {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;

        .upsellFooter__63475 {
            background: none;
            padding: 0;
        }
    }
}