#community-tab {
    .upsellContainer_d0de76 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;

        .upsellFooter_d0de76 {
            background: none;
            padding: 0;
        }
    }
}
