#community-tab {
    .upsellContainer_a5688a {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;

        .upsellFooter__5106a {
            background: none;
            padding: 0;
        }
    }
}
