#emoji-tab {
    .title__70837 {
        margin-bottom: 0;
        padding-top: 8px;
        padding-left: 8px;
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            color: var(--text-muted);
        }

        &::after {
            content: '';
            height: 2px;
            margin: 0 10px 0 10px;
            background: var(--background-modifier-accent-compat);
            display: flex;
            flex-grow: 1;
        }
    }
}

.emojiTable__6262c {
    padding-top: 8px;
    padding-left: 8px;
    margin-bottom: 0;

    .description_b0e07c {
        margin-bottom: 0;
    }

    .columnLabel__543ae {
        flex-basis: 40%;
    }
}

.emojiRow_db53d4 {
    padding: 6px 8px;
    height: 58px;
    box-shadow: none;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;

        .emojiInput__3270d:not(:focus, :focus-within),
        .emojiRemove__744eb {
            background-color: var(--background-accent-hover);
            transition: background .2s linear;
        }
    }

    .emojiColumn__10dfb {
        flex-basis: unset;
    }

    .emojiImage__7129a {
        height: 45px;
        width: 45px;
        margin-right: 12px;
    }

    .emojiAliasInput_e70e7c .emojiInput__3270d {
        opacity: 1;
    }

    .emojiAliasPlaceholder_ecea45 {
        display: none;
    }

    &:not(:hover) {
        .input_f27786 {
            background: none;
        }
    }

    .avatar__970c7 {
        bottom: 2px;
    }

    .wrapper__3ed10::before {
        display: none;
    }

    .emojiRowText__46159 {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .emojiRemove__744eb {
        position: relative;
        top: unset;
        right: unset;
        opacity: 1;
        margin: 8px;
        border-radius: 2px;
        box-shadow: none;
        background-color: var(--background-accent);
        flex-shrink: 0;
    }

    &:has(.emojiRemove__744eb:hover) {
        background: var(--status-danger);

        .emojiInput__3270d {
            background: none;
        }
    }
}
