#integrations-tab {
    .breadcrumbs__97f80 {
        margin-bottom: 0;
    }

    .divider__5825b {
        margin: 10px 0;
    }

    .cardPrimary_cb7a0e:has(.iconWrapper__8fbb1) {
        border-radius: 0;
        margin: 0;
        border: none;
        padding: 6px 8px;
        min-height: 58px;

        &:hover,
        &:has(.body_f9f4de) {
            background: var(--background-accent);
            transition: background .2s linear;

            .iconWrapper__8fbb1 {
                background-color: var(--background-accent-hover);
                transition: background .2s linear;
            }

            .button_afdfd9.lookFilled__19298.colorBrand_b2253e.sizeSmall__71a98.grow__4c8a4 {
                background-color: var(--background-accent-hover);
                transition: background .2s linear, box-shadow .2s ease-in-out;
            }
        }

        .header_ffa8f0 {
            padding: 0;
        }

        .iconWrapper__8fbb1 {
            border-radius: 0;
            height: 45px;
            width: 98px;
            object-fit: scale-down;
            background: var(--background-accent);

            svg {
                height: 18px;
                width: 18px;
                color: #fff;
            }
        }

        .secondaryHeader_d4649b {
            font-weight: 400;
        }

        .detailsWrapper__55091 {
            margin-top: 0;
            align-items: center;
            --header-secondary: var(--text-muted);

            .detailsIcon_a2b4b5+[data-text-variant="text-xs/normal"] {
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .detailsIcon_a2b4b5 {
            color: var(--text-muted);
        }

        .feature_fc2be4 {
            margin-right: 8px;
        }

        .featureIcon_c000e2 {
            color: var(--brand-experiment);
        }
    }

    .sectionHeader__77d13 {
        margin-bottom: 0;
        padding-top: 8px;
        padding-left: 8px;
    }

    .headerDivider_fe7595 {
        margin: 0 0 10px 0;
    }

    .groupHeader__78162 {
        text-transform: capitalize;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0;
    }

    .expandIcon__23ec9 {
        color: var(--brand-experiment);
        margin: 8px;
    }

    .body_f9f4de {
        margin-top: 6px;
        background: var(--background-tertiary);
        padding: 24px;
    }

    .topDivider_fc535d {
        display: none;
    }

    .bottomDivider_a9003f {
        margin: 10px 0;
    }

    .iconWrapper__8fbb1 {
        background: none;
        width: 48px;
        height: 48px;
        border-radius: 0;
    }
}

.applicationPermissions__86558 {
    .card__10f25 {
        margin-bottom: 10px;
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
    }

    .cardHeader__27283 {
        background: none;
        padding: 0;

        .title__0731c {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }

    .entryItem__209af {
        .listContainer__2ae72 {
            padding: 0;
        }

        [data-text-variant="text-md/normal"] {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            --header-primary: var(--header-secondary);
        }

        .channelIcon__1a6f7 {
            color: var(--header-secondary);
        }

        .image_cd9606 {
            height: 18px;
            width: 18px;
            margin-right: 4px;
            min-width: unset;
        }
    }

    .entryActions__6391b {
        order: -1;
        margin-right: 10px;

        .deny_c46df5 {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .allow__6f2d0 {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}