#app-mount .inviteSettingsInviteRow_edb39d {
    box-shadow: none;
}

.inviteSettingsInviteRow_edb39d {
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    .wrapper_c51b4e {
        top: 8px;

        &::before {
            display: none;
        }
    }

    .username_edb39d {
        margin-left: 15px;
    }

    [data-text-variant="text-xs/normal"] {
        margin-left: 36px;
        --header-secondary: var(--text-muted);
        font-size: 12px;
        // line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
