#app-mount .inviteSettingsInviteRow__130c9 {
    box-shadow: none;
}

.inviteSettingsInviteRow__130c9 {
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    .wrapper__3ed10 {
        top: 8px;

        &::before {
            display: none;
        }
    }

    .username__5beb0 {
        margin-left: 15px;
    }

    [data-text-variant="text-xs/normal"] {
        margin-left: 36px;
        --header-secondary: var(--text-muted);
        font-size: 12px;
        // line-height: 22px;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
