.contentRegionScroller__86c79:has(#onboarding-tab .upsellContainer__7de10) {
    background: #000;
}

#app-mount .layer__2efaa ~.layer__2efaa  .contentColumnDefault_c66386#onboarding-tab {
    padding: 0 !important;
}

#onboarding-tab {
    .upsellContainer__7de10 {
        gap: 0;
    }

    .upsellHeader__70021 {
        position: relative;

        >* {
            z-index: 1;
        }

        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, hsl(36 calc(var(--saturation-factor, 1)*95.6%) 64.7%) 48%, hsl(40 calc(var(--saturation-factor, 1)*52.7%) 52.7%) 55%);
            mask: radial-gradient(circle at center, black 0%, transparent 45%);
        }

        .upsellHeaderText__3a94b {
            padding-left: 5em;
            padding-right: 5em;
        }
    }

    .divider__2bbbc {
        display: none;
    }

    .testimonialHeroContainer__4a355 {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-top: 5em;
        margin-bottom: 0;
        padding-bottom: 4em;
        padding-top: 4em;
        border-radius: 0;

        .animatedContainer__889a5 {
            background: rgb(255 255 255/.0588235294);
            border-radius: 3px;
            padding: 20px;
        }

        .testimonial__1b63f {
            padding: 0;
            min-height: unset;
            --header-secondary: var(--header-primary);
            --interactive-normal: var(--header-primary);

            [data-text-variant="text-sm/medium"] {
                font-weight: 400;
            }
        }

        .testimonialControlIcon_ed1b83,
        .testimonialControlInner__30b9d {
            height: 24px;
            width: 24px;
        }
    }

    .valuesContainer_bede97 {
        background: #fff;
        padding: 4em 24px;

        .valueText__44bea {
            [data-text-variant="heading-md/semibold"] {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: #1b1b1b;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 700;
                color: #1b1b1b;
            }
        }
    }
}

.onboardingContainer__86f3a {
        padding: 24px;
        gap: 0;

        &:has(.upsellContainer__7de10) {
            padding: 0;
        }

        .channelBrowser__4d723 {
            width: 50%;
        }

        .container__52fd4 {
            width: 50%;
            margin-left: 16px;

            .header__8e9c1 {
                width: 100%;
            }
        }
    }

.educationUpsell_ee1637 {
    background: var(--background-accent);
    border-radius: 0;

    .container__2e9ff {
        box-shadow: 3px 3px 5px -3px #000;
        border-radius: 0;

        .header_e9e239 {
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .lookFilled__19298.colorBrand_b2253e {
        box-shadow: var(--btn-grey-boxshadow);
    }
}