.contentRegionScroller__9ae20:has(#onboarding-tab .upsellContainer_efa1a0) {
    background: #000;
}

#app-mount .layer_f7d46a ~.layer_f7d46a  .contentColumnDefault__78de3#onboarding-tab {
    padding: 0 !important;
}

#onboarding-tab {
    .upsellContainer_efa1a0 {
        gap: 0;
    }

    .upsellHeader__852bf {
        position: relative;

        >* {
            z-index: 1;
        }

        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, hsl(36 calc(var(--saturation-factor, 1)*95.6%) 64.7%) 48%, hsl(40 calc(var(--saturation-factor, 1)*52.7%) 52.7%) 55%);
            mask: radial-gradient(circle at center, black 0%, transparent 45%);
        }

        .upsellHeaderText__2d0ec {
            padding-left: 5em;
            padding-right: 5em;
        }
    }

    .divider_d6f39c {
        display: none;
    }

    .testimonialHeroContainer_a66dec {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-top: 5em;
        margin-bottom: 0;
        padding-bottom: 4em;
        padding-top: 4em;
        border-radius: 0;

        .animatedContainer_e42ee3 {
            background: rgb(255 255 255/.0588235294);
            border-radius: 3px;
            padding: 20px;
        }

        .testimonial_fcdae3 {
            padding: 0;
            min-height: unset;
            --header-secondary: var(--header-primary);
            --interactive-normal: var(--header-primary);

            [data-text-variant="text-sm/medium"] {
                font-weight: 400;
            }
        }

        .testimonialControlIcon__6d420,
        .testimonialControlInner__66a4e {
            height: 24px;
            width: 24px;
        }
    }

    .valuesContainer__4e540 {
        background: #fff;
        padding: 4em 24px;

        .valueText__33e70 {
            [data-text-variant="heading-md/semibold"] {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: #1b1b1b;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 700;
                color: #1b1b1b;
            }
        }
    }
}

.onboardingContainer_f00ecc {
        padding: 24px;
        gap: 0;

        &:has(.upsellContainer_efa1a0) {
            padding: 0;
        }

        .channelBrowser__63035 {
            width: 50%;
        }

        .container_eecf7e {
            width: 50%;
            margin-left: 16px;

            .header_c118ee {
                width: 100%;
            }
        }
    }

.educationUpsell__11611 {
    background: var(--background-accent);
    border-radius: 0;

    .container__239c0 {
        box-shadow: 3px 3px 5px -3px #000;
        border-radius: 0;

        .header__70331 {
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .lookFilled__950dd.colorBrand__27d57 {
        box-shadow: var(--btn-grey-boxshadow);
    }
}
