.contentRegionScroller_c25c6d:has(#onboarding-tab .upsellContainer_aa7c25) {
    background: #000;
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .contentColumnDefault_c25c6d#onboarding-tab {
    padding: 0 !important;
}

#onboarding-tab {
    .upsellContainer_aa7c25 {
        gap: 0;
    }

    .upsellHeader_aa7c25 {
        position: relative;

        >* {
            z-index: 1;
        }

        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, hsl(36 calc(var(--saturation-factor, 1)*95.6%) 64.7%) 48%, hsl(40 calc(var(--saturation-factor, 1)*52.7%) 52.7%) 55%);
            mask: radial-gradient(circle at center, black 0%, transparent 45%);
        }

        .upsellHeaderText_aa7c25 {
            padding-left: 5em;
            padding-right: 5em;
        }
    }

    .divider_ae36e5 {
        display: none;
    }

    .testimonialHeroContainer_d3081b {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-top: 5em;
        margin-bottom: 0;
        padding-bottom: 4em;
        padding-top: 4em;
        border-radius: 0;

        .animatedContainer_d3081b {
            background: rgb(255 255 255/.0588235294);
            border-radius: 3px;
            padding: 20px;
        }

        .testimonial_d3081b {
            padding: 0;
            min-height: unset;
            --header-secondary: var(--header-primary);
            --interactive-normal: var(--header-primary);

            [data-text-variant="text-sm/medium"] {
                font-weight: 400;
            }
        }

        .testimonialControlIcon_d3081b,
        .testimonialControlInner_d3081b {
            height: 24px;
            width: 24px;
        }
    }

    .valuesContainer_aa7c25 {
        background: #fff;
        padding: 4em 24px;

        .valueText_aa7c25 {
            [data-text-variant="heading-md/semibold"] {
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: #1b1b1b;
            }

            [data-text-variant="text-sm/normal"] {
                font-size: 13px;
                line-height: 18px;
                font-weight: 700;
                color: #1b1b1b;
            }
        }
    }
}

.onboardingContainer_a4e2c3 {
        padding: 24px;
        gap: 0;

        &:has(.upsellContainer_aa7c25) {
            padding: 0;
        }

        .channelBrowser_fdea3f {
            width: 50%;
        }

        .container_fe51c5 {
            width: 50%;
            margin-left: 16px;

            .header_fe51c5 {
                width: 100%;
            }
        }
    }

.educationUpsell_b5926e {
    background: var(--background-accent);
    border-radius: 0;

    .container_bdf6b7 {
        box-shadow: 3px 3px 5px -3px #000;
        border-radius: 0;

        .header_bdf6b7 {
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .lookFilled_dd4f85.colorBrand_dd4f85 {
        box-shadow: var(--btn-grey-boxshadow);
    }
}
