.featureCard__0a441 {
    padding: 8px 16px 10px 16px;
    border-radius: 2px;
    text-align: center;
    background: var(--btn-grey);
}

.featureIcon__48a2c {
    background: none;
    border-radius: 0;
    margin: 6px auto;
    height: 30px;
    width: 30px;

    svg {
        height: 30px;
        width: 30px;
    }
}

.featureHeader_f6953f {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}