#app-mount .contentRegion-3HkfJJ .contentRegionScroller-2_GT_N:has(#roles-tab) {
    padding-top: 0;
}

#roles-tab {
    .customScroller-m1-jZn>div {
        margin-left: 24px;
        margin-right: 24px;
        max-width: unset;
        min-width: unset;
    }

    .container-3EtAkD {
        width: fit-content;
        background: var(--background-accent);
        color: #fff;
        border-radius: 2px;
        padding: 16px 24px 16px 16px;

        .icon-2DGsye {
            background: none;
        }

        .description-18M4UD {
            margin-left: 12px;
        }

        .label-2Pe5f1,
        .text-xs-normal-3O7EaX {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 18px;
        }

        .arrow-2v2Yl2 {
            margin-left: 12px;
            color: var(--brand-experiment);
        }
    }

    .rolesTable-11lOYY {
        .memberSpacing-1e6OH3 {
            display: none;
        }
    }

    .roleRow-230vCm {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;

        &::before,
        &::after {
            opacity: 0;
        }

        &:hover:not(.roleRowDisableHover-3En0vy) {
            background: var(--background-accent);
            transition: background .2s linear;
        }

        .dragIcon-2L691r {
            color: var(--brand-experiment);
        }

        .roleIcon-1dWkrr:has(path[d="M19.487 5.126L10.487 0.126C10.184 -0.042 9.81798 -0.042 9.51498 0.126L0.514977 5.126C0.197977 5.302 0.000976562 5.636 0.000976562 5.999C0.000976562 6.693 0.114977 22.999 10.001 22.999C19.887 22.999 20.001 6.693 20.001 5.999C20.001 5.636 19.804 5.302 19.487 5.126ZM10.001 5.999C11.382 5.999 12.501 7.118 12.501 8.499C12.501 9.88 11.382 10.999 10.001 10.999C8.61998 10.999 7.50098 9.88 7.50098 8.499C7.50098 7.118 8.61998 5.999 10.001 5.999ZM6.25098 16C6.25098 13.699 7.69998 12.25 10.001 12.25C12.302 12.25 13.751 13.699 13.751 16H6.25098Z"]) {
            height: 47px;
            width: 49px;
            margin-top: 1px;
            margin-right: 12px;

            path {
                d: path("M 22 0 L 0 0 L 0 22 L 22 22 Z M 11.001 5.999 C 12.382 5.999 13.501 7.118 13.501 8.499 C 13.501 9.88 12.382 10.999 11.001 10.999 C 9.62 10.999 8.501 9.88 8.501 8.499 C 8.501 7.118 9.62 5.999 11.001 5.999 Z M 7.251 16 C 7.251 13.699 8.7 12.25 11.001 12.25 C 13.302 12.25 14.751 13.699 14.751 16 H 7.251 Z");
            }
        }

        .roleName-1zfJkq {
            font-weight: 400;
            margin-bottom: 20px;
        }

        .memberCountContainer-2sIXRp {
            position: absolute;
            left: 0;
            margin-top: 22px;
            margin-left: calc(36px + 45px + 12px);
            color: var(--text-muted);

            .text-md-normal-2rFCH3 {
                color: var(--text-muted);
                font-size: 12px;
                line-height: 22px;
                letter-spacing: .5px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .person-2z4Mcy {
            order: -1;
            margin-left: 0;
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }

        &:hover:not(.roleRowDisableHover-3En0vy) {
            .circleButton-2Yr5A1 {
                background-color: #67707b;
            }
        }

        .circleButton-2Yr5A1 {
            background: var(--btn-grey);
            color: var(--brand-experiment);
            transition: background .2s linear, box-shadow .2s ease-in-out;
            border-radius: 2px;

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }
        }
    }

    .page-15bX59 {
        min-width: unset;
    }

    .sidebar-3K3Z4C {
        margin-left: 24px;
        padding-top: 24px;
        flex: 0 0 calc(232px - 24px) !important;
        border-right: thin solid #23262e;


        .titleContainer-3fPic2 {
            padding: 0 0 10px 0;
            margin: 0;
            z-index: 2;
            background: none;
        }

        .title-JU0E7C {
            height: 34px;
            padding: 8px 14px;
            border-radius: 2px;
            color: #dfe3e6;
            background: var(--btn-grey);
            transition-property: background, box-shadow, color;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                color: #fff;
                box-shadow: var(--btn-grey-boxshadow);
            }

            svg {
                height: 18px;
                width: 18px;
                color: var(--brand-experiment);
            }

            .titleText-3LapIU {
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }

        .addRole-viKZpC {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 2px;
            margin-right: 10px;
            color: var(--brand-experiment);
            background: var(--btn-grey);
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }
        }

        .list-1AJFv_ {
            padding: 0;
            overflow: scroll auto !important;
        }

        .row-LoqnA5 {
            margin: 0;
            border-radius: 0;

            --interactive-active: var(--header-secondary);

            &:hover:not(.selected-1sf9UK),
            &:active:not(.selected-1sf9UK)titleContainer-3fPic2 {
                background: #DCDEDF;
                --interactive-hover: var(--background-accent);
                --interactive-active: var(--background-accent);
                --header-primary: var(--background-accent);
            }

            &.selected-1sf9UK {
                background: var(--background-accent);
                color: #fff;
                --header-primary: #fff;
                --interactive-active: #fff;
            }
        }
    }

    .contentWidth-3aWel5 {
        margin-right: 0;
        max-width: unset;
        width: 100%;
        padding-right: 24px;
    }

    .header-JUTO-g {
        margin-left: 0;
        padding: 24px 0 0 0;
        margin-right: 0;
        background: var(--background-tertiary);
    }

    .titleContainer-16mFj2 {
        margin-bottom: 10px;

        .titleText-35PD5k {
            text-transform: capitalize;
        }
    }

    .warning-RBGtx2 {
        margin-bottom: 10px;

        .text-sm-medium-2-Xzsi {
            font-weight: 400;
        }
    }

    .container-3jbRo5 {
        border-radius: 2px;
        padding: 10px;
        font-weight: 400;
    }

    .top-Ktfr_T {
        --btn-count: 4;
        background: #202226;
        border-radius: 2px;
        padding: 0;
        margin: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0px #000a;
        border-bottom: none;
    }

    .top-Ktfr_T .item-2GWPIy {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected-1sf9UK):hover {
            background: var(--btn-grey);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top-Ktfr_T {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: var(--btn-grey-hover);
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected-1sf9UK:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected-1sf9UK:nth-child(3)):before {
            translate: 200%;
        }

        &:has(.selected-1sf9UK:nth-child(4)):before {
            translate: 300%;
        }
    }

    .notice-GALUuA {
        padding: 0;
        border-radius: 0;
        background: none;

        .noticeIcon-3RFp7l {
            height: 18px;
            width: 18px;
            margin-right: 4px;
            color: var(--info-warning-foreground);
        }

        [data-text-variant="text-sm/normal"] {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
        }

        .defaultColor-1EVLSt {
            color: var(--text-muted);
        }
    }

    .searchContainer-2kJ46v {
        margin-top: 10px;

        .container-2oNtJn {
            padding: 4px 8px;
            border-radius: 2px;
            overflow: hidden;
            background: none;
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            input,
            input::placeholder {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
            }

            &:hover:not(:focus, :focus-within) {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }

            &:focus,
            &:focus-within {
                background: var(--btn-grey);
            }

            .iconLayout-3Bjizv.medium-2NClDM,
            .medium-2NClDM .iconContainer-6pgShY {
                height: 18px;
                width: 18px;
            }

            svg {
                color: var(--brand-experiment);
            }
        }
    }

    .clearButtonWrapper-3P4Ikn {
        position: relative;
        top: unset;
    }
}