#app-mount .contentRegion__0bec1 .contentRegionScroller__86c79:has(#roles-tab) {
    padding-top: 0;
}

.rolesTable__568ca {
    .memberSpacing_f6f902 {
        display: none;
    }
}

.roleRow_c357d5 {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;

    &::before,
    &::after {
        opacity: 0;
    }

    &:hover:not(.roleRowDisableHover__9fe35) {
        background: var(--background-accent);
        transition: background .2s linear;
    }

    .dragIcon__003d3 {
        color: var(--brand-experiment);
    }

    .roleIcon__2553c:has(path[d="M19.487 5.126L10.487 0.126C10.184 -0.042 9.81798 -0.042 9.51498 0.126L0.514977 5.126C0.197977 5.302 0.000976562 5.636 0.000976562 5.999C0.000976562 6.693 0.114977 22.999 10.001 22.999C19.887 22.999 20.001 6.693 20.001 5.999C20.001 5.636 19.804 5.302 19.487 5.126ZM10.001 5.999C11.382 5.999 12.501 7.118 12.501 8.499C12.501 9.88 11.382 10.999 10.001 10.999C8.61998 10.999 7.50098 9.88 7.50098 8.499C7.50098 7.118 8.61998 5.999 10.001 5.999ZM6.25098 16C6.25098 13.699 7.69998 12.25 10.001 12.25C12.302 12.25 13.751 13.699 13.751 16H6.25098Z"]) {
        height: 47px;
        width: 49px;
        margin-top: 1px;
        margin-right: 12px;

        path {
            d: path("M 22 0 L 0 0 L 0 22 L 22 22 Z M 11.001 5.999 C 12.382 5.999 13.501 7.118 13.501 8.499 C 13.501 9.88 12.382 10.999 11.001 10.999 C 9.62 10.999 8.501 9.88 8.501 8.499 C 8.501 7.118 9.62 5.999 11.001 5.999 Z M 7.251 16 C 7.251 13.699 8.7 12.25 11.001 12.25 C 13.302 12.25 14.751 13.699 14.751 16 H 7.251 Z");
        }
    }

    .roleName_adcb89 {
        font-weight: 400;
        margin-bottom: 20px;
    }

    .memberCountContainer__9c91b {
        position: absolute;
        left: 0;
        margin-top: 22px;
        margin-left: calc(36px + 45px + 12px);
        color: var(--text-muted);

        .text-md-normal__6a4eb {
            color: var(--text-muted);
            font-size: 12px;
            line-height: 22px;
            letter-spacing: .5px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .person__42ce2 {
        order: -1;
        margin-left: 0;
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }

    &:hover:not(.roleRowDisableHover__9fe35) {
        .circleButton__29ce2 {
            background-color: var(--background-accent-hover);
        }
    }

    .circleButton__29ce2 {
        background: var(--btn-grey);
        color: var(--brand-experiment);
        transition: background .2s linear, box-shadow .2s ease-in-out;
        border-radius: 2px;

        &:hover {
            background: var(--btn-grey-hover);
            box-shadow: var(--btn-grey-boxshadow);
        }
    }
}

#roles-tab {
    .customScroller_f72801>div {
        margin-left: 24px;
        margin-right: 24px;
        max-width: unset;
        min-width: unset;
    }

    .container_d5f6d0 {
        width: fit-content;
        background: var(--background-accent);
        color: #fff;
        border-radius: 2px;
        padding: 16px 24px 16px 16px;

        .icon__4c736 {
            background: none;
        }

        .description_ea43fc {
            margin-left: 12px;
        }

        .label_b37ab9,
        .text-xs-normal_ccc5fb {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 18px;
        }

        .arrow_a1ef64 {
            margin-left: 12px;
            color: var(--brand-experiment);
        }
    }

    .page__9db5c {
        min-width: unset;
    }

    .sidebar_bdf6b7 {
        margin-left: 24px;
        padding-top: 24px;
        flex: 0 0 calc(232px - 24px) !important;
        border-right: thin solid var(--background-modifier-accent-dark);

        .titleContainer_e558ff {
            padding: 0 0 10px 0;
            margin: 0;
            z-index: 2;
            background: none;
        }

        .title__0cedc {
            height: 34px;
            padding: 8px 14px;
            border-radius: 2px;
            color: var(--text-lighter);
            background: var(--btn-grey);
            transition-property: background, box-shadow, color;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                color: #fff;
                box-shadow: var(--btn-grey-boxshadow);
            }

            svg {
                height: 18px;
                width: 18px;
                color: var(--brand-experiment);
            }

            .titleText__2ee04 {
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }

        .addRole__15998 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            border-radius: 2px;
            margin-right: 10px;
            color: var(--brand-experiment);
            background: var(--btn-grey);
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:hover {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }
        }

        .list__41249 {
            padding: 0;
            overflow: scroll auto !important;
        }

        .row__5f051 {
            margin: 0;
            border-radius: 0;

            --interactive-active: var(--header-secondary);

            &:hover:not(.selected__5711d) {
                background: var(--contextmenu-text);
                --interactive-hover: var(--background-accent);
                --interactive-active: var(--background-accent);
                --header-primary: var(--background-accent);
            }

            &.selected__5711d {
                background: var(--background-accent);
                color: #fff;
                --header-primary: #fff;
                --interactive-active: #fff;
            }
        }
    }

    .contentWidth_b55791 {
        margin-right: 0;
        max-width: unset;
        width: 100%;
        padding-right: 24px;
    }

    .header__63c59 {
        margin-left: 0;
        padding: 24px 0 0 0;
        margin-right: 0;
        background: var(--background-tertiary);
    }

    .titleContainer__2370f {
        margin-bottom: 10px;

        .titleText_c58c2c {
            text-transform: capitalize;
        }
    }

    .warning__9db16 {
        margin-bottom: 10px;

        .text-sm-medium_bc6ffc {
            font-weight: 400;
        }
    }

    .container_de00a3 {
        border-radius: 2px;
        padding: 10px;
        font-weight: 400;
    }

    .top__592a7 {
        --btn-count: 4;
        background: var(--darker-grey);
        border-radius: 2px;
        padding: 0;
        margin: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: inset 0 1px 1px 0 #000a;
        border-bottom: none;
    }

    .top__592a7 .item__48dda {
        background: none;
        margin: 0;
        display: flex;
        flex: 0 1 calc(100% / var(--btn-count));
        justify-content: center;

        &:not(.selected__5711d):hover {
            background: var(--btn-grey);
        }

        border-bottom: none;
        padding: 0;

        height: 34px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
    }

    .top__592a7 {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: calc(100% / var(--btn-count));
            background: var(--btn-grey-hover);
            transition: translate .2s ease;
            border-radius: 2px;
        }

        &:has(.selected__5711d:nth-child(2)):before {
            translate: 100%;
        }

        &:has(.selected__5711d:nth-child(3)):before {
            translate: 200%;
        }

        &:has(.selected__5711d:nth-child(4)):before {
            translate: 300%;
        }
    }

    .notice_d6d405 {
        padding: 0;
        border-radius: 0;
        background: none;

        .noticeIcon__7069b {
            height: 18px;
            width: 18px;
            margin-right: 4px;
            color: var(--info-warning-foreground);
        }

        [data-text-variant="text-sm/normal"] {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
        }

        .defaultColor__77578 {
            color: var(--text-muted);
        }
    }

    .searchContainer_bdd25a {
        margin-top: 10px;

        .container__7712a {
            padding: 0 8px;
            border-radius: 2px;
            overflow: hidden;
            background: none;
            transition-property: background, box-shadow;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            input,
            input::placeholder {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
            }

            &:hover:not(:focus, :focus-within) {
                background: var(--btn-grey-hover);
                box-shadow: var(--btn-grey-boxshadow);
            }

            &:focus,
            &:focus-within {
                background: var(--btn-grey);
            }

            .iconLayout__6d744.medium__0fb5d,
            .medium__0fb5d .iconContainer__3af05 {
                height: 18px;
                width: 18px;
            }

            svg {
                color: var(--brand-experiment);
            }
        }
    }

    .clearButtonWrapper__72a1c {
        position: relative;
        top: unset;
    }
}