@use '../container';

.changelog__6d46d {
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding: 0;

    .updatesHeader__80871 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    [data-text-variant="text-sm/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        --header-secondary: var(--text-muted);
    }
}

.safetyChecklist__826c8 {
    background: none;

    .divider__150fc {
        display: none;
    }

    .safetyStepRow__3a1e7 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .wrapper_edb6e0::before {
        display: none;
    }

    [data-text-variant="heading-md/semibold"] {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    [data-text-variant="text-xs/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }
}

#safety-tab {
    .header_a82409 {
        @include container.settingsHeader;
        @include container.settingsHeaderText;
    }
}

#safety-tab,
#onboarding-tab {

    .back__04432 {
        margin-top: 19px;
        padding: 8px 14px;
        border-radius: 2px;
        --interactive-normal: var(--text-lighter);
        background: var(--btn-grey);
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: var(--btn-grey-hover);
            --interactive-normal: #fff;
            box-shadow: var(--btn-grey-boxshadow);
        }

        .backButton__54768:hover {
            text-decoration: none;
        }

        svg {
            color: var(--brand-experiment);
        }

        [data-text-variant="text-sm/semibold"] {
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
        }
    }

    .back__04432+div>[data-text-variant="heading-lg/semibold"] {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
    }

    .simpleItemWrapper__2a0a0 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .itemContent_e64b49 {
        [data-text-variant="text-md/semibold"] {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        [data-text-variant="text-sm/medium"] {
            font-weight: 400;
        }
    }

    .editCard_dfa091 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;


        &:hover,
        &.toggled_bf7bde {
            background: var(--background-accent);
            transition: background .2s linear;

            .innerHeader_cec666 {

                .container__871ba:not(.checked__6bdb0) {
                    background-color: var(--background-accent-hover) !important;
                    transition: background-color .2s linear;
                }

                .input_d266e7:not(:focus, .input_d266e7:focus-within) {
                    background: var(--background-accent-hover);
                    transition: background-color .2s linear;
                }

                .lookFilled__19298.colorBrand_b2253e {
                    background: var(--background-accent-hover);
                    transition: background-color .2s linear;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            display: none;
        }

        .ruleIconContainer_baf164 {
            border-radius: 0;
            background: none;

            .ruleIcon__44d2b {
                color: var(--brand-experiment);
            }
        }

        .ruleTextHeader_e604c5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .ruleTextDescription_ee2a28 {
            line-height: 18px;
        }

        .actionContainer_d21d10 {
            background: rgb(0 0 0/.2);
            border-radius: 2px;
            padding: 0 6px;
            height: 20px;
        }

        .actionIconContainer__24323 {
            height: 12px;
            width: 12px;
            margin-right: 4px;
        }

        .actionTextContainer__798bc {
            font-weight: 400;
        }

        .valuePill__9d21a {
            background: rgb(0 0 0/.2);
            border-radius: 2px;
            padding: 0 6px;
            height: 20px;
            font-weight: 400;
        }


        .mainContainer_e09640 {
            padding: 0;
        }

        .itemWrapper__75865 {
            padding: 0;
        }

        .itemBodyContainer__5350a {
            padding: 6px 0 0 0;
        }

        .itemBodyInner__9d69d {
            border: none;
            border-radius: 0;
            background: var(--background-tertiary);
            padding: 24px;
            gap: 10px;
        }

        .fieldBackground_b79764:not(textarea) {
            padding: 8px 24px 10px 16px;
            background: var(--btn-grey);
            border-radius: 2px;
            border: none;
        }

        .containerFooter_c8da8a {
            background: none;
            padding: 0 24px 24px 24px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .backgroundContainer__06189 {
            background: var(--background-tertiary);
            border-radius: 0;
        }

        .rulesScreeningItems__0ba16>div {
            border: none;
        }

        .containerPadding_cfd5a0 {
            padding: 24px;
        }

        .spacingContainer__99218+.spacingContainer__99218 {
            margin-top: 10px;
        }

        .cardContentsContainer__7b57a,
        .cardContentsContainer__6d2b5 {
            margin: 6px 0 0 0;
            padding: 0;
        }

        .triggerContainer__72e17 {
            background: var(--background-tertiary);
            padding: 24px;
        }

        .triggerCounterContainer__4bd32 {
            margin: 0 10px 0 0;
        }

        .stepCountIcon_a27a70 {
            border-radius: 0;
            background: none;
            height: 30px;
            width: 30px;
        }

        .stepCount__6c08c {
            font-size: 18px;
            font-weight: 700;
            color: var(--brand-experiment);
        }

        .triggerMainContainer_c5139b {
            border-radius: 0;
            border: none;
            padding: 0;
        }
    }

    .input_f4043f {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        border-radius: 2px;
        background: var(--btn-grey);
        border: none;
        -webkit-transition: none;
        transition: none;

        &:hover {
            background: var(--btn-grey-hover-light);
        }

        &:focus,
        &:focus-within {
            background: var(--background-modifier-accent-dark);
            box-shadow: inset 1px 1px 4px #000a;
        }
    }
}

.keywordsTextArea_d5eadb,
.textArea__3f404 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    border-radius: 2px;
    background: var(--btn-grey);
    border: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }
}

.collapseable__71e46 {
    background: none;
    border-radius: 0;
    padding: 10px 0 0 0;
    border-top: thin solid var(--background-modifier-accent-dark);

    &::before {
        display: none;
    }

    &:active,
    &.toggled_bb1607:active {
        background: none;
    }

    .arrow__23c57,
    .arrow_ad7862 {
        color: var(--brand-experiment);
    }
}

.collapseable_ffe038 {
    margin-top: 10px;
}

.collapseable__71e46:not(:last-child) {
    margin-bottom: 10px;
}

.collapseable__0c992 {
    margin-top: 0;
}

.dividierIcon__05be9 {
    color: var(--brand-experiment);
}

.actionContainer__51bd9,
.keywordListContainer_fdf41c {
    padding: 8px 24px 10px 16px;
    background: var(--btn-grey);
    border-radius: 2px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}