@use '../container';

.changelog__55624 {
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding: 0;

    .updatesHeader__10d16 {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    [data-text-variant="text-sm/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        --header-secondary: var(--text-muted);
    }
}

.safetyChecklist__4c74b {
    background: none;

    .divider__1e60f {
        display: none;
    }

    .safetyStepRow__8eed7 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .wrapper__3ed10::before {
        display: none;
    }

    [data-text-variant="heading-md/semibold"] {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    [data-text-variant="text-xs/medium"] {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }
}

#safety-tab {
    .header__89e4f {
        @include container.settingsHeader;
        @include container.settingsHeaderText;
    }
}

#safety-tab,
#onboarding-tab {

    .back__04432 {
        margin-top: 19px;
        padding: 8px 14px;
        border-radius: 2px;
        --interactive-normal: var(--text-lighter);
        background: var(--btn-grey);
        transition-property: background, box-shadow;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &:hover {
            background: var(--btn-grey-hover);
            --interactive-normal: #fff;
            box-shadow: var(--btn-grey-boxshadow);
        }

        .backButton__63187:hover {
            text-decoration: none;
        }

        svg {
            color: var(--brand-experiment);
        }

        [data-text-variant="text-sm/semibold"] {
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
        }
    }

    .back__04432+div>[data-text-variant="heading-lg/semibold"] {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
    }

    .simpleItemWrapper_c23fd0 {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .itemContent__75e97 {
        [data-text-variant="text-md/semibold"] {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        [data-text-variant="text-sm/medium"] {
            font-weight: 400;
        }
    }

    .editCard__7d03f {
        padding: 8px 24px 10px 16px;
        background: var(--btn-grey);
        border-radius: 2px;


        &:hover,
        &.toggled__775cb {
            background: var(--background-accent);
            transition: background .2s linear;

            .innerHeader__309a6 {

                .container__2ed72:not(.checked__36fdc) {
                    background-color: var(--background-accent-hover) !important;
                    transition: background-color .2s linear;
                }

                .input_f27786:not(:focus, .input_f27786:focus-within) {
                    background: var(--background-accent-hover);
                    transition: background-color .2s linear;
                }

                .lookFilled__950dd.colorBrand__27d57 {
                    background: var(--background-accent-hover);
                    transition: background-color .2s linear;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            display: none;
        }

        .ruleIconContainer_c3faae {
            border-radius: 0;
            background: none;

            .ruleIcon__35bee {
                color: var(--brand-experiment);
            }
        }

        .ruleTextHeader__5fa38 {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .ruleTextDescription_ad3a88 {
            line-height: 18px;
        }

        .actionContainer__4263f {
            background: rgb(0 0 0/.2);
            border-radius: 2px;
            padding: 0 6px;
            height: 20px;
        }

        .actionIconContainer_eeaadf {
            height: 12px;
            width: 12px;
            margin-right: 4px;
        }

        .actionTextContainer__1e2dc {
            font-weight: 400;
        }

        .valuePill__75168 {
            background: rgb(0 0 0/.2);
            border-radius: 2px;
            padding: 0 6px;
            height: 20px;
            font-weight: 400;
        }


        .mainContainer_f0f256 {
            padding: 0;
        }

        .itemWrapper__1a051 {
            padding: 0;
        }

        .itemBodyContainer__80807 {
            padding: 6px 0 0 0;
        }

        .itemBodyInner__14162 {
            border: none;
            border-radius: 0;
            background: var(--background-tertiary);
            padding: 24px;
            gap: 10px;
        }

        .fieldBackground__65920:not(textarea) {
            padding: 8px 24px 10px 16px;
            background: var(--btn-grey);
            border-radius: 2px;
            border: none;
        }

        .containerFooter__2f30f {
            background: none;
            padding: 0 24px 24px 24px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .backgroundContainer__8f24a {
            background: var(--background-tertiary);
            border-radius: 0;
        }

        .rulesScreeningItems_c21410>div {
            border: none;
        }

        .containerPadding__28475 {
            padding: 24px;
        }

        .spacingContainer__3a5de+.spacingContainer__3a5de {
            margin-top: 10px;
        }

        .cardContentsContainer__29825,
        .cardContentsContainer__0e16a {
            margin: 6px 0 0 0;
            padding: 0;
        }

        .triggerContainer__66e24 {
            background: var(--background-tertiary);
            padding: 24px;
        }

        .triggerCounterContainer__809aa {
            margin: 0 10px 0 0;
        }

        .stepCountIcon__0dbc7 {
            border-radius: 0;
            background: none;
            height: 30px;
            width: 30px;
        }

        .stepCount__01c78 {
            font-size: 18px;
            font-weight: 700;
            color: var(--brand-experiment);
        }

        .triggerMainContainer_ca82f6 {
            border-radius: 0;
            border: none;
            padding: 0;
        }
    }

    .input__745d4 {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        border-radius: 2px;
        background: var(--btn-grey);
        border: none;
        -webkit-transition: none;
        transition: none;

        &:hover {
            background: var(--btn-grey-hover-light);
        }

        &:focus,
        &:focus-within {
            background: var(--background-modifier-accent-dark);
            box-shadow: inset 1px 1px 4px #000a;
        }
    }
}

.keywordsTextArea_ae5cf2,
.textArea_f2223c {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    border-radius: 2px;
    background: var(--btn-grey);
    border: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
        background: var(--btn-grey-hover-light);
    }

    &:focus,
    &:focus-within {
        background: var(--background-modifier-accent-dark);
        box-shadow: inset 1px 1px 4px #000a;
    }
}

.collapseable_a59844 {
    background: none;
    border-radius: 0;
    padding: 10px 0 0 0;
    border-top: thin solid var(--background-modifier-accent-dark);

    &::before {
        display: none;
    }

    &:active,
    &.toggled__0b0b4:active {
        background: none;
    }

    .arrow__23c57,
    .arrow_ad7862 {
        color: var(--brand-experiment);
    }
}

.collapseable__3f83e {
    margin-top: 10px;
}

.collapseable_a59844:not(:last-child) {
    margin-bottom: 10px;
}

.collapseable__9c1ed {
    margin-top: 0;
}

.dividierIcon__5e16a {
    color: var(--brand-experiment);
}

.actionContainer_e638f2,
.keywordListContainer__0f5a8 {
    padding: 8px 24px 10px 16px;
    background: var(--btn-grey);
    border-radius: 2px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
