#app-mount .sidebarRegion_c25c6d:has(.selected_a0[aria-controls="role_subscriptions-tab"])+.contentRegion_c25c6d {
    .contentColumnDefault_c25c6d {
        padding: 0 !important;
    }

    .contentRegionScroller_c25c6d {
        padding-top: 0;
    }
}

.contentRegionScroller_c25c6d:has(.howItWorksContainer_aa72d6) {
    background: #000;

    .settingsContent__75a7e {
        margin-right: 0;
    }

    .card_ea91d1 {
        background: none;
        border-radius: 0;
    }

    .divider_ae36e5 {
        display: none;
    }

    .container_ea91d1>div:has(.howItWorksContainer_aa72d6) {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-bottom: 0;
        padding-bottom: 4em;
        padding-top: 4em;
    }

    .container_ea91d1>div:has(>.creatorBenefitsContainer_da92c3) {
        background: #fff;
        padding-top: 4em;
        padding-bottom: 4em;
        --header-primary: #1b1b1b;
        --header-secondary: #1b1b1b;

        .earningsPreviewContainer_da92c3 {
            background: rgb(0 0 0/.2) !important;
        }

        .avatarCard_da92c3 {
            background: rgb(0 0 0/.2)
        }

        .revenueSharePercentageDark_da92c3 {
            text-shadow: 0 2px 3px rgb(0 0 0/.3);
        }
    }

    .container_ea91d1>div:last-child {
        padding: 4em 5em;

        .guildCardHeaderAvatar_adff39 {
            border-radius: 2px;
        }

        .guildCardQuote_adff39 {
            [data-text-variant="text-lg/normal"] {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
            }

            [data-text-variant="text-md/normal"] {
                --interactive-active: var(--text-muted);
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }
        }
    }
}

.howItWorksContainer_aa72d6 {
    background: none;
    border-radius: 0;
    gap: 20px;
}

#app-mount .howItWorksCard__6ff71 {
    background: rgb(255 255 255/.0588235294);
    border-radius: 3px;
    padding: 20px;
}

.howItWorksImageContainer_aa72d6 {
    background: none;
    padding: 0;
}

.howItWorksContainer_aa72d6 {
    +span {
        display: none !important;

        +[data-text-variant="text-sm/normal"] {
            font-style: italic;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
