.error_f5f3e1 {
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.developerPortalCtaWrapper_a92100 {
    background: var(--btn-grey);
    border-radius: 2px;
}

.checklistContainer-12xGp5,
.checklist__0a7d3 {
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 0;
    margin: 0 32px;

    .separator__31144 {
        display: none;
    }
}

.checklistItem__84da3 {
    padding: 8px 24px 10px 16px;
    background: var(--btn-grey);
    border-radius: 2px;
    margin-bottom: 10px;

    &:has([d*="M10 0C4.486 0 0 4.486 0 10C0"]) {
        order: 1;
    }

    &:has(.checked__16f88) {
        order: 2;
    }
}
