#app-mount .sidebarRegion__60457:has(.selected__5711d[aria-controls="role_subscriptions-tab"])+.contentRegion__0bec1 {
    .contentColumnDefault_c66386 {
        padding: 0 !important;
    }

    .contentRegionScroller__86c79 {
        padding-top: 0;
    }
}

.contentRegionScroller__86c79:has(.howItWorksContainer_ef4386) {
    background: #000;

    .settingsContent__75a7e {
        margin-right: 0;
    }

    .card_bc6ee2 {
        background: none;
        border-radius: 0;
    }

    .divider__2bbbc {
        display: none;
    }

    .container__9547a>div:has(.howItWorksContainer_ef4386) {
        background: linear-gradient(137.42deg, #00d5ff 0%, #d0266f 40%, #b9b500 100%);
        background-size: 300% 300%;
        animation: nitroGradient 20s ease infinite;
        max-width: unset;
        margin-bottom: 0;
        padding-bottom: 4em;
        padding-top: 4em;
    }

    .container__9547a>div:has(>.creatorBenefitsContainer__2e05e) {
        background: #fff;
        padding-top: 4em;
        padding-bottom: 4em;
        --header-primary: #1b1b1b;
        --header-secondary: #1b1b1b;

        .earningsPreviewContainer__775cb {
            background: rgb(0 0 0/.2) !important;
        }

        .avatarCard_edc99c {
            background: rgb(0 0 0/.2)
        }

        .revenueSharePercentageDark__68593 {
            text-shadow: 0 2px 3px rgb(0 0 0/.3);
        }
    }

    .container__9547a>div:last-child {
        padding: 4em 5em;

        .guildCardHeaderAvatar__47b9e {
            border-radius: 2px;
        }

        .guildCardQuote_b4f165 {
            [data-text-variant="text-lg/normal"] {
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
            }

            [data-text-variant="text-md/normal"] {
                --interactive-active: var(--text-muted);
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }
        }
    }
}

.howItWorksContainer_ef4386 {
    background: none;
    border-radius: 0;
    gap: 20px;
}

#app-mount .howItWorksCard__6ff71 {
    background: rgb(255 255 255/.0588235294);
    border-radius: 3px;
    padding: 20px;
}

.howItWorksImageContainer__91f71 {
    background: none;
    padding: 0;
}

.howItWorksContainer_ef4386 {
    +span {
        display: none !important;

        +[data-text-variant="text-sm/normal"] {
            font-style: italic;
            font-size: 12px;
            font-weight: 500;
        }
    }
}