#app-mount {
    .background__3dd67 {
        color: var(--btn-grey);
    }

    .tierInProgress_f08e8b {
        background-color: var(--brand-experiment);
    }

    .tierBody__615a1 {
        background: none;
    }

    .tierHeaderLocked__4d099,
    .tierHeaderUnlocked_cc60fa {
        background: none;
    }
}

#stickers-tab {
    .upsellContainer__12e24 {
        display: none;
    }

    .divider__2bbbc {
        display: none;
    }

    .tiers__13b89 {
        margin-left: 38px;
        width: calc(100% - 96px - 20px);
    }
}

.tierHeaderContent__27033 {
    padding: 16px 0 16px 0;

    &::after {
        content: '';
        height: 2px;
        margin: 0 10px 0 10px;
        background: var(--background-modifier-accent-compat);
        display: flex;
        flex-grow: 1;
        order: -1;
    }
}

.tierHeader__5bf89 {
    background: none;
}

.tierTitle__25723 {
    width: fit-content;
    flex-grow: 0;
    order: -3;
    white-space: nowrap;
    color: var(--header-primary);

    h3,
    [data-text-variant="text-xs/normal"] {
        white-space: nowrap;
    }

    [data-text-variant="text-xs/normal"] {
        color: var(--header-secondary);
    }
}

.tierIcon__2ac8f {
    height: 24px;
    width: 24px;
    margin: 4px 4px 4px 0;
    order: -4;
}

.tierIconLocked_c2f292 {
    color: var(--brand-experiment);
}

.tierRequirement_c03194 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-muted);
    margin-left: 8px;
    order: -2;
}

.tierLock__3e43d {
    width: 24px;
    height: 24px;
    margin-left: 0;
    color: var(--info-warning-foreground);
}