#app-mount {
    .background__092a0 {
        color: var(--btn-grey);
    }

    .tierInProgress__549bc {
        background-color: var(--brand-experiment);
    }

    .tierBody_fd5f94 {
        background: none;
    }

    .tierHeaderLocked__0ca2e,
    .tierHeaderUnlocked__960f7 {
        background: none;
    }
}

#stickers-tab {
    .upsellContainer_df4d69 {
        display: none;
    }

    .divider_d6f39c {
        display: none;
    }

    .tiers__13b89 {
        margin-left: 38px;
        width: calc(100% - 96px - 20px);
    }
}

.tierHeaderContent__3351e {
    padding: 16px 0 16px 0;

    &::after {
        content: '';
        height: 2px;
        margin: 0 10px 0 10px;
        background: var(--background-modifier-accent-compat);
        display: flex;
        flex-grow: 1;
        order: -1;
    }
}

.tierHeader_a0ef30 {
    background: none;
}

.tierTitle_cc21b0 {
    width: fit-content;
    flex-grow: 0;
    order: -3;
    white-space: nowrap;
    color: var(--header-primary);

    h3,
    [data-text-variant="text-xs/normal"] {
        white-space: nowrap;
    }

    [data-text-variant="text-xs/normal"] {
        color: var(--header-secondary);
    }
}

.tierIcon_fc03d4 {
    height: 24px;
    width: 24px;
    margin: 4px 4px 4px 0;
    order: -4;
}

.tierIconLocked__99052 {
    color: var(--brand-experiment);
}

.tierRequirement_d22ce7 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-muted);
    margin-left: 8px;
    order: -2;
}

.tierLock__2d9cb {
    width: 24px;
    height: 24px;
    margin-left: 0;
    color: var(--info-warning-foreground);
}
